// *** slide base *** //

// hide and show
%hide { display: none; }
%show { display: block; }

// transition
%slider-transition { transition: all 1s ease 0s; }

// slide-base
%slide-base {
  position: relative;
  @at-root (without: media) {
    img { width: 100%; }
    > input { display: none; }
    .lt-ie9 & > input { display: inline-block; width: 0; height: 0; overflow: hidden; }
    .slider-container {
      overflow: hidden;
      .inner {
        position: relative;
        left: 0;
        @extend %clearfix;
        letter-spacing: -0.34em;
        white-space: nowrap;
        @extend %slider-transition;
      }
      li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        letter-spacing: 0;
        box-sizing: border-box;
      }
    }
    // .item { position: relative; }
    .info, .controls, .dots, .autoplay { 
      position: absolute; 
      z-index: nth($slider-zindex, 1);
    }
    .info { 
      bottom: 20px;
      z-index: nth($slider-zindex, 2);
    }
    .controls {
      top: 50%;
      width: 100%;
      box-sizing: border-box;
      span { display: none; }
    }
    .dots {
      width: 100%;
      text-align: center;
      label { display: inline-block; }
    }
    .autoplay {
      left: 50%;
      top: 50%;
    }
  }
}
