// *** slide default *** //

// dots
%default-dots {
  .dots {
    label, span {
      display: inline-block;
      vertical-align: top;
    }
    label {
      padding: 12px 3px 0px;
      &:hover .normal { background-color: #5a5a5a; }
    }
    span {
      width: 9px;
      height: 9px;
      background-color: #d3d3d3;
      border-radius: 50%;
      @extend %slider-transition;
    }
    .active { background-color: #5a5a5a; display: none; }
  }
}

// controls
%default-controls {
  .controls {
    margin-top: -23px;
    span {
      width: 40px;
      height: 46px;
      opacity: 0.4;
      @extend %slider-transition;
      &:before {
        font-family: 'icon-font';
        font-size: 40px;
      }
      &:hover { opacity: 0.8; }
    }
    .prev {
      float: left;
      margin-left: -60px;
      &:before { content: 'n'; }
    }
    .next {
      float: right;
      margin-right: -60px;
      &:before { content: 'm'; }
    }
  }
}

// autoplay
%default-autoplay {
  .autoplay {
    opacity: 0;
    margin-top: -25px;
    @extend %slider-transition;
    .no-opacity & { display: none; }
    label:before {
      display: inline-block;
      font-family: 'icon-font';
      content: 'U';
      font-size: 45px;
      color: #fff;
      width: 45px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
    }
  }
  &:hover .autoplay { 
    opacity: 0.8; 
    .no-opacity & { display: block; } 
  }
}
