// *** slider common *** //

// hide and show
%hide { display: none; }
%show { display: block; }

// transition
%slider-transition { transition: all 1s ease 0s; }

[autoheight-carousel] {
  -webkit-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
}
[autoheight-gallery] {
  -webkit-transition: padding-bottom 0.3s ease 0s;
  transition: padding-bottom 0.3s ease 0s;
}

// slide-base
%slide-base {
  position: relative;
  @at-root (without: media) {
    img { width: 100%; }
    > input { display: none; }
    .lt-ie9 & > input { display: inline-block; width: 0; height: 0; overflow: hidden; }
    .outer {
      overflow: hidden;
      li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        letter-spacing: 0;
        box-sizing: border-box;
      }
    }
    .inner {
      position: relative;
      left: 0;
      @extend %clearfix;
      letter-spacing: -0.34em;
      white-space: nowrap;
      @extend %slider-transition;
    }
    // .item { position: relative; }
    .info, .controls, .dots, .autoplay { 
      position: absolute; 
      z-index: nth($slider-z-index, 1);
    }
    .info { 
      bottom: 20px;
      z-index: nth($slider-z-index, 2);
    }
    .controls {
      top: 50%;
      width: 100%;
      box-sizing: border-box;
      span { display: none; }
    }
    .dots {
      width: 100%;
      text-align: center;
      label { display: inline-block; }
    }
    .autoplay {
      left: 50%;
      top: 50%;
    }
  }
}

// deafult
// dots
%default-dots {
  .dots {
    label, span {
      display: inline-block;
      vertical-align: top;
    }
    label {
      padding: 12px 3px 0px;
      &:hover .normal { background-color: #5a5a5a; }
    }
    span {
      width: 9px;
      height: 9px;
      background-color: #d3d3d3;
      border-radius: 50%;
      @extend %slider-transition;
    }
    .active { background-color: #5a5a5a; display: none; }
  }
}

// controls
%default-controls {
  .controls {
    margin-top: -23px;
    span {
      position: absolute;
      width: 40px;
      height: 46px;
      opacity: 0.4;
      @extend %slider-transition;
      &:before {
        font-family: 'icon-font';
        font-size: 40px;
      }
      &:hover { opacity: 0.8; }
    }
    .prev {
      left: 0;
      margin-left: -60px;
      &:before { content: 'n'; }
    }
    .next {
      right: 0;
      margin-right: -60px;
      &:before { content: 'm'; }
    }
  }
}

// autoplay
%default-autoplay {
  .autoplay {
    opacity: 0;
    margin-top: -25px;
    @extend %slider-transition;
    .no-opacity & { display: none; }
    .no-cssanimations & { display: none !important; }
    label:before {
      display: inline-block;
      font-family: 'icon-font';
      content: 'U';
      font-size: 45px;
      color: #fff;
      width: 45px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
    }
  }
  &:hover .autoplay { 
    opacity: 0.8; 
    .no-opacity & { display: block; } 
  }
}
