<ul class="equal-to-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="equal-to-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="equal-to-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>