$responsive-type-1: (
  'default': (15px 1.3 right uppercase),
  900px: 18px,
  1020px: 20px,
);
.responsive-type-1 { @include rp-type($responsive-type-1); }
 
$bp: (
  'small': 480px,
  'medium': 700px,
  'large': 1024px,
);
$responsive-type-2: (
  'default': (18px 1.3 weight-normal),
  900px: 22px,
  'large': (30px 1.2),
);
.responsive-type-2 { @include rp-type($responsive-type-2 $bp); }