$layout: (
  container: torem(1200),
  columns: 12,
  gutter: 25%
) !default;

%layout-wrap {
  letter-spacing: -.43em;
}
%layout-span {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
%layout-relative { position: relative; }
