@import 'demo-base';
@import "../../src/scss/components/accordion"; 

//=> {% macro get(componentName) %}
//=> {% if componentName === "xxx" %}

//=> {% elif componentName === "string" %}
.string > div { @include accordion('div'); }

//=> {% elif componentName === "string-height" %}
.string-height > div { @include accordion('div' 200px); }

//=> {% elif componentName === "string-duration" %}
.string-duration > div { @include accordion('div' 0.4s); }

//=> {% elif componentName === "string-height-duration" %}
.string-height-duration > div { @include accordion('.nav' 200px 0.4s); }

//=> {% endif %}
//=> {% endmacro %}

label {
  display: block;
  border: 1px solid #BABABA;
  strong {
    display: block;
    font-size: 13px;
    margin: 0;
    padding: 10px;
  }
}
.container { max-width: 800px; }
.acc {
  &-1 label {
    background-color: #F8F0E2;
    border-color: #E3D19D;
  }
  &-2 label {
    background-color: #D7F2F8;
    border-color: #AACED7;
  }
  &-3 label {
    background-color: #EDE2F8;
    border-color: #D6C7E6;
  }
}
.header {
  padding: 15px;
  color: #fff;
  background-color: #E7435C;
  .menu-icon {
    display: block;
    width: 21px;
    border-width: 0;
    &:before, &:after {
      content: '';
    }
    span, &:before, &:after {
      display: block;
      height: 2px;
      background-color: #fff;
      margin-bottom: 4px;
    }
    &:after { margin-bottom: 0; }
  }
  .nav {
    ul { padding: 10px 0; }
    li {
      font-size: 14px;
      padding: 10px 0;
    }
  }
  a { color: #fff; }
}