@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/angled-edge"; 

$bg1: #B9E2FF;
$bg2: #FBDBF6;
.bottom { @include angled-edge('bottom' 5deg $bg1); }
.both { @include angled-edge('both' 5deg 'flip' $bg1 $bg2); }
.top { @include angled-edge('top' -5deg $bg2); }

// other styles
.example-angled-edge {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  .bottom, .both, .top, .sibling {
    padding: 50px;
    h1, p {
      padding: 0;
      color: #fff;
    }
    h1 { margin: 30px 0; }
    p { 
      max-width: none; 
      font-size: 17px;
    }
  }
  .sibling {
    h1, p { color: #000; }
  }
  .bottom, .both, .top {
    box-sizing: border-box;
    background: #52ABFF 0 0 no-repeat;
    background-size: cover;
  }
  .sibling-1 { background-color: $bg1; }
  .sibling-2 { background-color: $bg2; }
  .bottom { background-image: url('../images/angled-edge/1.jpg'); }
  .both { background-image: url('../images/angled-edge/2.jpg'); }
  .top { background-image: url('../images/angled-edge/3.jpg'); }
}
