@import 'demo-base';
@import "../../src/scss/layout/center"; 

//=> {% macro get(componentName) %}
//=> {% if componentName === "xxx" %}

//=> {% elif componentName === "center" %}
.center { 
  @include center('main');

  height: 400px;
  > main { 
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 640px;
    padding: 20px; 
    box-sizing: border-box;
    img {
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    p { color: #000; }
  }
}

//=> {% endif %}
//=> {% endmacro %}