@import 'demo-base';
@import "../../src/scss/components/chart"; 

$data1: (
  #FF6666: 8.9 10.5 19.3 21.45,
);

$data2: (
  #0080FF: 8.9 10.5 19.3 21.45,
  #FF8000: 5 10 16 22,
  #666666: 10.7 12 12 18,
);
.chart {
  &-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    h4 {
      font-size: 24px;
      margin-left: em(96, 24);
    }
  }
  margin: 50px 0;
  li span { font-size: 14px; }
  &1 { @include chart( ('data': $data1, 'style': 'bar', 'steps': (2 22), 'animation': true, 'duratioon': 0.6s) ); }
  &2 { @include chart( ('data': $data2, 'style': 'column', 'steps': (2 24), 'animation': true, 'duratioon': 0.6s) ); }
}
