@import 'demo-base';
@import "../../src/scss/components/checkbox"; 

//=> {% macro get(componentName) %}
//=> {% if componentName === "xxx" %}

//=> {% elif componentName === "radio" %}
.radio {
  @include checkbox() {
    padding: 4px 0 4px 26px;
    margin-bottom: 3px;
    font-size: 14px;
    background: url('../images/radio.png') 0 50% no-repeat;
  }
  @include checkbox-active() {
    background-image: url('../images/radio-active.png');
  }
}

//=> {% elif componentName === "checkbox" %}
.checkbox {
  @include checkbox() {
    padding: 4px 0 4px 26px;
    margin-bottom: 3px;
    font-size: 14px;
    background: url('../images/checkbox.png') 0 50% no-repeat;
  }
  @include checkbox-active() {
    background-image: url('../images/checkbox-active.png');
  }
}

//=> {% endif %}
//=> {% endmacro %}