@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/container"; 

$px-left: (container: 900px, align: 'left');
$px-right: (container: 900px, align: 'right');
$px-px: (container: 900px, gutter: 30px);
$px-0px: (container: 900px, gutter: 0px);
$em: (container: 56.25em);
$em-px: (container: 56.25em, gutter: 20px);
$percentage: (container: 80%);
$percentage-px: (container: 80%, gutter: 30px);

.default {
  @extend %demo-show;
  &:before { content: '()'; }
  > div { @include container(); }
}
.px-left {
  @extend %demo-show;
  &:before { content: '#{var-to-string($px-left)}'; }
  > div { @include container($px-left); }
}
.px-right {
  @extend %demo-show;
  &:before { content: '#{var-to-string($px-right)}'; }
  > div { @include container($px-right); }
}
.px-px {
  @extend %demo-show;
  &:before { content: '#{var-to-string($px-px)}'; }
  > div { @include container($px-px); }
}
.px-0px {
  @extend %demo-show;
  &:before { content: '#{var-to-string($px-0px)}'; }
  > div { @include container($px-0px); }
}
.em {
  @extend %demo-show;
  &:before { content: '#{var-to-string($em)}'; }
  > div { @include container($em); }
}
.em-px {
  @extend %demo-show;
  &:before { content: '#{var-to-string($em-px)}'; }
  > div { @include container($em-px); }
}
.percentage {
  @extend %demo-show;
  &:before { content: '#{var-to-string($percentage)}'; }
  > div { @include container($percentage); }
}
.percentage-px {
  @extend %demo-show;
  &:before { content: '#{var-to-string($percentage-px)}'; }
  > div { @include container($percentage-px); }
}