@import 'demo-base';
@import "../../src/scss/addons/opacity";
@import "../../src/scss/components/dropdown"; 

.example { 
  margin: 50px 0 200px;
  text-align: center; 
}
.dropdown-1,
.dropdown-2 { 
  text-align: left;
  padding: 10px 0 0; 
  margin-right: 30px; 
  display: inline-block; 
  vertical-align: top;
  > ul { 
    z-index: 9999;
  }
  li {
    white-space: nowrap;
  }
  small {
    font-size: 12px;
    display: inline-block;
    padding: 5px 3px;
  }
} 
.dropdown-1 { 
  > label {
    display: inline-block;
    padding: 10px 0;
  }
  .sub-1 {
    padding-bottom: 0.62em;
    label {
      padding: 0.31em 1.25em 0.62em 1.25em;
    }
    > input:checked ~ a { background-color: #dfdfdf; }
  }
}

.dropdown-2 { 
  > span {
    display: inline-block;
    padding: 10px 0;
  }
}


.dropdown {
  &-1 {
    @include dropdown(default rotate click); 
    .sub-1 { @include dropdown(default left rotate click); }
  }
  &-2 {
    @include dropdown(scale default); 
    .sub-2 {
      @include dropdown(default scale right hover); 
    }
  }
}
