@import 'demo-base';
@import "../../src/scss/addons/opacity";
@import "../../src/scss/components/drop-shadows"; 

.example-drop-shadows { 
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
  .box {
    display: inline-block;
    width: 50%;
    padding: 40px 10px;
    margin: 20px 10px;
    max-width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  }
  .lifted { @include drop-shadows(lifted); }
  .raised { @include drop-shadows(raised); }
  .perspective { @include drop-shadows(perspective); }
  .curve.left { @include drop-shadows(curve left); }
  .curve.right { @include drop-shadows(curve right); }
  .curve.horizontal { @include drop-shadows(curve horizontal); }
  .curve.top { @include drop-shadows(curve top); }
  .curve.bottom { @include drop-shadows(curve bottom); }
  .curve.vertical { @include drop-shadows(curve vertical); }
}
