@import 'demo-base';
@import "../../src/scss/addons/fluid-type"; 

//=> {% macro get(componentName) %}
//=> {% if componentName === "xxx" %}

//=> {% elif componentName === "h2" %}
h2 { @include fluid-type('font-size' 'margin' (320px: 24px, 1024px: 40px)); }

//=> {% elif componentName === "p" %}
p { @include fluid-type('font-size' (320px: 18px, 1024px: 24px)); }

//=> {% endif %}
//=> {% endmacro %}

h2 { 
  text-align: center; 
  margin: 1.5em 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
  color: #333;
  text-align: center;
}
pre[class*="language-"] { margin-bottom: 20px; }