@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/gallery"; 

$num: ('column': 3);
$num-0px: ('column': 3, gutter: 0px);
$child: ('column': 4, 'selector': 'div');
$direction: ('column': 4, direction: 'RTL');
$center-align: ('column': 3, 'center-align': true);
$percentage-gutter: ('column': 4, gutter: 5%);
$rem-gutter: ('column': 5, gutter: 2rem);
$map: ('column': ('dafault': 2, 600px: 3, 900px: 4));

.num { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($num)}'; }
  > ul { @include gallery($num); }
}
.num-0px { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($num-0px)}'; }
  > ul { @include gallery($num-0px); }
}
.child { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($child)}'; }
  > div { @include gallery($child); }
}
.direction { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($direction)}'; }
  > ul { @include gallery($direction); }
}
.center-align { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($center-align)}'; }
  > ul { @include gallery($center-align); }
}
.percentage-gutter { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($percentage-gutter)}'; }
  > ul { @include gallery($percentage-gutter); }
}
.rem-gutter { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($rem-gutter)}'; }
  > ul { @include gallery($rem-gutter); }
}
.map { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($map)}'; }
  > ul { @include gallery($map); }
}
