@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/justify"; 

.example-justify {
  @include justify('li');
  
  li {
    font-size: 13px;
    text-transform: uppercase;
  }
  a { display: block; }
  input {
    padding: 0 0.8em;
    line-height: 2.4;
    height: 2.4em;
    width: 150px;
    font-size: 14px;
    border: 1px solid #ddd;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    &:focus { width: 250px; }
  }
}
