@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/liquid-3"; 

$liquid3-list1: ('auto' 100px 250px);
$liquid3-list2: (100px 'auto' 250px);
$liquid3-list3: (100px 250px 'auto');
$liquid3-order1: (100px:2, 'auto':0, 250px:0);
$liquid3-order2: (100px:2, 'auto':1, 250px:0);
$liquid3-order3: (100px:2, 'auto':3, 250px:2);
$liquid3-RTL: ('auto' 100px 250px) RTL;
$liquid3-child1: (('auto' 100px 250px) child '.child');
$liquid3-child2: ((100px 'auto' 250px) child (nav main aside));
$liquid3-gutter-0px: (('auto' 100px 250px) gutter 0px);
$liquid3-gutter-sameunit: (('auto' 100px 250px) gutter 40px);
$liquid3-gutter-percentage: (('auto' 100px 250px) gutter 3%);
$liquid3-gutter-differentunit: (('auto' 100px 250px) gutter 3rem);
$liquid3-breakpoint: (900px: (100px:2, 'auto':0, 250px:0));
$liquid3-breakpoint-conditions: (900px: (100px:2, 'auto':1, 250px:0)) max screen;
$liquid3-global-breakpoints: (
  'default': (100px:2, 'auto':1, 250px:0),
  'sm': (100px:0, 'auto':1, 250px:2),
  'lg': (100px:2, 'auto':1, 250px:0),
) $global-bps;


.liquid3-list1 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-list1)}'; }
  > div { @include liquid-3($liquid3-list1); }
}
.liquid3-list2 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-list2)}'; }
  > div { @include liquid-3($liquid3-list2); }
}
.liquid3-list3 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-list3)}'; }
  > div { @include liquid-3($liquid3-list3); }
}
.liquid3-order1 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-order1)}'; }
  > div { @include liquid-3($liquid3-order1); }
}
.liquid3-order2 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-order2)}'; }
  > div { @include liquid-3($liquid3-order2); }
}
.liquid3-order3 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-order3)}'; }
  > div { @include liquid-3($liquid3-order3); }
}
.liquid3-RTL {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-RTL)}'; }
  > div { @include liquid-3($liquid3-RTL); }
}
.liquid3-child1 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-child1)}'; }
  > div { @include liquid-3($liquid3-child1); }
}
.liquid3-child2 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-child2)}'; }
  > div { @include liquid-3($liquid3-child2); }
}
.liquid3-gutter-0px {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-gutter-0px)}'; }
  > div { @include liquid-3($liquid3-gutter-0px); }
}
.liquid3-gutter-sameunit {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-gutter-sameunit)}'; }
  > div { @include liquid-3($liquid3-gutter-sameunit); }
}
.liquid3-gutter-percentage {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-gutter-percentage)}'; }
  > div { @include liquid-3($liquid3-gutter-percentage); }
}
.liquid3-gutter-differentunit {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-gutter-differentunit)}'; }
  > div { @include liquid-3($liquid3-gutter-differentunit); }
}
.liquid3-breakpoint {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-breakpoint)}'; }
  > div { @include liquid-3($liquid3-breakpoint); }
}
.liquid3-breakpoint-conditions {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-breakpoint-conditions)}'; }
  > div { @include liquid-3($liquid3-breakpoint-conditions); }
}
.liquid3-global-breakpoints {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid3-global-breakpoints)}'; }
  > div { @include liquid-3($liquid3-global-breakpoints); }
}