@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/liquid"; 

$liquid-list: ('auto' 200px);
$liquid-order: ('auto': 2, 200px: 1);
$liquid-RTL: (('auto' 200px) 'RTL');
$liquid-child1: (('auto' 200px) 'selector' '.child');
$liquid-child2: (('auto' 200px) 'selector' ('main' 'aside'));
$liquid-gutter-0px: (('auto' 200px) 'gutter' 0px);
$liquid-gutter-sameunit: (('auto' 200px) 'gutter' 4rem);
$liquid-gutter-percentage: (('auto' 200px) 'gutter' 3%);
$liquid-gutter-differentunit: (('auto' 12.5em) 'gutter' 3rem);
$liquid-breakpoint: (750px: (150px:1, 'auto':0));
$liquid-breakpoint-conditions: ((750px: (150px:1, 'auto':0)) 'max' 'screen');
$liquid-global-breakpoints: ((
  'default': (150px 'auto'),
  'sm': (150px:1, 'auto':0),
  'md': (150px:0, 'auto':1)
) $global-bps );


.liquid-list {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-list)}'; }
  > div { @include liquid($liquid-list); }
}
.liquid-order {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-order)}'; }
  > div { @include liquid($liquid-order); }
}
.liquid-RTL {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-RTL)}'; }
  > div { @include liquid($liquid-RTL); }
}
.liquid-child1 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-child1)}'; }
  > div { @include liquid($liquid-child1); }
}
.liquid-child2 {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-child2)}'; }
  > div { @include liquid($liquid-child2); }
}
.liquid-gutter-0px {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-gutter-0px)}'; }
  > div { @include liquid($liquid-gutter-0px); }
}
.liquid-gutter-sameunit {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-gutter-sameunit)}'; }
  > div { @include liquid($liquid-gutter-sameunit); }
}
.liquid-gutter-percentage {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-gutter-percentage)}'; }
  > div { @include liquid($liquid-gutter-percentage); }
}
.liquid-gutter-differentunit {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-gutter-differentunit)}'; }
  > div { @include liquid($liquid-gutter-differentunit); }
}
.liquid-breakpoint {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-breakpoint)}'; }
  > div { @include liquid($liquid-breakpoint); }
}
.liquid-breakpoint-conditions {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-breakpoint-conditions)}'; }
  > div { @include liquid($liquid-breakpoint-conditions); }
}
.liquid-global-breakpoints {
  @extend %demo-show;
  &:before { content: '#{var-to-string($liquid-global-breakpoints)}'; }
  > div { @include liquid($liquid-global-breakpoints); }
}