@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/grid"; 
@import "../../src/scss/layout/masonry"; 

$masonry-number: 3;
$masonry-child: 4 child '.masonry-item';
$masonry-0px: 4 gutter 0px;
$masonry-percentage-gutter: 4 gutter 3%;
$masonry-condition: (900px: 3) max;
$masonry-breakpoints: (600px: 2, 900px: 3);
$masonry-global-breakpoints: ('sm': 2, 'md': 3) $global-bps;

.masonry-number {
  @extend %demo-show;
  &:before { content: '#{var-to-string($masonry-number)}'; }
  > ul { @include masonry($masonry-number); }
}
.masonry-child {
  @extend %demo-show;
  &:before { content: '#{var-to-string($masonry-child)}'; }
  > ul { @include masonry($masonry-child); }
}
.masonry-0px {
  @extend %demo-show;
  &:before { content: '#{var-to-string($masonry-0px)}'; }
  > ul { @include masonry($masonry-0px); }
}
.masonry-percentage-gutter {
  @extend %demo-show;
  &:before { content: '#{var-to-string($masonry-percentage-gutter)}'; }
  > ul { @include masonry($masonry-percentage-gutter); }
}
.masonry-condition {
  @extend %demo-show;
  &:before { content: '#{var-to-string($masonry-condition)}'; }
  > ul { @include masonry($masonry-condition); }
}
.masonry-breakpoints {
  @extend %demo-show;
  &:before { content: '#{var-to-string($masonry-breakpoints)}'; }
  > ul { @include masonry($masonry-breakpoints); }
}
.masonry-global-breakpoints {
  @extend %demo-show;
  &:before { content: '#{var-to-string($masonry-global-breakpoints)}'; }
  > ul { @include masonry($masonry-global-breakpoints); }
}

// other styles
[class*= "masonry-"] img { 
  display: block; 
  width: 100%; 
}
.masonry-content {
  padding: 15px;
  overflow: hidden;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    line-height: 1.5;
    font-size: 13px;
    color: #666;
  }
}

// fallback
.lt-ie10 {
  [class*= "masonry-"] {
    text-align: center;
    > li {
      display: inline-block;
      vertical-align: top;
      width: 250px;
      margin: 0 20px 20px 0;
      text-align: left;
    }
  }
}
