@import 'off-canvas-base';

$bp: (
  small: 600px,
  medium: 900px,
);
$map: (
  500px: 20px, 
  small: 30px, 
  medium: 40px, 
  null: 70px
);
$drawer: 'page' '.page' 'nav' '.nav' drawer submenu $map $bp;
$off-canvas-options: join($off-canvas-options, ('drawer' $map $bp));
@include off-canvas($off-canvas-options);

.drawer {
  @extend %demo-show;
  .code:before { content: '#{var-to-string($off-canvas-options)}'; }
}
