@import 'off-canvas-base';

$off-canvas-options: map-merge($off-canvas-options, ('style': 'push', 'direction': 'top', 'nav-size': 50px));
@include off-canvas($off-canvas-options);

.push {
  @extend %demo-show;
  .code:before { content: '#{var-to-string($off-canvas-options)}'; }
}

li { 
  display: inline-block; 
  vertical-align: top; 
  white-space: nowrap;
  // > ul {
  //   white-space: normal;
  // }
}
[data-has-submenu] > a { margin-right: 30px; }
.nav a, .nav [data-back] { border-bottom-width: 0; }