@import 'demo-base';
@import "../../../src/scss/components/priority-nav"; 

.nav {
  @include priority-nav();

  // your css
  min-height: 37px;
  background-color: #0E8FE0;
  color: #fff;
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  li { padding: 10px 13px; }
  button {
    padding: 10px;
    border-width: 0;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #333;
    position: relative;
    overflow: visible;
    &:before {
      content: attr(data-count);
      width: 23px;
      height: 23px;
      line-height: 23px;
      border-radius: 50%;
      font-size: 14px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 50%;
      margin-left: -11px;
      margin-top: -11px;
      color: #412F08;
      background-color: #FFB822;
    }
  }
  .hidden-links {
    background-color: #333;
    z-index: 3;
  }
}