@import 'demo-base';
@import "../../src/scss/components/push-toggle"; 

//=> {% macro get(componentName) %}
//=> {% if componentName === "xxx" %}

//=> {% elif componentName === "push-toggle" %}
.push-toggle {
  // default push-toggle style
  label {
    padding: 0.9em 1.2em;
    background: #e1e1e1;
    background: linear-gradient(to bottom, #fff, #F4F4F4 70%, #e1e1e1);
    border: 1px solid #ccc;
    border-left-width: 0;
    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left-width: 1px;
    }
    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  // active push-toggle style
  @include push-toggle(){
    background: #f2f2f2;
    background: linear-gradient(to bottom, #E8E8E8, #F1F1F1 20%, #fff);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) inset;
  }
  
  &.two label { width: 50%; }
  &.three label { width: 33.3%; }
}

//=> {% endif %}
//=> {% endmacro %}

.push-toggle {
  max-width: 230px;
  margin: 20px auto;
  font-size: 14px;
}