@import 'demo-base';
@import "../../src/scss/components/slider-carousel"; 

$active: #FFBE39;

.sc-normal { @include slider-carousel(5 by 3); }
.sc-bypage { @include slider-carousel(5 by 3 bypage); }
.sc-center { @include slider-carousel(5 by 2 center); }
.sc-scale { @include slider-carousel(5 by 3 scale); }
.sc-rotate { @include slider-carousel(5 by 3 rotate); }
.sc-autoplay { @include slider-carousel(5 by 3 bypage progress-bar autoplay hoverpause); }
.sc-autoplay-js { @include slider-carousel(5 by 3 autoplay-js); }
.sc-autoheight { @include slider-carousel(5 by 3); }
.sc-vertical { 
  @include slider-carousel(5 by 1 vertical autoplay progress-bar); 
  max-width: 800px;
  margin: 0 auto;
  .inner > li { position: relative; }
  .item {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .autoplay-progress { bottom: auto; }
  .autoplay > label { margin-top: 10px; }
}

// slider basis
.slider {
  > input { position: absolute; left: -9999px; }
  .slider-labels {
    margin-bottom: 20px;
    text-align: center;
    .title { 
      font-size: 14px;
      font-size: 0.88rem;
      line-height: 1.3;
      margin: 0 0 .3em; 
    }
    label { 
      margin: 0 10px 10px 0;
      padding: 12px 22px;
      font-size: 13px;
      border-radius: 3px;
      background: #d2d2d2; 
      &:hover { background-color: $active;}
    }
  }
  .item { position: relative; }
  .info { 
    position: absolute;
    bottom: 40px;
    padding: 10px; 
    width: 100%;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    @media (max-width: 49.94em) {
      display: none;
    }
    h3 { 
      color: #fff;
      margin-bottom: 5px; 
      font-size: 30px; 
    }
  }
  %label-active {background-color: $active;}
  @at-root {
    @each $item in 'sc-normal', 'sc-by-page', 'sc-center', 'sc-scale', 'sc-rotate', 'sc-autoplay-css', 'sc-autoplay-js', 'sc-autoheight', 'sc-vertical' {
      [id="#{$item}"]:checked ~ .slider-labels [for="#{$item}"] { @extend %label-active; }
    }
    .sc-normal, .sc-bypage, .sc-center, .sc-scale, .sc-rotate, .sc-autoplay, .sc-autoplay-js, .sc-autoheight, .sc-vertical, { display: none; }
    [id="sc-normal"]:checked ~ .sc-normal, 
    [id="sc-by-page"]:checked ~ .sc-bypage,
    [id="sc-center"]:checked ~ .sc-center,
    [id="sc-scale"]:checked ~ .sc-scale,
    [id="sc-rotate"]:checked ~ .sc-rotate,
    [id="sc-autoplay-css"]:checked ~ .sc-autoplay,
    [id="sc-autoplay-js"]:checked ~ .sc-autoplay-js,
    [id="sc-autoheight"]:checked ~ .sc-autoheight,
    [id="sc-vertical"]:checked ~ .sc-vertical,
    { display: block; }

  }
}

// slider ui
.controls {
  @include clearfix();
  max-width: 7.5em;
  margin: 10px auto;
  span {
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 3px;
    transition: background-color 0.3s;
    color: #fff;
    background-color: #15A9DC;
    &:hover { background-color: #7D9DAC; }
  }
}
.dots {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  label {
    padding: 0 3px;
    &:hover .normal { background-color: #5a5a5a; }
  }
  span {
    width: 9px;
    height: 9px;
    background-color: #d3d3d3;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  .active { background-color: #5a5a5a; display: none; }
}
.autoplay {
  position: relative;
  text-align: center;
  .no-cssanimations & { display: none !important; }
  > label {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    border-radius: 50%;
  }
  span {
    display: inline-block;
  }
  .play {
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 7px 0px 7px 13px;
    margin: 7px 0 0 3px;
  }
  .pause {
    display: none;
    &:before, &:after {
      content: '';
      display: inline-block;
      border-width: 0;
      width: 5px;
      height: 13px;
      margin-top: 8px;
      background-color: #fff;
    }
    &:before { margin-right: 4px; }
  }
  &-progress {
    position: absolute;
    left: 0;
    bottom: 44px;
    width: 0;
    display: block;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
