@import 'demo-base';
@import "../../src/scss/color/contrast"; 
@import "../../src/scss/components/switch"; 

.example-switch {
  text-align: center;
  section {
    margin: 50px 0;
  }
}
.switch {
  margin: 15px auto;
  text-align: center;

  &-group {
    margin-top: 50px;
    text-align: center;
    .switch-g {
      @include switch('border-radius' 3px 25px #ddd #CC412F);
    }
  }
}
.one { @include switch('border-radius' 3px); }
.two { @include switch('border-radius' 1000px 50px #ddd #C06EE1); }
.slider { @include switch('border-radius' 1000px 'slider'  24px #ddd #399DE1); }
.text { @include switch('border-radius' 1000px 'text' ("on" "off") 36px #ddd #399DE1); }
