@import 'demo-base';
@import "../../src/scss/components/switch"; 

.container {
  text-align: center;
  max-width: 800px;
}
.switch {
  margin: 15px auto;
  text-align: center;

  &-group {
    margin-top: 50px;
    text-align: center;
  }
}

//=> {% macro get(componentName) %}
//=> {% if componentName === "xxx" %}

//=> {% elif componentName === "one" %}
.one { @include switch('border-radius' 3px); }

//=> {% elif componentName === "two" %}
.two { @include switch(#333 #C06EE1 50px 'border-radius' 1000px); }

//=> {% elif componentName === "slider" %}
.slider { @include switch('slider' #ddd #399DE1 24px 'border-radius' 50%); }

//=> {% elif componentName === "text" %}
.text { @include switch(#ddd #399DE1 36px 'text' ("on" "off") 'border-radius' 10em); }

//=> {% elif componentName === "switch-g" %}
.switch-g { @include switch(#ddd #CC412F 25px 'border-radius' 3px); }

//=> {% endif %}
//=> {% endmacro %}