// normal
.off-canvas-1 { @include off-canvas(slide-in submenu '.off-canvas-nav-1' ); }
 
.off-canvas-nav-1 {
  color: #fff;
  background-color: #000;
  a, label { 
    display: block;
    padding: 0.5em 1em; 
  }
  label { background-color: rgba(255, 255, 255, 0.2); }
  [data-submenu] {
    background-color: #FF8000;
  }
}
.checkbox-hidden {
  position: absolute;
  left: -9000px;
}
.off-canvas-1 .menu {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}