{% set page = 'breakpoint' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  {% for item in [
    'num',
    'num-max',
    'num-2-max',
    'num-print',
    'height',
    'num-9'
  ] %}
    
    <div class="{{ item }}">
      <div class="cell" data-bp-default=""></div>
    </div>

    {# code #}
    <pre><code class="language-scss">
      {%- filter trim %}{{ fn.get(item) }}{% endfilter -%}
    </code></pre>
  {% endfor %}
{% endblock %}