{% set page = 'button' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  {% for item in [
    'default',
    'color',
    'style-highlight',
    'style-simple',
    'style-slide',
    'style-ripple',
    'style-veil',
    'style-cut',
    'style-push',
    'style-bubble',
    'style-line-drawing',
    'style-shake'
  ] %}
    <div class="{{ item }} demo">
      {% set text = item | replace('style-', '') %}
    
      {% if item === 'default' %}
        <button class="btn">{{ text }}</button>
      {% elif item === 'color' %}
        <a href="" class="btn">{{ text }}</a>
      {% elif item === 'style-push' %}
        <div class="style-push demo">
          <div class="btn" data-text="star"><span>{{ text }}</span></div>
        </div>
      {% elif item === 'style-line-drawing' %}
        <div class="btn">{{ text }} 
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      {% else %}
        <div class="btn">{{ text }}</div>
      {% endif %}

      <pre><code class="language-scss">
        {%- filter trim %}{{ fn.get(item) }}{% endfilter -%}
      </code></pre>
    </div>
  {% endfor %}
  <script>
    var ripple = document.querySelector('.style-ripple .btn');
    ripple.onclick = function () {
      if (ripple.className.indexOf('active') === -1) {
        ripple.className += ' active';
      } else {
        ripple.className = 'btn';
      }
    };
  </script>
{% endblock %}