{% set page = 'checkbox' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  <h4>Radio</h4>
  <div class="example">
    <div class="radio">
      <input type="radio" name="my-radio-name" id="my-radio-id-1" checked>
      <label for="my-radio-id-1">item 1</label>
      <br />
      <input type="radio" name="my-radio-name" id="my-radio-id-2">
      <label for="my-radio-id-2">item 2</label>
      <br />
      <input type="radio" name="my-radio-name" id="my-radio-id-3">
      <label for="my-radio-id-3">item 3</label>
      <br />
    </div>              
  </div>

  <h4>Checkbox</h4>
  <div class="example">
    <div class="checkbox">
      <input type="checkbox" name="" id="my-checkbox-id-1">
      <label for="my-checkbox-id-1">item 1</label>
      <br />
      <input type="checkbox" name="" id="my-checkbox-id-2" checked>
      <label for="my-checkbox-id-2">item 2</label>
      <br />
      <input type="checkbox" name="" id="my-checkbox-id-3">
      <label for="my-checkbox-id-3">item 3</label>
      <br />
    </div>              
  </div>
{% endblock %}