{% set page = 'color-functions' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  <h4>Contrast</h4>
  <div class="contrast clearfix three">
    <div class="color-box color-box-contrast-1">contrast</div>
    <div class="color-box color-box-contrast-2">contrast</div>
    <div class="color-box color-box-contrast-3">contrast</div>
  </div>
  
  <h4>Analogous</h4>
  <div class="example-analogous clearfix three">
    <div class="color-box color-box-analogous-3">analogous 3</div>
    <div class="color-box color-box-analogous-1">analogous 1</div>
    <div class="color-box color-box-analogous-2">analogous 2</div>
  </div>
  
  <h4>Adjacent</h4>
  <div class="color-pattern"><img src="images/adjacent.png" alt="adjacent-colors"></div>
  <div class="example-adjacent clearfix three">
    <div class="color-box color-box-adjacent-1">adjacent 1</div>
    <div class="color-box color-box-original">original</div>
    <div class="color-box color-box-adjacent-2">adjacent 2</div>
  </div>
  
  <h4>Complementary</h4>
  <div class="color-pattern"><img src="images/complementary.png" alt="complementary-colors"></div>
  <div class="example-complementary clearfix two">
    <div class="color-box color-box-original">original</div>
    <div class="color-box color-box-complementary-1">complementary</div>
  </div>
  
  <h4>Split complementary</h4>
  <div class="color-pattern"><img src="images/split-complementary.png" alt="split-complementary-colors"></div>
  <div class="example-split-complementary clearfix three">
    <div class="color-box color-box-original">original</div>
    <div class="color-box color-box-split-complementary-1">split-complementary 1</div>
    <div class="color-box color-box-split-complementary-2">split-complementary 2</div>
  </div>
  
  <h4>Triad</h4>
  <div class="color-pattern"><img src="images/triad.png" alt="triad-colors"></div>
  <div class="example-triad clearfix three">
    <div class="color-box color-box-original">original</div>
    <div class="color-box color-box-triad-1">triad 1</div>
    <div class="color-box color-box-triad-2">triad 2</div>
  </div>
  
  <h4>Rectangle</h4>
  <div class="color-pattern"><img src="images/rectangle.png" alt="rectangle-colors"></div>
  <div class="example-rectangle clearfix four">
    <div class="color-box color-box-original">original</div>
    <div class="color-box color-box-rectangle-1">rectangle 1</div>
    <div class="color-box color-box-rectangle-2">rectangle 2</div>
    <div class="color-box color-box-rectangle-3">rectangle 3</div>
  </div>
  
  <h4>Square</h4>
  <div class="color-pattern"><img src="images/square.png" alt="square-colors"></div>
  <div class="example-square clearfix four">
    <div class="color-box color-box-original">original</div>
    <div class="color-box color-box-square-1">square 1</div>
    <div class="color-box color-box-square-2">square 2</div>
    <div class="color-box color-box-square-3">square 3</div>
  </div>
{% endblock %}