{% set page = 'container' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  {% for item in [
    'default',
    'px-left',
    'px-right',
    'px-px',
    'px-0px',
    'em',
    'em-px',
    'percentage',
    'percentage-px'
  ] %}
    <div class="{{ item }}">
      <div data-margin=""><div class="cell" data-content=""></div></div>
    </div>
    <pre><code class="language-scss">
      {%- filter trim %}{{ fn.get(item) }}{% endfilter -%}
    </code></pre>
  {% endfor %}
{% endblock %}