{% set page = '' %}
{% extends 'parts/layout.php' %}

  <div class="diamond-count demo-container">
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/1.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/2.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/3.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/4.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/5.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/6.jpg" alt=""></span></div></div>
  </div>
  <div class="diamond-count-combined demo-container">
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/1.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/2.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/3.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/4.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/5.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/6.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/7.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/8.jpg" alt=""></span></div></div>
  </div>
  <div class="diamond-size demo-container">
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/2.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/3.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/5.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/4.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/6.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/7.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/8.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/9.jpg" alt=""></span></div></div>
  </div>
  <div class="diamond-breakpoints demo-container">
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/3.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/4.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/5.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/6.jpg" alt=""></span></div></div>
  </div>
  <div class="octagon-count demo-container">
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/7.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/8.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/9.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/10.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/11.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/12.jpg" alt=""></span></div></div>
  </div>
  <div class="octagon-size demo-container">
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/7.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/8.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/9.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/10.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/11.jpg" alt=""></span></div></div>
    <div class="order"><div class="diamond-content" data-content><span><img src="../images/diamond/12.jpg" alt=""></span></div></div>
  </div>