{% set page = '' %}
{% extends 'parts/layout.php' %}

  <div class="example">
    <div class="example-drop-shadows">
      <div class="box lifted">lifted</div>
      <div class="box raised">raised</div>
      <div class="box perspective">perspective</div>
      <div class="box curve horizontal">curve horizontal</div>
      <div class="box curve left">curve left</div>
      <div class="box curve right">curve right</div>
      <div class="box curve top">curve top</div>
      <div class="box curve bottom">curve bottom</div>
      <div class="box curve vertical">curve vertical</div>
    </div>
  </div>