{% set page = '' %}
{% extends 'parts/layout.php' %}

  <div class="flex-video-wrap">
    <div class="video"><iframe width="560" height="315" src="//www.youtube.com/embed/Rb0UmrCXxVA" frameborder="0" allowfullscreen></iframe></div>
  </div>