{% set page = '' %}
{% extends 'parts/layout.php' %}

  <div class="example">
    <h2>I, Too, Sing America</h2>
    <p>I, too, sing America.</p>
    <p>I am the darker brother.</p>
    <p>They send me to eat in the kitchen</p>
    <p>When company comes,</p>
    <p>But I laugh,</p>
    <p>And eat well,</p>
    <p>And grow strong.</p>
    <p>Tomorrow,</p>
    <p>I'll be at the table</p>
    <p>When company comes.</p>
    <p>Nobody'll dare</p>
    <p>Say to me,</p>
    <p>"Eat in the kitchen,"</p>
    <p>Then.</p>
    <p>Besides,</p>
    <p>They'll see how beautiful I am</p>
    <p>And be ashamed--</p>
    <p>I, too, am America.</p>
  </div>