{% set page = 'fluid-type' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  <div class="example">
    <h2>I, Too, Sing America</h2>
    <p>I, too, sing America.</p>
    <p>I am the darker brother.</p>
    <p>They send me to eat in the kitchen</p>
    <p>When company comes,</p>
    <p>But I laugh,</p>
    <p>And eat well,</p>
    <p>And grow strong.</p>
    <p>Tomorrow,</p>
    <p>I'll be at the table</p>
    <p>When company comes.</p>
  </div>

  {% for item in [
    'h2',
    'p'
  ] %}
    <pre><code class="language-scss">
     {%- filter trim %}{{ fn.get(item) }}{% endfilter -%}
    </code></pre>
  {% endfor %}
{% endblock %}