{% set page = 'hide-text' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  <div class="example">
    <h1 class="logo"><a href="">Firefox</a></h1>
  </div>
  <pre><code class="language-scss">
    {%- filter trim %}{{ fn.get('logo') }}{% endfilter -%}
  </code></pre>
{% endblock %}