{% set page = 'index' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  {# search bar #}
  <input type="text" list="components" id="searchbar" autocomplete="" autofocus="" placeholder="press '/' to start search or clear the text">
  <datalist id="components">
    {% for name, content in tree %}
      {% for item in content %}
        <option value="{{ item }}">
      {% endfor %}
    {% endfor %}
  </datalist>

  {# contents #}
  {% for name, content in tree %}
    <section>
      <h3>{{ name | title }}</h3>
      <ul>
        {% for item in content %}
          <li><a href="{{ item + '.html' }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}

  <script>
    (function() {
      if (!Element.prototype.addEventListener) {
        var eventListeners=[];
        
        var addEventListener=function(type,listener /*, useCapture (will be ignored) */) {
          var self=this;
          var wrapper=function(e) {
            e.target=e.srcElement;
            e.currentTarget=self;
            if (typeof listener.handleEvent != "undefined") {
              listener.handleEvent(e);
            } else {
              listener.call(self,e);
            }
          };
          if (type=="DOMContentLoaded") {
            var wrapper2=function(e) {
              if (document.readyState=="complete") {
                wrapper(e);
              }
            };
            document.attachEvent("onreadystatechange",wrapper2);
            eventListeners.push({object:this,type:type,listener:listener,wrapper:wrapper2});
            
            if (document.readyState=="complete") {
              var e=new Event();
              e.srcElement=window;
              wrapper2(e);
            }
          } else {
            this.attachEvent("on"+type,wrapper);
            eventListeners.push({object:this,type:type,listener:listener,wrapper:wrapper});
          }
        };
        var removeEventListener=function(type,listener /*, useCapture (will be ignored) */) {
          var counter=0;
          while (counter<eventListeners.length) {
            var eventListener=eventListeners[counter];
            if (eventListener.object==this && eventListener.type==type && eventListener.listener==listener) {
              if (type=="DOMContentLoaded") {
                this.detachEvent("onreadystatechange",eventListener.wrapper);
              } else {
                this.detachEvent("on"+type,eventListener.wrapper);
              }
              eventListeners.splice(counter, 1);
              break;
            }
            ++counter;
          }
        };
        Element.prototype.addEventListener=addEventListener;
        Element.prototype.removeEventListener=removeEventListener;
        if (HTMLDocument) {
          HTMLDocument.prototype.addEventListener=addEventListener;
          HTMLDocument.prototype.removeEventListener=removeEventListener;
        }
        if (Window) {
          Window.prototype.addEventListener=addEventListener;
          Window.prototype.removeEventListener=removeEventListener;
        }
      }
    })();

    var searchbar = document.querySelector('#searchbar');
    // click the target link when press 'Enter' on search bar
    searchbar.addEventListener('keydown', function (e) {
      if (e.keyCode && e.keyCode === 13) {
        var val = searchbar.value,
            el = document.querySelector('[href="' + val + '.html"]');
            
        if (el) { el.click(); }
      }
    });
    // remove the content when press '/'
    searchbar.addEventListener('keyup', function (e) {
      if (e.keyCode && e.keyCode === 191) { searchbar.value = ''; }
    });

    // press '/' to focus on the search bar
    document.addEventListener('keydown', function (e) {
      if (e.keyCode && e.keyCode === 191) { searchbar.focus(); }
    });
  </script>
{% endblock %}