{% set page = 'input-file' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  <div class="example">
    <div class="input-file">
      <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
      <label for="file">
        <svg id="Capa_1" width="80" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 35.808 35.808" style="enable-background:new 0 0 35.808 35.808;" xml:space="preserve">
          <g><path d="M30.885,16.314c0.174-0.686,0.275-1.404,0.275-2.145c0-4.66-3.785-8.439-8.447-8.439C17.32,5.738,16.6,9.841,16.6,9.841 s-2.266-2.797-6.262-2.316c-3.598,0.717-5.947,3.953-5.947,7.254c0,0.568,0.08,1.111,0.229,1.639C1.922,17.403,0,19.997,0,23.031 c0,3.891,3.154,7.045,7.047,7.045h7.555v-9.5h-3.221l6.605-6.447l6.441,6.604h-3.221v9.344h7.553c3.896,0,7.049-3.154,7.049-7.045 C35.809,19.876,33.736,17.21,30.885,16.314z"/></g>
        </svg>
        <span>Choose a file</span>
      </label>
    </div>
  </div>
  <pre><code class="language-scss">
    {%- filter trim %}{{ fn.get('input-file') }}{% endfilter -%}
  </code></pre>

  <script src="../src/js/components/input-file.js"></script>
  <script type="text/javascript">
    var htmlClass = document.documentElement.className;
    htmlClass = htmlClass.replace('no-js', 'js');
    document.documentElement.className = htmlClass;
    
    inputFile('#file');
  </script>
{% endblock %}