{% set page = 'liquid' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  <div class="ovh">
    {% set liquid = ['liquid-list', 'liquid-order', 'liquid-RTL', 'liquid-selector1', 'liquid-selector2', 'liquid-gutter-0px', 'liquid-gutter-sameunit', 'liquid-gutter-percentage', 'liquid-gutter-differentunit', 'liquid-breakpoint', 'liquid-breakpoint-max', 'liquid-global-breakpoints'] %} 
    {% for item in liquid %}
      <div class="{{ item }} demo-container">
        <div data-margin="">
          {% if item === 'liquid-selector2' %}
            <main class="order"><div class="cell" data-content=""></div></main>
            <aside class="order"><div class="cell" data-content=""></div></aside>
          {% else %}
            <div class="order"><div class="cell" data-content=""></div></div>
            <div class="order"><div class="cell" data-content=""></div></div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
