{% set page = 'liquid' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  <div class="ovh">
    <div class="liquid-list demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-order demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-RTL demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-child1 demo-container">
      <div data-margin="">
        <div class="order child"><div class="cell" data-content=""></div></div>
        <div class="order child"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-child2 demo-container">
      <div data-margin="">
        <main class="order"><div class="cell" data-content=""></div></main>
        <aside class="order"><div class="cell" data-content=""></div></aside>
      </div>
    </div>
    <div class="liquid-gutter-0px demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-gutter-sameunit demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-gutter-percentage demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-gutter-differentunit demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-breakpoint demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-breakpoint-max demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
    <div class="liquid-global-breakpoints demo-container">
      <div data-margin="">
        <div class="order"><div class="cell" data-content=""></div></div>
        <div class="order"><div class="cell" data-content=""></div></div>
      </div>
    </div>
  </div>
{% endblock %}
