{% set page = 'masonry' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  <div class="ovh">
    <div class="masonry-number demo-container">
      <ul>{% include './parts/masonry-content.njk' %}</ul>
    </div>
    <div class="masonry-child demo-container">
      <ul>{% include './parts/masonry-content.njk' %}</ul>
    </div>
    <div class="masonry-0px demo-container">
      <ul>{% include './parts/masonry-content.njk' %}</ul>
    </div>
    <div class="masonry-percentage-gutter demo-container">
      <ul>{% include './parts/masonry-content.njk' %}</ul>
    </div>
    <div class="masonry-condition demo-container">
      <ul>{% include './parts/masonry-content.njk' %}</ul>
    </div>
    <div class="masonry-breakpoints demo-container">
      <ul>{% include './parts/masonry-content.njk' %}</ul>
    </div>
    <div class="masonry-global-breakpoints demo-container">
      <ul>{% include './parts/masonry-content.njk' %}</ul>
    </div>
  </div>
{% endblock %}