{% set page = 'masonry' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  {% for item in [
    'masonry-number',
    'masonry-child',
    'masonry-0px',
    'masonry-percentage-gutter',
    'masonry-condition',
    'masonry-breakpoints',
    'masonry-global-breakpoints'
  ] %}
    
    <div class="{{ item }}">
      <ul>{% include './parts/masonry-content.njk' %}</ul>

      {# code #}
      <pre><code class="language-scss">
        {%- filter trim %}{{ fn.get(item) }}{% endfilter -%}
      </code></pre>
    </div>

  {% endfor %}
{% endblock %}