{% set page = 'metro' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  {% for item in [
    'metro-list',
    'metro-list-0px',
    'metro-child',
    'metro-ratio',
    'metro-breakpoint',
    'metro-breakpoint-condition',
    'metro-global-breakpoints'
  ] %}
    
    <div class="{{ item }}">
      <ul data-margin>
        {% if item === 'metro-child' %}
          {% set number = 4 %}
        {% else %}
          {% set number = 5 %}
        {% endif %}

        {% for i in range(1, number) %}
          <li class="{{ 'child' if item === 'metro-child' }}"><div class="metro-item" data-content></div></li>
        {% endfor %}
      </ul>

      {# code #}
      <pre><code class="language-scss">
        {%- filter trim %}{{ fn.get(item) }}{% endfilter -%}
      </code></pre>
    </div>
  {% endfor %}
{% endblock %}