{% set page = 'off-canvas' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  {% set navs = ['slide-in', 'slide-along', 'slide-out', 'rotate-in', 'rotate-out', 'rotate-in-reverse', 'scale-down', 'scale-up', 'open-door', 'push', 'reveal', 'drawer'] %}
  {% for item in navs %}
    <div class="container">
      <h3><a href="off-canvas-{{ item }}.html">{{ item }}</a></h3>
    </div>

    <iframe src="off-canvas-{{ item }}.html" scrolling="no" frameborder="0"></iframe>
  {% endfor %}
{% endblock %}