{% set page = 'parallelogram' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  <ul class="parallelogram">
    <li><a href="">News</a></li>
    <li><a href="">Products</a></li>
    <li><a href="">About us</a></li>
    <li><a href="">Contact us</a></li>
  </ul>
  <pre><code class="language-scss">
    {%- filter trim %}{{ fn.get('parallelogram') }}{% endfilter -%}
  </code></pre>
{% endblock %}