{% set page = '' %}
{% extends 'parts/layout.php' %}

  <div class="example">
    <div class="example-parallelogram">
      <nav>
        <ul>
          <li><a href="">News</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </div>