{% set page = 'quantity-query' %}
{% extends 'parts/layout.njk' %}

{% block main %}
  <div class="quantity-query">
    <div class="control">
      <input type="button" value="at-least 4" class="type at-least active">
      <input type="button" value="at-most 4" class="type at-most">
      <input type="button" value="equal-to 4" class="type equal-to">
      <input type="button" value="between 3 - 6" class="type between">
      <input type="button" value="+" class="action plus">
      <input type="button" value="-" class="action minus">
      <span class="info">Boxes' color turn to <span>pink</span> when fulfill the condition.</span>
    </div>
    <div class="show at-least">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
  <script type="text/javascript">
    var doc = document,
        controls = doc.querySelectorAll('.control .type'),
        show = doc.querySelector('.show'),
        plus = doc.querySelector('.plus'),
        minus = doc.querySelector('.minus'),
        atLeast = doc.querySelector('.at-least'),
        atMost = doc.querySelector('.at-most'),
        equalTo = doc.querySelector('.equal-to'),
        between = doc.querySelector('.between');

    function activateButton (el) {
      var len = controls.length;
      for (var i = len ; i--;) {
        var btn = controls[i];
        btnClass = btn.className;
        if (btn !== el) {
          btn.className = btnClass.replace(' active', '');
        } else {
          btn.className += ' active';
        }
      }
    }

    atLeast.onclick = function(e) { 
      show.className = 'show at-least'; 
      activateButton(e.target);
    };
    atMost.onclick = function(e) { 
      show.className = 'show at-most'; 
      activateButton(e.target);
    };
    equalTo.onclick = function(e) { 
      show.className = 'show equal-to'; 
      activateButton(e.target);
    };
    between.onclick = function(e) { 
      show.className = 'show between'; 
      activateButton(e.target);
    };
    plus.onclick = function() { 
      var div = doc.createElement('div');
      div.className = "box";
      show.append(div);
    };
    minus.onclick = function() { 
      if (show.children.length > 1) {
        show.removeChild(show.children[0]);
      }
    };
  </script>
{% endblock %}
