{% set page = '' %}
{% extends 'parts/layout.php' %}

  <div class="example">
    <p class="example-responsive-type">The research, published by the National Academies of Sciences, Engineering and Medicine, is the result of a sweeping review of nearly 900 publications on the effects of genetically modified crops on human health and the environment. </p>
  </div>