{% set page = 'tooltip' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  {% for item in [
    'left',
    'right',
    'top',
    'bottom'
  ] %}
    
    <div>Lorem ipsum dolor sit amet. Quo vitae <span class="tooltip {{ item }}" data-tooltip="Tooltip content from attr(data-tooltip)." data-customize="{{ 'Tooltip content from attr(data-customize).' if item === 'bottom' }}">{{ item }}</span> odit fuga asperiores.</div>
    <pre><code class="language-scss">
      {%- filter trim %}{{ fn.get(item) }}{% endfilter -%}
    </code></pre>
  {% endfor %}
{% endblock %}