{% set page = '' %}
{% extends 'parts/layout.php' %}

  <div class="example">
    <h1 class="example-type">This is h1</h1>
    <h2 class="example-type">This is h2</h2>
    <h3 class="example-type">This is h3</h3>
    <h4 class="example-type">This is h4</h4>
    <h5 class="example-type">This is h5</h5>
  </div>