{% set page = 'validation' %}
{% extends 'parts/layout.njk' %}

{% import 'code/' + page + '-code.njk' as fn %}
{% block main %}
  <ul class="validation-wrap">
    {% for i in range(1, 5) %}
      <li>
        <form action="" class="myform" id="form{{ i }}">
          <h4>Form {{ i }}</h4>
          {% include './parts/form-validation.njk' %}
        </form>
        
        {# code #}
        <pre><code class="language-scss">
          {%- filter trim %}{{ fn.get('form' + i) }}{% endfilter -%}
        </code></pre>
      </li>
    {% endfor %}
  </ul>
  <script src="../src/js/vendors/h5f.min.js"></script>
  <script>
    window.onload = function () {
      H5F.setup(document.querySelectorAll(".myform"));
    }
  </script>
{% endblock %}