// ======= ad ======= //
.ad {
  text-align: center;
  margin-top: em(20);
  margin-bottom: em(20);
  &250,&300,&320,&400,&468,&728,&970 { margin-left: auto; margin-right: auto; }
  &250 {width: 250px; }
  &300 {width: 300px; }
  &320 {width: 320px; }
  &400 {width: 400px; }
  &468 {width: 468px; }
  &728 {width: 728px; }
  &970 {width: 970px; }
  &-bg { 
    padding-top: 1px;
    background-color: #eee;
    @extend %clearfix;
  }
  &-group {
    text-align: center;
    display: none;
    > * {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  &top { margin-bottom: 0; }
  &-combined { 
    background-color: #f2f2f2; 
    margin-bottom: em(20);
    @extend %clearfix;
  }
}