@mixin between($key) {
  $selector: if(map-get($key, 'selector'), map-get($key, 'selector'), '*');
  $count: map-get($key, 'count');
  $count-min: nth($count, 1);
  $count-max: nth($count, 2);

  @if $count-max and $count-max > $count-min {
    #{$selector}:first-child:nth-last-child(n + #{$count-min}):nth-last-child(-n + #{$count-max}), 
    #{$selector}:first-child:nth-last-child(n + #{$count-min}):nth-last-child(-n + #{$count-max}) ~ #{$selector} {
      @content;
    }
  }
}
