@mixin between($key) {
  $selector: args-get-type($key, 'string', null, '*');
  $count: args-get-type($key, 'number');
  $count-min: false;
  $count-max: false;

  $numbers: ();
  @if type-of($key) == 'list' {
    @each $item in $key {
      @if type-of($item) == 'number' { 
        $numbers: append($numbers, $item); 
      } @else if type-of($item) == 'list' {
        @each $i in $item {
          @if type-of($i) == 'number' { $numbers: append($numbers, $i); }
        }
      }
    }
    @if length($numbers) > 1 {
      $count-min: min($numbers...);
      $count-max: max($numbers...);
    }
  } @else {
    @error "A list with at least two numbers is required."
  }

  
  @if $count-min and 
      $count-max and 
      $count-max > $count-min {
    #{$selector}:first-child:nth-last-child(n + #{$count-min}):nth-last-child(-n + #{$count-max}), 
    #{$selector}:first-child:nth-last-child(n + #{$count-min}):nth-last-child(-n + #{$count-max}) ~ #{$selector} {
      @content;
    }
  }
}
