// *** dropdown *** //
%dropdown {
  position: relative; 
  cursor: pointer;
}
%dropdown-menu {
  @extend %global-transition;
  position: absolute;
  z-index: nth($z-index, 4);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -ms-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
  .no-csstransforms & { display: none; }
}
%dropdown-menu-show {
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  .no-csstransforms & { display: block; }
}

@mixin dropdown(
  $dropdown-var:
    ul
    hover
){
  $child: ul;
  $show: hover;
  $default: false;

  @if type-of($dropdown-var) == string {
    @if $dropdown-var == default {
      $default: true;
    } @else if index($dropdown-show, $dropdown-var) {
      $show: $dropdown-var;
    } @else {
      $child: $dropdown-var;
    }
  } @else if type-of($dropdown-var) == list {
    @for $i from 1 through length($dropdown-var) {
      $val: nth($dropdown-var, $i);

      @if $val == default {
        $default: true;
      } @else if index($dropdown-show, $val) {
        $show: $val;
      } @else {
        $child: $val;
      }
    }
  }

  // default style
  $bgc: #fff;
  $padding: 0.31em 1.25em;
  $border: 1px solid #dbdbdb;
  $border-radius: 0.19em;
  $shadow: rgba(0,0,0,0.15) 0px 6px 12px;

  @extend %dropdown;
  #{$child} {
    @extend %dropdown-menu;

    // default style
    @if $default {
      background-color: $bgc;
      @if $border { border: $border; }
      @if $border-radius { border-radius: $border-radius; }
      @if $shadow { box-shadow: $shadow; }
      .current a,li:hover a { background-color: analogous($bgc 10%);}
      li { 
        @extend %global-transition; 
        &:first-child > a { padding-top: nth($padding, 1) * 2;}
        &:last-child > a { padding-bottom: nth($padding, 1) * 2;}
      }
      a { 
        @extend %hover-tdn;
        display: block;
        padding: $padding;
        color: contrast($bgc);
      }
    }

  }
  @if $show == hover {
    &:hover #{$child} {
      @extend %dropdown-menu-show;
    }
  }
  @else if $show == click {
    &.dropdown-open #{$child} {
      @extend %dropdown-menu-show;
    }
  }
}
