// *** flex video *** //

%flex-video-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
%flex-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin flex-video(
  $ratio: 9/16,
  $child: false
){
  @extend %flex-video-container;
  @if unitless($ratio) { $ratio: percentage($ratio); }
  padding-bottom: $ratio;
  @if $child {
    #{$child} { @extend %flex-video; }
  }
  @else {
    iframe,
    object,
    embed { @extend %flex-video; }
  }
}