// stolen from http://www.sassmeister.com/gist/7f22e44ace49b5124eec 
// https://blog.codepen.io/2016/10/31/fluid-type-blogs/

// *** fluid-type *** //
@mixin fluid-type($key) {
  $property: map-get($key, 'property');
  $breakpoint: map-get($key, 'breakpoint');

  @if type of $breakpoint == 'map' {
    $keys: map-keys($breakpoint);
    $values: map-values($breakpoint);

    $vw-sm: nth($keys, 1); 
    $vw-bg: nth($keys, 2);
    $value-sm: nth($values, 1);
    $value-bg: nth($values, 2);

    #{$property}: $value-sm;
    @if $property == 'font-size' and unit($value-sm) == 'px' {
      #{$property}: rem($value-sm);
    }

    @include bp( ('breakpoint': $vw-sm) ) {
      @if $property == 'font-size' and unit($value-sm) == 'px' {
        #{$property}: calc(#{rem($value-sm)} + #{strip-unit($value-bg - $value-sm)} * (100vw - #{rem($vw-sm)}) / #{strip-unit($vw-bg - $vw-sm)});
      } else {
        #{$property}: calc(#{$value-sm} + #{strip-unit($value-bg - $value-sm)} * (100vw - #{$vw-sm}) / #{strip-unit($vw-bg - $vw-sm)});
      }
    }

    @include bp( ('breakpoint': $vw-bg) ) {
      #{$property}: $value-bg;
      @if $property == 'font-size' and unit($value-bg) == 'px' {
        #{$property}: rem($value-bg);
      }
    }
  }
}