// *** media *** //

%media-style {
	display: table-cell;
	vertical-align: top;
}

@mixin media($media-var){
	$gutter: 10px;
	$media: null;
	$body: null;
	$direction: left;

	@if type-of($media-var) == number {
		$gutter: $media-var;
	} @else if type-of($media-var) == list {
		@for $i from 1 through length($media-var) {
			@if type-of(nth($media-var, $i)) == number {
				$gutter: nth($media-var, $i);
			}
		}
		@each $item in left, right {
			@if index($media-var, $item) {
				$direction: $item;
			}
		}
		@if index($media-var, media) {
			$media: get-next($media-var, media);
		}
		@if index($media-var, body) {
			$body: get-next($media-var, body);
		}
	}

	// media
	@if $media and $media != null {
		> #{$media} { 
			@extend %media-style; 
			@if $gutter and $gutter != 0 and $gutter != '0px' {
				padding-#{opposite($direction)}: $gutter;
			}
		}
	} @else {
		> [data-media-left],
		> [data-media-right] { @extend %media-style; }
		@if $gutter and $gutter != 0 and $gutter != '0px' {
			> [data-media-left] { padding-right: $gutter; }
			> [data-media-right] { padding-left: $gutter; }
		}
	}

	// media body
	@if $body and $body != null {
		> #{$body} { @extend %media-style; }
	} @else {
		> [data-media-body] { @extend %media-style; }
	}
}