// ======= off-canvas ======= //
@import '../color/contrast';
@import '../color/analogous';

@mixin off-canvas (
  $style: move,
  $direction: left,
  $font-size: 14,
  $padding: em(16, 14) em(16, 14),
  $bgc: #000
){
  position: fixed;
  height: 100%;
  color: contrast($bgc);
  background: $bgc;
  z-index: 300;
  box-sizing: border-box;
  @extend %global-transition;
  li { 
    font-size: rem($font-size); 
    line-height: 1;
    white-space: nowrap;
    @extend %clearfix;
  }
  a { 
    display: block;
    padding: $padding;
    color: contrast($bgc);
    @extend %hover-tdn;
    @extend %global-transition;
    &:hover { background-color: analogous($bgc, 15%); }
  }
  .active > a,
  .current > a { background-color: analogous($bgc, 23%); }
  @if $style == move {
    .off-canvas-show & { margin-#{$direction}: 0; }
  }
  @if $style == translate {
    .off-canvas-show & { #{$direction}: $nav-width; }
  }
  @if $style == reveal { z-index: 100; }
  @if $direction == left or 
      $direction == right {
    width: $nav-width;
    overflow-x: hidden;
    overflow-y: auto;
    #{$direction}: 0;
    @if $style == move or 
        $style == translate { margin-#{$direction}: -$nav-width; }
  }
  [data-offcanvas-close] { cursor: pointer; }
  [data-offcanvas-subnav] {
    width: 100%;
    @include position(absolute, 0px null 0px 100%);
    background-color: $bgc;
    -webkit-transition: left .3s $global-bezier 0s;
    transition: left .3s $global-bezier 0s;
  }
  .mb-subnav-show { left: 0; }
  [data-offcanvas-back]{ 
    padding: $padding;
    cursor: pointer;
    background-color: analogous($bgc, 15%);
  }
  [data-icon-haschild] { 
    display: inline-block;
    padding: $padding;
    float: right;
    cursor: pointer;
   &:hover { background-color: analogous($bgc, 15%); } 
  }
}

@mixin page-container(
  $style: move,
  $direction: left
){
  position: relative;
  @extend %global-transition;
  > [data-page-cover] {
    display: block;
    position: fixed;
    top: 0;
    @include size(100%);
    z-index: -1;
    @extend %global-transition;
    .off-canvas-show & {
      background-color: $cover-bg;
      z-index: 200;
      cursor: pointer;
    }
  }
  @if $direction == left or 
      $direction == right { #{$direction}: 0; }
  @if $style == translate or 
      $style == reveal {
    .off-canvas-show & { #{$direction}: $nav-width; }
  }
  @if $style == reveal {
    min-width: 320px;
    background-color: #fff;
    z-index: 200;
  }
}

@mixin icon-nav(
  $color: #212121,
  $active-color: #fd5619,
  $size: rem(18) rem(2) rem(3),
  $padding: rem(10) rem(9)
){
  display: inline-block;
  padding: $padding;
  width: nth($size, 1);
  cursor: pointer;
  > span, &:before, &:after { 
    display: block;
    height: nth($size, 2);
    background-color: $color;
    @extend %global-transition;
  }
  &:before, &:after { content: ''; }
  > span, &:after { margin-top: nth($size, 3); }
  &:hover { span, &:before, &:after { background-color: $active-color;} }
}
@mixin icon-close(
  $color: #212121,
  $active-color: #fd5619,
  $size: rem(18) rem(2) rem(3),
  $padding: rem(10) rem(9),
  $inverted: false
){
  @include icon-nav($color, $active-color, $size, $padding);
  position: relative;
  height: ( nth($size, 2) * 3 + nth($size, 3) * 2 );
  > span { display: none; }
  &:before,
  &:after { 
    position: absolute;
    top: 50%;
    width: ( nth($size, 1) * 1.1 );
    margin-left: ( - nth($size, 1) * 0.05 );
    margin-top: - nth($size, 2);
    -webkit-transform-origin: center center; 
    -ms-transform-origin: center center; 
    transform-origin: center center; 
    .no-csstransforms & { display: none; }
  }
  &:before { 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
  }
  &:after { 
    -webkit-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
    transform: rotate(-45deg); 
  }
  .no-csstransforms & { 
    @if $inverted {background: url('data:image/gif;base64,R0lGODlhEAAQAPAAAP///wAAACH5BAEAAAEALAAAAAAQABAAAAIoDIKpeOC7XHvQUHviZVtWj1WclIlYaZLmCH5Uq8BwqJVz4t3xg4pHAQA7') center center no-repeat; }
    @else {background: url('data:image/gif;base64,R0lGODlhEAAQAPEAAAAAABEREQAAAAAAACH5BAEAAAIALAAAAAAQABAAAAIpFISpeOC7XHvQUHviZVtWj1WclIlYaUqBOYIf5SpxHGolnXi4/KDiUQAAOw==') center center no-repeat; }
  }
}
