@mixin scale-type($key: (1em 1.15)) {
  $base: 1em;
  $scale: 1.15;
  $property: font-size;
  $reverse: true;
  $selectors: ('h1', 'h2', 'h3', 'h4', 'h5', 'h6');

  @each $item in $key {
    @if type-of($item) == 'list' {
      $is-tag-list: true;
      @each $i in $item {
        @if $is-tag-list and type-of($i) != 'string' { $is-tag-list: false; }
      }

      @if $is-tag-list {
        $selectors: $item;
      }
    } @else if type-of($item) == 'string' {
      $property: $item;
    } @else if type-of($item) == 'bool' {
      $reverse: $item;
    } @else if type-of($item) == 'number' {

      @if unitless($item) {
        $scale: $item;
      } @else {
        $base: $item;
      }
    }
  }

  $len: length($selectors);
  $num: 1;
  @if $len > 0 {
    @for $i from 1 through length($selectors) {
      $num: if($reverse, $len - $i, $i - 1);
      #{nth($selectors, $i)} { #{$property}: $base * power($scale, $num); }
    }
  }
}