/// *type* is a shorthand mixin for type.
/// 
/// $key: `$font-size $font-weight $font-style $line-height $font-family $text-transform`
/// @group addons
/// @param {number | list} $key - key 
/// @example scss - Usage
/// h1 { @include type(20px 'Georgia, Helvetica, sans-serif' 1.4 bold italic) }
/// // font-size: 20px;
/// // font-weight: bold; 
/// // font-style: italic; 
/// // font-family: 'Georgia, Helvetica, sans-serif';
/// // line-height: 1.4;
/// 
/// // Tips: to set 'font-weight', 'font-style' or 'text-transform' value 
/// // to 'inherit' or 'normal', 
/// // you need add prefix 'weight-', 'style-' or 'transform-'.
/// 
/// // $font-weights: thin, hairline, 'extra light', 'ultra light', lighter, light, normal, medium, 'semi bold', 'demi bold', bold, bolder, 'extra bold', black, heavy, 100, 200, 300, 400, 500, 600, 700, 800, 900, weight-normal, weight-inherit !default;
/// // $font-styles: italic, oblique, style-normal, style-inherit !default;
/// // $text-transforms: capitalize, uppercase, lowercase, none, full-width, transform-/// inherit !default;
/// 
/// @link https://github.com/ganlanyuan/rocket full document

@mixin type($key){
  $font-size: null;
  $font-weight: null;
  $font-style: null;
  $line-height: null;
  $font-family: null;
  $text-transform: null;

  @if type-of($key) == number {
    @if unitless($key) {
      @if $key >= 100 {
        $font-weight: $key;
      } @else {
        $line-height: $key;
      }
    } @else {
      $font-size: $key;
    }
  } @else if type-of($key) == list {
    @for $i from 1 through length($key) {
      @if type-of(nth($key, $i)) == number {
        $this: nth($key, $i);
        @if unitless($this) {
          @if $this >= 100 {
            $font-weight: $this;
          } @else {
            $line-height: $this;
          }
        } @else {
          $font-size: $this;
        }
      } @else if str_index(nth($key, $i), ',') {
        $font-family: nth($key, $i);
      }
    }
    @each $weight in $ro-font-weights {
      @if index($key, $weight) {
        @if type-of($weight) == string and str-index($weight, '-') {
          $font-weight: str-cut($weight, '-', after);
        } @else {
          $font-weight: $weight;
        }
      }
    }
    @each $style in $ro-font-styles {
      @if index($key, $style) {
        @if str-index($style, '-') {
          $font-style: str-cut($style, '-', after);
        } @else {
          $font-style: $style;
        }
      }
    }
    @each $transform in $ro-text-transforms {
      @if index($key, $transform) {
        @if str-index($transform, '-') {
          $text-transform: str-cut($transform, '-', after);
        } @else {
          $text-transform: $transform;
        }
      }
    }
  }

  @if $font-size {
    font-size: $font-size;
    @if unit($font-size) == 'px' {
      font-size: rem($font-size);
    }
  }
  @if $line-height {
    line-height: $line-height;
  }
  @if $font-weight {
    font-weight: $font-weight;
  }
  @if $font-style {
    font-style: $font-style;
  }
  @if $text-transform {
    text-transform: $text-transform;
  }
  @if $font-family {
    font-family: unquote($font-family);
  }
}
