/// A shorthand @mixin for hide elements on some parts of viewport.
/// 
/// $key: `$media $breakpoints` 
/// @group addons
/// @param {number | list} $key - key 
/// @example scss - Usage
/// .example { @include visible(500) }
/// // visible on 500px up on all media
/// 
/// 
/// @link http://creatiointl.org/gallery/william/rocket/addons-visibility.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin visible($key){
  $empty: ();
  @if type-of($key) == number {
    $key: minus-one($key);
    // output
    @include breakpoint('max' $key) { display: none !important; }
  } @else if type-of($key) == list {
    @if nth($key, 1) == 0 {
      $key: reject($key, 0);
    } @else {
      // append 0 to $empty
      $empty: append($empty, 0);

      // append $key to $empty 
      @for $i from 1 through length($key) {
        $item: nth($key, $i);

        @if index($ro-odd, $i) {
          $item: minus-one($item);
        } @else if index($ro-even, $i) {
          $item: plus-one($item);
        }

        $empty: append($empty, $item);
      }

      // give the value of $empty to $key
      $key: $empty;
    }
    @include breakpoint($key) { display: none !important; }
  }
}
