@import '../utilities/args-get-type';
@import '../vendors/transition';

@mixin accordion($key: 'div'){
  $selector: args-get-type($key, 'string', null, 'div');
  $max-height: 1000px;
  $duration: 0.3s;

  @each $item in $key {
    @if type-of($item) == 'number' {
      @if unit($item) == 's' {
        $duration: $item;
      } @else {
        @if unitless($item) { $item: $item * 1px; }
        $max-height: $item;
      }
    }
  }

  > input {
    position: absolute;
    left: -9999px;
    &:checked ~ #{$selector} {
      max-height: $max-height;
    }
  }
  > #{$selector} {
    @include ro-transition(max-height $duration);
    max-height: 0;
    overflow: hidden;
  }
}
