// *** accordion *** //
@mixin accordion($key: ('selector': 'div')){
  $selector: if(map-get($key, 'selector'), map-get($key, 'selector'), 'div');
  $max-height: if(map-get($key, 'max-height'), map-get($key, 'max-height'), 1000px);
  $duration: if(map-get($key, 'duration'), map-get($key, 'duration'), 0.3s);

  > input {
    position: absolute;
    left: -9999px;
    &:checked ~ #{$selector} {
      max-height: $max-height;
    }
  }
  > #{$selector} {
    @include ro-transition(max-height $duration);
    max-height: 0;
    overflow: hidden;
  }
}
