/// Short hands for creating button.
/// 
/// $key: `$font-size $padding $background-color radius round hover`
/// @group components
/// @param {number | list} $key - key 
/// @example scss - Usage
/// .button { @include button(14px #00c8ff '0.8em 1em' radius hover); }
/// // font-size: 14px;
/// // background-color: #00c8ff;
/// // padding: 0.8em 1em; (Tips: padding must be quoted)
/// // radius: 0.22em; (default, you can modify it by change the varible "$ro-button-radius: 0.22em;" )
/// // hover: true; (change background-color when mouse over)
/// 
/// @link http://creatiointl.org/gallery/william/rocket/components-button.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin button (
	$key:
		14px
		'0.5em 0.8em'
    radius
){
  $check: ('radius' 'round' 'hover');

  $font-size: ro-get-type($key, 'number');
  $padding: unquote(ro-get-type($key, 'string', $check));
  $background-color: ro-get-type($key, 'color'); 
  $radius: ro-get($key, 'radius');
  $round: ro-get($key, 'round');
  $hover: ro-get($key, 'hover');

  // *** output *** //
	@extend %button-style;
  @if $radius {
    border-radius: $ro-button-radius;
  }
  @if $round {
    border-radius: $ro-button-round;
  }
	@if $font-size {
		font-size: $font-size;
		font-size: rem($font-size);
	}
	@if $padding {
		padding: $padding;
	}
	@if $background-color {
		background-color: $background-color;
		color: contrast($background-color);
    @if $hover {
      &:hover {
        background-color: analogous($background-color $ro-button-hover-lightness);
        color: contrast(analogous($background-color $ro-button-hover-lightness));
      }
    }
	}
}
