/// Customize radios or checkboxes.   
/// 
/// @group components
/// @example markup - Markup
/// <!-- make sure label right after radio or checkbox -->
/// 
/// <div class="radio">
///   <input type="radio" name="my-radio-name" id="my-radio-id-1" checked>
///   <label for="my-radio-id-1">item 1</label>
///   <br />
///   <input type="radio" name="my-radio-name" id="my-radio-id-2">
///   <label for="my-radio-id-2">item 2</label>
///   <br />
///   <input type="radio" name="my-radio-name" id="my-radio-id-3">
///   <label for="my-radio-id-3">item 3</label>
///   <br />
/// </div>
/// @example scss - Usage
/// .radio {
///   @include checkbox() {
///     padding: 4px 0 4px 26px;
///     background: url('../images/radio.png') 0 50% no-repeat;
///   }
/// }
///
/// @link http://creatiointl.org/gallery/william/rocket/components-checkbox.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin checkbox(){
  > input { 
    @include opacity(0); 
    float: left;
  }
  > label {
    display: inline-block;
    clear: both;
    @content;
  }
}

/// Radios or checkboxes' active style.   
/// 
/// @group components
/// @example scss - Usage
/// .radio {
///   @include checkbox-active() {
///     background-image: url('../images/radio-active.png');
///   }
/// }
///
/// @link http://creatiointl.org/gallery/william/rocket/components-checkbox.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin checkbox-active(){
  > input:checked + label {
    @content;
  }
}