// *** checkbox *** //
@mixin checkbox(){
  > [type="checkbox"],
  > [type="radio"] { 
    @include opacity(0); 
    float: left;
  }
  > label {
    display: inline-block;
    clear: both;
    @content;
  }
}

@mixin checkbox-active(){
  > input:checked + label {
    @content;
  }
}