// *** dropdown *** //
@mixin dropdown($key: ('selector': 'ul')){
  $selector: if(map-get($key, 'selector'), map-get($key, 'selector'), 'ul');
  $activate: if(map-get($key, 'activate'), map-get($key, 'activate'), 'hover');
  $style: if(map-get($key, 'style'), map-get($key, 'style'), 'display');
  $direction: map-get($key, 'direction');
  $duration: if(map-get($key, 'duration'), map-get($key, 'duration'), 0.3s);
  $default: map-get($key, 'default');

  // set path
  $path: false;
  @if $activate == 'hover' {
    $path: '&:hover >';
  } @else if $activate == 'click' {
    $path: '> input:checked ~';
  }

  // *** output *** //
  position: relative;
  @if $activate == 'hover' { cursor: pointer; }
  // hide checkbox. 
  > input { 
    position: absolute;
    left: -9999px;
  }

  // add more hover space
  @if $activate == 'hover' and $direction {
    &:before, 
    &:after {
      content: '';
      position: absolute;
      display: block;
      #{$direction}: 0;
    }
    &:before {
      top: -20px;
      width: 25px;
      height: 20px;
    }
    &:after {
      width: 35px;
      height: 30px;
    }
  }

  > #{$selector} {
    // basic menu style
    position: absolute;
    transition: transform $duration, opacity ($duration / 2);
    
    // direction
    @if $direction {
      top: 0;
      #{opposite($direction)}: 100%;
    }

    // hide menu
    .lt-ie9 & { 
      display: none; 
      opacity: 1;
    }
    @if $style == 'display' {
      display: none;
    } @else if $style == 'scale' {
      @include ro-transform-origin(50% 0% 0px);
      @include ro-transform-style(preserve-3d);
      @include ro-transform(scaleY(0.4));
      opacity: 0;
    } @else if $style == 'rotate' {
      @include ro-transform-style(preserve-3d);
      @include ro-transform-origin(50% 0% 0px);
      @include ro-transform(rotateX(-30deg));
      opacity: 0;
    }

    // default menu style
    @if $default {
      $bgc: #fff;
      $padding: 0.31em 1.25em;
      $border: 1px solid #dbdbdb;
      $border-radius: 0.19em;
      $shadow: rgba(0,0,0,0.15) 0px 6px 12px;

      background: $bgc;
      @if $border { border: $border; }
      @if $border-radius { border-radius: $border-radius; }
      @if $shadow { box-shadow: $shadow; }
      .current > a, li:hover > a { background: analogous($bgc 10%);}
      li { 
        transition: all $duration;
        &:first-child > a { padding-top: nth($padding, 1) * 2;}
        &:last-child > a { padding-bottom: nth($padding, 1) * 2;}
      }
      a { 
        display: block;
        padding: $padding;
        color: contrast( ('color': $bgc) );
        &:hover { text-decoration: none; }
      }
    }
  }

  // show
  #{$path} #{$selector} {
    .lt-ie9 & { display: block; }
    @if $style == 'display' {
      display: block;
    } @else if $style == 'scale' {
      @include ro-transform(scaleY(1));
      opacity: 1;
    } @else if $style == 'rotate' {
      @include ro-transform(rotateX(0));
      opacity: 1;
    }
  }
}