// *** flex-media *** //
@mixin flex-media($key: ('ratio': (9/16)) ){
  $ratio: if(map-get($key, 'ratio'), map-get($key, 'ratio'), (9/16));
  $selector: map-get($key, 'selector');

  @if unitless($ratio) { $ratio: percentage($ratio); }
  $selectors: if($selector, "> #{$selector}", "> iframe, > object, > embed");

  // *** output *** //
  @extend %flex-video-container;
  padding-bottom: $ratio;
  #{$selectors} { @extend %flex-video; }
}