/// $key: `$ratio (child $child)`
/// @group components
/// @param {number | list} $key - key 
/// @example scss - Usage
/// .flex-video { @include flex-video(3/4); }
/// // ratio: 3/4;
/// // child: iframe, object, embed; (default)
/// 
/// .flex-video { @include flex-video(9/16 embed); }
/// // ratio: 9/16;
/// // child: embed; 
/// 
/// @link https://github.com/ganlanyuan/rocket full document

@mixin flex-video(
  $key:
    9/16
    false
){
  $ratio: 9/16;
  $child: false;

  @if type-of($key) == number {
    $ratio: $key;
  } @else if type-of($key) == string {
    $child: $key;
  } @else if type-of($key) == list {
    
    // set up child
    @if index($key, child) {
      $child: get-next($key, child);
    } @else {
      @for $i from 1 through length($key) {
        $val: nth($key, $i);

        @if type-of($val) == string {
          $child: $val;
        } 
      }
    }

    // set up ratio
    @for $i from 1 through length($key) {
      $val: nth($key, $i);

      @if type-of($val) == number {
        $ratio: $val;
      } 
    }
  }

  @extend %flex-video-container;
  @if unitless($ratio) { $ratio: percentage($ratio); }
  padding-bottom: $ratio;
  @if $child {
    > #{$child} { @extend %flex-video; }
  }
  @else {
    > iframe,
    > object,
    > embed { @extend %flex-video; }
  }
}