%flex-media-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
%flex-media {
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin flex-media($key: (9/16)){
  $selector: args-get-type($key, 'string');
  $ratio: args-get-type($key, 'number');
  @if unitless($ratio) { $ratio: percentage($ratio); }

  $selectors: if($selector, "> #{$selector}", "> iframe, > object, > embed");

  @extend %flex-media-container;
  padding-bottom: $ratio;
  #{$selectors} { @extend %flex-media; }
}