// *** media *** //

%media-style {
	display: table-cell;
	vertical-align: top;
}

@mixin media($key){
	$gutter: 10px;
	$media: null;
	$media-body: null;
	$direction: left;

	@if type-of($key) == number {
		$gutter: $key;
	} @else if type-of($key) == list {
		@for $i from 1 through length($key) {
			@if type-of(nth($key, $i)) == number {
				$gutter: nth($key, $i);
			}
		}
		@each $item in left, right {
			@if index($key, $item) {
				$direction: $item;
			}
		}
		@if index($key, media) {
			$media: get-next($key, media);
		}
		@if index($key, body) {
			$media-body: get-next($key, body);
		}
	}

	// media
	@if $media and $media != null {
		> #{$media} { 
			@extend %media-style; 
			@if $gutter and $gutter != 0 and $gutter != '0px' {
				padding-#{opposite($direction)}: $gutter;
			}
		}
	} @else {
		> [data-media-left],
		> [data-media-right] { @extend %media-style; }
		@if $gutter and $gutter != 0 and $gutter != '0px' {
			> [data-media-left] { padding-right: $gutter; }
			> [data-media-right] { padding-left: $gutter; }
		}
	}

	// media body
	@if $media-body and $media-body != null {
		> #{$media-body} { @extend %media-style; }
	} @else {
		> [data-media-body] { @extend %media-style; }
	}
}