/// *media* displays a media object (images, video, audio) to the left or right of a block.
/// 
/// $key: `$role $gutter $direction`
/// @group components
/// @param {number | list} $key - key 
/// @example scss - scss
/// .media { @include media(); } 
/// // role: 'media'; (media:default | media-body)
/// // gutter: 10px; (default)
/// // direction: left; (default)

/// .media { @include media('media' 15px right); }
/// // role: 'media';
/// // gutter: 15px;
/// // direction: right;
/// .media-body { @include media('media-body'); }
/// // role: 'media-body'; 
/// 
/// @link https://github.com/ganlanyuan/rocket full document

@mixin media($key){
	$role: 'media';
	$gutter: 10px;
	$direction: left;

	@if type-of($key) == 'number' {
		$gutter: $key;
	} @else if type-of($key) == 'string' {
		$role: $key;
	} @else if type-of($key) == 'list' {
		@each $item in $key {
			@if type-of($item) == 'number' {
				$gutter: $item;
			} @else if index($ro-media-type, $item) {
				$role: $item;
			} @else if index($ro-media-direction, $item) {
				$direction: $item;
			}
		}
	}

	// output
	display: table-cell;
  vertical-align: top;
	@if $role == 'media' {
		padding-#{opposite($direction)}: $gutter;
	} @else if $role == 'media-body' {
		width: 10000px;
	}
}