/// Pure css off-canvas with multiple styles.
///
/// $key: `$style $direction $nav $nav-width $overlay-background-color $duration`
/// @group components
/// @param {list} $key - key 
/// @example markup - markup
/// <!-- style: slide-in, rotate-in, rotate-out, rotate-in-reverse, push, drawer -->
/// <input type="checkbox" name="" id="nav-toggle">
/// <div class="page">
///   <header>
///     <label for="nav-toggle">Menu</label>
///     <label for="nav-toggle" class="page-overlay"></label>
///     <nav class="nav">
///       <ul>
///         <li><a href="">How It Works</a></li>
///         <li><a href="">Compare</a></li>
///         <li><a href="">Technology</a></li>
///         <li><a href="">Careers</a></li>
///         <li><a href="">Help</a></li>
///       </ul>
///     </nav>
///   </header>
///   <div>Other content</div>
/// </div>
/// 
/// <!-- style: slide-along, slide-out, scale-down, scale-up, open, reveal -->
/// <!-- If you using these styles, make sure to compile it with Ruby Sass, not Libsass. Current Libsass doesn't fully support @at-root. -->
/// <input type="checkbox" name="" id="nav-toggle">
/// <nav class="nav">
///   <ul>
///     <li><a href="">How It Works</a></li>
///     <li><a href="">Compare</a></li>
///     <li><a href="">Technology</a></li>
///     <li><a href="">Careers</a></li>
///     <li><a href="">Help</a></li>
///   </ul>
/// </nav>
/// <div class="page">
///   <header>
///     <label for="nav-toggle">Menu</label>
///     <label for="nav-toggle" class="page-overlay"></label>
///   </header>
///   <div>Other content</div>
/// </div>
/// 
/// @example scss - Usage
/// .page { @include mobile-nav('slide-in' left '.nav' rgba(0, 0, 0, 0.1) 200px 0.5s); }
/// // style: slide-in; (slide-in | slide-along | slide-out | rotate-in | rotate-out | rotate-in-reverse | scale-down | scale-up | open | push | reveal | drawer')
/// // direction: left; (left | right | top | bottom)
/// // nav: .nav;
/// // nav-width(or height): 200px; (default 240px)
/// // overlay-background-color: rgba(0, 0, 0, 0.1);
/// // duration: 0.5s;
/// 
/// @link http://creatiointl.org/gallery/william/rocket/components-nav-slide-in.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin mobile-nav($key) {
  $check: join($ro-nav-direction, $ro-nav-styles);
  // initalize $map-list, $map, $breakpoint
  $map-list: ();
  $map: ();
  $breakpoint: ();
  $duration: 0.3s;
  $width: 240px;

  $direction: ro-get($key, $ro-nav-direction, 'left');
  $style: ro-get($key, $ro-nav-styles, 'slide-in');
  $nav: ro-get-type($key, 'string', $check);
  $overlay-color: ro-get-type($key, 'color', false, rgba(0, 0, 0, 0.2));

  @each $item in $key {
    @if type-of($item) == 'number' {
      @if unit($item) == 's' {
        $duration: $item;
      } @else {
        $width: $item;
      }
    } @else if type-of($item) == 'map' {
      $map-list: append($map-list, $item);
    }
  }
  @if length($map-list) > 0 {
    $map: nth($map-list, 1);
    @if length($map-list) > 1 {
      $breakpoint: nth($map-list, 2);
    }
  }

  // define modules
  $page-push: false;
  $page-over-nav: false;
  $page-transform: false;
  $nav-push: false;
  $nav-push-val: false;
  $nav-transform: false;
  $nav-outside: false;
  $overlay: true;
  $overlay-push: false;
  $horizontal: false;
  $vertical: false;
  $rotate: false;
  $rotate-origin: false;
  $rotate-val: false;

  @if index(('reveal', 'push', 'slide-along', 'slide-out', 'rotate-in', 'rotate-out', 'rotate-in-reverse', 'scale-up'), $style) {
    $page-push: true;
  }
  @if index(('reveal', 'slide-along', 'slide-out', 'scale-up'), $style) {
    $page-over-nav: true;
  }
  @if index(('scale-down', 'open'), $style) {
    $page-transform: true;
  }
  @if index(('slide-in', 'slide-along', 'slide-out', 'rotate-in', 'rotate-out', 'rotate-in-reverse', 'scale-down', 'open', 'push', 'drawer'), $style) {
    $nav-push: true;
  }
  @if index(('slide-in', 'rotate-in', 'rotate-out', 'rotate-in-reverse', 'scale-down', 'open', 'push', 'drawer'), $style) {
    $nav-push-val: - $width;
  }
  @if index(('slide-along'), $style) {
    $nav-push-val: - ($width / 2);
  }
  @if index(('slide-out'), $style) {
    $nav-push-val: ($width / 2);
  }
  @if index(('rotate-in', 'rotate-out', 'rotate-in-reverse', 'scale-up'), $style) {
    $nav-transform: true;
  }
  @if $page-over-nav or index(('scale-down', 'open'), $style) {
    $nav-outside: true;
  }
  @if index(('slide-in', 'rotate-in', 'rotate-out', 'rotate-in-reverse', 'scale-down', 'open', 'scale-up', 'push', 'drawer'), $style) {
    $overlay: true;
  }
  @if index(('slide-along', 'slide-out', 'rotate-in', 'reveal', 'scale-up'), $style) {
    $overlay-push: true;
  }
  @if index((left, right), $direction) {
    $horizontal: true;
  }
  @if index((top, bottom), $direction) {
    $vertical: true;
  }
  @if index(('rotate-in', 'rotate-out', 'rotate-in-reverse'), $style) {
    $rotate: true;
  }
  @if index(('rotate-in', 'rotate-out'), $style) {
    $rotate-origin: 100% 50% 0px;
  }
  @if index(('rotate-in-reverse'), $style) {
    $rotate-origin: 0% 50% 0px;
  }
  @if index(('rotate-in'), $style) {
    $rotate-val: perspective(#{$width}) rotateY(-90deg);
  }
  @if index(('rotate-out', 'rotate-in-reverse'), $style) {
    $rotate-val: perspective(#{$width}) rotateY(90deg);
  }

  // *** output *** //
  @at-root {
    #nav-toggle {
      position: absolute;
      left: -9999px;
    }
  }

  // page
  @if $page-transform {
    @include transition(transform $duration);
  }
  @if $page-push {
    @include transition($direction $duration);
    position: relative;
    #{$direction}: 0;

    @if $page-over-nav {
      z-index: map-get($ro-nav-z-index, 'page');
    }

    #nav-toggle:checked ~ & {
      #{$direction}: $width;
    }
  }
  @if $style == 'scale-down' {
    @include transform-style(preserve-3d);
    @include transform(perspective(1000px) translate3d(0px, 0px, 0px));
    #nav-toggle:checked ~ & {
      @include transform(perspective(1000px) translate3d(0px, 0px, -250px));
    }
  } @else if $style == 'open' {
    @include transform-origin(100% 50% 0px);
    @include transform-style(preserve-3d);
    @include transform(perspective(1000px) rotateY(0deg));
    #nav-toggle:checked ~ & {
      @include transform(perspective(1000px) rotateY(-7deg));
    }
  }

  // nav
  @at-root {
    #{$nav} {
      position: fixed;
      display: block;
      z-index: map-get($ro-nav-z-index, 'nav');
      box-sizing: border-box;
      #{$direction}: 0;

      @if $nav-push and $nav-transform {
        @include transition(transform $duration, margin-#{$direction} $duration);
      } @else if $nav-push and not $nav-transform {
        @include transition(margin-#{$direction} $duration);
      } @else if $nav-transform and not $nav-push {
        @include transition(transform $duration);
      }

      @if $nav-push-val {
        margin-#{$direction}: $nav-push-val;
      }

      @if $horizontal {
        width: $width;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        @if $style == 'drawer' {
          @include nav-map(top, $map, $breakpoint); // set top value 
        } @else {
          top: 0;
        }
      } @else if $vertical {
        height: $width;
        left: 0;
        right: 0;
        overflow-x: auto;
        overflow-y: hidden;
      }

      @if $rotate-origin {
        @include transform-origin($rotate-origin);
        @include transform-style(preserve-3d);
      }
      @if $rotate-val {
        @include transform($rotate-val);
      }

      @if $style == 'scale-up' {
        @include transform-origin(0% 50% 0px);
        @include transform-style(preserve-3d);
        @include transform(perspective(1000px) translate3d(0px, 0px, -300px));
        #nav-toggle:checked ~ & {
          @include transform(translate3d(0px, 0px, 0px));
        }
      }
    }
  }
  @if $nav-push {
    @if $nav-outside {
      @at-root {
        #nav-toggle:checked ~ #{$nav} {
          margin-#{$direction}: 0;
        }
      }
    } @else {
      #nav-toggle:checked ~ & #{$nav} {
        margin-#{$direction}: 0;
        @if $rotate {
          @include transform(rotateY(0deg));
        }
      }
    }
  }

  // page-overlay
  @if $overlay {
    .page-overlay {
      @include transition(background $duration);
      position: fixed;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      #{opposite($direction)}: auto;
      background-color: transparent;
      z-index: map-get($ro-nav-z-index, 'page-overlay');
      @include transition(#{$direction} $duration);
      #nav-toggle:checked ~ & {
        // background-color
        background-color: $overlay-color;
        .lt-ie9 & {
          background-color: opacify($overlay-color, 1);
          @include opacity(opacity($overlay-color));
        }
        // drawer top
        @if $style == 'drawer' {
          @include nav-map(top, $map, $breakpoint); // set top value
        } 
        // push
        @if $overlay-push {
          #{$direction}: $width;
          #{opposite($direction)}: 0;
        }
      }
    }
  }

}

@mixin nav-map($prop, $map, $breakpoint) {
  $list: map-keys($map);
  @each $item in $list {
    @if $item == null {
      #{$prop}: map-get($map, $item);
      $list: reject($list, $item);
    } @else if map-has-key($breakpoint, $item) {
      $list: append($list, map-get($breakpoint, $item));
      $list: reject($list, $item);
      $map: map-merge($map, (map-get($breakpoint, $item): map-get($map, $item)));
      $map: map-remove($map, $item);
    }
  }
  
  $list: list-descend($list);
  @each $item in $list {
    @include bp('max' $item) {
      #{$prop}: map-get($map, $item);
    }
  }
}
