// *** parallelogram *** //
@mixin parallelogram($key) {
  @include check-arg-type($key, 'map');

  $color: map-get($key, 'color');
  $angle: map-get($key, 'angle');

  position: relative;
  &:before {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    z-index: -1;

    @if $color {
      background-color: $color;
    }
    @if $angle {
      @include ro-transform(skew($angle));
    }
  }
}