/// First, set a specific class (or ID) for each slider.   
/// Then, use this class (or id) to set up the radio names and IDs as well as labels.   
/// **Autoheight**: Add `kit.min.js` to `html`, and then put `autoheight-carousel` attribute to the slideshow container (.outer).
/// 
/// $key: `$items $time (ratio $ratio) (speed $speed) (timeout $timeout) hoverpause autoplay default`
/// @group components
/// @param {number | list} $key - key 
/// @example markup - Markup
/// <div class="banner">
///   <input type="radio" name="banner" id="banner-1" checked="">
///   <input type="radio" name="banner" id="banner-2">
///   <input type="radio" name="banner" id="banner-3">
///   <input type="radio" name="banner" id="banner-4">
///   <input type="radio" name="banner" id="banner-5">
///   <input type="checkbox" name="banner-autoplay" id="banner-autoplay" checked="">
///   <div class="outer">
///     <ul class="inner">
///       <li> slider01 </li>
///       <li> slider02 </li>
///       <li> slider03 </li>
///       <li> slider04 </li>
///       <li> slider05 </li>
///     </ul>
///   </div>
///   <div class="controls">
///     <label for="banner-1"><span class="prev"></span><span class="next"></span></label>
///     <label for="banner-2"><span class="prev"></span><span class="next"></span></label>
///     <label for="banner-3"><span class="prev"></span><span class="next"></span></label>
///     <label for="banner-4"><span class="prev"></span><span class="next"></span></label>
///     <label for="banner-5"><span class="prev"></span><span class="next"></span></label>
///   </div>
///   <div class="dots">
///     <label for="banner-1"><span class="normal"></span><span class="active"></span></label>
///     <label for="banner-2"><span class="normal"></span><span class="active"></span></label>
///     <label for="banner-3"><span class="normal"></span><span class="active"></span></label>
///     <label for="banner-4"><span class="normal"></span><span class="active"></span></label>
///     <label for="banner-5"><span class="normal"></span><span class="active"></span></label>
///   </div>
///   <div class="autoplay"><label for="banner-autoplay"><span></span></label></div>
/// </div>
/// 
/// @example scss - Usage
/// .slider { @include slider-gallery(5 speed 0.5s timeout 4s autoplay default); }
/// // items: 5;
/// // speed: 0.5s; (default 1s)
/// // timeout: 4s; (default 3s)
/// // autoplay: true;
/// // default: true; (default styles for controls and dots)
/// 
/// // customise dots and controls
/// .slider .dots .normal { ... }
/// .slider .dots .active { ... }
/// .slider .controls .prev { ... }
/// .slider .controls .next { ... }
/// 
/// // customise items
/// .slider {
///   // setting item
///   .outer { overflow: visible; }
///   li { 
///     @include transform(scale(1.1)); 
///     transition: all 1s ease 0s;
///   }
///   @for $i from 1 through 5 {
///     #gallery-c-#{$i}:checked ~ .outer li:nth-child(#{$i}) { @include transform(scale(1)); }
///   }
///   // setting .info
///   .info { opacity: 0; margin-left: 0;
///     -webkit-transition: all 1s $ro-global-bezier 0.5s;
///     transition: all 1s $ro-global-bezier 0.5s;
///    }
///   @for $i from 1 through 5 {
///     #gallery-c-#{$i}:checked ~ .outer li:nth-child(#{$i}) .info {
///       opacity: 1;
///       margin-left: 20px;
///     }
///   }
/// }
///
/// @link http://creatiointl.org/gallery/william/rocket/components-slider-gallery.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin slider-gallery($key){
  $items: 1;
  $autoplay: ro-get($key, 'autoplay');
  $default: ro-get($key, 'default');
  $hoverpause: ro-get($key, 'hoverpause');
  $speed: ro-get-next($key, 'speed', 1s);
  $timeout: ro-get-next($key, 'timeout', 3s);
  $time-per-item: ($speed + $timeout);

  @if type-of($key) == number {
    $items: $key;
  } @else if type-of($key) == list {

    @each $item in $key {
      @if type-of($item) == number and unitless($item) {
        $items: $item;
      }
    }
  }

  $prefix: get-slider-selector(&);
  $id: "#" + $prefix;

  // *** output *** //
  // base
  & > input { position: absolute; left: -9999px; }
  .outer {
    position: relative;
    overflow: hidden;
  }
  .inner { 
    position: relative; 
    > li {
      @include item-hide(); 
      width: 100%;
      box-sizing: border-box;
      transition: opacity $speed ease 0s;
    }
  }
  .controls,
  .dots > label { position: relative; }
  [autoheight-gallery] {
    transition: height ($speed / 2) ease 0s;
  }

  // setting items
  @for $i from 1 through $items {
    @at-root { @at-root (without: media) { 
      #{$id}-#{$i}:checked ~ {
        .outer li:nth-child(#{$i}) { 
          @include item-show(); 
        }
      }
    }}
  }

  // default style
  @if $default {
    .controls {
      @include clearfix();
      max-width: 7.5em;
      margin: 10px auto;
      span {
        @include auto-hide();
        font-size: 13px;
        padding: 5px 8px;
        border-radius: 3px;
        transition: background-color 0.3s;
        color: #fff;
        background-color: #15A9DC;
        &:hover { background-color: #7D9DAC; }
      }
      .prev { 
        float: left; 
        left: 0;
      }
      .next { 
        float: right; 
        right: 0;
      }
    }
    .dots {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      letter-spacing: -0.34em; // remove white space between inline-block elements
      label, span {
        display: inline-block;
        vertical-align: top;
      }
      label {
        margin: 0 3px;
        letter-spacing: 0; // restore letter-spacing
        &:hover .normal { background-color: #5a5a5a; }
      }
      span {
        left: 0;
        width: 9px;
        height: 9px;
        background-color: #d3d3d3;
        border-radius: 50%;
        transition: background-color 0.3s;
      }
      .normal { @include auto-show(); }
      .active { @include auto-hide(); background-color: #5a5a5a; }
    }
  }
  
  // setting controls
  @for $i from 1 through $items {
    @at-root { @at-root (without: media) { 
      #{$id}-#{$i}:checked ~ {
        @if $i == 1 {
          .controls label:nth-child(#{$items}) .prev, 
          .controls label:nth-child(#{$i + 1}) .next { @include auto-show(); }
        } @else if $i == $items {
          .controls label:nth-child(#{$i - 1}) .prev, 
          .controls label:nth-child(1) .next { @include auto-show(); }
        } @else {
          .controls label:nth-child(#{$i - 1}) .prev, 
          .controls label:nth-child(#{$i + 1}) .next { @include auto-show(); }
        }
      }
    }}
  }

  // setting dots
  @for $i from 1 through $items {
    @at-root { @at-root (without: media) { 
      #{$id}-#{$i}:checked ~ {
      .dots label:nth-child(#{$i}) .active { @include auto-show(); }
      .dots label:nth-child(#{$i}) .normal { @include auto-hide(); }
      }
    }}
  }

  // setting autoplay
  @if $autoplay {
    @if $default {
      .autoplay {
        text-align: center;
        margin: 10px 0;
        > label {
          width: 30px;
          height: 30px;
          display: inline-block;
          background-color: #333;
          border-radius: 50%;
        }
        span {
          display: inline-block;
        }
        .play {
          width: 0;
          height: 0;
          border-color: transparent transparent transparent #fff;
          border-style: solid;
          border-width: 7px 0px 7px 13px;
          margin: 7px 0 0 3px;
        }
        .pause {
          display: none;
          &:before, &:after {
            content: '';
            display: inline-block;
            border-width: 0;
            width: 5px;
            height: 13px;
            margin-top: 8px;
            background-color: #fff;
          }
          &:before { margin-right: 4px; }
        }
      }
      @at-root { @at-root (without: media) {
        #{$id}-autoplay:checked ~ .autoplay { 
          .play { display: none; }
          .pause { display: block; }
        }
      }}
    }

    // animation
    @include keyframes(#{$prefix}) {
      0% { @include item-hide(); }
      #{percentage($speed / ($time-per-item * $items))} { @include item-show(); }
      #{percentage($time-per-item / ($time-per-item * $items))} { @include item-show(); }
      #{percentage(($time-per-item + $speed) / ($time-per-item * $items))} { @include item-hide(); }
      100% { @include item-hide(); }
    }
    @include keyframes(#{$prefix}-active) {
      0% { @include auto-hide(); }
      // #{percentage($speed / ($time-per-item * $items) - 0.0001)} { @include auto-hide(); }
      #{percentage($speed / ($time-per-item * $items))} { @include auto-show(); }
      #{percentage($time-per-item / ($time-per-item * $items))} { @include auto-show(); }
      #{percentage($time-per-item / ($time-per-item * $items) + 0.0001)} { @include auto-hide(); }
      100% { @include auto-hide(); }
    }
    @include keyframes(#{$prefix}-normal) {
      0% { @include auto-show(); }
      // #{percentage($speed / ($time-per-item * $items) - 0.0001)} { @include auto-show(); }
      #{percentage($speed / ($time-per-item * $items))} { @include auto-hide(); }
      #{percentage($time-per-item / ($time-per-item * $items))} { @include auto-hide(); }
      #{percentage($time-per-item / ($time-per-item * $items) + 0.0001)} { @include auto-show(); }
      100% { @include auto-show(); }
    }
    @at-root { @at-root (without: media) {
      #{$id}-autoplay:checked ~ {
        .controls { display: none !important; }
        // animation
        .outer li { @include animation( #{$prefix} ($time-per-item * $items) ease infinite); }
        .dots .active { @include animation( #{$prefix}-active ($time-per-item * $items) ease infinite); }
        .dots .normal { @include animation( #{$prefix}-normal ($time-per-item * $items) ease infinite); }

        // delay
        @if $items == 2 {
          .outer li:nth-child(2), 
          .dots > label:nth-child(2) .normal, 
          .dots > label:nth-child(2) .active, 
            { @include animation-delay($time-per-item); }
        } @else {
          @for $i from 1 to $items {
            @if $i == ($items - 1) {
              .outer li:nth-child(#{($i + 1)}), 
              .dots > label:nth-child(#{($i + 1)}) .normal, 
              .dots > label:nth-child(#{($i + 1)}) .active, 
                { @include animation-delay(($time-per-item * $i)); }
            } @else {
              .outer li:nth-child(#{($i + 1)}), 
              .dots > label:nth-child(#{($i + 1)}) .normal, 
              .dots > label:nth-child(#{($i + 1)}) .active, 
                { @include animation-delay(($time-per-item * $i)); }
            }
          }
        }
      }
    }}
    // pause on hover
    @if $hoverpause {
      &:hover {
        #{$id}-autoplay ~ {
          .outer li,
          .dots .normal,
          .dots .active { 
            @include animation-play-state(paused); 
          }
        }
      }
    }
  }

}

@mixin item-hide() {
  @include opacity(0); 
  position: absolute;
  top: 0;
  z-index: nth($ro-slider-z-index, 4);
}
@mixin item-show() {
  @include opacity(1); 
  position: static;
}

@mixin auto-hide() {
  @include opacity(0);
  position: absolute;
}
@mixin auto-show() {
  @include opacity(1);
  position: relative;
  z-index: nth($ro-slider-z-index, 1);
}
