// *** tabs *** //
@mixin tabs($key) {
  $length: args-get-type($key, 'number', 0);
  $style: args-get($key, $ro-tabs-style, 'normal');

  // *** output *** //
  > [type="radio"] {
    position: absolute; 
    left: -9999px;
  }
  @if $style == 'normal' {
    > .ro-panels > div {
      display: none;
    }
  } @else if $style == 'carousel' {
    overflow-x: hidden;
    > .ro-panels {
      @include clearfix();
      position: relative;
      left: 0;
      width: (100% * $length);
      transition: all $ro-global-animation-duration $ro-global-bezier;
      > div {
        float: left;
        width: percentage(1 / $length);
        box-sizing: border-box;
      }
    }
  } @else if $style =='customize' {
    > .ro-panels > div {
      @content;
    }
  }

  @for $i from 1 through $length {
    > input:nth-child(#{$i}):checked ~ {
      .ro-panels {
        @if $style == 'normal' {
          > div:nth-child(#{$i}) {
            display: block;
          }
        } @else if $style == 'carousel' {
          left: - percentage(($i - 1));
        }
      }
    }
  }
}

/// Set tabs' active styles.
/// 
/// $key: `$length`
/// @group components
/// @param {number} $key - key 
/// @example scss - Usage
/// .your-tab-class { 
///   @include tabs-active(3) {
///     // tab active style
///   } 
/// }
/// // length: 3; (3 tabs)
///
/// @link http://creatiointl.org/gallery/william/rocket/components-tabs.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin tabs-active($key) {
  $length: args-get-type($key, 'number', 0);
  $len-base: str-length(selector-str()) + 1 + 1; // space: 1
  $path: '';

  // get selector
  @for $i from 1 through $length {
    > input:nth-child(#{$i}):checked ~ {
      .ro-tabs > label:nth-child(#{$i}) {
        $path: $path + selector-str-sliced($len-base);
      }
    }
  }
  
  // *** output *** //
  $path: str-remove-comma($path);
  #{$path} { @content; }
}

/// Set panels' active styles.
/// 
/// $key: `$length`
/// @group components
/// @param {number} $key - key 
/// @example scss - Usage
/// .your-tab-class { 
///   @include tabs-panel-active(3) {
///     // panel active style
///   } 
/// }
/// // length: 3; (3 tabs)
///
/// @link http://creatiointl.org/gallery/william/rocket/components-tabs.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin tabs-panel-active($key) {
  $length: args-get-type($key, 'number', 0);
  $len-base: str-length(selector-str()) + 1 + 1; // space: 1, index +1
  $path: '';

  // get selector
  @for $i from 1 through $length {
    > input:nth-child(#{$i}):checked ~ {
      .ro-panels > div:nth-child(#{$i}) {
        $path: $path + selector-str-sliced($len-base);
      }
    }
  }
  // *** output *** //
  $path: str-remove-comma($path);
  #{$path} { @content; }
}
