%tooltip-common {
  opacity: 0;
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
%tooltip-content {
  padding: 0.67em;
  min-width: 8.5em;
  font-size: 0.8em;
}

@mixin tooltip($key: ('color': #000)) {
  $position: if(map-get($key, 'position'), map-get($key, 'position'), 'right');
  $color: if(map-get($key, 'color'), map-get($key, 'color'), #333);
  $content: if(map-get($key, 'content'), map-get($key, 'content'), attr(data-tooltip));
  $border-radius: map-get($key, 'border-radius');

  

  position: relative;
  cursor: pointer;
  &:before, 
  &:after {
    @extend %tooltip-common;
    #{$position}: -8px;
  }
  &:after {
    @extend %tooltip-content;
    content: $content;
    color: contrast( ('color': $color) );
    background: $color;
    @if $border-radius { border-radius: $border-radius; }
  }
  &:hover { 
    &:before,
    &:after { 
      opacity: 1;
      z-index: 9999;
    }
  }

  // horizontal or vertical
  @if $position == top or $position == bottom {
    &:before,
    &:after { left: 50%; }
    &:before { margin-left: -6px; }
  } @else if $position == left or $position == right {
    &:before,
    &:after { top: 50%; }
    &:before { margin-top: -8px; }
  }

  // individual direction
  @if $position == top {
    &:before { @include ro-triangle(12px, $color, down); }
    &:after { @include ro-transform(translate(-50%, -100%)); }
  } @else if $position == bottom {
    &:before { @include ro-triangle(12px, $color, up); }
    &:after { @include ro-transform(translate(-50%, 100%)); }
  } @else if $position == left {
    &:before { @include ro-triangle(12px, $color, right); }
    &:after { @include ro-transform(translate(-100%, -50%)); }
  } @else if $position == right {
    &:before { @include ro-triangle(12px, $color, left); }
    &:after { @include ro-transform(translate(100%, -50%)); }
  }
}