.checkbox-1 {
  margin-top: 10px;

  @include checkbox() {
    padding: 4px 0 4px 26px;
    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 0 5px #fff, 0 0 0 6px #0080FF;
      transform: translateX(-16px) translateY(-2px);
    }
  };
  
  @include checkbox-active() {
    &:before {
      background-color: #0080FF;
    }
  };
}
