@import 'demo-base';

// *** addons: off canvans *** //

.mb-nav a,
.site-nav a { white-space: nowrap; }
.mb-nav {
  @include off-canvas(translate 300px '1em' left #102244 animation);
}
.icon-nav { cursor: pointer; }
.page {
  @include page-container(translate left 300px);
  padding-top: 1px;
}
