// *** container *** //

@mixin container(
  $container,
  $gutter: false,
  $align: center
){
  $container: add-unit($container, em);
  $gutter: add-unit($gutter, em);

  max-width: $container;

  @if unit($container) == '%' { margin: 0 auto; }
  @else {
    margin: 0 $gutter;
    @if unit($gutter) == '%' {
      @if $align == center {
        @include bp-mi($container + em(40)) { margin: 0 auto; }
      }
      @else { 
        @include bp-mi($container + em(40)) { margin-#{opposite($align)}: auto; }
      }
    }
    @else {
      @if $align == center {
        @include bp-mi(($container + ($gutter * 2))) { margin: 0 auto; }
      }
      @else { 
        @include bp-mi(($container + ($gutter * 2))) { margin-#{opposite($align)}: auto; }
      }
    }
  }
}

