// *** span *** //

// column-width-percentage (for span)
@function column-width-percentage ( $columns, $gutter ){
  @if get-unit($gutter) == '0' { @return percentage(1 / $columns); }
  @else if get-unit($gutter) == 'percentage' {
		@return percentage(100% / (percentage($columns) + ($columns - 1) * $gutter));
  }
}

// gutter-width-percentage (for span)
@function gutter-width-percentage ( $columns, $gutter ){
  @return column-width-percentage($columns, $gutter) * strip-units($gutter) / 100; 
}

@mixin span(
	$column,
	$columns: map-get($layout, columns),
	$gutter: map-get($layout, gutter),
	$pull: false,
	$push: false,
	$float: false,
	$last: false
){
	// direction
	@if $float == left or $float == right { float: $float; }
	@else { float: left; }

	// change order
	@if $push or $pull { @extend %layout-relative; }

	// set default
	@if $columns == default { $columns: map-get($layout, columns); }
	@if $gutter == default { $gutter: map-get($layout, gutter); }

	// add unit to gutter
	@if $gutter { $gutter: add-unit($gutter); }

	// no gutter
	@if get-unit($gutter) == '0' {
	  width: column-width-percentage($columns, 0) * $column;
	  @if $push and $push != 0 { left: percentage($push / $columns); }
	  @if $pull and $pull != 0 { left: percentage(-$pull / $columns); }
	}
	@else if get-unit($gutter) == 'percentage' {
		$cw: column-width-percentage($columns, $gutter);
		$gw: gutter-width-percentage($columns, $gutter);

		width: $cw * $column + $gw * ($column - 1);
		@if not $last { 
			@if $float == left or $float == right {
				margin-#{opposite($float)}: $cw * strip-units($gutter) / 100; 
			}
			@else { margin-right: $cw * strip-units($gutter) / 100; }
		}

		@if $push and $push != 0 { left: ($cw + $gw) * $push; }
		@if $pull and $pull != 0 { left: -($cw + $gw) * $pull; }
	}
	@else {
		@at-root (without: media) { @extend %layout-span; }

		width: percentage($column / $columns);
		padding: 0 ($gutter / 2);

		@if $push and $push != 0 { left: percentage($push / $columns); }
		@if $pull and $pull != 0 { left: percentage(-$pull / $columns); }
	}
}

