<ul>
  <li class="media-list-1">
    <figure class="media"><a href=""><img src="http://placehold.it/120x80" alt=""></a></figure>
    <div class="media-body">
      <p>Beatae nulla distinctio minima eos quibusdam tempore. Laudantium fuga neque incidunt velit, totam nobis, culpa mollitia dignissimos quis molestias minima.</p>
      <div class="media-list-2">
        <div class="media-body">
          <p>Est assumenda facere eius eveniet facilis id odit dignissimos fuga a iusto cum ut corporis laudantium fugit, neque quod. Aliquid.</p>
        </div>
        <figure class="media"><a href=""><img src="http://placehold.it/120x80" alt=""></a></figure>
      </div>
    </div>
  </li>
</ul>