@function list-ascend($list) {
  $list-old: $list;
  $list-new: ();
  
  @while length($list-old) > 1 {
    $list-new: append($list-new, min($list-old...));
    $list-old: reject($list-old, min($list-old...));
  }
  $list-new: append($list-new, nth($list-old, 1));
  
  @return $list-new;
}
