@function reject($list, $val){
  $result: ();

  @if type-of($list) == 'list' {
    @each $item in $list {
      @if $item != $val {
        $result: append($result, $item);
      }
    }
  } @else {
    $result: $list;
  }

  @return $result;
}