<div class="input-file-1">
  <input type="file" id="input-file-id" data-multiple-caption="{count} files selected" multiple />
  <label for="input-file-id">Choose a file</label>
</div>

<script src="path/to/input-file.js"></script>
<script type="text/javascript">
  inputFile('#input-file-id');
</script>