<div class="input-file">
  <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
  <label for="file"><span>Choose a file</span></label>
</div>
<script src="path/to/input-file.js"></script>
<script type="text/javascript">
  inputFile('#file');
</script>