.contrast-1 {
  background-color: #a6e36e; 
  color: contrast(#a6e36e);
}
.contrast-2 {
  background-color: #800000;
  color: contrast(#800000);
}
.contrast-3 {
  background-color: #6666FF;
  color: contrast(#6666FF light #D6D6E6);
}