@function args-get-type($key, $type, $check:false, $def:false) {
  $result: $def;

  @if not $key { @return $result; }
  
  @if type-of($key) == $type {
    $result: not-exist-check($check, $key, $def);
  } @else if type-of($key) == 'list' {
    @each $item in $key {
      @if $result == $def and type-of($item) == $type {
        @if index($check, $item) == null {
          $result: $item;
        }
      }
    }
  }

  @return $result;
}