@function args-get-type($key, $type, $check:false, $def:false) {
  $result: $def;

  @if not $key { @return $result; }
  
  @if type-of($key) == $type {
    $result: not-exist-check($check, $key, $def);
  } @else if type-of($key) == 'list' {
    @each $item in $key {
      @if type-of($item) == $type {
        $result: not-exist-check($check, $item, $def);
      }
    }
  }

  @return $result;
}

@function not-exist-check($collection, $key, $def) {
  @if $collection {
    @if index($collection, $key) == null {
      @return $key;
    } @else {
      @return $def;
    }
  } @else {
    @return $key;
  }
}