@function get-TRBL($key) {
  $top: args-get-next($key, top, 0);
  $right: args-get-next($key, right, 0);
  $bottom: args-get-next($key, bottom, 0);
  $left: args-get-next($key, left, 0);

  @return ($top $right $bottom $left);
}
