@function is-number-map-list($list) {
  @if type-of($list) != 'list' {
    @warn '"#{$list}" is not a list';
    @return false;
  } @else {

    $types: ();
    @each $item in $list {
      @if type-of($item) == 'list' {

        @each $sub-item in $item {
          @if type-of($sub-item) == 'list' {
            
            @each $sub-sub-item in $sub-item {
              @if type-of($sub-sub-item) != 'number' and type-of($sub-sub-item) != 'map' {
                $types: append($types, false); 
              } @else {
                $types: append($types, true);
              }
            }
          } @else {
            @if type-of($sub-item) != 'number' and type-of($sub-item) != 'map' {
              $types: append($types, false); 
            } @else {
              $types: append($types, true);
            }
          }
        }
      } @else {
        @if type-of($item) != 'number' and type-of($item) != 'map' {
          $types: append($types, false); 
        } @else {
          $types: append($types, true);
        }
      }
    }

    @return if(index($types, false), false, true);
  }
}