@function is-number-map-list($list) {
  @if type-of($list) != 'list' {
    @return false;
  }

  $is-number-map-list: true;
  @each $item in $list {
    // if $is-number-map-list: false, no need for further check
    @if $is-number-map-list and
        type-of($item) != 'number' and
        type-of($item) != 'map' {
      @if type-of($item) == 'list' {
        $is-number-map-list: is-number-map-list($item);
      } @else {
        $is-number-map-list: false;
      }
    }
  }

  @return $is-number-map-list;
}