@function is-simple-map($map) {
  @if type-of($map) == 'map' {
    $types: ();
    $list: map-values($map);

    @each $item in $list {
      $type: type-of($item);
      @if index(('string' 'number' 'null' 'bool'), $type) {
        $types: append($types, true);
      } @else {
        $types: append($types, false);
      }
    }

    @return if(index($types, false), false, true);
  } @else {
    @warn '"#{$map} is not a map."';
  }
}
