@function list-increase($list) {
  @if type-of($list) != 'list' {
    @warn '"#{$list}" is not a list.'
  }

  @each $item in $list {
    @if type-of($item) != 'number' {
      @warn '"#{$item}" is not a number.'
    }
  }

  $list: $list;
  $return: ();
  
  @while length($list) > 1 {
    $min: min($list...);

    $return: append($return, $min);
    $list: list-remove($list, $min);
  }
  $return: append($return, nth($list, 1));
  
  @return $return;
}
