<div class="gallery-4">
  <div><div data-content></div></div>
  <div><div data-content></div></div>
  <div><div data-content></div></div>
  <div><div data-content></div></div>
  <div><div data-content></div></div>
</div>