<ul class="gallery-1">
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
</ul>