<ul class="between-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="between-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>