$charts-data1: (
  #5AB5E1: 8.9 10.5 19.3 21.45,
);
.charts-1 { @include charts($charts-data1 'bar' 'steps' (2 22)); }
 
$charts-data2: (
  #E44B22: 8.9 10.5 19.3 21.45,
  #E48A22: 5 10 16 22,
  #22A1E4: 10.7 12 12 18,
);
.charts-2 { @include charts($charts-data2 'column' 'steps' (2 24) 'hide' ('numbers')); }

[class*="charts-"] {
  margin-bottom: 2em;
}