/* inject:scss */
$ro-layout: (
  container: 1024px,
  gutter: 20px,
);
.container1 { @include container(600px); }
.container2 {
  @include container(800px gutter 2% left);
}
.grid1 { @include grid( (3 7 4) ); }
.grid2 { @include grid( (3 7 4 : 1 0 0) ); }
$main: ( (3 7 4) (2 5) );
.grid3 { @include grid($main); }
.grid4 { @include grid( (2 5) child section); }
$breakpoints: (
  medium: 800px,
  large: 1200px,
);
$main: (
  'default': (3 4) ( 2 5) 1,
  medium: (2 7 3: 1 0 1) (1 1: 1 0),
  1000px: (2 7 3 4 4),
);
.grid5 { @include grid($main $breakpoints); }
.liquid-2-1 { @include liquid-2( ('auto' 200px) ); }
.liquid-2-2 {
  @include liquid-2( ('auto':2, 200px:1) gutter 10px);
}
.liquid-3-1 { @include liquid-3( (150px 'auto' 200px) ); }
.liquid-3-2 { 
  @include liquid-3( (150px:0, 'auto':2, 200px:1) ); 
}
.gallery-1 { @include gallery(3); }
.gallery-2 { @include gallery(4 gutter 2% RTL); }
.gallery-3 {
  @include gallery( ('default': 2, 600px: 3, 800px: 4) ); 
}
.masonry-1 { @include masonry(3); }
.masonry-2 { @include masonry(4 gutter 20px); }
$masonry-3-layout: ('default': 1, 600px: 2, 768px: 3, 1024px: 4);
.masonry-3 { @include masonry($masonry-3-layout child '.panel'); }
.metro-1 { 
  @include metro( (w5 w3 2 h2 w2 w4 of 5) gutter 10px); 
  > li:nth-child(3) { float: right; };
}
.diamond-1 { @include diamond(3 'tight'); }
.diamond-2 { @include diamond(20%); }
.diamond-3 { @include diamond(octagon 200px); }
.main { @include angled-edges("bottom" -5deg); }
.demo-sticky-footer { @include sticky-footer('.main'); }
.justify { @include justify(); }
.popup { @include center('div'); }
$data1: (
  #5AB5E1: 8.9 10.5 19.3 21.45,
);
.charts { @include charts($data1 'bar' 'steps' (2 22) animation (0.6s)); }
 
$data2: (
  #E44B22: 8.9 10.5 19.3 21.45,
  #E48A22: 5 10 16 22,
  #22A1E4: 10.7 12 12 18,
);
.charts { @include charts($data2 'column' 'steps' (2 24) 'hide' ('numbers' 'labels')); }
.table { 
  @include rp-table('flip-scroll' 'bp' 900) {
 border-right-width: 1px;
 > tbody > tr:last-child > td { border-right-width: 0; }
  }
}
 
.scroll-wrapper { 
  @include rp-table('scroll' bp 900) {
    .table {
      border-right-width: 1px;
      th:last-child, td:last-child { border-right-width: 0; }
      .lt-ie10 & { 
        border-right-width: 0; 
        th:last-child, td:last-child { border-right-width: 1px; }
      }
    }
  } 
}
 
.table {
  @include rp-table('toggle' 'bp' 900 'count' 10);
}
 
.table {
  @include rp-table('stack' 'bp' 900 #dbdbdb 'data' ("First Name", "Last Name", "Job Title", "Favorite Color", "Wars or Trek?", "Porn Name", "Date of Birth", "Dream Vacation City", "GPA", "Arbitrary Data")) {
 tr:nth-of-type(2n) { background-color: #f5f5f5; }
 td:before { margin-right: 7px; }
  }
}
.page { @include off-canvas('slide-in' left 'submenu' '.nav' rgba(0, 0, 0, 0.1) 200px 0.5s); }
 
$breakpoints: (
  small: 600px,
  medium: 1000px,
);
$map: (
  500px: 20px, 
  small: 30px, 
  medium: 40px, 
  null: 50px 
);
 
.page { @include off-canvas("drawer" ".nav" left $map $breakpoints rgba(0, 0, 0, 0.1) 200px 0.5s); }
.myform { @include validation(slide-in right default); }
.button { @include button('1em 2em' #2B8ACF #52CFDB 5px bubble '.active'); }
.box { @include parallelogram(#61A4DE -30deg); }
.box { @include drop-shadows(curve horizontal 20px); }
.switch { @include switch(round text ("on" "off") 36px #399DE1); }
.your-tab-class { 
  label {
    padding: 1em 1.5em;
    background-image: linear-gradient(to bottom, #fff, #e1e1e1);
    border: 1px solid #ccc;
  }
 
  @include push-toggle(){
    background-image: linear-gradient(to bottom, #ebebeb, #fff);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) inset;
  }
}
.radio {
  @include checkbox() {
 padding: 4px 0 4px 26px;
 background: url('../images/radio.png') 0 50% no-repeat;
  }
}
.radio {
  @include checkbox-active() {
 background-image: url('../images/radio-active.png');
  }
}
.radio {
  @include input-file() {
  }
}
.your-tab-class { @include tabs(3 'carousel'); }
.your-tab-class { 
  @include tabs-active(3) {
  } 
}
.your-tab-class { 
  @include tabs-panel-active(3) {
  } 
}
.accordion { @include accordion(div 200px 0.4s); }
.dropdown { @include dropdown(ul hover display right default); }
.tooltip { @include tooltip(radius right #b02df3 width 300px); }
.news .media { @include media-list('media'); } 
 
.news .media { @include media-list('media' 15px right); }
 
.news .media-body { @include media-list('media-body'); }
.video { @include flex-media(3/4); }
 
.svg-wrapper { @include flex-media(9/16 svg); }
.type-1 { @include type(30px 1.8 'Georgia, Helvetica, sans-serif'); }
.type-2 { @include type(30px 1.8 uppercase bold italic right); }
.fluid-type-1 { @include fluid-type(font-size, (320px: 16px, 1024px: 40px)); }
$responsive-type-1: (
  'default': (15px 1.3 right uppercase),
  900px: 18px,
  1020px: 20px,
);
.responsive-type-1 { @include rp-type($responsive-type-1); }
 
$bp: (
  'small': 480px,
  'medium': 700px,
  'large': 1024px,
);
$responsive-type-2: (
  'default': (18px 1.3 weight-normal),
  900px: 22px,
  'large': (30px 1.2),
);
.responsive-type-2 { @include rp-type($responsive-type-2 $bp); }
.hide-text-1 {
  @extend %hide-text;
  width: 100px;
  height: 60px;
  background: #ccc url('http://placehold.it/100x60/DD279E/ffffff?text=Brand') 0 0 no-repeat;
}
.opacity { @include opacity(0.3); }
.lt-ie9 .ie-rgba { @include ie-rgba(rgba(0,0,0,0.7)); }
@include bp('min' 640) {};
@include bp('min' 'height' 640) {};
@include bp('max' 640 screen) {};
@include bp(400 767 1000 1200 1500) {};
.at-least-1 {
  li { display: inline-block; width: 100px; }
  @include at-least('li' 4) { background-color: #25e425; }
}
.at-most-1 {
  li { display: inline-block; width: 100px; }
  @include at-most('li' 4) { background-color: #25e425; }
}
.equal-to-1 {
  li { display: inline-block; width: 100px; }
  @include equal-to('li' 4) { background-color: #25e425; }
}
.between-1 {
  li { display: inline-block; width: 100px; }
  @include between('li' 4 6) { background-color: #25e425; }
}
.visible-1 { @include visible(700px); }
.visible-2 { @include visible(0 700px); }
.hidden-1 { @include hidden(700px); }
.hidden-2 { @include hidden(300px 500px 700px); }
.contrast-1 {
  background-color: #a6e36e;
  color: contrast(#a6e36e);
}
.contrast-2 {
  background-color: #800000;
  color: contrast(#800000);
}
.contrast-3 {
  background-color: #6666FF;
  color: contrast(#6666FF light #D6D6E6);
}
.adjacent-0 { background-color: #155BDF; }
.adjacent-1 { background-color: adjacent(#155BDF 1); }
.adjacent-2 { background-color: adjacent(#155BDF 2); }
.adjacent-3 { background-color: adjacent(#155BDF 3); }
.complementary-0 { background-color: #155BDF; }
.complementary-1 { background-color: complementary(#155BDF 1); }
.split-complementary-0 { background-color: #155BDF; }
.split-complementary-1 { background-color: split-complementary(#155BDF 1); }
.split-complementary-2 { background-color: split-complementary(#155BDF 2); }
.split-complementary-3 { background-color: split-complementary(#155BDF 3); }
.triad-0 { background-color: #155BDF; }
.triad-1 { background-color: triad(#155BDF 1); }
.triad-2 { background-color: triad(#155BDF 2); }
.rectangle-0 { background-color: #155BDF; }
.rectangle-1 { background-color: rectangle(#155BDF 1); }
.rectangle-2 { background-color: rectangle(#155BDF 2); }
.rectangle-3 { background-color: rectangle(#155BDF 3); }
.square-0 { background-color: #155BDF; }
.square-1 { background-color: square(#155BDF 1); }
.square-2 { background-color: square(#155BDF 2); }
.square-3 { background-color: square(#155BDF 3); }

/* endinject */