/* inject:scss */
$ro-layout: (
  container: 1024px,
  gutter: 20px,
);
.container1 { @include container(600px); }
.container2 {
  @include container(800px gutter 2% left);
}
.grid1 { @include grid( (3 7 4) ); }
.grid2 { @include grid( (3 7 4 : 1 0 0) ); }
$main: ( (3 7 4) (2 5) );
.grid3 { @include grid($main); }
$breakpoints: (
  medium: 800px,
  large: 1200px,
);
$main: (
  'default': (3 4) ( 2 5) 1,
  medium: (2 7 3: 1 0 1) (1 1: 1 0),
  1000px: (2 7 3 4 4),
);
.grid5 { @include grid($main $breakpoints); }
.liquid-2-1 { @include liquid-2( ('auto' 200px) ); }
.liquid-2-2 { @include liquid-2( ('auto':2, 200px:1) ); }
.wrapper { @include liquid-3( (150px 'auto' 200px) ); }
 
.wrapper { @include liquid-3( (150px:0, 'auto':2, 200px:1) ); }
.gallery { @include gallery(3); }
 
.gallery { @include gallery(4 gutter 2% RTL); }
 
$map: (
  'default': 2, 
  600: 3,
  800: 4,
);
.gallery { @include gallery($map); }
.masonry { @include masonry(3); }
 
.masonry { @include masonry(4 gutter 20px); }
 
$map: (
  'default': 1, 
  600px: 2,
  768px: 3,
  1024px: 4
);
.masonry { @include masonry($map gutter 20px child '.panel'); }
 
.no-csscolumns {
  .masonry {
    text-align: center;
    > li {
      display: inline-block;
      vertical-align: top;
      width: 250px;
      margin: 0 20px 20px 0;
      text-align: left;
    }
  }
}
.main { @include metro(3 1 h2 1 w3 of 3); }
.diamond { @include diamond(5 'combined'); }
 
.diamond { @include diamond(20%); }
.main { @include angled-edges("bottom" -5deg); }
.demo-sticky-footer { @include sticky-footer('.main'); }
.justify { @include justify(); }
.popup { @include center('div'); }
$data1: (
  #5AB5E1: 8.9 10.5 19.3 21.45,
);
.charts { @include charts($data1 'bar' 'steps' (2 22) animation (0.6s)); }
 
$data2: (
  #E44B22: 8.9 10.5 19.3 21.45,
  #E48A22: 5 10 16 22,
  #22A1E4: 10.7 12 12 18,
);
.charts { @include charts($data2 'column' 'steps' (2 24) 'hide' ('numbers' 'labels')); }
.table { 
  @include rp-table('flip-scroll' 'bp' 900) {
 border-right-width: 1px;
 > tbody > tr:last-child > td { border-right-width: 0; }
  }
}
 
.scroll-wrapper { 
  @include rp-table('scroll' bp 900) {
    .table {
      border-right-width: 1px;
      th:last-child, td:last-child { border-right-width: 0; }
      .lt-ie10 & { 
        border-right-width: 0; 
        th:last-child, td:last-child { border-right-width: 1px; }
      }
    }
  } 
}
 
.table {
  @include rp-table('toggle' 'bp' 900 'count' 10);
}
 
.table {
  @include rp-table('stack' 'bp' 900 #dbdbdb 'data' ("First Name", "Last Name", "Job Title", "Favorite Color", "Wars or Trek?", "Porn Name", "Date of Birth", "Dream Vacation City", "GPA", "Arbitrary Data")) {
 tr:nth-of-type(2n) { background-color: #f5f5f5; }
 td:before { margin-right: 7px; }
  }
}
.page { @include off-canvas('slide-in' left 'submenu' '.nav' rgba(0, 0, 0, 0.1) 200px 0.5s); }
 
$breakpoints: (
  small: 600px,
  medium: 1000px,
);
$map: (
  500px: 20px, 
  small: 30px, 
  medium: 40px, 
  null: 50px 
);
 
.page { @include off-canvas("drawer" ".nav" left $map $breakpoints rgba(0, 0, 0, 0.1) 200px 0.5s); }
.myform { @include validation(slide-in right default); }
.button { @include button('1em 2em' #2B8ACF #52CFDB 5px bubble '.active'); }
.box { @include parallelogram(#61A4DE -30deg); }
.box { @include drop-shadows(curve horizontal 20px); }
.switch { @include switch(round text ("on" "off") 36px #399DE1); }
.your-tab-class { 
  label {
    padding: 1em 1.5em;
    background-image: linear-gradient(to bottom, #fff, #e1e1e1);
    border: 1px solid #ccc;
  }
 
  @include push-toggle(){
    background-image: linear-gradient(to bottom, #ebebeb, #fff);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) inset;
  }
}
.radio {
  @include checkbox() {
 padding: 4px 0 4px 26px;
 background: url('../images/radio.png') 0 50% no-repeat;
  }
}
.radio {
  @include checkbox-active() {
 background-image: url('../images/radio-active.png');
  }
}
.radio {
  @include input-file() {
  }
}
.your-tab-class { @include tabs(3 'carousel'); }
.your-tab-class { 
  @include tabs-active(3) {
  } 
}
.your-tab-class { 
  @include tabs-panel-active(3) {
  } 
}
.accordion { @include accordion(div 200px 0.4s); }
.dropdown { @include dropdown(ul hover display right default); }
.tooltip { @include tooltip(radius right #b02df3 width 300px); }
.news .media { @include media-list('media'); } 
 
.news .media { @include media-list('media' 15px right); }
 
.news .media-body { @include media-list('media-body'); }
.video { @include flex-media(3/4); }
 
.svg-wrapper { @include flex-media(9/16 svg); }
h1 { @include type(20px 'Georgia, Helvetica, sans-serif' center 1.4 bold italic); }
 
 
h2 { @include fluid-type(font-size, (320px: 24px, 1024px: 40px)); }
$bp: (
  'small': 480px,
  'medium': 700px,
  'large': 1024px
);
$p-font-sizes: (
  'default': (15px 1.3 right uppercase),
  'small': 16px,
  'medium': (17px 1.4),
  900px: 18px,
  'large': (19px 1.45),
  1440px: 20px
);
$h3-font-sizes: (
  'default': (18px 1.3 weight-normal),
  900px: 22px,
  'large': (30px 1.2),
);
 
.demo-responsive-type-h3 { @include rp-type($h3-font-sizes $bp); }
.demo-responsive-type-p { @include rp-type($p-font-sizes $bp); }
.logo { 
  @extend %hide-text; 
}
.example { @include opacity(0.3); }
.lt-ie9 .example { @include ie-rgba(rgba(0,0,0,0.7)); }
@include bp('min' 640) {};
@include bp('min' 'height' 640) {};
@include bp('max' 640 screen) {};
@include bp(400 767 1000 1200 1500) {};
.nav {
  @include at-least('li' 4) { width: 25%; }
}
.nav {
  @include at-most('li' 4) { width: 25%; }
}
.nav {
  @include equal-to('li' 4) { width: 25%; }
}
.nav {
  @include between('li' 4 6) { width: 25%; }
}
@include visible(500)
@include hidden(screen 300 500 700)
.main { color: contrast(#a6e36e); }
.main { color: adjacent(#a6e36e -1 saturation 10% lightness -20% dist 20); }
.main { color: complementary(#a6e36e saturation 20%); }
.main { color: split-complementary(#a6e36e 2); }
.main { color: triad(#a6e36e 2); }
 
.main { color: rectangle(#a6e36e -3); }
.main { color: square(#a6e36e 3); }

/* endinject */