:not(pre) > code[class*="language-"], pre[class*="language-"] { background-color: $lightgray; }
pre[class*="language-"] { 
  margin: 0; 
  overflow: hidden;
}
pre[class*="language-"] > code[data-language] {
  max-height: none;
  overflow: auto;
}
pre[class*="language-"] > code[data-language]::before { display: none; }
pre > code[class*="language-"] {
  margin: 0 0 -1em 0;
  display: block;
  overflow: auto;
}
.docs-wrapper {
  @include container(1600px left); 
  padding-left: ($logo-width-sm + 20px);
  @include bp(min $bp-docs) { padding-left: 0; }
  main {
    h2, h4, p, .code-wrapper { 
      margin-bottom: 20px;
    }
    > ul > li { padding: 20px 0; }
    .browser-capability {
      font-style: italic;
      color: #999;
    }
    h2 { @include type(32px uppercase); }
    h4 { @include type(22px); }
    p { max-width: 46em; }
  }
  @include bp(min $bp-docs) {
    @include liquid-2(($nav-width 'auto') child (nav main));
  }
}
.docs-nav {
  width: $nav-width;
  &.expanded { 
    transform: translateX(0);
    .docs-nav__content {
      box-shadow: 3px 0 7px rgba(0, 0, 0, 0.2);
    }
    .docs-nav__toggle svg { transform: rotate(180deg); }
  }
  &__toggle {
    position: absolute;
    bottom: 4em;
    right: -$logo-width-sm;
    width: $logo-width-sm;
    text-align: center;
    border: none;
    background-color: $color-code-header;
    padding: 0.5em 0;
    cursor: pointer;
    border-radius: 0;
    > svg { margin: 0 auto; }
  }
  &__content {
    @include type(15px);
    ul { margin-bottom: 3em; }
    h4, a { line-height: 2.4; }
    h4 {
      margin-bottom: 0;
      padding-left: 2em;
    }
    a {
      display: block;
      padding-left: 3em;
      transition: background-color 0.25s;
      &:hover { background-color: #eee; }
    }
    .active a { 
      color: #fff;
      background-color: $color-code-header; 
    }
  }
  @include bp(max $bp-docs) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(- $nav-width);
    transition: transform 0.25s;
    z-index: $zi-docs-nav;
    &__content {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
    }
  }
  @include bp(min $bp-docs) {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: auto;
    box-shadow: 4px 12px 10px rgba(0, 0, 0, 0.15);
    &__toggle { display: none; }
  }
}
.code-wrapper { 
  > ul, > pre { border-radius: 0 0  3px 3px; }
  header {
    line-height: 2;
    padding: 0 1em;
    color: #fff;
    background-color: $color-code-header;
    border-radius: 3px 3px 0 0;
    span { color: $lightblue; }
  }
  li {
    width: 100%;
    float: left;
  }
  ul {
    @extend %clearfix;
    background-color: $lightgray;
    @include bp(min 1024) {
      @include at-least('li' 2) { width: calc(100% / 2); }
    }
    @include bp(min 1300) {
      @include at-least('li' 3) { width: calc(100% / 3); }
    }
  }
}