// intro
.intro { text-align: center; }

// features
.features {
  background-color: $lightgray;
  padding:1px 0 50px;
  text-align: center;
  @include bp(min 610) {
    ul { margin-right: -30px; }
    li {
      display: inline-block;
      vertical-align: top;
      max-width: 270px;
      margin-right: 30px;
    }
  }
  svg {
    margin: 50px auto 50px;
    height: 90px;
  }
}

// get started
.get-started {
  h2 {
    @include fluid-type(font-size, (320px: 20px, map-get($ro-layout, 'container'): 32px));
    padding-bottom: #{$section-gap};
    text-align: center;
    border-bottom: $border;
  }
  li {
    @extend %clearfix;
    padding: 5% 0;
    &:last-child { padding-bottom: 0; }
    @include bp(min 600px) {
      .media { width: $get-started-media-width; }
      .media-body {
        width: calc(100% - #{$get-started-media-width} - 20px);
      }
      &:nth-child(odd) .media, 
      &:nth-child(even) .media-body { float: left; }
      &:nth-child(odd) .media-body, 
      &:nth-child(even) .media { float: right; }
    }
  }
}
