// video
.video-wrapper {
  padding: 3% 3% 2.5%;
}
#video-home {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  @include bp(800) {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }
}

// intro
.intro { 
  text-align: center; 
  p {
    @include fluid-type(font-size, (300px: 24px, 1024px: 36px));
    font-weight: 300;
    margin-top: 0;
  }
}

// features
.features {
  // background-color: $lightgray;
  background-color: nth($theme-square, 4);
  text-align: center;
  overflow: hidden;
  [class*="language-"] { background-color: rgba(0, 0, 0, 0.07); }
  @include bp(min 610) {
    ul { margin-right: -30px; }
    li {
      display: inline-block;
      vertical-align: top;
      max-width: 300px;
      margin-right: 30px;
    }
  }
  .heading2 { border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  svg {
    margin: 50px auto 50px;
    height: 90px;
  }
}

// get started
.get-started {
  .heading2 { text-align: center; }
  ul { counter-reset: getstarted; }
  li {
    counter-increment: getstarted;
    @extend %clearfix;
    padding: 5% 0;
    border-top: $border;
    &:last-child { padding-bottom: 0; }
    @include bp(max 600px) {
      .media { display: none; }
    }
    @include bp(min 600px) {
      .media { 
        float: right;
        width: $get-started-media-width; 
        text-align: center;
        .code-wrapper { text-align: left; }
      }
      .media-body {
        float: left;
        width: calc(100% - #{$get-started-media-width} - 30px);
      }
    }
  }
  h4 {
    position: relative;
    &:before {
      content: counter(getstarted);
      margin: -0.5em 0.3em 0 0;
      display: inline-block;
      font-style: italic;
      font-size: 1.6em;
      color: $color-primary;
    }
  }
}

.whats-next {
  text-align: center;
  background-color: $lightgray;
}

// support
.support {
  padding: 30px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: darken($color-primary, 30%);
  p { margin-top: 0; }
  img { 
    margin-right: 0.5em;
    vertical-align: middle; 
  }
}