@import 'reset';
@import '../../../src/scss/rocket';
$ro-layout: (
  'container': 1200px,
  'gutter': 30px,
);

// colors
$black: #222;
$blue: #155485;
$lightblue: #84DBFF;
$gray: #4a4a4a;
$lightgray: #F7F7F7;

$border: 1px solid #ccc;
$section-gap: calc(3% + 10px);
$get-started-media-width: 32%;

// utilities
.container { @include container(); }
.section {
  margin: #{$section-gap} 0;
  @include bp(min map-get($ro-layout, 'container')) { 
    margin: 46px 0; 
  }
}
h4 { margin-bottom: 1.5em; }
p { 
  @include type(15px 1.5); 
  margin-bottom: 1.5em;
  &:last-child { margin-bottom: 0; }
}
small { font-size: 0.85em; }
svg { 
  display: block;
  height: auto; 
}

// header
.header-wrapper {
  background: $blue linear-gradient(to bottom, $blue, $lightblue) no-repeat;
}
.site-header {
  @extend %clearfix;
  color: #fff;
  .container { max-width: none; }
  &--sub { background-color: $blue; }
}
.logo {
  float: left;
  svg { 
    display: block; 
    padding: 10px 0;
  }
}
.site-nav {
  float: right;
  li { 
    @include type(15px);
    display: inline-block;
  }
  a { 
    display: block;
    padding: 0 10px;
    transition: background-color 0.25s;
    &:hover {
      background-color: rgba(#fff, 0.2);
    }
  }
  .active a { color: $lightblue; }
}
@include bp(max 600) {
  .logo {
    svg { width: 50px; }
    .svg-logo-text { display: none; }
  }
  .site-nav li { line-height: (50px * 56 / 54 + 20px); }
}
@include bp(min 600) {
  .logo {
    svg { width: 200px; padding: 20px 0; }
    .svg-logo { display: none; }
  }
  .site-nav li { line-height: (200px * 100 / 449 + 40px); }
}

// footer
.site-footer {
  color: #fff;
  background: $black;
  .container { 
    max-width: none;
    padding-top: 1px; 
    padding-bottom: 1px; 
  }
  p, li { @include type(14px); }
  p, ul { margin: 1.6% 0; }
  &__links {
    li { display: inline-block; 
      &:first-child a { padding-left: 0; }
      &:last-child a { padding-right: 0; }
    }
    a {
      display: block;
      padding: 0 0.5em;
    }
  }
  @include bp(500) {
    .copyright { float: left; }
    &__links { text-align: right; }
  }
}

@import 'home';
@import 'docs';