/// *adjacent* is for creating adjacent colors.
/// 
/// $key: `$color $order (saturation $saturation) (lightness $lightness) (dist $dist)`
/// @group color functions
/// @param {number | list} $key - key 
/// @example scss - Usage
/// .main { color: adjacent(#a6e36e -1 saturation 10% lightness -20% dist 20); }
/// // color: #a6e36e;
/// // order: -1;
/// // saturation: 10%;
/// // lightness -20%;
/// // distribution: 20;
/// 
/// @link http://creatiointl.org/gallery/william/rocket/color-adjacent.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@function adjacent($key){
  $key-new: ();

  @if type-of($key) == 'list' {
    $key-new: append($key, adjacent);
  } @else {
    $key-new: ($key adjacent);
  }

  @return color($key-new);
}