// *** adjacent *** //

@function adjacent($val){
  $val-new: ();

  @if type-of($val) == list {
    $val-new: append($val, adjacent);
  } @else {
    $val-new: ($val adjacent);
  }

  @return color($val-new);
}