// *** complementary *** //

@function complementary($key){
  $key-new: ();

  @if type-of($key) == list {
    $key-new: append($key, complementary);
  } @else {
    $key-new: ($key complementary);
  }

  @return color($key-new);
}
