// *** complementary *** //

@function complementary($val){
  $val-new: ();

  @if type-of($val) == list {
    $val-new: append($val, complementary);
  } @else {
    $val-new: ($val complementary);
  }

  @return color($val-new);
}
