/// *complementary* is for getting a complementary color.
/// 
/// $key: `$color $order (saturation $saturation) (lightness $lightness) (dist $dist)`
/// @group color functions
/// @param {number | list} $key - key 
/// @example scss - Usage
/// .main { color: complementary(#a6e36e saturation 20%); }
/// // color: #a6e36e;
/// // saturation: 20%;
/// 
/// @link http://creatiointl.org/gallery/william/rocket/color-complementary.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@function complementary($key){
  $key-new: ();

  @if type-of($key) == list {
    $key-new: append($key, complementary);
  } @else {
    $key-new: ($key complementary);
  }

  @return color($key-new);
}
