// *** rectangle *** //

@function rectangle($val){
  $val-new: ();

  @if type-of($val) == list {
    $val-new: append($val, rectangle);
  } @else {
    $val-new: ($val rectangle);
  }

  @return color($val-new);
}