/// *rectangle* is for getting rectangle colors based on a given color.
/// 
/// $key: `$color $order (saturation $saturation) (lightness $lightness) (dist $dist)`
/// @group color functions
/// @param {number | list} $key - key 
/// @example scss - Usage
/// .main { color: rectangle(#a6e36e, -3); }
/// // color: #a6e36e;
/// // order: -3; (-3 | -2 | -1 | 1 | 2 | 3)
/// 
/// @link https://github.com/ganlanyuan/rocket full document

@function rectangle($key){
  $key-new: ();

  @if type-of($key) == list {
    $key-new: append($key, rectangle);
  } @else {
    $key-new: ($key rectangle);
  }

  @return color($key-new);
}