// *** split-complementary *** //

@function split-complementary($val){
  $val-new: ();

  @if type-of($val) == list {
    $val-new: append($val, split-complementary);
  } @else {
    $val-new: ($val split-complementary);
  }

  @return color($val-new);
}