// *** square *** //

@function square($val){
  $val-new: ();

  @if type-of($val) == list {
    $val-new: append($val, square);
  } @else {
    $val-new: ($val square);
  }

  @return color($val-new);
}

