/// *triad* is for getting triad colors based on a given color.
/// 
/// $key: `$color $order (saturation $saturation) (lightness $lightness) (dist $dist)`
/// @group color functions
/// @param {number | list} $key - key 
/// @example scss - scss
/// .main { color: triad(#a6e36e, 2); }
/// // color: #a6e36e;
/// // order: 2; (-2 | -1 | 1 | 2)
/// 
/// @link https://github.com/ganlanyuan/rocket full document

@function triad($key){
  $key-new: ();

  @if type-of($key) == list {
    $key-new: append($key, triad);
  } @else {
    $key-new: ($key triad);
  }

  @return color($key-new);
}