// *** adjacent *** //

@function adjacent(
  $color,
  $order,
  $saturation: null,
  $lightness: null,
  $base: 30
){
  @return color(adjacent, $color, $order: $order, $saturation: $saturation, $lightness: $lightness, $base: $base);
}

