// placeholder
//-----------------------------

// clearfix
%ro-clearfix { @include clearfix; }

// link hover
%ro-hover-no-text-decoration {&:hover { text-decoration: none; } }

%ro-hidden-checkbox {
  position: absolute; 
  left: -9999em;
}

// transition
%ro-global-transition {
  -webkit-transition: all $ro-global-animation-duration $ro-global-bezier 0s;
  transition: all $ro-global-animation-duration $ro-global-bezier 0s;
}
