// *** triad *** //

@function tetrad(
  $color,
  $order,
  $saturation: null,
  $lightness: null,
  $base: 30
){
  @if not $saturation or $saturation == null { $saturation: 0; }
  @if not $lightness or $lightness == null { $lightness: 0; }
  
  @if abs($order) == 1 {
    @return adjust-color($color, $hue: ($base * $order / abs($order)), $saturation: $saturation, $lightness: $lightness);
  }
  @else if abs($order) == 2 {
    @return adjust-color($color, $hue: (180 * $order / abs($order)), $saturation: $saturation, $lightness: $lightness);
  }
  @else if abs($order) == 3 {
    @return adjust-color($color, $hue: ((180 + $base) * $order / abs($order)), $saturation: $saturation, $lightness: $lightness);
  }
}

