// variables
//-----------------------------

$em-base: 16px !default;
$rem-base: 16px !default;

// z-index
$z-index: 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100;

// transition
$global-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);

// off-canvas
$nav-width: 200px !default;
$cover-bg: rgba(0,0,0,.35) !default;
