@charset "UTF-8";
$font-path:"../../src/icon-font";
$cover-bg: rgba(48, 68, 117, .57);
@import "../../src/scss/rocket"; 
ul, ol { margin: 0; padding: 0; }
li { list-style: none; }
img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
}
%common {
  background-color: #dbdbdb;
  margin-bottom: 20px;
}
$gutter-2: (map-get($layout, gutter) / span(8) );
$gutter-3: (map-get($layout, gutter) / ( span(8) * span(6) ) );
$gutter-4: (map-get($layout, gutter) / ( span(8) * span(8) ) );
.container { @include container(); }
.main {
  @include span(8 of 12);
  @include bp-mi( em(640px) ) {
    &-left {
      @at-root (without:media) { @extend %common; }
      @include span(6 gutter $gutter-2);
    }
    &-right {
      @at-root (without:media) { @extend %common; }
      @include span(6 gutter $gutter-2 last);
    }
    .news { @include span(7 gutter $gutter-3); }
    .popular { @include span(5 gutter $gutter-3 last); }
  }
  @include bp-mi( em(980px) ) {
    &-left {
      @include span(8 gutter $gutter-2 keep);
    }
    &-right {
      @include span(4 gutter $gutter-2 keep);
    }
    .news { @include span(5 gutter $gutter-4); }
    .popular { @include span(7 gutter $gutter-4 last); }
  }
}
.aside {
  @extend %common;
  @include span(4 of 12 last);
}
.gallery {
  clear: both;
}
@include bp-mi( em(640px) ) {
  .gallery {
    @include gallery(3);
  }
}
@include bp-mi( em(980px) ) {
  .gallery {
    @include gallery(4 keep);
  }
}
