// *** slider-carousel *** //
@mixin slider-carousel(
  $items: 5,
  $perpage: 1,
  $gutter: 10px,
  $slide-by-page: false,
  $center: false,
  $autoplay: false,
  $hide: 'none', // none | controls | dots | autoplay
  $default: true
){
  $half: 0;
  $pages: $items - $perpage +1;
  $prefix: get-slider-selector(&);
  $id: "#" + $prefix;
  @if $center == true and $perpage > 1 { 
    $half: (1 / ($perpage * 2)); 
  }

  @at-root (without: media) { 
    // base
    @extend %slide-base; 
    @for $i from 1 through $items {
      #{$id}-#{$i}:checked ~ {
          .dots label:nth-child(#{$i}) .active { @extend %show; }
          .dots label:nth-child(#{$i}) .normal { @extend %hide; }
      }
    }
    // hide dots on autoplay
    @at-root {
      #{$id}-autoplay:checked ~ .dots { display: none; }
    }
    @each $item in controls, dots, autoplay {
      @if str-index($hide, $item) == null {
        // default style
        @if $default == true {
          @extend %default-#{$item};
        }
      }
      @else {
        // hide
        & .#{$item} { display: none !important; }
      }
    }
  }

  // container and items
  .slider-container {
    @if $perpage != 1 { li { width: percentage(1/$perpage) } }
    @if $gutter != 0 and $gutter != 0px and $gutter != null and $gutter != false {
      @if $center == false { margin: 0 (- $gutter); }
      .item { margin: 0 $gutter; }
    }
  }
  // setting inner
  @for $i from 1 through $items {
    @at-root {
      #{$id}-#{$i}:checked ~ {
        .slider-container .inner { 
          @if ($i / $perpage) >= floor($items / $perpage) and 
              ($i / $perpage) < ceil($items / $perpage) {
            left: - percentage(($items / $perpage) - 1 - $half);
          }
          @else {
            left: - percentage(($i - 1) / $perpage + $half); 
          }
        }
      }
    }
  }
  // hide extra dots
  @if str-index($hide, 'dots') == null {
    @if $slide-by-page == false {
      .dots label:nth-child(n + #{$pages + 1}) { display: none; }
    }
    // @else {
    //   @for $i from 2 through $perpage {
    //     .dots label:nth-child(#{$perpage}n + #{$i}) { display: none; }
    //   }
    //   .dots label:nth-child(#{$perpage}n + 1) { display: inline-block; }
    // }
  }

  // animation
  @if str-index($hide, 'autoplay') == null and $autoplay == true {
    @if $default { #{$id}-autoplay:checked ~ .autoplay label:before { content: '1'; } }

    $left-val: 0;
    $frames: 1;
    @if $slide-by-page == true { $frames: ceil($items/$perpage); }
    @else { $frames: $items + 1 - $perpage; }
    $unit: (100/($peritem * $frames));

    @include keyframes(#{$prefix}-inner) {
      @for $i from 1 through $frames {
        @if $slide-by-page == true {
          @if (- ($i - 1) * 100%) < percentage(1 - $items / $perpage) {
            $left-val: percentage(1 - $items / $perpage);
          }
          @else { $left-val: (- ($i - 1) * 100%);}

          #{percentage((($i - 1) * $peritem) * $unit / 100)} { left: $left-val; }
          #{percentage(($i * $peritem - $play) * $unit / 100)} { left: $left-val; }
        }
        @else { 
          $left-val: percentage(- ($i - 1) / $perpage);

          #{percentage((($i - 1) * $peritem) * $unit / 100)} { left: $left-val; }
          #{percentage(($i * $peritem - $play) * $unit / 100)} { left: $left-val; }
        }
      }
      100% { left: 0; }
    }
    @at-root {
      #{$id}-autoplay:checked ~ {
        .slider-container .inner { @include animation(#{$prefix}-inner $peritem * $frames ease infinite); }
        .controls { display: none !important; }
      }
    }
  }
  @else { .autoplay { display: none; } }

  // setting controls
  @at-root {
    @if str-index($hide, 'controls') == null {
      @for $i from 1 through $items {
        #{$id}-#{$i}:checked ~ {
          .controls label:nth-child(n+1) { display: none; }
          @if $slide-by-page == true {
            // prev
            @if $i == 1 {
              .controls label:nth-child(#{$items - $perpage + 1}),
              .controls label:nth-child(#{$items - $perpage + 1}) .prev { display: block; }
            }
            @else if $i > 1 and $i <= $perpage {
              .controls label:nth-child(1),
              .controls label:nth-child(1) .prev { display: block; }
            }
            @else {
              .controls label:nth-child(#{$i - $perpage}),
              .controls label:nth-child(#{$i - $perpage}) .prev { display: block; }
            }
            // next
            @if $i >= ($items - $perpage + 1) {
              .controls label:nth-child(1),
              .controls label:nth-child(1) .next { display: block; }
            }
            @else if $i > ($items - $perpage * 2 + 1) and $i < ($items - $perpage + 1) {
              .controls label:nth-child(#{$items - $perpage + 1}),
              .controls label:nth-child(#{$items - $perpage + 1}) .next { display: block; }
            }
            @else {
              .controls label:nth-child(#{$i + $perpage}),
              .controls label:nth-child(#{$i + $perpage}) .next { display: block; }
            }
          }
          @else {
            @if $i == 1 {
              .controls label:nth-child(#{$pages}), 
              .controls label:nth-child(#{$i + 1}),
              .controls label:nth-child(#{$pages}) .prev, 
              .controls label:nth-child(#{$i + 1}) .next { display: block; }
            }
            @else if $i < $pages {
              .controls label:nth-child(#{$i - 1}), 
              .controls label:nth-child(#{$i + 1}),
              .controls label:nth-child(#{$i - 1}) .prev, 
              .controls label:nth-child(#{$i + 1}) .next { display: block; }
            }
            @else {
              .controls label:nth-child(#{$i - 1}), 
              .controls label:nth-child(1),
              .controls label:nth-child(#{$i - 1}) .prev, 
              .controls label:nth-child(1) .next { display: block; }
            }
          }
        }
      }
    }
  }

}
