// *** slider-carousel *** //
@mixin slider-carousel($key){
  $items: 1;
  $perpage: 1;
  $gutter: 10px;
  $slide-by-page: false;
  $center: false;
  $autoplay: false;
  $default: false;

  @if type-of($key) == number {
    $item: $key;
  } @else if type-of($key) == list {
    @for $i from 1 through length($key) {
      $val: nth($key, $i);

      @if $val == bypage {
        $slide-by-page: true;
      } @else if $val == center {
        $center: true;
      } @else if $val == autoplay {
        $autoplay: true;
      } @else if $val == default {
        $default: true;
      }

      @if index($key, by) {
        $items: get-prev($key, by);
        $perpage: get-next($key, by);
      } @else if type-of($val) == number {
        @if unitless($val) {
          $items: $val;
        } @else {
          $gutter: $val;
        }
      }
    }
  }

  $half: 0;
  $pages: $items - $perpage + 1;
  $prefix: get-slider-selector(&);
  $id: "#" + $prefix;
  @if $center and $perpage > 1 { 
    $half: (1 / ($perpage * 2)); 
  }

  @at-root (without: media) { 
    // set basic inner, controls, dots styles
    @extend %slide-base; 

    @at-root {
      // active dots
      @for $i from 1 through $items {
        #{$id}-#{$i}:checked ~ {
            .dots label:nth-child(#{$i}) .active { @extend %show; }
            .dots label:nth-child(#{$i}) .normal { @extend %hide; }
        }
      }
    }

    // set default controls, dots and autoplay styles
    @if $default {
      @extend %default-controls;
      @extend %default-dots;
      @if $autoplay {
        @extend %default-autoplay;
        // hide dots when autoplay
        #{$id}-autoplay:checked ~ .dots { 
          display: none; 
          .no-cssanimations & { display: block !important; }
        }
      }
    }
  }

  // container and items
  .outer {
    @if $perpage != 1 { li { width: percentage(1/$perpage) } }
    @if $gutter and $gutter != 0 {
      @if not $center { margin: 0 (- $gutter); }
      .item { margin: 0 $gutter; }
    }
  }
  // set inner
  @for $i from 1 through $items {
    @at-root {
      #{$id}-#{$i}:checked ~ {
        .outer .inner { 
          @if ($i / $perpage) >= floor($items / $perpage) and 
              ($i / $perpage) < ceil($items / $perpage) {
            left: - percentage(($items / $perpage) - 1 - $half);
          }
          @else {
            left: - percentage(($i - 1) / $perpage + $half); 
          }
        }
      }
    }
  }

  // hide extra dots
  @if not $slide-by-page {
    @if $center {
      .dots label:nth-child(n + #{$pages}) { display: none; }
    } @else {
      .dots label:nth-child(n + #{$pages + 1}) { display: none; }
    }
  }

  // set autoplay animation
  @if $autoplay {
    @if $default { #{$id}-autoplay:checked ~ .autoplay label:before { content: '1'; } }

    $left-val: 0;
    $frames: 1;
    @if $slide-by-page == true { $frames: ceil($items/$perpage); }
    @else { $frames: $items + 1 - $perpage; }
    $unit: (100/($slider-peritem * $frames));

    @include keyframes(#{$prefix}-inner) {
      @for $i from 1 through $frames {
        @if $slide-by-page == true {
          @if (- ($i - 1) * 100%) < percentage(1 - $items / $perpage) {
            $left-val: percentage(1 - $items / $perpage);
          }
          @else { $left-val: (- ($i - 1) * 100%);}

          #{percentage((($i - 1) * $slider-peritem) * $unit / 100)} { left: $left-val; }
          #{percentage(($i * $slider-peritem - $slider-play) * $unit / 100)} { left: $left-val; }
        }
        @else { 
          $left-val: percentage(- ($i - 1) / $perpage);

          #{percentage((($i - 1) * $slider-peritem) * $unit / 100)} { left: $left-val; }
          #{percentage(($i * $slider-peritem - $slider-play) * $unit / 100)} { left: $left-val; }
        }
      }
      100% { left: 0; }
    }
    @at-root {
      #{$id}-autoplay:checked ~ {
        .outer .inner { @include animation(#{$prefix}-inner $slider-peritem * $frames ease infinite); }
        .controls { 
          display: none !important; 
          .no-cssanimations & { display: block !important; }
        }
      }
    }
  }
  @else { .autoplay { display: none !important; } }

  // set controls
  @at-root {
    @for $i from 1 through $items {
      #{$id}-#{$i}:checked ~ {
        .controls label:nth-child(n+1) { display: none; }
        @if $slide-by-page == true {
          // prev
          @if $i == 1 {
            .controls label:nth-child(#{$items - $perpage + 1}),
            .controls label:nth-child(#{$items - $perpage + 1}) .prev { display: block; }
          }
          @else if $i > 1 and $i <= $perpage {
            .controls label:nth-child(1),
            .controls label:nth-child(1) .prev { display: block; }
          }
          @else {
            .controls label:nth-child(#{$i - $perpage}),
            .controls label:nth-child(#{$i - $perpage}) .prev { display: block; }
          }
          // next
          @if $i >= ($items - $perpage + 1) {
            .controls label:nth-child(1),
            .controls label:nth-child(1) .next { display: block; }
          }
          @else if $i > ($items - $perpage * 2 + 1) and $i < ($items - $perpage + 1) {
            .controls label:nth-child(#{$items - $perpage + 1}),
            .controls label:nth-child(#{$items - $perpage + 1}) .next { display: block; }
          }
          @else {
            .controls label:nth-child(#{$i + $perpage}),
            .controls label:nth-child(#{$i + $perpage}) .next { display: block; }
          }
        }
        @else if $center == true {
          @if $i == 1 {
            .controls label:nth-child(#{$pages}), 
            .controls label:nth-child(#{$i + 1}),
            .controls label:nth-child(#{$pages}) .prev, 
            .controls label:nth-child(#{$i + 1}) .next { display: block; }
          }
          @else if $i < ($pages - 1 ) {
            .controls label:nth-child(#{$i - 1}), 
            .controls label:nth-child(#{$i + 1}),
            .controls label:nth-child(#{$i - 1}) .prev, 
            .controls label:nth-child(#{$i + 1}) .next { display: block; }
          }
          @else {
            .controls label:nth-child(#{$i - 1}), 
            .controls label:nth-child(1),
            .controls label:nth-child(#{$i - 1}) .prev, 
            .controls label:nth-child(1) .next { display: block; }
          }
        }
        @else {
          @if $i == 1 {
            .controls label:nth-child(#{$pages}), 
            .controls label:nth-child(#{$i + 1}),
            .controls label:nth-child(#{$pages}) .prev, 
            .controls label:nth-child(#{$i + 1}) .next { display: block; }
          }
          @else if $i < $pages {
            .controls label:nth-child(#{$i - 1}), 
            .controls label:nth-child(#{$i + 1}),
            .controls label:nth-child(#{$i - 1}) .prev, 
            .controls label:nth-child(#{$i + 1}) .next { display: block; }
          }
          @else {
            .controls label:nth-child(#{$i - 1}), 
            .controls label:nth-child(1),
            .controls label:nth-child(#{$i - 1}) .prev, 
            .controls label:nth-child(1) .next { display: block; }
          }
        }
      }
    }
  }

}
