// *** slider-gallery *** //
@import 'gallery-base';

@mixin slider-gallery(
  $items: 5,
  $ratio: 9/16, 
  $autoplay: false,
  $hide: 'none', // none | controls | dots | autoplay
  $default: true
){
  $prefix: get-slider-selector(&);
  $id: "#" + $prefix;

  @at-root (without: media) { // @at-root (without: media) start
    // base
    @extend %slide-base; 
    @extend %slide-fade-base;
    .outer { padding-bottom: percentage($ratio); }

    // setting items
    @for $i from 1 through $items {
      @at-root { 
        #{$id}-#{$i}:checked ~ {
          .outer li:nth-child(#{$i}) { 
            @extend %item-active;
          }
        }
      }
    }

    // setting controls
    @if str-index($hide, 'controls') == null {
      // default style
      @if $default == true { @extend %default-controls; }
      // show and hide
      @for $i from 1 through $items {
        @at-root { 
          #{$id}-#{$i}:checked ~ {
            @if $i == 1 {
              .controls label:nth-child(#{$items}) .prev, 
              .controls label:nth-child(#{$i + 1}) .next { @extend %show; }
            }
            @else if $i == $items {
              .controls label:nth-child(#{$i - 1}) .prev, 
              .controls label:nth-child(1) .next { @extend %show; }
            }
            @else {
              .controls label:nth-child(#{$i - 1}) .prev, 
              .controls label:nth-child(#{$i + 1}) .next { @extend %show; }
            }
          }
        }
      }
    }

    // setting dots
    @if str-index($hide, 'dots') == null {
      @if $default == true { @extend %default-dots; }
      @for $i from 1 through $items {
        @at-root { 
          #{$id}-#{$i}:checked ~ {
          .dots label:nth-child(#{$i}) .active { @extend %show; }
          .dots label:nth-child(#{$i}) .normal { @extend %hide; }
          }
        }
      }
    }

    // setting autoplay
    @if str-index($hide, 'autoplay') == null and $autoplay == true {
      @if $default {
        @extend %default-autoplay;
        @at-root { 
          #{$id}-autoplay:checked ~ .autoplay { 
            label:before { content: '1'; } 
          }
        }
      }
      // animation
      @include keyframes(#{$prefix}) {
        0% { @include item-normal; }
        #{percentage($play / ($peritem * $items))} { @include item-active; }
        #{percentage($peritem / ($peritem * $items))} { @include item-active; }
        #{percentage(($play + $peritem) / ($peritem * $items))} { @include item-normal; }
      }
      @at-root { 
        #{$id}-autoplay:checked ~ {
          .controls, .dots { display: none !important; }
          .outer li {
            @include animation( #{$prefix} $peritem * $items ease infinite);
            @for $i from 2 through $items {
              &:nth-child(#{$i}) {
                @include animation-delay(($peritem * ($i - 1)));
              }
            }
          }
        }
      }
      // pause on hover
      // &:hover {
      //   #{$id}-autoplay ~ .outer li { 
      //     @include animation-play-state(paused); 
      //   }
      // }
    }

    // hide controls, dots or autoplay
    @each $item in controls, dots, autoplay {
      @if str-index($hide, $item) != null {
        .#{$item} { display: none !important; }
      }
    }

  } // @at-root (without: media) end
}
