<div class="switch-1">
  <input type="checkbox" id="switch-id-1" name="switch">
  <!-- span is required if you want to show text -->
  <label for="switch-id-1"><span></span></label>
</div>
<div class="switch-2">
  <input type="checkbox" id="switch-id-2" name="switch">
  <label for="switch-id-2"></label>
</div>