.example-button .normal, .example-button .radius, .example-button .round, .example-button .highlight, .example-button .simple, .example-button .slide, .example-button .ripple, .example-button .veil, .example-button .cut, .example-button .push, .example-button .bubble, .example-button .shake, .example-button .line-drawing {
  display: inline-block;
  box-sizing: border-box;
}

.example-button .normal:hover, .example-button .radius:hover, .example-button .round:hover, .example-button .highlight:hover, .example-button .simple:hover, .example-button .slide:hover, .example-button .ripple:hover, .example-button .veil:hover, .example-button .cut:hover, .example-button .push:hover, .example-button .bubble:hover, .example-button .shake:hover, .example-button .line-drawing:hover {
  text-decoration: none;
}

/* Android 2.3 :checked fix */
@-webkit-keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  -webkit-animation: fake 1s infinite;
          animation: fake 1s infinite;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h2[id], h3[id], h4[id] {
  text-align: center;
}

h2 {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0;
}

h2 span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p code {
  padding: 0.2em 0.5em;
  margin: 0 0.3em 0 0;
  background-color: #F5F2F0;
  border-radius: 2px;
}

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

pre {
  clear: both;
}

.container {
  max-width: 100em;
  margin: 0 1.875em;
}

@media screen and (min-width: 103.75em) {
  .container {
    margin: 0 auto;
  }
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

pre[class*="language-"] > code[data-language] {
  overflow: auto;
  max-height: none;
}

pre[class*="language-"] {
  padding: 0 1em;
}

.topic {
  padding: 4em 0;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
  .topic > h2:before,
  .topic > h2:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .topic > h2:before {
    content: url("../images/title-prev.png");
  }
  .topic > h2:after {
    content: url("../images/title-next.png");
  }
}

.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}

.example-complementary .color-box {
  width: 47%;
}

.example-adjacent .color-box,
.example-split-complementary .color-box,
.example-triad .color-box {
  width: 30%;
}

.example-rectangle .color-box,
.example-square .color-box {
  width: 22%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}

.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.more-demos {
  border-top: 1px solid #dbdbdb;
}

.demo-links {
  margin: 10px 0 30px;
}

.demo-links a {
  display: inline-block;
  padding: 1.5em 2.5em;
  margin-right: 7px;
  margin-bottom: 10px;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  font-size: 14px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.demo-links a.current,
.demo-links a:hover {
  text-decoration: none;
  background-color: #76abe9;
  color: #fff;
}

.site-footer {
  padding: 15px 0;
  background-color: #0E1721;
}

.copy-right {
  font-size: 12px;
  line-height: 1.3;
  color: #b1b1b1;
}

.example-button {
  margin: 50px 0;
  font-size: 14px;
  text-align: center;
}

.example-button > * {
  margin: 0 7px 14px;
  vertical-align: top;
  cursor: pointer;
}

.example-button .normal {
  padding: 1em 2em;
  background-color: #46A736;
  color: #fff;
}

.example-button .radius {
  padding: 1em 2em;
  border-radius: 0.4em;
  background-color: #FF851B;
  color: #000;
}

.example-button .round {
  padding: 1em 2em;
  border-radius: 1000px;
  background-color: #B61EFF;
  color: #fff;
}

.example-button .highlight {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #2B8ACF;
  color: #fff;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
          transition: background-color 0.3s ease, color 0.3s ease;
}

.example-button .highlight:hover {
  background-color: #52a1db;
}

.example-button .simple {
  padding: 1em 2em;
  border-radius: 5px;
  color: #2B8ACF;
  border: 2px solid #2B8ACF;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
          transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.example-button .simple:hover {
  color: #fff;
  border: 2px solid #2B8ACF;
  background-color: #2B8ACF;
}

.example-button .slide {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.example-button .slide:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #52a1db;
  -webkit-transition: left 0.3s ease;
          transition: left 0.3s ease;
}

.example-button .slide:hover:before {
  left: 0;
}

.example-button .ripple {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.example-button .ripple:before {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 1;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 10em;
  height: 10em;
  margin-left: -5em;
  margin-top: -5em;
  border-radius: 50%;
  background-color: #52a1db;
}

@-webkit-keyframes button-ripple {
  to {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes button-ripple {
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.no-csstransforms .example-button .ripple:before {
  display: none;
}

.example-button .ripple:hover:before {
  -webkit-animation: button-ripple 1s 1;
  animation: button-ripple 1s 1;
}

.no-csstransforms .example-button .ripple:hover:before {
  display: block;
}

.example-button .veil {
  padding: 1em 2em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #2B8ACF;
  border: 2px solid #2B8ACF;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
          transition: background-color 0.3s ease, color 0.3s ease;
}

.example-button .veil:before {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scaleX(0.7);
  -ms-transform: scaleX(0.7);
  transform: scaleX(0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2B8ACF;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
          transition: transform 0.3s ease, opacity 0.3s ease;
}

.no-csstransforms .example-button .veil:before {
  display: none;
}

.example-button .veil:hover {
  color: #fff;
}

.example-button .veil:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.no-csstransforms .example-button .veil:hover:before {
  display: block;
}

.example-button .cut {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.example-button .cut:before {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  -ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  -webkit-transform-origin: 0% 100% 0px;
  -ms-transform-origin: 0% 100% 0px;
  transform-origin: 0% 100% 0px;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  background-color: #52a1db;
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
}

.no-csstransforms .example-button .cut:before {
  display: none;
}

.example-button .cut:hover:before {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  -ms-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}

.no-csstransforms .example-button .cut:hover:before {
  display: block;
}

.example-button .push {
  border-radius: 5px;
  background-color: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.example-button .push span, .example-button .push:before {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
          transition: transform 0.3s ease, opacity 0.3s ease;
}

.example-button .push span {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  display: block;
}

.example-button .push:before {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  padding: 1em 2em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.no-csstransforms .example-button .push:before {
  display: none;
}

.example-button .push:hover span {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.example-button .push:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.no-csstransforms .example-button .push:hover:before {
  display: block;
}

.example-button .bubble {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  overflow: visible;
}

.example-button .bubble:before {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 6.5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  border: 1px solid rgba(43, 138, 207, 0.7);
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
          transition: transform 0.3s ease, opacity 0.3s ease;
}

@-webkit-keyframes button-bubble {
  60% {
    left: -0.7em;
    right: -0.7em;
    top: -0.7em;
    bottom: -0.7em;
    opacity: 0.8;
  }
  100% {
    left: -1em;
    right: -1em;
    top: -1em;
    bottom: -1em;
    opacity: 0;
  }
}

@keyframes button-bubble {
  60% {
    left: -0.7em;
    right: -0.7em;
    top: -0.7em;
    bottom: -0.7em;
    opacity: 0.8;
  }
  100% {
    left: -1em;
    right: -1em;
    top: -1em;
    bottom: -1em;
    opacity: 0;
  }
}

.example-button .bubble:hover:before {
  -webkit-animation: button-bubble 0.7s 1;
  animation: button-bubble 0.7s 1;
}

.example-button .shake {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #2B8ACF;
  color: #fff;
}

@-webkit-keyframes button-shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    -webkit-transform: translateX(-0.6em);
            transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    -webkit-transform: translateX(0.6em);
            transform: translateX(0.6em);
  }
}

@keyframes button-shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    -webkit-transform: translateX(-0.6em);
            transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    -webkit-transform: translateX(0.6em);
            transform: translateX(0.6em);
  }
}

.example-button .shake:hover {
  -webkit-animation: button-shake 0.4s 1;
  animation: button-shake 0.4s 1;
}

.example-button .line-drawing {
  padding: 1em 2em;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.example-button .line-drawing span {
  position: absolute;
  display: block;
  box-sizing: border-box;
  background-color: #2B8ACF;
  -webkit-transition: width 0.3s ease, height 0.3s ease;
          transition: width 0.3s ease, height 0.3s ease;
}

.example-button .line-drawing span:nth-child(1) {
  left: 0;
  top: 0;
}

.example-button .line-drawing span:nth-child(2) {
  right: 0;
  bottom: 0;
}

.example-button .line-drawing span:nth-child(3) {
  top: 0;
  right: 0;
}

.example-button .line-drawing span:nth-child(4) {
  left: 0;
  bottom: 0;
}

.example-button .line-drawing span:nth-child(1),
.example-button .line-drawing span:nth-child(2) {
  width: 0;
  height: 1px;
}

.example-button .line-drawing span:nth-child(3),
.example-button .line-drawing span:nth-child(4) {
  width: 1px;
  height: 0;
}

.example-button .line-drawing:hover span:nth-child(1),
.example-button .line-drawing:hover span:nth-child(2) {
  width: 100%;
}

.example-button .line-drawing:hover span:nth-child(3),
.example-button .line-drawing:hover span:nth-child(4) {
  height: 100%;
}
/*# sourceMappingURL=components-button.css.map */