/* Android 2.3 :checked fix */
@-webkit-keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  -webkit-animation: fake 1s infinite;
          animation: fake 1s infinite;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p code {
  padding: 0.2em 0.5em;
  margin: 0 0.3em 0 0;
  background-color: #F5F2F0;
  border-radius: 2px;
}

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

pre {
  clear: both;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1399px) {
  .container {
    margin: 0 1.875em;
  }
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

pre[class*="language-"] > code[data-language] {
  overflow: auto;
  max-height: none;
}

pre[class*="language-"] {
  padding: 0 1em;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .main-heading:before,
  .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .main-heading:before {
    content: url("../images/title-prev.png");
  }
  .main-heading:after {
    content: url("../images/title-next.png");
  }
  .topic > section {
    margin: 0 0 5em;
  }
}

.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}

.example-complementary .color-box {
  width: 47%;
}

.example-adjacent .color-box,
.example-split-complementary .color-box,
.example-triad .color-box {
  width: 30%;
}

.example-rectangle .color-box,
.example-square .color-box {
  width: 22%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}

.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.more-demos {
  border-top: 1px solid #dbdbdb;
}

.demo-links {
  margin: 10px 0 30px;
}

.demo-links a {
  display: inline-block;
  padding: 1.5em 2.5em;
  margin-right: 7px;
  margin-bottom: 10px;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  font-size: 14px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.demo-links a.current,
.demo-links a:hover {
  text-decoration: none;
  background-color: #76abe9;
  color: #fff;
}

.site-footer {
  padding: 15px 0;
  background-color: #0E1721;
}

.copy-right {
  font-size: 12px;
  line-height: 1.3;
  color: #b1b1b1;
}

.example-switch {
  text-align: center;
}

.example-switch section {
  margin: 50px 0;
}

.switch {
  margin: 15px auto;
  text-align: center;
}

.switch-group {
  margin-top: 50px;
  text-align: center;
}

.switch-group .switch-g > input {
  position: absolute;
  left: -9999px;
}

.switch-group .switch-g > input ~ label {
  display: inline-block;
  height: 1.562em;
  line-height: 1.562em;
  -webkit-transition: padding 0.3s, background 0.3s;
          transition: padding 0.3s, background 0.3s;
  background: #ddd;
  padding: 0.195em 1.328em 0.195em 0.195em;
  border-radius: 0.26em;
}

.switch-group .switch-g > input ~ label:after {
  content: '';
  display: inline-block;
  height: 1.562em;
  background: #fff;
  width: 1.562em;
  box-shadow: 0 0.195em 0.195em 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.26em;
}

.switch-group .switch-g > input:checked ~ label {
  padding: 0.195em 0.195em 0.195em 1.328em;
  background: #CC412F;
}

.one > input {
  position: absolute;
  left: -9999px;
}

.one > input ~ label {
  display: inline-block;
  height: 1.25em;
  line-height: 1.25em;
  -webkit-transition: padding 0.3s, background 0.3s;
          transition: padding 0.3s, background 0.3s;
  background: #ddd;
  padding: 0.156em 1.062em 0.156em 0.156em;
  border-radius: 0.208em;
}

.one > input ~ label:after {
  content: '';
  display: inline-block;
  height: 1.25em;
  background: #fff;
  width: 1.25em;
  box-shadow: 0 0.156em 0.156em 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.208em;
}

.one > input:checked ~ label {
  padding: 0.156em 0.156em 0.156em 1.062em;
  background: #3DD754;
}

.two > input {
  position: absolute;
  left: -9999px;
}

.two > input ~ label {
  display: inline-block;
  height: 3.125em;
  line-height: 3.125em;
  -webkit-transition: padding 0.3s, background 0.3s;
          transition: padding 0.3s, background 0.3s;
  background: #ddd;
  padding: 0.391em 2.656em 0.391em 0.391em;
  border-radius: 1000px;
}

.two > input ~ label:after {
  content: '';
  display: inline-block;
  height: 3.125em;
  background: #fff;
  width: 3.125em;
  box-shadow: 0 0.391em 0.391em 0 rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
}

.two > input:checked ~ label {
  padding: 0.391em 0.391em 0.391em 2.656em;
  background: #C06EE1;
}

.slider > input {
  position: absolute;
  left: -9999px;
}

.slider > input ~ label {
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  -webkit-transition: padding 0.3s, background 0.3s;
          transition: padding 0.3s, background 0.3s;
  text-align: left;
  position: relative;
  padding: 0 3em 0 0;
  border-radius: 1000px;
}

.slider > input ~ label:before, .slider > input ~ label:after {
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.slider > input ~ label:before {
  content: '';
  width: 3em;
  height: 1px;
  position: absolute;
  left: 0.75em;
  top: 0.75em;
  z-index: -1;
  background: #ddd;
}

.lt-ie9 .slider > input ~ label:before {
  background: #399DE1;
}

.slider > input ~ label:after {
  content: '';
  display: inline-block;
  height: 1.5em;
  background: #fff;
  width: 1.5em;
  box-shadow: 0 0.144em 0.188em 0 rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
}

.lt-ie9 .slider > input ~ label:after {
  background: #399DE1;
}

.slider > input:checked ~ label {
  padding: 0.188em 0.188em 0.188em 1.275em;
  padding: 0 0 0 3em;
}

.slider > input:checked ~ label:before, .slider > input:checked ~ label:after {
  background: #399DE1;
}

.text > input {
  position: absolute;
  left: -9999px;
}

.text label > span {
  position: absolute;
  left: 0.281em;
  top: 0.281em;
  display: inline-block;
  white-space: nowrap;
  color: #000;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}

.lt-ie9 .text label > span {
  color: #fff;
}

.text label > span:before, .text label > span:after {
  display: inline-block;
  line-height: 2.25em;
  width: 2.25em;
  text-align: center;
}

.text label > span:before {
  content: "on";
}

.text label > span:after {
  content: "off";
}

.text > input ~ label {
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  -webkit-transition: padding 0.3s, background 0.3s;
          transition: padding 0.3s, background 0.3s;
  background: #ddd;
  padding: 0.281em 1.912em 0.281em 0.281em;
  border-radius: 1000px;
  position: relative;
  width: 2.25em;
  padding-right: 2.588em;
}

.text > input ~ label:after {
  content: '';
  display: inline-block;
  height: 2.25em;
  background: #fff;
  width: 2.25em;
  box-shadow: 0 0.281em 0.281em 0 rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
  position: relative;
}

.text > input:checked ~ label {
  padding: 0.281em 0.281em 0.281em 1.912em;
  background: #399DE1;
  padding-left: 2.588em;
}

.text > input:checked ~ label > span {
  color: #fff;
}
/*# sourceMappingURL=components-switch.css.map */