dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h2[id], h3[id], h4[id] {
  text-align: center;
}

h2 {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0;
}
h2 span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p code {
  padding: .2em .5em;
  margin: 0 .3em 0 0;
  background-color: #F5F2F0;
  border-radius: 2px;
}
.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

pre {
  clear: both;
}

.container {
  max-width: 100em;
  margin: 0 1.875em;
}

@media screen and (min-width: 103.75em) {
  .container {
    margin: 0 auto;
  }
}
[data-margin] {
  background-color: #F0D7A9;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

pre[class*="language-"] > code[data-language] {
  overflow: auto;
  max-height: none;
}

pre[class*="language-"] {
  padding: 0 1em;
}

.topic {
  margin: 4em 0;
}
.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
  .topic > h2:before, .topic > h2:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .topic > h2:before {
    content: url("../images/title-prev.png");
  }
  .topic > h2:after {
    content: url("../images/title-next.png");
  }
}
.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}
.example-complementary .color-box {
  width: 47%;
  margin-right: 3%;
}
.example-adjacent .color-box, .example-split-complementary .color-box, .example-triad .color-box {
  width: 30%;
  margin-right: 3%;
}
.example-rectangle .color-box, .example-square .color-box {
  width: 22%;
  margin-right: 3%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}
.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
}

.more-demos {
  border-top: 1px solid #dbdbdb;
}

.demo-links {
  margin: 10px 0 30px;
}
.demo-links a {
  display: inline-block;
  padding: 2em 3em;
  margin-bottom: 4px;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  font-size: 14px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.demo-links a.current, .demo-links a:hover {
  text-decoration: none;
  background-color: #76abe9;
  color: #fff;
}

.site-footer {
  padding: 15px 0;
  background-color: #0E1721;
}

.copy-right {
  font-size: 12px;
  line-height: 1.3;
  color: #b1b1b1;
}

.span-1 {
  float: left;
  width: 49%;
  margin-right: 2%;
  left: 0;
}

.span-2 {
  float: left;
  width: 49%;
  left: 0;
}

@media (min-width: 50em) {
  .span-1 {
    position: relative;
    width: 81.4545454545%;
    left: 18.5454545455%;
  }

  .span-2 {
    position: relative;
    width: 16.5454545455%;
    left: -83.4545454545%;
  }
}
.span-isolate-1 {
  float: left;
  margin-right: -100%;
  width: 18.4%;
  left: 0;
  margin-left: 81.6%;
}
.span-isolate-2 {
  float: left;
  margin-right: -100%;
  width: 49%;
  left: 0;
}
.span-isolate-3 {
  float: left;
  margin-right: -100%;
  width: 28.6%;
  left: 0;
  margin-left: 51%;
}

.span-nested-main {
  float: left;
  width: 66%;
  margin-right: 2%;
  left: 0;
}
.span-nested-main-left {
  float: left;
  width: 38.1818181818%;
  margin-right: 3.0303030303%;
  left: 0;
}
.span-nested-main-right {
  float: left;
  width: 58.7878787879%;
  left: 0;
}
.span-nested-aside {
  float: left;
  width: 32%;
  left: 0;
}

.span-calc-1 {
  float: left;
  position: relative;
  width: calc( 45.4545454545% + 9.0909090909px - 20px );
  margin-right: 20px;
  left: calc( 54.5454545455% + 10.9090909091px );
}

.span-calc-2 {
  float: left;
  position: relative;
  width: calc( 54.5454545455% + 10.9090909091px - 20px );
  left: calc( -45.4545454545% + -9.0909090909px );
}

@media (min-width: 50em) {
  .span-calc-1 {
    width: calc( 72.7272727273% + 14.5454545455px - 20px );
    left: 0;
  }

  .span-calc-2 {
    width: calc( 27.2727272727% + 5.4545454545px - 20px );
    left: 0;
  }
}

/*# sourceMappingURL=layout-grid.css.map */