/*
Error: Invalid CSS after "... $location-val ": expected ":", was "= ($location-va..."
        on line 94 of /Volumes/Macintosh HD 2/Projects/develop/rocket/src/scss/layout/_row.scss
        from line 46 of /Volumes/Macintosh HD 2/Projects/develop/rocket/src/scss/_rocket.scss
        from line 4 of /Volumes/Macintosh HD 2/Projects/develop/rocket/demos/scss/_demo-base.scss
        from line 1 of /Volumes/Macintosh HD 2/Projects/develop/rocket/demos/scss/layout-grid-new.scss

89: 
90:           $location: index($order, $i);
91:           $location-val: false;
92:           @if $location != 1 {
93:             @while $i < $location {
94:               $location-val = ($location-val + nth($keys, $i));
95:             }
96:             margin-#{$float}: percentage($location-val / $full-width);
97:           }
98:         }
99:       }

Backtrace:
/Volumes/Macintosh HD 2/Projects/develop/rocket/src/scss/layout/_row.scss:94
/Volumes/Macintosh HD 2/Projects/develop/rocket/src/scss/_rocket.scss:46
/Volumes/Macintosh HD 2/Projects/develop/rocket/demos/scss/_demo-base.scss:4
/Volumes/Macintosh HD 2/Projects/develop/rocket/demos/scss/layout-grid-new.scss:1
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1162:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1098:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1093:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:602:in `variable'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:658:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:647:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:639:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:310:in `while_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:219:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:194:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:658:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:647:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:639:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:316:in `if_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:219:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:194:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:658:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:650:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:639:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:658:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:647:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:639:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:286:in `for_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:219:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:194:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:658:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:650:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:639:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:658:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:650:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:639:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:658:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:650:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:639:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:231:in `mixin_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:219:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:194:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:657:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:647:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:42:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:309:in `to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `block in with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `block in with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `block in with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:410:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"... $location-val \": expected \":\", was \"= ($location-va...\"\A         on line 94 of /Volumes/Macintosh HD 2/Projects/develop/rocket/src/scss/layout/_row.scss\A         from line 46 of /Volumes/Macintosh HD 2/Projects/develop/rocket/src/scss/_rocket.scss\A         from line 4 of /Volumes/Macintosh HD 2/Projects/develop/rocket/demos/scss/_demo-base.scss\A         from line 1 of /Volumes/Macintosh HD 2/Projects/develop/rocket/demos/scss/layout-grid-new.scss\A \A 89: \A 90:           $location: index($order, $i);\A 91:           $location-val: false;\A 92:           @if $location != 1 {\A 93:             @while $i < $location {\A 94:               $location-val = ($location-val + nth($keys, $i));\A 95:             }\A 96:             margin-#{$float}: percentage($location-val / $full-width);\A 97:           }\A 98:         }\A 99:       }"; }
