.gallery-a .inner:after, .gallery-b .inner:after, .gallery-c .inner:after {
  clear: both;
  content: "";
  display: table;
}

.slider .slider-labels label:hover {
  text-decoration: none;
}

.slider .slider-labels label, [class^="gallery-"], [class^="carousel-"] {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.slider .slider-labels label {
  display: inline-block;
  box-sizing: border-box;
}

.gallery-a .outer li, .gallery-b .outer li, .gallery-c .outer li {
  z-index: 7;
  opacity: 0;
  width: 100%;
}
.no-opacity .gallery-a .outer li, .gallery-a .outer .no-opacity li, .no-opacity .gallery-b .outer li, .gallery-b .outer .no-opacity li, .no-opacity .gallery-c .outer li, .gallery-c .outer .no-opacity li {
  display: none;
}

#gallery-a-1:checked ~ .outer li:nth-child(1), #gallery-a-2:checked ~ .outer li:nth-child(2), #gallery-a-3:checked ~ .outer li:nth-child(3), #gallery-a-4:checked ~ .outer li:nth-child(4), #gallery-a-5:checked ~ .outer li:nth-child(5), #gallery-b-1:checked ~ .outer li:nth-child(1), #gallery-b-2:checked ~ .outer li:nth-child(2), #gallery-b-3:checked ~ .outer li:nth-child(3), #gallery-b-4:checked ~ .outer li:nth-child(4), #gallery-b-5:checked ~ .outer li:nth-child(5), #gallery-c-1:checked ~ .outer li:nth-child(1), #gallery-c-2:checked ~ .outer li:nth-child(2), #gallery-c-3:checked ~ .outer li:nth-child(3), #gallery-c-4:checked ~ .outer li:nth-child(4), #gallery-c-5:checked ~ .outer li:nth-child(5) {
  z-index: 8;
  opacity: 1;
}
.no-opacity #gallery-a-1:checked ~ .outer li:nth-child(1), #gallery-a-1:checked ~ .outer .no-opacity li:nth-child(1), .no-opacity #gallery-a-2:checked ~ .outer li:nth-child(2), #gallery-a-2:checked ~ .outer .no-opacity li:nth-child(2), .no-opacity #gallery-a-3:checked ~ .outer li:nth-child(3), #gallery-a-3:checked ~ .outer .no-opacity li:nth-child(3), .no-opacity #gallery-a-4:checked ~ .outer li:nth-child(4), #gallery-a-4:checked ~ .outer .no-opacity li:nth-child(4), .no-opacity #gallery-a-5:checked ~ .outer li:nth-child(5), #gallery-a-5:checked ~ .outer .no-opacity li:nth-child(5), .no-opacity #gallery-b-1:checked ~ .outer li:nth-child(1), #gallery-b-1:checked ~ .outer .no-opacity li:nth-child(1), .no-opacity #gallery-b-2:checked ~ .outer li:nth-child(2), #gallery-b-2:checked ~ .outer .no-opacity li:nth-child(2), .no-opacity #gallery-b-3:checked ~ .outer li:nth-child(3), #gallery-b-3:checked ~ .outer .no-opacity li:nth-child(3), .no-opacity #gallery-b-4:checked ~ .outer li:nth-child(4), #gallery-b-4:checked ~ .outer .no-opacity li:nth-child(4), .no-opacity #gallery-b-5:checked ~ .outer li:nth-child(5), #gallery-b-5:checked ~ .outer .no-opacity li:nth-child(5), .no-opacity #gallery-c-1:checked ~ .outer li:nth-child(1), #gallery-c-1:checked ~ .outer .no-opacity li:nth-child(1), .no-opacity #gallery-c-2:checked ~ .outer li:nth-child(2), #gallery-c-2:checked ~ .outer .no-opacity li:nth-child(2), .no-opacity #gallery-c-3:checked ~ .outer li:nth-child(3), #gallery-c-3:checked ~ .outer .no-opacity li:nth-child(3), .no-opacity #gallery-c-4:checked ~ .outer li:nth-child(4), #gallery-c-4:checked ~ .outer .no-opacity li:nth-child(4), .no-opacity #gallery-c-5:checked ~ .outer li:nth-child(5), #gallery-c-5:checked ~ .outer .no-opacity li:nth-child(5) {
  display: block;
}

.gallery-a .outer, .gallery-b .outer, .gallery-c .outer {
  position: relative;
}
.gallery-a .outer li, .gallery-b .outer li, .gallery-c .outer li {
  position: absolute;
}

#gallery-a-1:checked ~ .dots label:nth-child(1) .normal, #gallery-a-2:checked ~ .dots label:nth-child(2) .normal, #gallery-a-3:checked ~ .dots label:nth-child(3) .normal, #gallery-a-4:checked ~ .dots label:nth-child(4) .normal, #gallery-a-5:checked ~ .dots label:nth-child(5) .normal, #gallery-b-1:checked ~ .dots label:nth-child(1) .normal, #gallery-b-2:checked ~ .dots label:nth-child(2) .normal, #gallery-b-3:checked ~ .dots label:nth-child(3) .normal, #gallery-b-4:checked ~ .dots label:nth-child(4) .normal, #gallery-b-5:checked ~ .dots label:nth-child(5) .normal, #gallery-c-1:checked ~ .dots label:nth-child(1) .normal, #gallery-c-2:checked ~ .dots label:nth-child(2) .normal, #gallery-c-3:checked ~ .dots label:nth-child(3) .normal, #gallery-c-4:checked ~ .dots label:nth-child(4) .normal, #gallery-c-5:checked ~ .dots label:nth-child(5) .normal {
  display: none;
}

#gallery-a-1:checked ~ .controls label:nth-child(5) .prev,
#gallery-a-1:checked ~ .controls label:nth-child(2) .next, #gallery-a-2:checked ~ .controls label:nth-child(1) .prev,
#gallery-a-2:checked ~ .controls label:nth-child(3) .next, #gallery-a-3:checked ~ .controls label:nth-child(2) .prev,
#gallery-a-3:checked ~ .controls label:nth-child(4) .next, #gallery-a-4:checked ~ .controls label:nth-child(3) .prev,
#gallery-a-4:checked ~ .controls label:nth-child(5) .next, #gallery-a-5:checked ~ .controls label:nth-child(4) .prev,
#gallery-a-5:checked ~ .controls label:nth-child(1) .next, #gallery-a-1:checked ~ .dots label:nth-child(1) .active, #gallery-a-2:checked ~ .dots label:nth-child(2) .active, #gallery-a-3:checked ~ .dots label:nth-child(3) .active, #gallery-a-4:checked ~ .dots label:nth-child(4) .active, #gallery-a-5:checked ~ .dots label:nth-child(5) .active, #gallery-b-1:checked ~ .controls label:nth-child(5) .prev,
#gallery-b-1:checked ~ .controls label:nth-child(2) .next, #gallery-b-2:checked ~ .controls label:nth-child(1) .prev,
#gallery-b-2:checked ~ .controls label:nth-child(3) .next, #gallery-b-3:checked ~ .controls label:nth-child(2) .prev,
#gallery-b-3:checked ~ .controls label:nth-child(4) .next, #gallery-b-4:checked ~ .controls label:nth-child(3) .prev,
#gallery-b-4:checked ~ .controls label:nth-child(5) .next, #gallery-b-5:checked ~ .controls label:nth-child(4) .prev,
#gallery-b-5:checked ~ .controls label:nth-child(1) .next, #gallery-b-1:checked ~ .dots label:nth-child(1) .active, #gallery-b-2:checked ~ .dots label:nth-child(2) .active, #gallery-b-3:checked ~ .dots label:nth-child(3) .active, #gallery-b-4:checked ~ .dots label:nth-child(4) .active, #gallery-b-5:checked ~ .dots label:nth-child(5) .active, #gallery-c-1:checked ~ .controls label:nth-child(5) .prev,
#gallery-c-1:checked ~ .controls label:nth-child(2) .next, #gallery-c-2:checked ~ .controls label:nth-child(1) .prev,
#gallery-c-2:checked ~ .controls label:nth-child(3) .next, #gallery-c-3:checked ~ .controls label:nth-child(2) .prev,
#gallery-c-3:checked ~ .controls label:nth-child(4) .next, #gallery-c-4:checked ~ .controls label:nth-child(3) .prev,
#gallery-c-4:checked ~ .controls label:nth-child(5) .next, #gallery-c-5:checked ~ .controls label:nth-child(4) .prev,
#gallery-c-5:checked ~ .controls label:nth-child(1) .next, #gallery-c-1:checked ~ .dots label:nth-child(1) .active, #gallery-c-2:checked ~ .dots label:nth-child(2) .active, #gallery-c-3:checked ~ .dots label:nth-child(3) .active, #gallery-c-4:checked ~ .dots label:nth-child(4) .active, #gallery-c-5:checked ~ .dots label:nth-child(5) .active {
  display: block;
}

.gallery-a .outer li, .gallery-b .outer li, .gallery-c .outer li, .gallery-a .inner, .gallery-b .inner, .gallery-c .inner, .gallery-a .dots span, .gallery-b .dots span, .gallery-c .dots span, .gallery-a .controls span, .gallery-b .controls span, .gallery-c .controls span, .gallery-a .autoplay {
  transition: all 1s ease 0s;
}

[autoheight-carousel] {
  -webkit-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
}

[autoheight-gallery] {
  -webkit-transition: padding-bottom 0.3s ease 0s;
  transition: padding-bottom 0.3s ease 0s;
}

.gallery-a, .gallery-b, .gallery-c {
  position: relative;
}
.gallery-a img, .gallery-b img, .gallery-c img {
  width: 100%;
}
.gallery-a > input, .gallery-b > input, .gallery-c > input {
  display: none;
}
.lt-ie9 .gallery-a > input, .lt-ie9 .gallery-b > input, .lt-ie9 .gallery-c > input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.gallery-a .outer, .gallery-b .outer, .gallery-c .outer {
  overflow: hidden;
}
.gallery-a .outer li, .gallery-b .outer li, .gallery-c .outer li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  letter-spacing: 0;
  box-sizing: border-box;
}
.gallery-a .inner, .gallery-b .inner, .gallery-c .inner {
  position: relative;
  left: 0;
  letter-spacing: -0.34em;
  white-space: nowrap;
}
.gallery-a .info, .gallery-b .info, .gallery-c .info, .gallery-a .controls, .gallery-b .controls, .gallery-c .controls, .gallery-a .dots, .gallery-b .dots, .gallery-c .dots, .gallery-a .autoplay, .gallery-b .autoplay, .gallery-c .autoplay {
  position: absolute;
  z-index: 10;
}
.gallery-a .info, .gallery-b .info, .gallery-c .info {
  bottom: 20px;
  z-index: 9;
}
.gallery-a .controls, .gallery-b .controls, .gallery-c .controls {
  top: 50%;
  width: 100%;
  box-sizing: border-box;
}
.gallery-a .controls span, .gallery-b .controls span, .gallery-c .controls span {
  display: none;
}
.gallery-a .dots, .gallery-b .dots, .gallery-c .dots {
  width: 100%;
  text-align: center;
}
.gallery-a .dots label, .gallery-b .dots label, .gallery-c .dots label {
  display: inline-block;
}
.gallery-a .autoplay, .gallery-b .autoplay, .gallery-c .autoplay {
  left: 50%;
  top: 50%;
}

.gallery-a .dots label, .gallery-b .dots label, .gallery-c .dots label, .gallery-a .dots span, .gallery-b .dots span, .gallery-c .dots span {
  display: inline-block;
  vertical-align: top;
}
.gallery-a .dots label, .gallery-b .dots label, .gallery-c .dots label {
  padding: 12px 3px 0px;
}
.gallery-a .dots label:hover .normal, .gallery-b .dots label:hover .normal, .gallery-c .dots label:hover .normal {
  background-color: #5a5a5a;
}
.gallery-a .dots span, .gallery-b .dots span, .gallery-c .dots span {
  width: 9px;
  height: 9px;
  background-color: #d3d3d3;
  border-radius: 50%;
}
.gallery-a .dots .active, .gallery-b .dots .active, .gallery-c .dots .active {
  background-color: #5a5a5a;
  display: none;
}

.gallery-a .controls, .gallery-b .controls, .gallery-c .controls {
  margin-top: -23px;
}
.gallery-a .controls span, .gallery-b .controls span, .gallery-c .controls span {
  position: absolute;
  width: 40px;
  height: 46px;
  opacity: 0.4;
}
.gallery-a .controls span:before, .gallery-b .controls span:before, .gallery-c .controls span:before {
  font-family: 'icon-font';
  font-size: 40px;
}
.gallery-a .controls span:hover, .gallery-b .controls span:hover, .gallery-c .controls span:hover {
  opacity: 0.8;
}
.gallery-a .controls .prev, .gallery-b .controls .prev, .gallery-c .controls .prev {
  left: 0;
  margin-left: -60px;
}
.gallery-a .controls .prev:before, .gallery-b .controls .prev:before, .gallery-c .controls .prev:before {
  content: 'n';
}
.gallery-a .controls .next, .gallery-b .controls .next, .gallery-c .controls .next {
  right: 0;
  margin-right: -60px;
}
.gallery-a .controls .next:before, .gallery-b .controls .next:before, .gallery-c .controls .next:before {
  content: 'm';
}

.gallery-a .autoplay {
  opacity: 0;
  margin-top: -25px;
}
.no-opacity .gallery-a .autoplay {
  display: none;
}
.no-cssanimations .gallery-a .autoplay {
  display: none !important;
}
.gallery-a .autoplay label:before {
  display: inline-block;
  font-family: 'icon-font';
  content: 'U';
  font-size: 45px;
  color: #fff;
  width: 45px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.gallery-a:hover .autoplay {
  opacity: 0.8;
}
.no-opacity .gallery-a:hover .autoplay {
  display: block;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h2[id], h3[id], h4[id] {
  text-align: center;
}

h2 {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0;
}
h2 span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p code {
  padding: .2em .5em;
  margin: 0 .3em 0 0;
  background-color: #F5F2F0;
  border-radius: 2px;
}
.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

pre {
  clear: both;
}

.container {
  max-width: 100em;
  margin: 0 1.875em;
}

@media screen and (min-width: 103.75em) {
  .container {
    margin: 0 auto;
  }
}
[data-margin] {
  background-color: #F0D7A9;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

pre[class*="language-"] > code[data-language] {
  overflow: auto;
  max-height: none;
}

pre[class*="language-"] {
  padding: 0 1em;
}

.topic {
  margin: 4em 0;
}
.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
  .topic > h2:before, .topic > h2:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .topic > h2:before {
    content: url("../images/title-prev.png");
  }
  .topic > h2:after {
    content: url("../images/title-next.png");
  }
}
.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}
.example-complementary .color-box {
  width: 47%;
  margin-right: 3%;
}
.example-adjacent .color-box, .example-split-complementary .color-box, .example-triad .color-box {
  width: 30%;
  margin-right: 3%;
}
.example-rectangle .color-box, .example-square .color-box {
  width: 22%;
  margin-right: 3%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}
.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
}

.more-demos {
  border-top: 1px solid #dbdbdb;
}

.demo-links {
  margin: 10px 0 30px;
}
.demo-links a {
  display: inline-block;
  padding: 2em 3em;
  margin-bottom: 4px;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  font-size: 14px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.demo-links a.current, .demo-links a:hover {
  text-decoration: none;
  background-color: #76abe9;
  color: #fff;
}

.site-footer {
  padding: 15px 0;
  background-color: #0E1721;
}

.copy-right {
  font-size: 12px;
  line-height: 1.3;
  color: #b1b1b1;
}

.slider > input {
  display: none;
}
.lt-ie9 .slider > input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.slider .slider-labels {
  margin-bottom: 20px;
  text-align: center;
}
.slider .slider-labels .title {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: "bold";
  margin: 0 0 .3em;
}
.slider .slider-labels label {
  border-radius: 0.22em;
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 12px 22px;
  background-color: #d2d2d2;
  color: #000;
  margin: 0 10px 10px 0;
}
.slider .slider-labels label:hover {
  background-color: #FFBE39;
}
.slider .info {
  padding: 10px;
}
@media (max-width: 50em) {
  .slider .info {
    display: none;
  }
}
.slider .info h3 {
  margin-bottom: 0;
}
.slider [id=gallery-auto-play]:checked ~ .slider-labels [for=gallery-auto-play], [id=gallery-auto-play]:checked ~ .slider-labels .slider [for=gallery-auto-play], .slider [id=gallery-auto-height]:checked ~ .slider-labels [for=gallery-auto-height], [id=gallery-auto-height]:checked ~ .slider-labels .slider [for=gallery-auto-height], .slider [id=gallery-customise]:checked ~ .slider-labels [for=gallery-customise], [id=gallery-customise]:checked ~ .slider-labels .slider [for=gallery-customise] {
  background-color: #FFBE39;
}
[class^="gallery-"], [class^="carousel-"] {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1000px;
  margin-bottom: 40px;
}
[id*="-md"]:checked ~ [class^="gallery-"], [id*="-md"]:checked ~ [class^="carousel-"] {
  max-width: 700px;
}
[id*="-sm"]:checked ~ [class^="gallery-"], [id*="-sm"]:checked ~ [class^="carousel-"] {
  max-width: 400px;
}

@media (max-width: 73.625em) {
  .controls .prev {
    margin-left: 10px !important;
  }
  .controls .next {
    margin-right: 10px !important;
  }
}
.gallery-a,
.gallery-b,
.gallery-c {
  display: none;
}

.gallery-a .outer {
  padding-bottom: 56.25%;
}
#gallery-a-autoplay:checked ~ .autoplay label:before {
  content: '1';
}
@-webkit-keyframes gallery-a {
  0% {
    z-index: 7;
    opacity: 0;
  }
  4% {
    z-index: 8;
    opacity: 1;
  }
  20% {
    z-index: 8;
    opacity: 1;
  }
  24% {
    z-index: 7;
    opacity: 0;
  }
}
@-moz-keyframes gallery-a {
  0% {
    z-index: 7;
    opacity: 0;
  }
  4% {
    z-index: 8;
    opacity: 1;
  }
  20% {
    z-index: 8;
    opacity: 1;
  }
  24% {
    z-index: 7;
    opacity: 0;
  }
}
@keyframes gallery-a {
  0% {
    z-index: 7;
    opacity: 0;
  }
  4% {
    z-index: 8;
    opacity: 1;
  }
  20% {
    z-index: 8;
    opacity: 1;
  }
  24% {
    z-index: 7;
    opacity: 0;
  }
}
#gallery-a-autoplay:checked ~ .controls, #gallery-a-autoplay:checked ~ .dots {
  display: none !important;
}
#gallery-a-autoplay:checked ~ .outer li {
  -webkit-animation: gallery-a 25s ease infinite;
  -moz-animation: gallery-a 25s ease infinite;
  animation: gallery-a 25s ease infinite;
}
#gallery-a-autoplay:checked ~ .outer li:nth-child(2) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
#gallery-a-autoplay:checked ~ .outer li:nth-child(3) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s;
}
#gallery-a-autoplay:checked ~ .outer li:nth-child(4) {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  animation-delay: 15s;
}
#gallery-a-autoplay:checked ~ .outer li:nth-child(5) {
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  animation-delay: 20s;
}

.gallery-b .outer {
  padding-bottom: 56.25%;
}

.gallery-c .outer {
  padding-bottom: 56.25%;
}

[id="gallery-auto-play"]:checked ~ .gallery-a,
[id="gallery-auto-height"]:checked ~ .gallery-b,
[id="gallery-customise"]:checked ~ .gallery-c {
  display: block;
}

.gallery-c .outer {
  overflow: visible;
}
.gallery-c li {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery-c #gallery-c-1:checked ~ .outer li:nth-child(1) {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-c #gallery-c-2:checked ~ .outer li:nth-child(2) {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-c #gallery-c-3:checked ~ .outer li:nth-child(3) {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-c #gallery-c-4:checked ~ .outer li:nth-child(4) {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-c #gallery-c-5:checked ~ .outer li:nth-child(5) {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-c .info {
  opacity: 0;
  margin-left: 0;
  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}
.gallery-c #gallery-c-1:checked ~ .outer li:nth-child(1) .info {
  opacity: 1;
  margin-left: 20px;
}
.gallery-c #gallery-c-2:checked ~ .outer li:nth-child(2) .info {
  opacity: 1;
  margin-left: 20px;
}
.gallery-c #gallery-c-3:checked ~ .outer li:nth-child(3) .info {
  opacity: 1;
  margin-left: 20px;
}
.gallery-c #gallery-c-4:checked ~ .outer li:nth-child(4) .info {
  opacity: 1;
  margin-left: 20px;
}
.gallery-c #gallery-c-5:checked ~ .outer li:nth-child(5) .info {
  opacity: 1;
  margin-left: 20px;
}

/*# sourceMappingURL=slider-gallery.css.map */
