.carousel-a .inner:after, .carousel-b .inner:after, .carousel-c .inner:after, .carousel-d .inner:after, .carousel-e .inner:after, .carousel-f .inner:after, .carousel-g .inner:after {
  clear: both;
  content: "";
  display: table;
}

.slider .slider-labels label:hover {
  text-decoration: none;
}

.slider .slider-labels label, [class^="gallery-"], [class^="carousel-"] {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.slider .slider-labels label {
  display: inline-block;
  box-sizing: border-box;
}

#carousel-a-1:checked ~ .dots label:nth-child(1) .normal, #carousel-a-2:checked ~ .dots label:nth-child(2) .normal, #carousel-a-3:checked ~ .dots label:nth-child(3) .normal, #carousel-a-4:checked ~ .dots label:nth-child(4) .normal, #carousel-a-5:checked ~ .dots label:nth-child(5) .normal, #carousel-b-1:checked ~ .dots label:nth-child(1) .normal, #carousel-b-2:checked ~ .dots label:nth-child(2) .normal, #carousel-b-3:checked ~ .dots label:nth-child(3) .normal, #carousel-b-4:checked ~ .dots label:nth-child(4) .normal, #carousel-b-5:checked ~ .dots label:nth-child(5) .normal, #carousel-c-1:checked ~ .dots label:nth-child(1) .normal, #carousel-c-2:checked ~ .dots label:nth-child(2) .normal, #carousel-c-3:checked ~ .dots label:nth-child(3) .normal, #carousel-c-4:checked ~ .dots label:nth-child(4) .normal, #carousel-c-5:checked ~ .dots label:nth-child(5) .normal, #carousel-d-1:checked ~ .dots label:nth-child(1) .normal, #carousel-d-2:checked ~ .dots label:nth-child(2) .normal, #carousel-d-3:checked ~ .dots label:nth-child(3) .normal, #carousel-d-4:checked ~ .dots label:nth-child(4) .normal, #carousel-d-5:checked ~ .dots label:nth-child(5) .normal, #carousel-e-1:checked ~ .dots label:nth-child(1) .normal, #carousel-e-2:checked ~ .dots label:nth-child(2) .normal, #carousel-e-3:checked ~ .dots label:nth-child(3) .normal, #carousel-e-4:checked ~ .dots label:nth-child(4) .normal, #carousel-e-5:checked ~ .dots label:nth-child(5) .normal, #carousel-f-1:checked ~ .dots label:nth-child(1) .normal, #carousel-f-2:checked ~ .dots label:nth-child(2) .normal, #carousel-f-3:checked ~ .dots label:nth-child(3) .normal, #carousel-f-4:checked ~ .dots label:nth-child(4) .normal, #carousel-f-5:checked ~ .dots label:nth-child(5) .normal, #carousel-g-1:checked ~ .dots label:nth-child(1) .normal, #carousel-g-2:checked ~ .dots label:nth-child(2) .normal, #carousel-g-3:checked ~ .dots label:nth-child(3) .normal, #carousel-g-4:checked ~ .dots label:nth-child(4) .normal, #carousel-g-5:checked ~ .dots label:nth-child(5) .normal {
  display: none;
}

#carousel-a-1:checked ~ .dots label:nth-child(1) .active, #carousel-a-2:checked ~ .dots label:nth-child(2) .active, #carousel-a-3:checked ~ .dots label:nth-child(3) .active, #carousel-a-4:checked ~ .dots label:nth-child(4) .active, #carousel-a-5:checked ~ .dots label:nth-child(5) .active, #carousel-b-1:checked ~ .dots label:nth-child(1) .active, #carousel-b-2:checked ~ .dots label:nth-child(2) .active, #carousel-b-3:checked ~ .dots label:nth-child(3) .active, #carousel-b-4:checked ~ .dots label:nth-child(4) .active, #carousel-b-5:checked ~ .dots label:nth-child(5) .active, #carousel-c-1:checked ~ .dots label:nth-child(1) .active, #carousel-c-2:checked ~ .dots label:nth-child(2) .active, #carousel-c-3:checked ~ .dots label:nth-child(3) .active, #carousel-c-4:checked ~ .dots label:nth-child(4) .active, #carousel-c-5:checked ~ .dots label:nth-child(5) .active, #carousel-d-1:checked ~ .dots label:nth-child(1) .active, #carousel-d-2:checked ~ .dots label:nth-child(2) .active, #carousel-d-3:checked ~ .dots label:nth-child(3) .active, #carousel-d-4:checked ~ .dots label:nth-child(4) .active, #carousel-d-5:checked ~ .dots label:nth-child(5) .active, #carousel-e-1:checked ~ .dots label:nth-child(1) .active, #carousel-e-2:checked ~ .dots label:nth-child(2) .active, #carousel-e-3:checked ~ .dots label:nth-child(3) .active, #carousel-e-4:checked ~ .dots label:nth-child(4) .active, #carousel-e-5:checked ~ .dots label:nth-child(5) .active, #carousel-f-1:checked ~ .dots label:nth-child(1) .active, #carousel-f-2:checked ~ .dots label:nth-child(2) .active, #carousel-f-3:checked ~ .dots label:nth-child(3) .active, #carousel-f-4:checked ~ .dots label:nth-child(4) .active, #carousel-f-5:checked ~ .dots label:nth-child(5) .active, #carousel-g-1:checked ~ .dots label:nth-child(1) .active, #carousel-g-2:checked ~ .dots label:nth-child(2) .active, #carousel-g-3:checked ~ .dots label:nth-child(3) .active, #carousel-g-4:checked ~ .dots label:nth-child(4) .active, #carousel-g-5:checked ~ .dots label:nth-child(5) .active {
  display: block;
}

.carousel-a .inner, .carousel-b .inner, .carousel-c .inner, .carousel-d .inner, .carousel-e .inner, .carousel-f .inner, .carousel-g .inner, .carousel-a .dots span, .carousel-b .dots span, .carousel-c .dots span, .carousel-d .dots span, .carousel-e .dots span, .carousel-f .dots span, .carousel-g .dots span, .carousel-a .controls span, .carousel-b .controls span, .carousel-c .controls span, .carousel-d .controls span, .carousel-e .controls span, .carousel-f .controls span, .carousel-g .controls span, .carousel-f .autoplay {
  transition: all 1s ease 0s;
}

[autoheight-carousel] {
  -webkit-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
}

[autoheight-gallery] {
  -webkit-transition: padding-bottom 0.3s ease 0s;
  transition: padding-bottom 0.3s ease 0s;
}

.carousel-a, .carousel-b, .carousel-c, .carousel-d, .carousel-e, .carousel-f, .carousel-g {
  position: relative;
}
.carousel-a img, .carousel-b img, .carousel-c img, .carousel-d img, .carousel-e img, .carousel-f img, .carousel-g img {
  width: 100%;
}
.carousel-a > input, .carousel-b > input, .carousel-c > input, .carousel-d > input, .carousel-e > input, .carousel-f > input, .carousel-g > input {
  display: none;
}
.lt-ie9 .carousel-a > input, .lt-ie9 .carousel-b > input, .lt-ie9 .carousel-c > input, .lt-ie9 .carousel-d > input, .lt-ie9 .carousel-e > input, .lt-ie9 .carousel-f > input, .lt-ie9 .carousel-g > input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.carousel-a .outer, .carousel-b .outer, .carousel-c .outer, .carousel-d .outer, .carousel-e .outer, .carousel-f .outer, .carousel-g .outer {
  overflow: hidden;
}
.carousel-a .outer li, .carousel-b .outer li, .carousel-c .outer li, .carousel-d .outer li, .carousel-e .outer li, .carousel-f .outer li, .carousel-g .outer li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  letter-spacing: 0;
  box-sizing: border-box;
}
.carousel-a .inner, .carousel-b .inner, .carousel-c .inner, .carousel-d .inner, .carousel-e .inner, .carousel-f .inner, .carousel-g .inner {
  position: relative;
  left: 0;
  letter-spacing: -0.34em;
  white-space: nowrap;
}
.carousel-a .info, .carousel-b .info, .carousel-c .info, .carousel-d .info, .carousel-e .info, .carousel-f .info, .carousel-g .info, .carousel-a .controls, .carousel-b .controls, .carousel-c .controls, .carousel-d .controls, .carousel-e .controls, .carousel-f .controls, .carousel-g .controls, .carousel-a .dots, .carousel-b .dots, .carousel-c .dots, .carousel-d .dots, .carousel-e .dots, .carousel-f .dots, .carousel-g .dots, .carousel-a .autoplay, .carousel-b .autoplay, .carousel-c .autoplay, .carousel-d .autoplay, .carousel-e .autoplay, .carousel-f .autoplay, .carousel-g .autoplay {
  position: absolute;
  z-index: 10;
}
.carousel-a .info, .carousel-b .info, .carousel-c .info, .carousel-d .info, .carousel-e .info, .carousel-f .info, .carousel-g .info {
  bottom: 20px;
  z-index: 9;
}
.carousel-a .controls, .carousel-b .controls, .carousel-c .controls, .carousel-d .controls, .carousel-e .controls, .carousel-f .controls, .carousel-g .controls {
  top: 50%;
  width: 100%;
  box-sizing: border-box;
}
.carousel-a .controls span, .carousel-b .controls span, .carousel-c .controls span, .carousel-d .controls span, .carousel-e .controls span, .carousel-f .controls span, .carousel-g .controls span {
  display: none;
}
.carousel-a .dots, .carousel-b .dots, .carousel-c .dots, .carousel-d .dots, .carousel-e .dots, .carousel-f .dots, .carousel-g .dots {
  width: 100%;
  text-align: center;
}
.carousel-a .dots label, .carousel-b .dots label, .carousel-c .dots label, .carousel-d .dots label, .carousel-e .dots label, .carousel-f .dots label, .carousel-g .dots label {
  display: inline-block;
}
.carousel-a .autoplay, .carousel-b .autoplay, .carousel-c .autoplay, .carousel-d .autoplay, .carousel-e .autoplay, .carousel-f .autoplay, .carousel-g .autoplay {
  left: 50%;
  top: 50%;
}

.carousel-a .dots label, .carousel-b .dots label, .carousel-c .dots label, .carousel-d .dots label, .carousel-e .dots label, .carousel-f .dots label, .carousel-g .dots label, .carousel-a .dots span, .carousel-b .dots span, .carousel-c .dots span, .carousel-d .dots span, .carousel-e .dots span, .carousel-f .dots span, .carousel-g .dots span {
  display: inline-block;
  vertical-align: top;
}
.carousel-a .dots label, .carousel-b .dots label, .carousel-c .dots label, .carousel-d .dots label, .carousel-e .dots label, .carousel-f .dots label, .carousel-g .dots label {
  padding: 12px 3px 0px;
}
.carousel-a .dots label:hover .normal, .carousel-b .dots label:hover .normal, .carousel-c .dots label:hover .normal, .carousel-d .dots label:hover .normal, .carousel-e .dots label:hover .normal, .carousel-f .dots label:hover .normal, .carousel-g .dots label:hover .normal {
  background-color: #5a5a5a;
}
.carousel-a .dots span, .carousel-b .dots span, .carousel-c .dots span, .carousel-d .dots span, .carousel-e .dots span, .carousel-f .dots span, .carousel-g .dots span {
  width: 9px;
  height: 9px;
  background-color: #d3d3d3;
  border-radius: 50%;
}
.carousel-a .dots .active, .carousel-b .dots .active, .carousel-c .dots .active, .carousel-d .dots .active, .carousel-e .dots .active, .carousel-f .dots .active, .carousel-g .dots .active {
  background-color: #5a5a5a;
  display: none;
}

.carousel-a .controls, .carousel-b .controls, .carousel-c .controls, .carousel-d .controls, .carousel-e .controls, .carousel-f .controls, .carousel-g .controls {
  margin-top: -23px;
}
.carousel-a .controls span, .carousel-b .controls span, .carousel-c .controls span, .carousel-d .controls span, .carousel-e .controls span, .carousel-f .controls span, .carousel-g .controls span {
  position: absolute;
  width: 40px;
  height: 46px;
  opacity: 0.4;
}
.carousel-a .controls span:before, .carousel-b .controls span:before, .carousel-c .controls span:before, .carousel-d .controls span:before, .carousel-e .controls span:before, .carousel-f .controls span:before, .carousel-g .controls span:before {
  font-family: 'icon-font';
  font-size: 40px;
}
.carousel-a .controls span:hover, .carousel-b .controls span:hover, .carousel-c .controls span:hover, .carousel-d .controls span:hover, .carousel-e .controls span:hover, .carousel-f .controls span:hover, .carousel-g .controls span:hover {
  opacity: 0.8;
}
.carousel-a .controls .prev, .carousel-b .controls .prev, .carousel-c .controls .prev, .carousel-d .controls .prev, .carousel-e .controls .prev, .carousel-f .controls .prev, .carousel-g .controls .prev {
  left: 0;
  margin-left: -60px;
}
.carousel-a .controls .prev:before, .carousel-b .controls .prev:before, .carousel-c .controls .prev:before, .carousel-d .controls .prev:before, .carousel-e .controls .prev:before, .carousel-f .controls .prev:before, .carousel-g .controls .prev:before {
  content: 'n';
}
.carousel-a .controls .next, .carousel-b .controls .next, .carousel-c .controls .next, .carousel-d .controls .next, .carousel-e .controls .next, .carousel-f .controls .next, .carousel-g .controls .next {
  right: 0;
  margin-right: -60px;
}
.carousel-a .controls .next:before, .carousel-b .controls .next:before, .carousel-c .controls .next:before, .carousel-d .controls .next:before, .carousel-e .controls .next:before, .carousel-f .controls .next:before, .carousel-g .controls .next:before {
  content: 'm';
}

.carousel-f .autoplay {
  opacity: 0;
  margin-top: -25px;
}
.no-opacity .carousel-f .autoplay {
  display: none;
}
.no-cssanimations .carousel-f .autoplay {
  display: none !important;
}
.carousel-f .autoplay label:before {
  display: inline-block;
  font-family: 'icon-font';
  content: 'U';
  font-size: 45px;
  color: #fff;
  width: 45px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.carousel-f:hover .autoplay {
  opacity: 0.8;
}
.no-opacity .carousel-f:hover .autoplay {
  display: block;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h2[id], h3[id], h4[id] {
  text-align: center;
}

h2 {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0;
}
h2 span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p code {
  padding: .2em .5em;
  margin: 0 .3em 0 0;
  background-color: #F5F2F0;
  border-radius: 2px;
}
.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

pre {
  clear: both;
}

.container {
  max-width: 100em;
  margin: 0 1.875em;
}

@media screen and (min-width: 103.75em) {
  .container {
    margin: 0 auto;
  }
}
[data-margin] {
  background-color: #F0D7A9;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

pre[class*="language-"] > code[data-language] {
  overflow: auto;
  max-height: none;
}

pre[class*="language-"] {
  padding: 0 1em;
}

.topic {
  margin: 4em 0;
}
.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
  .topic > h2:before, .topic > h2:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .topic > h2:before {
    content: url("../images/title-prev.png");
  }
  .topic > h2:after {
    content: url("../images/title-next.png");
  }
}
.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}
.example-complementary .color-box {
  width: 47%;
  margin-right: 3%;
}
.example-adjacent .color-box, .example-split-complementary .color-box, .example-triad .color-box {
  width: 30%;
  margin-right: 3%;
}
.example-rectangle .color-box, .example-square .color-box {
  width: 22%;
  margin-right: 3%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}
.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
}

.more-demos {
  border-top: 1px solid #dbdbdb;
}

.demo-links {
  margin: 10px 0 30px;
}
.demo-links a {
  display: inline-block;
  padding: 2em 3em;
  margin-bottom: 4px;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  font-size: 14px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.demo-links a.current, .demo-links a:hover {
  text-decoration: none;
  background-color: #76abe9;
  color: #fff;
}

.site-footer {
  padding: 15px 0;
  background-color: #0E1721;
}

.copy-right {
  font-size: 12px;
  line-height: 1.3;
  color: #b1b1b1;
}

.slider > input {
  display: none;
}
.lt-ie9 .slider > input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.slider .slider-labels {
  margin-bottom: 20px;
  text-align: center;
}
.slider .slider-labels .title {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: "bold";
  margin: 0 0 .3em;
}
.slider .slider-labels label {
  border-radius: 0.22em;
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 12px 22px;
  background-color: #d2d2d2;
  color: #000;
  margin: 0 10px 10px 0;
}
.slider .slider-labels label:hover {
  background-color: #FFBE39;
}
.slider .item {
  position: relative;
}
.slider .info {
  padding: 10px;
}
@media (max-width: 50em) {
  .slider .info {
    display: none;
  }
}
.slider .info h3 {
  margin-bottom: 0;
}
.slider [id=slider-gallery]:checked ~ .slider-labels [for=slider-gallery], [id=slider-gallery]:checked ~ .slider-labels .slider [for=slider-gallery], .slider [id=gallery-lg]:checked ~ .slider-labels [for=gallery-lg], [id=gallery-lg]:checked ~ .slider-labels .slider [for=gallery-lg], .slider [id=gallery-md]:checked ~ .slider-labels [for=gallery-md], [id=gallery-md]:checked ~ .slider-labels .slider [for=gallery-md], .slider [id=gallery-sm]:checked ~ .slider-labels [for=gallery-sm], [id=gallery-sm]:checked ~ .slider-labels .slider [for=gallery-sm], .slider [id=gallery-auto-play]:checked ~ .slider-labels [for=gallery-auto-play], [id=gallery-auto-play]:checked ~ .slider-labels .slider [for=gallery-auto-play], .slider [id=gallery-customise]:checked ~ .slider-labels [for=gallery-customise], [id=gallery-customise]:checked ~ .slider-labels .slider [for=gallery-customise], .slider [id=slider-carousel]:checked ~ .slider-labels [for=slider-carousel], [id=slider-carousel]:checked ~ .slider-labels .slider [for=slider-carousel], .slider [id=carousel-lg]:checked ~ .slider-labels [for=carousel-lg], [id=carousel-lg]:checked ~ .slider-labels .slider [for=carousel-lg], .slider [id=carousel-md]:checked ~ .slider-labels [for=carousel-md], [id=carousel-md]:checked ~ .slider-labels .slider [for=carousel-md], .slider [id=carousel-sm]:checked ~ .slider-labels [for=carousel-sm], [id=carousel-sm]:checked ~ .slider-labels .slider [for=carousel-sm], .slider [id=slide-by-page]:checked ~ .slider-labels [for=slide-by-page], [id=slide-by-page]:checked ~ .slider-labels .slider [for=slide-by-page], .slider [id=slider-center]:checked ~ .slider-labels [for=slider-center], [id=slider-center]:checked ~ .slider-labels .slider [for=slider-center], .slider [id=carousel-auto-play]:checked ~ .slider-labels [for=carousel-auto-play], [id=carousel-auto-play]:checked ~ .slider-labels .slider [for=carousel-auto-play], .slider [id=carousel-auto-height]:checked ~ .slider-labels [for=carousel-auto-height], [id=carousel-auto-height]:checked ~ .slider-labels .slider [for=carousel-auto-height] {
  background-color: #FFBE39;
}
[class^="gallery-"], [class^="carousel-"] {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1000px;
  margin-bottom: 40px;
}
[id*="-md"]:checked ~ [class^="gallery-"], [id*="-md"]:checked ~ [class^="carousel-"] {
  max-width: 700px;
}
[id*="-sm"]:checked ~ [class^="gallery-"], [id*="-sm"]:checked ~ [class^="carousel-"] {
  max-width: 400px;
}

@media (max-width: 73.625em) {
  .controls .prev {
    margin-left: 10px !important;
  }
  .controls .next {
    margin-right: 10px !important;
  }
}
.carousel-a,
.carousel-b,
.carousel-c,
.carousel-d,
.carousel-e,
.carousel-f,
.carousel-g {
  display: none;
}

.carousel-a .outer {
  margin: 0 -10px;
}
.carousel-a .outer .item {
  margin: 0 10px;
}
#carousel-a-1:checked ~ .outer .inner {
  left: 0%;
}
#carousel-a-2:checked ~ .outer .inner {
  left: -100%;
}
#carousel-a-3:checked ~ .outer .inner {
  left: -200%;
}
#carousel-a-4:checked ~ .outer .inner {
  left: -300%;
}
#carousel-a-5:checked ~ .outer .inner {
  left: -400%;
}
.carousel-a .dots label:nth-child(n + 6) {
  display: none;
}
.carousel-a .autoplay {
  display: none !important;
}
#carousel-a-1:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-a-1:checked ~ .controls label:nth-child(5),
#carousel-a-1:checked ~ .controls label:nth-child(2),
#carousel-a-1:checked ~ .controls label:nth-child(5) .prev,
#carousel-a-1:checked ~ .controls label:nth-child(2) .next {
  display: block;
}

#carousel-a-2:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-a-2:checked ~ .controls label:nth-child(1),
#carousel-a-2:checked ~ .controls label:nth-child(3),
#carousel-a-2:checked ~ .controls label:nth-child(1) .prev,
#carousel-a-2:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#carousel-a-3:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-a-3:checked ~ .controls label:nth-child(2),
#carousel-a-3:checked ~ .controls label:nth-child(4),
#carousel-a-3:checked ~ .controls label:nth-child(2) .prev,
#carousel-a-3:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#carousel-a-4:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-a-4:checked ~ .controls label:nth-child(3),
#carousel-a-4:checked ~ .controls label:nth-child(5),
#carousel-a-4:checked ~ .controls label:nth-child(3) .prev,
#carousel-a-4:checked ~ .controls label:nth-child(5) .next {
  display: block;
}

#carousel-a-5:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-a-5:checked ~ .controls label:nth-child(4),
#carousel-a-5:checked ~ .controls label:nth-child(1),
#carousel-a-5:checked ~ .controls label:nth-child(4) .prev,
#carousel-a-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

.carousel-b .outer {
  margin: 0 -10px;
}
.carousel-b .outer .item {
  margin: 0 10px;
}
#carousel-b-1:checked ~ .outer .inner {
  left: 0%;
}
#carousel-b-2:checked ~ .outer .inner {
  left: -100%;
}
#carousel-b-3:checked ~ .outer .inner {
  left: -200%;
}
#carousel-b-4:checked ~ .outer .inner {
  left: -300%;
}
#carousel-b-5:checked ~ .outer .inner {
  left: -400%;
}
.carousel-b .dots label:nth-child(n + 6) {
  display: none;
}
.carousel-b .autoplay {
  display: none !important;
}
#carousel-b-1:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-b-1:checked ~ .controls label:nth-child(5),
#carousel-b-1:checked ~ .controls label:nth-child(2),
#carousel-b-1:checked ~ .controls label:nth-child(5) .prev,
#carousel-b-1:checked ~ .controls label:nth-child(2) .next {
  display: block;
}

#carousel-b-2:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-b-2:checked ~ .controls label:nth-child(1),
#carousel-b-2:checked ~ .controls label:nth-child(3),
#carousel-b-2:checked ~ .controls label:nth-child(1) .prev,
#carousel-b-2:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#carousel-b-3:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-b-3:checked ~ .controls label:nth-child(2),
#carousel-b-3:checked ~ .controls label:nth-child(4),
#carousel-b-3:checked ~ .controls label:nth-child(2) .prev,
#carousel-b-3:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#carousel-b-4:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-b-4:checked ~ .controls label:nth-child(3),
#carousel-b-4:checked ~ .controls label:nth-child(5),
#carousel-b-4:checked ~ .controls label:nth-child(3) .prev,
#carousel-b-4:checked ~ .controls label:nth-child(5) .next {
  display: block;
}

#carousel-b-5:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-b-5:checked ~ .controls label:nth-child(4),
#carousel-b-5:checked ~ .controls label:nth-child(1),
#carousel-b-5:checked ~ .controls label:nth-child(4) .prev,
#carousel-b-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

.carousel-c .outer {
  margin: 0 -10px;
}
.carousel-c .outer .item {
  margin: 0 10px;
}
#carousel-c-1:checked ~ .outer .inner {
  left: 0%;
}
#carousel-c-2:checked ~ .outer .inner {
  left: -100%;
}
#carousel-c-3:checked ~ .outer .inner {
  left: -200%;
}
#carousel-c-4:checked ~ .outer .inner {
  left: -300%;
}
#carousel-c-5:checked ~ .outer .inner {
  left: -400%;
}
.carousel-c .dots label:nth-child(n + 6) {
  display: none;
}
.carousel-c .autoplay {
  display: none !important;
}
#carousel-c-1:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-c-1:checked ~ .controls label:nth-child(5),
#carousel-c-1:checked ~ .controls label:nth-child(2),
#carousel-c-1:checked ~ .controls label:nth-child(5) .prev,
#carousel-c-1:checked ~ .controls label:nth-child(2) .next {
  display: block;
}

#carousel-c-2:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-c-2:checked ~ .controls label:nth-child(1),
#carousel-c-2:checked ~ .controls label:nth-child(3),
#carousel-c-2:checked ~ .controls label:nth-child(1) .prev,
#carousel-c-2:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#carousel-c-3:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-c-3:checked ~ .controls label:nth-child(2),
#carousel-c-3:checked ~ .controls label:nth-child(4),
#carousel-c-3:checked ~ .controls label:nth-child(2) .prev,
#carousel-c-3:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#carousel-c-4:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-c-4:checked ~ .controls label:nth-child(3),
#carousel-c-4:checked ~ .controls label:nth-child(5),
#carousel-c-4:checked ~ .controls label:nth-child(3) .prev,
#carousel-c-4:checked ~ .controls label:nth-child(5) .next {
  display: block;
}

#carousel-c-5:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-c-5:checked ~ .controls label:nth-child(4),
#carousel-c-5:checked ~ .controls label:nth-child(1),
#carousel-c-5:checked ~ .controls label:nth-child(4) .prev,
#carousel-c-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

.carousel-d .outer {
  margin: 0 -10px;
}
.carousel-d .outer li {
  width: 50%;
}
.carousel-d .outer .item {
  margin: 0 10px;
}
#carousel-d-1:checked ~ .outer .inner {
  left: 0%;
}
#carousel-d-2:checked ~ .outer .inner {
  left: -50%;
}
#carousel-d-3:checked ~ .outer .inner {
  left: -100%;
}
#carousel-d-4:checked ~ .outer .inner {
  left: -150%;
}
#carousel-d-5:checked ~ .outer .inner {
  left: -150%;
}
.carousel-d .autoplay {
  display: none !important;
}
#carousel-d-1:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-d-1:checked ~ .controls label:nth-child(4),
#carousel-d-1:checked ~ .controls label:nth-child(4) .prev {
  display: block;
}
#carousel-d-1:checked ~ .controls label:nth-child(3),
#carousel-d-1:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#carousel-d-2:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-d-2:checked ~ .controls label:nth-child(1),
#carousel-d-2:checked ~ .controls label:nth-child(1) .prev {
  display: block;
}
#carousel-d-2:checked ~ .controls label:nth-child(4),
#carousel-d-2:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#carousel-d-3:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-d-3:checked ~ .controls label:nth-child(1),
#carousel-d-3:checked ~ .controls label:nth-child(1) .prev {
  display: block;
}
#carousel-d-3:checked ~ .controls label:nth-child(4),
#carousel-d-3:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#carousel-d-4:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-d-4:checked ~ .controls label:nth-child(2),
#carousel-d-4:checked ~ .controls label:nth-child(2) .prev {
  display: block;
}
#carousel-d-4:checked ~ .controls label:nth-child(1),
#carousel-d-4:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

#carousel-d-5:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-d-5:checked ~ .controls label:nth-child(3),
#carousel-d-5:checked ~ .controls label:nth-child(3) .prev {
  display: block;
}
#carousel-d-5:checked ~ .controls label:nth-child(1),
#carousel-d-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

.carousel-e .outer li {
  width: 50%;
}
.carousel-e .outer .item {
  margin: 0 10px;
}
#carousel-e-1:checked ~ .outer .inner {
  left: -25%;
}
#carousel-e-2:checked ~ .outer .inner {
  left: -75%;
}
#carousel-e-3:checked ~ .outer .inner {
  left: -125%;
}
#carousel-e-4:checked ~ .outer .inner {
  left: -125%;
}
#carousel-e-5:checked ~ .outer .inner {
  left: -125%;
}
.carousel-e .dots label:nth-child(n + 4) {
  display: none;
}
.carousel-e .autoplay {
  display: none !important;
}
#carousel-e-1:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-e-1:checked ~ .controls label:nth-child(4),
#carousel-e-1:checked ~ .controls label:nth-child(2),
#carousel-e-1:checked ~ .controls label:nth-child(4) .prev,
#carousel-e-1:checked ~ .controls label:nth-child(2) .next {
  display: block;
}

#carousel-e-2:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-e-2:checked ~ .controls label:nth-child(1),
#carousel-e-2:checked ~ .controls label:nth-child(3),
#carousel-e-2:checked ~ .controls label:nth-child(1) .prev,
#carousel-e-2:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#carousel-e-3:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-e-3:checked ~ .controls label:nth-child(2),
#carousel-e-3:checked ~ .controls label:nth-child(1),
#carousel-e-3:checked ~ .controls label:nth-child(2) .prev,
#carousel-e-3:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

#carousel-e-4:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-e-4:checked ~ .controls label:nth-child(3),
#carousel-e-4:checked ~ .controls label:nth-child(1),
#carousel-e-4:checked ~ .controls label:nth-child(3) .prev,
#carousel-e-4:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

#carousel-e-5:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-e-5:checked ~ .controls label:nth-child(4),
#carousel-e-5:checked ~ .controls label:nth-child(1),
#carousel-e-5:checked ~ .controls label:nth-child(4) .prev,
#carousel-e-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

.carousel-f #carousel-f-autoplay:checked ~ .dots {
  display: none;
}
.no-cssanimations .carousel-f #carousel-f-autoplay:checked ~ .dots {
  display: block !important;
}
.carousel-f .outer {
  margin: 0 -10px;
}
.carousel-f .outer li {
  width: 50%;
}
.carousel-f .outer .item {
  margin: 0 10px;
}
#carousel-f-1:checked ~ .outer .inner {
  left: 0%;
}
#carousel-f-2:checked ~ .outer .inner {
  left: -50%;
}
#carousel-f-3:checked ~ .outer .inner {
  left: -100%;
}
#carousel-f-4:checked ~ .outer .inner {
  left: -150%;
}
#carousel-f-5:checked ~ .outer .inner {
  left: -150%;
}
.carousel-f .dots label:nth-child(n + 5) {
  display: none;
}
.carousel-f #carousel-f-autoplay:checked ~ .autoplay label:before {
  content: '1';
}
@-webkit-keyframes carousel-f-inner {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -50%;
  }
  45% {
    left: -50%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  75% {
    left: -150%;
  }
  95% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes carousel-f-inner {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -50%;
  }
  45% {
    left: -50%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  75% {
    left: -150%;
  }
  95% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}
@keyframes carousel-f-inner {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -50%;
  }
  45% {
    left: -50%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  75% {
    left: -150%;
  }
  95% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}
#carousel-f-autoplay:checked ~ .outer .inner {
  -webkit-animation: carousel-f-inner 20s ease infinite;
  -moz-animation: carousel-f-inner 20s ease infinite;
  animation: carousel-f-inner 20s ease infinite;
}
#carousel-f-autoplay:checked ~ .controls {
  display: none !important;
}
.no-cssanimations #carousel-f-autoplay:checked ~ .controls {
  display: block !important;
}
#carousel-f-1:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-f-1:checked ~ .controls label:nth-child(4),
#carousel-f-1:checked ~ .controls label:nth-child(2),
#carousel-f-1:checked ~ .controls label:nth-child(4) .prev,
#carousel-f-1:checked ~ .controls label:nth-child(2) .next {
  display: block;
}

#carousel-f-2:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-f-2:checked ~ .controls label:nth-child(1),
#carousel-f-2:checked ~ .controls label:nth-child(3),
#carousel-f-2:checked ~ .controls label:nth-child(1) .prev,
#carousel-f-2:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#carousel-f-3:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-f-3:checked ~ .controls label:nth-child(2),
#carousel-f-3:checked ~ .controls label:nth-child(4),
#carousel-f-3:checked ~ .controls label:nth-child(2) .prev,
#carousel-f-3:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#carousel-f-4:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-f-4:checked ~ .controls label:nth-child(3),
#carousel-f-4:checked ~ .controls label:nth-child(1),
#carousel-f-4:checked ~ .controls label:nth-child(3) .prev,
#carousel-f-4:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

#carousel-f-5:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-f-5:checked ~ .controls label:nth-child(4),
#carousel-f-5:checked ~ .controls label:nth-child(1),
#carousel-f-5:checked ~ .controls label:nth-child(4) .prev,
#carousel-f-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

.carousel-g .outer {
  margin: 0 -10px;
}
.carousel-g .outer .item {
  margin: 0 10px;
}
#carousel-g-1:checked ~ .outer .inner {
  left: 0%;
}
#carousel-g-2:checked ~ .outer .inner {
  left: -100%;
}
#carousel-g-3:checked ~ .outer .inner {
  left: -200%;
}
#carousel-g-4:checked ~ .outer .inner {
  left: -300%;
}
#carousel-g-5:checked ~ .outer .inner {
  left: -400%;
}
.carousel-g .dots label:nth-child(n + 6) {
  display: none;
}
.carousel-g .autoplay {
  display: none !important;
}
#carousel-g-1:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-g-1:checked ~ .controls label:nth-child(5),
#carousel-g-1:checked ~ .controls label:nth-child(2),
#carousel-g-1:checked ~ .controls label:nth-child(5) .prev,
#carousel-g-1:checked ~ .controls label:nth-child(2) .next {
  display: block;
}

#carousel-g-2:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-g-2:checked ~ .controls label:nth-child(1),
#carousel-g-2:checked ~ .controls label:nth-child(3),
#carousel-g-2:checked ~ .controls label:nth-child(1) .prev,
#carousel-g-2:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#carousel-g-3:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-g-3:checked ~ .controls label:nth-child(2),
#carousel-g-3:checked ~ .controls label:nth-child(4),
#carousel-g-3:checked ~ .controls label:nth-child(2) .prev,
#carousel-g-3:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#carousel-g-4:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-g-4:checked ~ .controls label:nth-child(3),
#carousel-g-4:checked ~ .controls label:nth-child(5),
#carousel-g-4:checked ~ .controls label:nth-child(3) .prev,
#carousel-g-4:checked ~ .controls label:nth-child(5) .next {
  display: block;
}

#carousel-g-5:checked ~ .controls label:nth-child(n+1) {
  display: none;
}
#carousel-g-5:checked ~ .controls label:nth-child(4),
#carousel-g-5:checked ~ .controls label:nth-child(1),
#carousel-g-5:checked ~ .controls label:nth-child(4) .prev,
#carousel-g-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}

@media (min-width: 43.75em) {
  .carousel-a .outer {
    margin: 0 -10px;
  }
  .carousel-a .outer li {
    width: 50%;
  }
  .carousel-a .outer .item {
    margin: 0 10px;
  }
  #carousel-a-1:checked ~ .outer .inner {
    left: 0%;
  }
  #carousel-a-2:checked ~ .outer .inner {
    left: -50%;
  }
  #carousel-a-3:checked ~ .outer .inner {
    left: -100%;
  }
  #carousel-a-4:checked ~ .outer .inner {
    left: -150%;
  }
  #carousel-a-5:checked ~ .outer .inner {
    left: -150%;
  }
  .carousel-a .dots label:nth-child(n + 5) {
    display: none;
  }
  .carousel-a .autoplay {
    display: none !important;
  }
  #carousel-a-1:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-1:checked ~ .controls label:nth-child(4),
  #carousel-a-1:checked ~ .controls label:nth-child(2),
  #carousel-a-1:checked ~ .controls label:nth-child(4) .prev,
  #carousel-a-1:checked ~ .controls label:nth-child(2) .next {
    display: block;
  }

  #carousel-a-2:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-2:checked ~ .controls label:nth-child(1),
  #carousel-a-2:checked ~ .controls label:nth-child(3),
  #carousel-a-2:checked ~ .controls label:nth-child(1) .prev,
  #carousel-a-2:checked ~ .controls label:nth-child(3) .next {
    display: block;
  }

  #carousel-a-3:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-3:checked ~ .controls label:nth-child(2),
  #carousel-a-3:checked ~ .controls label:nth-child(4),
  #carousel-a-3:checked ~ .controls label:nth-child(2) .prev,
  #carousel-a-3:checked ~ .controls label:nth-child(4) .next {
    display: block;
  }

  #carousel-a-4:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-4:checked ~ .controls label:nth-child(3),
  #carousel-a-4:checked ~ .controls label:nth-child(1),
  #carousel-a-4:checked ~ .controls label:nth-child(3) .prev,
  #carousel-a-4:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-a-5:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-5:checked ~ .controls label:nth-child(4),
  #carousel-a-5:checked ~ .controls label:nth-child(1),
  #carousel-a-5:checked ~ .controls label:nth-child(4) .prev,
  #carousel-a-5:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  .carousel-b .outer {
    margin: 0 -10px;
  }
  .carousel-b .outer li {
    width: 50%;
  }
  .carousel-b .outer .item {
    margin: 0 10px;
  }
  #carousel-b-1:checked ~ .outer .inner {
    left: 0%;
  }
  #carousel-b-2:checked ~ .outer .inner {
    left: -50%;
  }
  #carousel-b-3:checked ~ .outer .inner {
    left: -100%;
  }
  #carousel-b-4:checked ~ .outer .inner {
    left: -150%;
  }
  #carousel-b-5:checked ~ .outer .inner {
    left: -150%;
  }
  .carousel-b .dots label:nth-child(n + 5) {
    display: none;
  }
  .carousel-b .autoplay {
    display: none !important;
  }
  #carousel-b-1:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-b-1:checked ~ .controls label:nth-child(4),
  #carousel-b-1:checked ~ .controls label:nth-child(2),
  #carousel-b-1:checked ~ .controls label:nth-child(4) .prev,
  #carousel-b-1:checked ~ .controls label:nth-child(2) .next {
    display: block;
  }

  #carousel-b-2:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-b-2:checked ~ .controls label:nth-child(1),
  #carousel-b-2:checked ~ .controls label:nth-child(3),
  #carousel-b-2:checked ~ .controls label:nth-child(1) .prev,
  #carousel-b-2:checked ~ .controls label:nth-child(3) .next {
    display: block;
  }

  #carousel-b-3:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-b-3:checked ~ .controls label:nth-child(2),
  #carousel-b-3:checked ~ .controls label:nth-child(4),
  #carousel-b-3:checked ~ .controls label:nth-child(2) .prev,
  #carousel-b-3:checked ~ .controls label:nth-child(4) .next {
    display: block;
  }

  #carousel-b-4:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-b-4:checked ~ .controls label:nth-child(3),
  #carousel-b-4:checked ~ .controls label:nth-child(1),
  #carousel-b-4:checked ~ .controls label:nth-child(3) .prev,
  #carousel-b-4:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-b-5:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-b-5:checked ~ .controls label:nth-child(4),
  #carousel-b-5:checked ~ .controls label:nth-child(1),
  #carousel-b-5:checked ~ .controls label:nth-child(4) .prev,
  #carousel-b-5:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  .carousel-d .outer {
    margin: 0 -10px;
  }
  .carousel-d .outer li {
    width: 33.3333333333%;
  }
  .carousel-d .outer .item {
    margin: 0 10px;
  }
  #carousel-d-1:checked ~ .outer .inner {
    left: 0%;
  }
  #carousel-d-2:checked ~ .outer .inner {
    left: -33.3333333333%;
  }
  #carousel-d-3:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  #carousel-d-4:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  #carousel-d-5:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  .carousel-d .autoplay {
    display: none !important;
  }
  #carousel-d-1:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-d-1:checked ~ .controls label:nth-child(3),
  #carousel-d-1:checked ~ .controls label:nth-child(3) .prev {
    display: block;
  }
  #carousel-d-1:checked ~ .controls label:nth-child(3),
  #carousel-d-1:checked ~ .controls label:nth-child(3) .next {
    display: block;
  }

  #carousel-d-2:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-d-2:checked ~ .controls label:nth-child(1),
  #carousel-d-2:checked ~ .controls label:nth-child(1) .prev {
    display: block;
  }
  #carousel-d-2:checked ~ .controls label:nth-child(3),
  #carousel-d-2:checked ~ .controls label:nth-child(3) .next {
    display: block;
  }

  #carousel-d-3:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-d-3:checked ~ .controls label:nth-child(1),
  #carousel-d-3:checked ~ .controls label:nth-child(1) .prev {
    display: block;
  }
  #carousel-d-3:checked ~ .controls label:nth-child(1),
  #carousel-d-3:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-d-4:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-d-4:checked ~ .controls label:nth-child(1),
  #carousel-d-4:checked ~ .controls label:nth-child(1) .prev {
    display: block;
  }
  #carousel-d-4:checked ~ .controls label:nth-child(1),
  #carousel-d-4:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-d-5:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-d-5:checked ~ .controls label:nth-child(2),
  #carousel-d-5:checked ~ .controls label:nth-child(2) .prev {
    display: block;
  }
  #carousel-d-5:checked ~ .controls label:nth-child(1),
  #carousel-d-5:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  .carousel-g .outer {
    margin: 0 -10px;
  }
  .carousel-g .outer li {
    width: 50%;
  }
  .carousel-g .outer .item {
    margin: 0 10px;
  }
  #carousel-g-1:checked ~ .outer .inner {
    left: 0%;
  }
  #carousel-g-2:checked ~ .outer .inner {
    left: -50%;
  }
  #carousel-g-3:checked ~ .outer .inner {
    left: -100%;
  }
  #carousel-g-4:checked ~ .outer .inner {
    left: -150%;
  }
  #carousel-g-5:checked ~ .outer .inner {
    left: -150%;
  }
  .carousel-g .dots label:nth-child(n + 5) {
    display: none;
  }
  .carousel-g .autoplay {
    display: none !important;
  }
  #carousel-g-1:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-1:checked ~ .controls label:nth-child(4),
  #carousel-g-1:checked ~ .controls label:nth-child(2),
  #carousel-g-1:checked ~ .controls label:nth-child(4) .prev,
  #carousel-g-1:checked ~ .controls label:nth-child(2) .next {
    display: block;
  }

  #carousel-g-2:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-2:checked ~ .controls label:nth-child(1),
  #carousel-g-2:checked ~ .controls label:nth-child(3),
  #carousel-g-2:checked ~ .controls label:nth-child(1) .prev,
  #carousel-g-2:checked ~ .controls label:nth-child(3) .next {
    display: block;
  }

  #carousel-g-3:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-3:checked ~ .controls label:nth-child(2),
  #carousel-g-3:checked ~ .controls label:nth-child(4),
  #carousel-g-3:checked ~ .controls label:nth-child(2) .prev,
  #carousel-g-3:checked ~ .controls label:nth-child(4) .next {
    display: block;
  }

  #carousel-g-4:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-4:checked ~ .controls label:nth-child(3),
  #carousel-g-4:checked ~ .controls label:nth-child(1),
  #carousel-g-4:checked ~ .controls label:nth-child(3) .prev,
  #carousel-g-4:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-g-5:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-5:checked ~ .controls label:nth-child(4),
  #carousel-g-5:checked ~ .controls label:nth-child(1),
  #carousel-g-5:checked ~ .controls label:nth-child(4) .prev,
  #carousel-g-5:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }
}
@media (min-width: 62.5em) {
  .carousel-a .outer {
    margin: 0 -10px;
  }
  .carousel-a .outer li {
    width: 33.3333333333%;
  }
  .carousel-a .outer .item {
    margin: 0 10px;
  }
  #carousel-a-1:checked ~ .outer .inner {
    left: 0%;
  }
  #carousel-a-2:checked ~ .outer .inner {
    left: -33.3333333333%;
  }
  #carousel-a-3:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  #carousel-a-4:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  #carousel-a-5:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  .carousel-a .dots label:nth-child(n + 4) {
    display: none;
  }
  .carousel-a .autoplay {
    display: none !important;
  }
  #carousel-a-1:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-1:checked ~ .controls label:nth-child(3),
  #carousel-a-1:checked ~ .controls label:nth-child(2),
  #carousel-a-1:checked ~ .controls label:nth-child(3) .prev,
  #carousel-a-1:checked ~ .controls label:nth-child(2) .next {
    display: block;
  }

  #carousel-a-2:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-2:checked ~ .controls label:nth-child(1),
  #carousel-a-2:checked ~ .controls label:nth-child(3),
  #carousel-a-2:checked ~ .controls label:nth-child(1) .prev,
  #carousel-a-2:checked ~ .controls label:nth-child(3) .next {
    display: block;
  }

  #carousel-a-3:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-3:checked ~ .controls label:nth-child(2),
  #carousel-a-3:checked ~ .controls label:nth-child(1),
  #carousel-a-3:checked ~ .controls label:nth-child(2) .prev,
  #carousel-a-3:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-a-4:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-4:checked ~ .controls label:nth-child(3),
  #carousel-a-4:checked ~ .controls label:nth-child(1),
  #carousel-a-4:checked ~ .controls label:nth-child(3) .prev,
  #carousel-a-4:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-a-5:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-a-5:checked ~ .controls label:nth-child(4),
  #carousel-a-5:checked ~ .controls label:nth-child(1),
  #carousel-a-5:checked ~ .controls label:nth-child(4) .prev,
  #carousel-a-5:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  .carousel-g .outer {
    margin: 0 -10px;
  }
  .carousel-g .outer li {
    width: 33.3333333333%;
  }
  .carousel-g .outer .item {
    margin: 0 10px;
  }
  #carousel-g-1:checked ~ .outer .inner {
    left: 0%;
  }
  #carousel-g-2:checked ~ .outer .inner {
    left: -33.3333333333%;
  }
  #carousel-g-3:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  #carousel-g-4:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  #carousel-g-5:checked ~ .outer .inner {
    left: -66.6666666667%;
  }
  .carousel-g .dots label:nth-child(n + 4) {
    display: none;
  }
  .carousel-g .autoplay {
    display: none !important;
  }
  #carousel-g-1:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-1:checked ~ .controls label:nth-child(3),
  #carousel-g-1:checked ~ .controls label:nth-child(2),
  #carousel-g-1:checked ~ .controls label:nth-child(3) .prev,
  #carousel-g-1:checked ~ .controls label:nth-child(2) .next {
    display: block;
  }

  #carousel-g-2:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-2:checked ~ .controls label:nth-child(1),
  #carousel-g-2:checked ~ .controls label:nth-child(3),
  #carousel-g-2:checked ~ .controls label:nth-child(1) .prev,
  #carousel-g-2:checked ~ .controls label:nth-child(3) .next {
    display: block;
  }

  #carousel-g-3:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-3:checked ~ .controls label:nth-child(2),
  #carousel-g-3:checked ~ .controls label:nth-child(1),
  #carousel-g-3:checked ~ .controls label:nth-child(2) .prev,
  #carousel-g-3:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-g-4:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-4:checked ~ .controls label:nth-child(3),
  #carousel-g-4:checked ~ .controls label:nth-child(1),
  #carousel-g-4:checked ~ .controls label:nth-child(3) .prev,
  #carousel-g-4:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }

  #carousel-g-5:checked ~ .controls label:nth-child(n+1) {
    display: none;
  }
  #carousel-g-5:checked ~ .controls label:nth-child(4),
  #carousel-g-5:checked ~ .controls label:nth-child(1),
  #carousel-g-5:checked ~ .controls label:nth-child(4) .prev,
  #carousel-g-5:checked ~ .controls label:nth-child(1) .next {
    display: block;
  }
}
[id="carousel-lg"]:checked ~ .carousel-a,
[id="carousel-md"]:checked ~ .carousel-b,
[id="carousel-sm"]:checked ~ .carousel-c,
[id="slide-by-page"]:checked ~ .carousel-d,
[id="slider-center"]:checked ~ .carousel-e,
[id="carousel-auto-play"]:checked ~ .carousel-f,
[id="carousel-auto-height"]:checked ~ .carousel-g {
  display: block;
}

/*# sourceMappingURL=slider-carousel.css.map */
