.container:after {
  clear: both;
  content: "";
  display: table;
}

.container {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
}

.btn:hover {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@media \0screen {
  img {
    width: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 20px 0 0;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 66.5em) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.box {
  min-height: 200px;
  padding: 10px;
  background-color: #eee;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.row > div {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.row > div:nth-child(1) {
  width: 20%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.row > div:nth-child(2) {
  width: 30%;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.row > div:nth-child(3) {
  width: 50%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.no-flexbox.no-flexboxtweener .row > div {
  float: left;
}

.no-flexbox.no-flexboxtweener .row > div:nth-child(n+1) {
  left: 0;
}

.no-flexbox.no-flexboxtweener .row > div:nth-child(1) {
  position: relative;
  left: 50%;
}

.no-flexbox.no-flexboxtweener .row > div:nth-child(2) {
  position: relative;
  left: 50%;
}

.no-flexbox.no-flexboxtweener .row > div:nth-child(3) {
  position: relative;
  left: -50%;
}

.row-inner {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-inner:after {
  clear: both;
  content: "";
  display: table;
}

.row-inner > div {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.row-inner > div:nth-child(1) {
  width: 50%;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.row-inner > div:nth-child(2) {
  width: 50%;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.no-flexbox.no-flexboxtweener .row-inner > div {
  float: left;
}

.no-flexbox.no-flexboxtweener .row-inner > div:nth-child(n+1) {
  left: 0;
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  display: none !important;
}

.gallery > li {
  box-sizing: border-box;
  padding: 0 10px 20px;
  width: 33.33333%;
}

.no-flexwrap .gallery {
  display: block;
}

.no-flexbox.no-flexboxtweener .gallery:after,
.no-flexwrap .gallery:after {
  clear: both;
  content: "";
  display: table;
}

.no-flexbox.no-flexboxtweener .gallery > li,
.no-flexwrap .gallery > li {
  float: left;
}

.no-flexbox.no-flexboxtweener .gallery > li:nth-child(3n+1),
.no-flexwrap .gallery > li:nth-child(3n+1) {
  clear: both;
}

.no-flexbox.no-flexboxtweener .gallery > li:nth-child(3n+2),
.no-flexwrap .gallery > li:nth-child(3n+2) {
  clear: none;
}

.no-flexbox.no-flexboxtweener .gallery > li:nth-child(3n+3),
.no-flexwrap .gallery > li:nth-child(3n+3) {
  clear: none;
}

.metro {
  margin: -10px;
  display: none;
}

.metro:after {
  clear: both;
  content: "";
  display: table;
}

.metro > li {
  position: relative;
  float: left;
  height: 0;
}

.metro .metro-item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 10px;
}

.metro > li:nth-child(1) {
  width: 75%;
  padding-bottom: 56.25%;
}

.metro > li:nth-child(2) {
  width: 25%;
  padding-bottom: 18.75%;
}

.metro > li:nth-child(3) {
  width: 25%;
  padding-bottom: 37.5%;
}

.metro > li:nth-child(4) {
  width: 25%;
  padding-bottom: 18.75%;
}

.metro > li:nth-child(5) {
  width: 75%;
  padding-bottom: 18.75%;
}

.metro .box {
  height: 1000px;
}

.metro-first {
  margin: -10px;
}

.metro-first:after {
  clear: both;
  content: "";
  display: table;
}

.metro-first > li {
  position: relative;
  float: left;
  height: 0;
}

.metro-first .metro-item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 10px;
}

.metro-first > li:nth-child(1) {
  width: 33.33333%;
  padding-bottom: 25%;
}

.metro-first > li:nth-child(2) {
  width: 66.66667%;
  padding-bottom: 25%;
}

.metro-first > li:nth-child(3) {
  width: 66.66667%;
  padding-bottom: 50%;
}

.metro-first > li:nth-child(4) {
  width: 33.33333%;
  padding-bottom: 25%;
}

.metro-first > li:nth-child(5) {
  width: 33.33333%;
  padding-bottom: 25%;
}

.two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  display: none;
}

.two > div {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.two > div:nth-child(1) {
  width: calc(100% - 200px - 10%);
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.two > div:nth-child(2) {
  width: 200px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.flexbox .two > div:nth-child(1),
.flexboxtweener .two > div:nth-child(1) {
  margin-right: 10%;
}

.flexbox .two > div:nth-child(2),
.flexboxtweener .two > div:nth-child(2) {
  margin-right: 0;
}

.no-flexbox.no-flexboxtweener .two:after {
  clear: both;
  content: "";
  display: table;
}

.no-flexbox.no-flexboxtweener .two > div {
  box-sizing: border-box;
}

.no-flexbox.no-flexboxtweener .two > div:nth-child(n+1) {
  padding: 0;
  margin: 0;
}

.no-flexbox.no-flexboxtweener .two > div:nth-child(1) {
  width: 100%;
  padding-right: 200px;
  float: left;
  margin-right: -100%;
}

.no-flexbox.no-flexboxtweener .two > div:nth-child(2) {
  width: 200px;
  float: right;
  margin-left: -100%;
}

.three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  display: none;
}

.three > div {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.three > div:nth-child(1) {
  width: calc(100% - 150px - 200px - 50px);
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.three > div:nth-child(2) {
  width: 150px;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.three > div:nth-child(3) {
  width: 200px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.flexbox .three > div:nth-child(n+1),
.flexboxtweener .three > div:nth-child(n+1) {
  margin: 0;
}

.flexbox .three > div:nth-child(3),
.flexboxtweener .three > div:nth-child(3) {
  margin-left: 50px;
  margin-right: 50px;
}

.no-flexbox.no-flexboxtweener .three:after {
  clear: both;
  content: "";
  display: table;
}

.no-flexbox.no-flexboxtweener .three > div {
  box-sizing: border-box;
}

.no-flexbox.no-flexboxtweener .three > div:nth-child(n+1) {
  padding: 0;
  margin: 0;
}

.no-flexbox.no-flexboxtweener .three > div:nth-child(1) {
  width: 100%;
  padding-right: 450px;
  float: left;
  margin-right: -100%;
}

.no-flexbox.no-flexboxtweener .three > div:nth-child(3) {
  width: 200px;
  margin-right: 200px;
  float: right;
  margin-left: -100%;
}

.no-flexbox.no-flexboxtweener .three > div:nth-child(2) {
  width: 150px;
  float: right;
  margin-left: -100%;
}

.btn {
  padding: 0.8em 1.2em;
  border-radius: 3px;
  background-color: #3095E6;
  color: #fff;
  cursor: pointer;
  display: none;
}

.charts {
  position: relative;
  margin-left: 6em !important;
  display: none;
}

.charts li {
  position: relative;
}

.charts li strong {
  position: absolute;
}

.charts li > span {
  display: block;
  color: #fff;
  box-sizing: border-box;
}

.charts li > span:nth-of-type(1) {
  background-color: #3095E6;
}

.charts .item-1 > span:nth-of-type(1) {
  width: 50%;
}

.charts .item-1 > span:nth-of-type(1):before {
  content: "8";
}

.charts .item-2 > span:nth-of-type(1) {
  width: 62.5%;
}

.charts .item-2 > span:nth-of-type(1):before {
  content: "10";
}

.charts .item-3 > span:nth-of-type(1) {
  width: 100%;
}

.charts .item-3 > span:nth-of-type(1):before {
  content: "16";
}

.charts .item-4 > span:nth-of-type(1) {
  width: 87.5%;
}

.charts .item-4 > span:nth-of-type(1):before {
  content: "14";
}

.charts .ticks {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.charts .ticks > div {
  position: absolute;
  width: 0;
  height: 100%;
  font-size: 0.7em;
  color: #9b9b9b;
  border-right: 1px solid #e7e7e7;
}

.charts .ticks span {
  display: block;
  width: 3em;
}

.charts .tick-1 {
  left: 0%;
}

.charts .tick-1 span:before {
  content: "0";
}

.charts .tick-2 {
  left: 6.25%;
}

.charts .tick-2 span:before {
  content: "1";
}

.charts .tick-3 {
  left: 12.5%;
}

.charts .tick-3 span:before {
  content: "2";
}

.charts .tick-4 {
  left: 18.75%;
}

.charts .tick-4 span:before {
  content: "3";
}

.charts .tick-5 {
  left: 25%;
}

.charts .tick-5 span:before {
  content: "4";
}

.charts .tick-6 {
  left: 31.25%;
}

.charts .tick-6 span:before {
  content: "5";
}

.charts .tick-7 {
  left: 37.5%;
}

.charts .tick-7 span:before {
  content: "6";
}

.charts .tick-8 {
  left: 43.75%;
}

.charts .tick-8 span:before {
  content: "7";
}

.charts .tick-9 {
  left: 50%;
}

.charts .tick-9 span:before {
  content: "8";
}

.charts .tick-10 {
  left: 56.25%;
}

.charts .tick-10 span:before {
  content: "9";
}

.charts .tick-11 {
  left: 62.5%;
}

.charts .tick-11 span:before {
  content: "10";
}

.charts .tick-12 {
  left: 68.75%;
}

.charts .tick-12 span:before {
  content: "11";
}

.charts .tick-13 {
  left: 75%;
}

.charts .tick-13 span:before {
  content: "12";
}

.charts .tick-14 {
  left: 81.25%;
}

.charts .tick-14 span:before {
  content: "13";
}

.charts .tick-15 {
  left: 87.5%;
}

.charts .tick-15 span:before {
  content: "14";
}

.charts .tick-16 {
  left: 93.75%;
}

.charts .tick-16 span:before {
  content: "15";
}

.charts .tick-17 {
  left: 100%;
}

.charts .tick-17 span:before {
  content: "16";
}

.charts .labels {
  position: absolute;
}

.charts .labels div {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 0.8em;
  text-transform: capitalize;
}

.charts .labels div:before {
  content: '';
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  display: inline-block;
  vertical-align: middle;
}

.charts .label-1:before {
  background-color: #3095E6;
}

.charts li {
  padding: 10px 0;
}

.charts li > strong {
  top: 0;
  width: 5em;
  left: -6em;
  line-height: 40px;
  text-align: right;
  margin: 10px 0;
}

.charts li > span {
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 0.8em;
}

.charts .ticks:after {
  clear: both;
  content: "";
  display: table;
}

.charts .ticks > div {
  text-align: right;
}

.charts .ticks span {
  margin-top: -1.2em;
  margin-left: -1.5em;
  text-align: center;
}

.charts .labels {
  margin-top: 1em;
}

.page {
  display: none;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

.page .nav {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  left: 0;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
}

input:checked ~ .page .nav {
  margin-left: 0;
}

.page .page-overlay {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background-color: transparent;
  z-index: 199;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

input:checked ~ .page .page-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  right: 0;
  left: 0;
}

.lt-ie9 input:checked ~ .page .page-overlay {
  background-color: black;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.nav {
  background-color: #08274A;
}

.nav li {
  display: block;
  padding: 10px;
  color: #fff;
}
/*# sourceMappingURL=test.css.map */