// placeholder
//-----------------------------

// clearfix
%ro-hidden-checkbox {
  position: absolute; 
  left: -9999px;
}

// flex-video
%flex-video-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
%flex-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

// tooltip
%tooltip-common {
  position: absolute;
  z-index: 9999;
}
%tooltip-content {
  padding: 0.67em;
  min-width: 8em;
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
  color: #fff;
}

// button
%button-style {
  display: inline-block;
  box-sizing: border-box;
}
