$padding: "0.5em 0.8em";

.button-simple { @include button($padding simple); }
.button-push { @include button($padding push); }
.button-bubble { @include button($padding #2B8ACF 5px bubble ':hover'); }
.button-line-drawing { @include button($padding 'line-drawing' ':hover'); }

[class*="button-"] {
  vertical-align: middle;
  margin: 10px;
}
