<!-- normal: you can use button on any tag -->
<span class="button">button</span>
<!-- push: inner span tag, data-text attribute -->
<span class="push" data-text="star"><span>push</span></span>
<!-- line-drawing: 4 empty span tags -->
<span class="line-drawing">line-drawing
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</span>