<span class="button-simple">button</span>
<span class="button-push" data-text="star"><span>push</span></span>
<span class="button-bubble">bubble</span>

<span class="button-line-drawing">line-drawing
  <!-- 4 pairs of empty spans required -->
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</span>