// flip-scroll
.table { 
  @include rp-table('flip-scroll' 'bp' 900) {
 border-right-width: 1px;
 > tbody > tr:last-child > td { border-right-width: 0; }
  }
}
 
// scroll
.scroll-wrapper { 
  @include rp-table('scroll' bp 900) {
    .table {
      border-right-width: 1px;
      th:last-child, td:last-child { border-right-width: 0; }
      .lt-ie10 & { 
        border-right-width: 0; 
        th:last-child, td:last-child { border-right-width: 1px; }
      }
    }
  } 
}
 
// toggle
.table {
  @include rp-table('toggle' 'bp' 900 'count' 10);
}
 
// stack
.table {
  @include rp-table('stack' 'bp' 900 #dbdbdb 'data' ('First Nam',e 'Last Name', 'Job Title', 'Favorite Color', 'Wars or Trek?', 'Porn Name', 'Date of Birth', 'Dream Vacation City', 'GPA', 'Arbitrary Data')) {
 tr:nth-of-type(2n) { background-color: #f5f5f5; }
 td:before { margin-right: 7px; }
  }
}