<!-- modes: flip-scroll, stack -->
<table class="your-table">
  <!-- table content goes here -->
</table>
 
<!-- modes: scroll -->
<div class="scroll-wrapper">
  <table>
 <!-- table content goes here -->
  </table>
</div>
 
<!-- modes: toggle -->
<div class="table-wrapper">
  <input type="checkbox" name="" id="toggle-1" checked="">
  <input type="checkbox" name="" id="toggle-2">
  <input type="checkbox" name="" id="toggle-3">
  …
  <input type="checkbox" name="" id="control-panel"> <!-- required -->
  <input type="checkbox" name="" id="display-all"> <!-- required -->
  <label for="control-panel">Display</label> <!-- required -->
  <label for="display-all">Display All</label> <!-- required -->
  <div class="control-panel"> <!-- required -->
 <label for="toggle-1">First Name</label>
 <label for="toggle-2">Last Name</label>
 <label for="toggle-3">Job Title</label>
 …
  </div>
  <table>
 <!-- table content goes here -->
  </table>
</div>