<div class="checkbox-1">
  <!-- make sure labels right after inputs -->
  <input type="radio" name="radio-name" id="radio-id-1" checked>
  <label for="radio-id-1">item 1</label>
  <br />
  <input type="radio" name="radio-name" id="radio-id-2">
  <label for="radio-id-2">item 2</label>
  <br />
  <input type="radio" name="radio-name" id="radio-id-3">
  <label for="radio-id-3">item 3</label>
  <br />
</div>