<div class="tabs-1">
  <input type="radio" name="tabs-radio-name" id="tabs-radio-id-1" checked>
  <input type="radio" name="tabs-radio-name" id="tabs-radio-id-2">
  <input type="radio" name="tabs-radio-name" id="tabs-radio-id-3">

  <!-- class .ro-tabs is required -->
  <div class="ro-tabs">
    <label for="tabs-radio-id-1">tab 1</label>
    <label for="tabs-radio-id-2">tab 2</label>
    <label for="tabs-radio-id-3">tab 3</label>
  </div>
  
  <!-- class .ro-panels is required -->
  <div class="ro-panels">
    <div>
      <p>Praesentium velit, aliquam ex, fuga aperiam tempora harum rem obcaecati ut corrupti autem laudantium cupiditate, nostrum similique ducimus numquam commodi?</p>
    </div>
    <div>
      <p>Labore illo, doloremque laboriosam velit molestiae sequi provident vitae minima nobis tempore eius nulla deserunt, repellat aliquid odit, illum. Quod!</p>
    </div>
    <div>
      <p>Expedita earum soluta repudiandae voluptas dolorem doloremque maiores iusto rem fugit itaque. Ab facere aperiam libero, iusto facilis praesentium laborum.</p>
    </div>
  </div>
</div>