<form action="" class="validation-1">
  <ol>
    <li>
      <label for="name">Name</label>
      <input type="text" id="name" pattern="[a-zA-Z]{6,}" required>
      <!-- alerts -->
      <div data-info="valid">User name is valid.</div>
      <div data-info="required">Valid user name required.</div>
      <div data-info="error">User name must be at least 6 characters.</div>
    </li>
    <li>
      <label for="name">Email</label>
      <input type="email" id="email" required>
      <!-- alerts -->
      <div data-info="valid">Email is valid.</div>
      <div data-info="required">Email is required.</div>
      <div data-info="error">The email address you entered is not valid.</div>
    </li>
    <li>
      <input type="submit" value="Submit">
    </li>
  </ol>
</form>
<script>
  // run form validation
  window.onload = function () {
    H5F.setup(document.querySelectorAll(".validation-1"));
  }
</script>