@include test-module('List') {

  @include test('is-number-list [function]') {

    // $test-1: 'Some text here.';
    // @include assert-false(is-number-list($test-1), 'This is not a list.');

    $test-1: (1 3 5);
    @include assert-true(is-number-list($test-1), 'This is a number list.');

    $test-2: (1 (3 4) 5);
    @include assert-true(is-number-list($test-2), 'This list is a number list.');

    $test-3: (1 (3 : 4) 5);
    @include assert-false(is-number-list($test-3), 'This list contains map.');

    $test-4: (1 (3 'deep' 4) 5);
    @include assert-false(is-number-list($test-4), 'This list contains string.');
  }
}