.mb-nav li:after {
  clear: both;
  content: "";
  display: table;
}

.mb-nav a:hover {
  text-decoration: none;
}

.mb-nav, .mb-nav a, [data-offcanvas-close] > span, [data-offcanvas-close]:before, [data-offcanvas-close]:after, .icon-nav > span, .icon-nav:before, .icon-nav:after, .page, .page > [data-page-cover] {
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h2[id], h3[id], h4[id] {
  text-align: center;
}

h2 {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0;
}
h2 span {
  font-weight: 300;
  color: #999;
}

h3 {
  font-size: 18.6667px;
  font-size: 1.16638rem;
  font-weight: 500;
  margin: .5em 0;
  padding: .7em 0;
}
h3[id] {
  border-bottom: 1px solid  #dbdbdb;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p code {
  padding: .2em .5em;
  margin: 0 .3em 0 0;
  background-color: #F5F2F0;
  border-radius: 2px;
}
.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

pre {
  clear: both;
}

.container {
  max-width: 100em;
  margin: 0 1.875em;
}

@media screen and (min-width: 103.75em) {
  .container {
    margin: 0 auto;
  }
}
[data-margin] {
  background-color: #F0D7A9;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

pre[class*="language-"] > code[data-language] {
  overflow: auto;
  max-height: none;
}

pre[class*="language-"] {
  padding: 0 1em;
}

.topic {
  margin: 4em 0;
}
.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
  .topic > h2:before, .topic > h2:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .topic > h2:before {
    content: url("../images/title-prev.png");
  }
  .topic > h2:after {
    content: url("../images/title-next.png");
  }
}
.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}
.example-complementary .color-box {
  width: 47%;
  margin-right: 3%;
}
.example-adjacent .color-box, .example-split-complementary .color-box, .example-triad .color-box {
  width: 30%;
  margin-right: 3%;
}
.example-rectangle .color-box, .example-square .color-box {
  width: 22%;
  margin-right: 3%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}
.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
}

.more-demos {
  border-top: 1px solid #dbdbdb;
}

.demo-links {
  margin: 10px 0 30px;
}
.demo-links a {
  display: inline-block;
  padding: 2em 3em;
  margin-bottom: 4px;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  font-size: 14px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.demo-links a.current, .demo-links a:hover {
  text-decoration: none;
  background-color: #76abe9;
  color: #fff;
}

.site-footer {
  padding: 15px 0;
  background-color: #0E1721;
}

.copy-right {
  font-size: 12px;
  line-height: 1.3;
  color: #b1b1b1;
}

.mb-nav a,
.site-nav a {
  white-space: nowrap;
}

.mb-nav {
  position: fixed;
  height: 100%;
  color: #fff;
  background: #102244;
  z-index: 300;
  box-sizing: border-box;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  margin-left: -200px;
}
.mb-nav li {
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
}
.mb-nav a {
  display: block;
  padding: 16px;
  color: #fff;
}
.mb-nav a:hover {
  background-color: #1f4182;
}
.mb-nav .active > a,
.mb-nav .current > a {
  background-color: #2651a3;
}
.mb-nav [data-offcanvas-close] {
  cursor: pointer;
}
.mb-nav [data-offcanvas-subnav] {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 100%;
  background-color: #102244;
  -webkit-transition: left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.mb-nav [data-offcanvas-back] {
  padding: 16px;
  cursor: pointer;
  background-color: #1f4182;
}
.mb-nav [data-icon-haschild] {
  display: inline-block;
  padding: 16px;
  float: right;
  height: 1em;
  cursor: pointer;
}
.mb-nav [data-icon-haschild]:hover {
  background-color: #1f4182;
}
.off-canvas-show .mb-subnav-show {
  left: 0;
}
.off-canvas-show .mb-nav {
  left: 200px;
}
.mb-nav > ul > li > a {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.off-canvas-show .mb-nav > ul > li > a {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

[data-offcanvas-subnav] a {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.mb-subnav-show a {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.mb-nav > ul > li:nth-child(1) > a,
[data-offcanvas-subnav] li:nth-child(1) a {
  -webkit-transition-delay: 0.0333333333s;
  -moz-transition-delay: 0.0333333333s;
  transition-delay: 0.0333333333s;
}

.mb-nav > ul > li:nth-child(2) > a,
[data-offcanvas-subnav] li:nth-child(2) a {
  -webkit-transition-delay: 0.0666666667s;
  -moz-transition-delay: 0.0666666667s;
  transition-delay: 0.0666666667s;
}

.mb-nav > ul > li:nth-child(3) > a,
[data-offcanvas-subnav] li:nth-child(3) a {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.mb-nav > ul > li:nth-child(4) > a,
[data-offcanvas-subnav] li:nth-child(4) a {
  -webkit-transition-delay: 0.1333333333s;
  -moz-transition-delay: 0.1333333333s;
  transition-delay: 0.1333333333s;
}

.mb-nav > ul > li:nth-child(5) > a,
[data-offcanvas-subnav] li:nth-child(5) a {
  -webkit-transition-delay: 0.1666666667s;
  -moz-transition-delay: 0.1666666667s;
  transition-delay: 0.1666666667s;
}

.mb-nav > ul > li:nth-child(6) > a,
[data-offcanvas-subnav] li:nth-child(6) a {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.mb-nav > ul > li:nth-child(7) > a,
[data-offcanvas-subnav] li:nth-child(7) a {
  -webkit-transition-delay: 0.2333333333s;
  -moz-transition-delay: 0.2333333333s;
  transition-delay: 0.2333333333s;
}

.mb-nav > ul > li:nth-child(8) > a,
[data-offcanvas-subnav] li:nth-child(8) a {
  -webkit-transition-delay: 0.2666666667s;
  -moz-transition-delay: 0.2666666667s;
  transition-delay: 0.2666666667s;
}

.mb-nav > ul > li:nth-child(9) > a,
[data-offcanvas-subnav] li:nth-child(9) a {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.mb-nav > ul > li:nth-child(10) > a,
[data-offcanvas-subnav] li:nth-child(10) a {
  -webkit-transition-delay: 0.3333333333s;
  -moz-transition-delay: 0.3333333333s;
  transition-delay: 0.3333333333s;
}

.mb-nav > ul > li:nth-child(11) > a,
[data-offcanvas-subnav] li:nth-child(11) a {
  -webkit-transition-delay: 0.3666666667s;
  -moz-transition-delay: 0.3666666667s;
  transition-delay: 0.3666666667s;
}

.mb-nav > ul > li:nth-child(12) > a,
[data-offcanvas-subnav] li:nth-child(12) a {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

[data-offcanvas-close] {
  display: inline-block;
  padding: 10px;
  width: 18px;
  cursor: pointer;
  position: relative;
  height: 12px;
  margin: 10px 0 0 12px;
}
[data-offcanvas-close] > span, [data-offcanvas-close]:before, [data-offcanvas-close]:after {
  display: block;
  height: 2px;
  background-color: #fff;
}
[data-offcanvas-close]:before, [data-offcanvas-close]:after {
  content: '';
}
[data-offcanvas-close] > span, [data-offcanvas-close]:after {
  margin-top: 3px;
}
[data-offcanvas-close]:hover span, [data-offcanvas-close]:hover:before, [data-offcanvas-close]:hover:after {
  background-color: #74baff;
}
[data-offcanvas-close] > span {
  display: none;
}
[data-offcanvas-close]:before, [data-offcanvas-close]:after {
  position: absolute;
  top: 50%;
  width: 19.8px;
  margin-left: -0.9px;
  margin-top: -2px;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.no-csstransforms [data-offcanvas-close]:before, .no-csstransforms [data-offcanvas-close]:after {
  display: none;
}
[data-offcanvas-close]:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[data-offcanvas-close]:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-csstransforms [data-offcanvas-close] {
  background: url("data:image/gif;base64,R0lGODlhEAAQAPAAAP///wAAACH5BAEAAAEALAAAAAAQABAAAAIoDIKpeOC7XHvQUHviZVtWj1WclIlYaZLmCH5Uq8BwqJVz4t3xg4pHAQA7") center center no-repeat;
}

.icon-nav {
  display: inline-block;
  padding: 0.625rem 0.5625rem;
  width: 1.125rem;
  cursor: pointer;
}
.icon-nav > span, .icon-nav:before, .icon-nav:after {
  display: block;
  height: 0.125rem;
  background-color: #333;
}
.icon-nav:before, .icon-nav:after {
  content: '';
}
.icon-nav > span, .icon-nav:after {
  margin-top: 0.1875rem;
}
.icon-nav:hover span, .icon-nav:hover:before, .icon-nav:hover:after {
  background-color: #fd5619;
}

.page {
  position: relative;
  left: 0;
  padding-top: 1px;
}
.page > [data-page-cover] {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.off-canvas-show .page > [data-page-cover] {
  background-color: rgba(48, 68, 117, 0.57);
  z-index: 200;
  cursor: pointer;
}
.off-canvas-show .page {
  left: 200px;
}

/*# sourceMappingURL=addons-off-canvas.css.map */
