.slide .slider-container .inner:after {
  clear: both;
  content: "";
  display: table;
}

label {
  cursor: pointer;
}

#slide-1:checked ~ .dots label:nth-child(1) .normal, #slide-2:checked ~ .dots label:nth-child(2) .normal, #slide-3:checked ~ .dots label:nth-child(3) .normal, #slide-4:checked ~ .dots label:nth-child(4) .normal, #slide-5:checked ~ .dots label:nth-child(5) .normal {
  display: none;
}

#slide-1:checked ~ .dots label:nth-child(1) .active, #slide-2:checked ~ .dots label:nth-child(2) .active, #slide-3:checked ~ .dots label:nth-child(3) .active, #slide-4:checked ~ .dots label:nth-child(4) .active, #slide-5:checked ~ .dots label:nth-child(5) .active {
  display: block;
}

.slide .slider-container .inner, .slide .dots span, .slide .controls span, .slide .autoplay {
  transition: all 1s ease 0s;
}

.slide {
  position: relative;
}
.slide img {
  width: 100%;
}
.slide > input {
  display: none;
}
.lt-ie9 .slide > input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.slide .slider-container {
  overflow: hidden;
}
.slide .slider-container .inner {
  position: relative;
  left: 0;
  letter-spacing: -0.34em;
  white-space: nowrap;
}
.slide .slider-container li {
  display: inline-block;
  width: 100%;
  letter-spacing: 0;
  box-sizing: border-box;
}
.slide .info, .slide .controls, .slide .dots, .slide .autoplay {
  position: absolute;
  z-index: 10;
}
.slide .info {
  bottom: 20px;
  z-index: 9;
}
.slide .controls {
  top: 50%;
  width: 100%;
  box-sizing: border-box;
}
.slide .controls span {
  display: none;
}
.slide .dots {
  width: 100%;
  text-align: center;
}
.slide .dots label {
  display: inline-block;
}
.slide .autoplay {
  left: 50%;
  top: 50%;
}

.slide .dots label, .slide .dots span {
  display: inline-block;
  vertical-align: top;
}
.slide .dots label {
  padding: 12px 3px 0px;
}
.slide .dots label:hover .normal {
  background-color: #5a5a5a;
}
.slide .dots span {
  min-width: 9px;
  min-height: 9px;
  background-color: #d3d3d3;
  border-radius: 50%;
}
.slide .dots .active {
  background-color: #5a5a5a;
  display: none;
}

.slide .controls {
  margin-top: -23px;
}
.slide .controls span {
  width: 40px;
  height: 46px;
  opacity: 0.4;
}
.slide .controls span:before {
  font-family: 'icon-font';
  font-size: 40px;
}
.slide .controls span:hover {
  opacity: 0.8;
}
.slide .controls .prev {
  float: left;
  margin-left: -60px;
}
.slide .controls .prev:before {
  content: 'n';
}
.slide .controls .next {
  float: right;
  margin-right: -60px;
}
.slide .controls .next:before {
  content: 'm';
}

.slide .autoplay {
  opacity: 0;
  margin-top: -25px;
}
.slide .autoplay label:before {
  display: inline-block;
  font-family: 'icon-font';
  content: 'U';
  font-size: 45px;
  color: #fff;
  width: 45px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.slide:hover .autoplay {
  opacity: 0.8;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 20px auto;
}

.slide {
  margin-bottom: 40px;
}

.slide .slider-container {
  margin: 0 -10px;
}
.slide .slider-container .item {
  margin: 0 10px;
}
#slide-1:checked ~ .slider-container .inner {
  left: 0%;
}
#slide-2:checked ~ .slider-container .inner {
  left: -100%;
}
#slide-3:checked ~ .slider-container .inner {
  left: -200%;
}
#slide-4:checked ~ .slider-container .inner {
  left: -300%;
}
#slide-5:checked ~ .slider-container .inner {
  left: -400%;
}
@-webkit-keyframes slide-inner {
  0% {
    left: 0%;
  }
  16% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  36% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  56.0% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  76% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  96% {
    left: -400%;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes slide-inner {
  0% {
    left: 0%;
  }
  16% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  36% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  56.0% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  76% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  96% {
    left: -400%;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-inner {
  0% {
    left: 0%;
  }
  16% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  36% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  56.0% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  76% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  96% {
    left: -400%;
  }
  100% {
    left: 0;
  }
}
#slide-autoplay:checked ~ .slider-container .inner {
  -webkit-animation: slide-inner 25s ease infinite;
  -moz-animation: slide-inner 25s ease infinite;
  animation: slide-inner 25s ease infinite;
}
#slide-1:checked ~ .controls label:nth-child(5) .prev,
#slide-1:checked ~ .controls label:nth-child(2) .next {
  display: block;
}

#slide-2:checked ~ .controls label:nth-child(1) .prev,
#slide-2:checked ~ .controls label:nth-child(3) .next {
  display: block;
}

#slide-3:checked ~ .controls label:nth-child(2) .prev,
#slide-3:checked ~ .controls label:nth-child(4) .next {
  display: block;
}

#slide-4:checked ~ .controls label:nth-child(3) .prev,
#slide-4:checked ~ .controls label:nth-child(5) .next {
  display: block;
}

#slide-5:checked ~ .controls label:nth-child(4) .prev,
#slide-5:checked ~ .controls label:nth-child(1) .next {
  display: block;
}
#slide-autoplay:checked ~ .autoplay label:before {
  content: '1';
}

@media (max-width: 73.625em) {
  .controls {
    padding-left: 70px;
    padding-right: 70px;
  }
}

/*# sourceMappingURL=test.css.map */
