.pure .slider-container .inner:after, .content:after, .example:after, .example-two-columns:after, .example-adjacent:after {
  clear: both;
  content: "";
  display: table;
}

p code:hover, .button:hover, .site-nav__level1 > li > a:hover, .example-justify input:hover, .example-slider .slider-labels label:hover, .example-button button:hover, .example-button input:hover, .example-button .pagination a:hover, .example-button .breadcrumb a:hover, .site-nav--haschild [data-dropdown-menu] a:hover, .example-dropdown-1 [data-dropdown-menu] a:hover, .example-dropdown-2 [data-dropdown-menu] a:hover, .mb-nav a:hover, .example-justify a:hover {
  text-decoration: none;
}

p code, .button, .button.active, .site-nav__level1 > li > a, .example-justify input, .example-slider .slider-labels label, .example-button button, .example-button input, .example-button .pagination a, .example-button .breadcrumb a, .site-nav--haschild [data-dropdown-menu], .example-dropdown-1 [data-dropdown-menu], .example-dropdown-2 [data-dropdown-menu], .site-nav--haschild [data-dropdown-menu] li, .example-dropdown-1 [data-dropdown-menu] li, .example-dropdown-2 [data-dropdown-menu] li, .example-tooltip:before, .example-tooltip:after, .page, .page > [data-page-cover], .mb-nav, .mb-nav a, [data-offcanvas-close] > span, [data-offcanvas-close]:before, [data-offcanvas-close]:after, .icon-nav > span, .icon-nav:before, .icon-nav:after, .example-justify a {
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.example-wrap, .example-gallery {
  letter-spacing: -.43em;
}

.example-gallery > li {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

p code, .button, .button.active, .site-nav__level1 > li > a, .example-justify input, .example-slider .slider-labels label, .example-button button, .example-button input, .example-button .pagination a, .example-button .breadcrumb a {
  display: inline-block;
  box-sizing: border-box;
}

.news-left > li > figure, .news-left > li > div, .news-right > li > figure, .news-right > li > div {
  display: table-cell;
  vertical-align: top;
}

.site-nav--haschild, .example-dropdown-1, .example-dropdown-2 {
  position: relative;
  cursor: pointer;
}

.site-nav--haschild [data-dropdown-menu], .example-dropdown-1 [data-dropdown-menu], .example-dropdown-2 [data-dropdown-menu] {
  position: absolute;
  z-index: 700;
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -ms-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
}
.no-csstransforms .site-nav--haschild [data-dropdown-menu], .site-nav--haschild .no-csstransforms [data-dropdown-menu], .no-csstransforms .example-dropdown-1 [data-dropdown-menu], .example-dropdown-1 .no-csstransforms [data-dropdown-menu], .no-csstransforms .example-dropdown-2 [data-dropdown-menu], .example-dropdown-2 .no-csstransforms [data-dropdown-menu] {
  display: none;
}
.site-nav--haschild [data-dropdown-menu] a, .example-dropdown-1 [data-dropdown-menu] a, .example-dropdown-2 [data-dropdown-menu] a {
  display: block;
}

.site-nav--haschild:hover [data-dropdown-menu], .example-dropdown-1:hover [data-dropdown-menu], .example-dropdown-2.dropdown-open [data-dropdown-menu] {
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.no-csstransforms .site-nav--haschild:hover [data-dropdown-menu], .site-nav--haschild:hover .no-csstransforms [data-dropdown-menu], .no-csstransforms .example-dropdown-1:hover [data-dropdown-menu], .example-dropdown-1:hover .no-csstransforms [data-dropdown-menu], .no-csstransforms .example-dropdown-2.dropdown-open [data-dropdown-menu], .example-dropdown-2.dropdown-open .no-csstransforms [data-dropdown-menu] {
  display: block;
}

.example-tooltip:before, .example-tooltip:after {
  position: absolute;
  z-index: 9999;
  opacity: 0;
}
.no-opacity .example-tooltip:before, .no-opacity .example-tooltip:after {
  display: none;
}
.example-tooltip:hover:before, .example-tooltip:hover:after {
  opacity: 1;
}
.no-opacity .example-tooltip:hover:before, .no-opacity .example-tooltip:hover:after {
  display: block;
}

.example-tooltip:after {
  display: block;
  padding: 0.67em;
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
  color: #fff;
}

.example-flex-video {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-bottom: 1.875em;
}

.example-flex-video > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

#pure-1:checked ~ .dots label:nth-child(1) .normal, #pure-2:checked ~ .dots label:nth-child(2) .normal, #pure-3:checked ~ .dots label:nth-child(3) .normal, #pure-4:checked ~ .dots label:nth-child(4) .normal, #pure-5:checked ~ .dots label:nth-child(5) .normal {
  display: none;
}

#pure-1:checked ~ .controls label:nth-child(5) .prev,
#pure-1:checked ~ .controls label:nth-child(2) .next, #pure-2:checked ~ .controls label:nth-child(1) .prev,
#pure-2:checked ~ .controls label:nth-child(3) .next, #pure-3:checked ~ .controls label:nth-child(2) .prev,
#pure-3:checked ~ .controls label:nth-child(4) .next, #pure-4:checked ~ .controls label:nth-child(3) .prev,
#pure-4:checked ~ .controls label:nth-child(5) .next, #pure-5:checked ~ .controls label:nth-child(4) .prev,
#pure-5:checked ~ .controls label:nth-child(1) .next, #pure-1:checked ~ .dots label:nth-child(1) .active, #pure-2:checked ~ .dots label:nth-child(2) .active, #pure-3:checked ~ .dots label:nth-child(3) .active, #pure-4:checked ~ .dots label:nth-child(4) .active, #pure-5:checked ~ .dots label:nth-child(5) .active {
  display: block;
}

.pure .slider-container .inner, .pure .dots span, .pure .controls span, .pure .slider-container li {
  transition: all 1s ease 0s;
}

.pure {
  position: relative;
}
.pure img {
  width: 100%;
}
.pure > input {
  display: none;
}
.lt-ie9 .pure > input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.pure .slider-container {
  overflow: hidden;
}
.pure .slider-container .inner {
  position: relative;
  left: 0;
  letter-spacing: -0.34em;
  white-space: nowrap;
}
.pure .slider-container li {
  display: inline-block;
  width: 100%;
  letter-spacing: 0;
  box-sizing: border-box;
}
.pure .info, .pure .controls, .pure .dots, .pure .autoplay {
  position: absolute;
  z-index: 10;
}
.pure .info {
  bottom: 20px;
  z-index: 9;
}
.pure .controls {
  top: 50%;
  width: 100%;
  box-sizing: border-box;
}
.pure .controls span {
  display: none;
}
.pure .dots {
  width: 100%;
  text-align: center;
}
.pure .dots label {
  display: inline-block;
}
.pure .autoplay {
  left: 50%;
  top: 50%;
}

.pure .dots label, .pure .dots span {
  display: inline-block;
  vertical-align: top;
}
.pure .dots label {
  padding: 12px 3px 0px;
}
.pure .dots label:hover .normal {
  background-color: #5a5a5a;
}
.pure .dots span {
  width: 9px;
  height: 9px;
  background-color: #d3d3d3;
  border-radius: 50%;
}
.pure .dots .active {
  background-color: #5a5a5a;
  display: none;
}

.pure .controls {
  margin-top: -23px;
}
.pure .controls span {
  width: 40px;
  height: 46px;
  opacity: 0.4;
}
.pure .controls span:before {
  font-family: 'icon-font';
  font-size: 40px;
}
.pure .controls span:hover {
  opacity: 0.8;
}
.pure .controls .prev {
  float: left;
  margin-left: -60px;
}
.pure .controls .prev:before {
  content: 'n';
}
.pure .controls .next {
  float: right;
  margin-right: -60px;
}
.pure .controls .next:before {
  content: 'm';
}

.pure .slider-container li {
  z-index: 7;
  opacity: 0;
  width: 100%;
}
.no-opacity .pure .slider-container li, .pure .slider-container .no-opacity li {
  display: none;
}

#pure-1:checked ~ .slider-container li:nth-child(1), #pure-2:checked ~ .slider-container li:nth-child(2), #pure-3:checked ~ .slider-container li:nth-child(3), #pure-4:checked ~ .slider-container li:nth-child(4), #pure-5:checked ~ .slider-container li:nth-child(5) {
  z-index: 8;
  opacity: 1;
}
.no-opacity #pure-1:checked ~ .slider-container li:nth-child(1), #pure-1:checked ~ .slider-container .no-opacity li:nth-child(1), .no-opacity #pure-2:checked ~ .slider-container li:nth-child(2), #pure-2:checked ~ .slider-container .no-opacity li:nth-child(2), .no-opacity #pure-3:checked ~ .slider-container li:nth-child(3), #pure-3:checked ~ .slider-container .no-opacity li:nth-child(3), .no-opacity #pure-4:checked ~ .slider-container li:nth-child(4), #pure-4:checked ~ .slider-container .no-opacity li:nth-child(4), .no-opacity #pure-5:checked ~ .slider-container li:nth-child(5), #pure-5:checked ~ .slider-container .no-opacity li:nth-child(5) {
  display: block;
}

.pure .slider-container {
  position: relative;
}
.pure .slider-container li {
  position: absolute;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 20px auto;
}

.pure {
  margin-bottom: 40px;
}

.pure .slider-container {
  padding-bottom: 56.2727272727%;
}
.pure .autoplay {
  display: none !important;
}

.pure .slider-container {
  padding-bottom: 56.2727272727%;
}
.pure .autoplay {
  display: none !important;
}

@media (max-width: 73.625em) {
  .controls {
    padding-left: 70px;
    padding-right: 70px;
  }
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h2[id], h3[id], h4[id] {
  text-align: center;
}

h2 {
  font-size: 2.0725189074rem;
  font-weight: 700;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.166375rem;
  font-weight: 500;
  margin: 0.5em 0;
  padding: 0.7em 0;
}
h3[id] {
  border-bottom: 1px solid  #dbdbdb;
}

h5 {
  font-size: 0.875rem;
  margin: 3em 0 1em;
}

p code {
  padding: 0.2em 0.5em;
  margin: 0 0.3em 0 0;
  background-color: #F5F2F0;
  color: #000;
  border-radius: 2px;
}
p code:hover {
  background-color: #e1d7d1;
}
.topic p {
  font-size: 0.875rem;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}
.topic:nth-child(-n+2) p {
  text-align: center;
}

.page {
  position: relative;
  left: 0;
  padding-top: 54px;
}
.page > [data-page-cover] {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.off-canvas-show .page > [data-page-cover] {
  background-color: rgba(48, 68, 117, 0.57);
  z-index: 200;
  cursor: pointer;
}
.off-canvas-show .page {
  left: 200px;
}

.container {
  max-width: 100em;
  margin: 0 1.875em;
}
@media (min-width: 103.75em) {
  .container {
    margin: 0 auto;
  }
}

.button {
  font-size: 0.9375rem;
  padding: 12px 20px;
  margin: 0 10px 10px 0;
  background-color: #4A90E2;
  color: #fff;
  border-radius: 3px;
}
.button:hover {
  background-color: #2275d7;
}
.button.active {
  background-color: #ffab00;
  color: #000;
}
.button.active:hover {
  background-color: #cc8900;
}

.mb-nav a,
.site-nav a {
  white-space: nowrap;
}

.mb-nav {
  position: fixed;
  height: 100%;
  color: #fff;
  background: #102244;
  z-index: 300;
  box-sizing: border-box;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  margin-left: -200px;
}
.mb-nav li {
  font-size: 0.875rem;
}
.mb-nav a {
  display: block;
  padding: 0.9em 1.6em;
  color: #fff;
}
.mb-nav a:hover {
  background-color: #1f4182;
}
.mb-nav .active > a,
.mb-nav .current > a {
  background-color: #2651a3;
}
.off-canvas-show .mb-nav {
  left: 200px;
}
.mb-nav [data-offcanvas-close] {
  cursor: pointer;
}
.mb-nav [data-offcanvas-subnav] {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 100%;
  background-color: #102244;
  -webkit-transition: left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.mb-nav .mb-subnav-show {
  left: 0;
}
.mb-nav [data-offcanvas-back] {
  padding: 0.9em 1.6em;
  cursor: pointer;
  background-color: #1f4182;
}
.mb-nav [data-icon-haschild] {
  display: inline-block;
  padding: 0.9em 1.6em;
  padding-left: 1em;
  padding-right: 1em;
  float: right;
  cursor: pointer;
}
.mb-nav [data-icon-haschild]:hover {
  background-color: #1f4182;
}
.mb-nav li {
  clear: both;
}

[data-offcanvas-close] {
  display: inline-block;
  padding: 10px;
  width: 18px;
  cursor: pointer;
  position: relative;
  height: 12px;
  margin: 10px 0 0 12px;
}
[data-offcanvas-close] > span, [data-offcanvas-close]:before, [data-offcanvas-close]:after {
  display: block;
  height: 2px;
  background-color: #fff;
}
[data-offcanvas-close]:before, [data-offcanvas-close]:after {
  content: '';
}
[data-offcanvas-close] > span, [data-offcanvas-close]:after {
  margin-top: 3px;
}
[data-offcanvas-close]:hover span, [data-offcanvas-close]:hover:before, [data-offcanvas-close]:hover:after {
  background-color: #74baff;
}
[data-offcanvas-close] > span {
  display: none;
}
[data-offcanvas-close]:before, [data-offcanvas-close]:after {
  position: absolute;
  top: 50%;
  width: 19.8px;
  margin-left: -0.9px;
  margin-top: -2px;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.no-csstransforms [data-offcanvas-close]:before, .no-csstransforms [data-offcanvas-close]:after {
  display: none;
}
[data-offcanvas-close]:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[data-offcanvas-close]:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-csstransforms [data-offcanvas-close] {
  background: url("data:image/gif;base64,R0lGODlhEAAQAPAAAP///wAAACH5BAEAAAEALAAAAAAQABAAAAIoDIKpeOC7XHvQUHviZVtWj1WclIlYaZLmCH5Uq8BwqJVz4t3xg4pHAQA7") center center no-repeat;
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #433AD9;
  background: -webkit-linear-gradient(7deg, rgba(64, 0, 255, 0.8) 0%, rgba(20, 9, 207, 0.8) 40%, rgba(20, 9, 207, 0.8) 60%, rgba(14, 78, 229, 0.8) 100%);
  background: linear-gradient(7deg, rgba(64, 0, 255, 0.8) 0%, rgba(20, 9, 207, 0.8) 40%, rgba(20, 9, 207, 0.8) 60%, rgba(14, 78, 229, 0.8) 100%);
}

.icon-nav {
  display: inline-block;
  padding: 0.625rem 0.5625rem;
  width: 1.125rem;
  cursor: pointer;
  float: left;
  margin: 10px 5px 0 -10px;
}
.icon-nav > span, .icon-nav:before, .icon-nav:after {
  display: block;
  height: 0.125rem;
  background-color: #fff;
}
.icon-nav:before, .icon-nav:after {
  content: '';
}
.icon-nav > span, .icon-nav:after {
  margin-top: 0.1875rem;
}
.icon-nav:hover span, .icon-nav:hover:before, .icon-nav:hover:after {
  background-color: #fd5619;
}
@media (min-width: 43.75em) {
  .icon-nav {
    display: none;
  }
}

.branding {
  width: 185.35px;
  height: 36px;
  margin: 9px 0;
  float: left;
}
.branding a {
  display: block;
  height: 100%;
}
.branding svg {
  height: 34px;
  width: 185.35px;
  float: left;
}
.no-inlinesvg .branding {
  background: url("../images/logo.png") right top no-repeat;
}

.site-nav {
  margin-right: -10px;
}
@media (max-width: 43.6875em) {
  .site-nav {
    display: none;
  }
}
.site-nav__level1 {
  text-align: right;
}
.site-nav__level1 > li {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
.site-nav__level1 > li > a {
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  transform: skewX(30deg);
  font-size: 0.875rem;
  padding: 1.1428571429em 0.9285714286em;
  line-height: 21px;
  height: 53px;
  color: #fff;
  vertical-align: top;
}
.site-nav--haschild [data-dropdown-menu] {
  -webkit-transform: skewX(30deg) scaleY(0);
  -moz-transform: skewX(30deg) scaleY(0);
  -ms-transform: skewX(30deg) scaleY(0);
  -o-transform: skewX(30deg) scaleY(0);
  transform: skewX(30deg) scaleY(0);
}
.site-nav--haschild:hover [data-dropdown-menu] {
  -webkit-transform: skewX(30deg) scaleY(1);
  -moz-transform: skewX(30deg) scaleY(1);
  -ms-transform: skewX(30deg) scaleY(1);
  -o-transform: skewX(30deg) scaleY(1);
  transform: skewX(30deg) scaleY(1);
}
.site-nav__level1 > li:hover,
.site-nav__level1 .active {
  background-color: #ffab00;
}
.site-nav__level1 > li:hover > a,
.site-nav__level1 .active > a {
  color: #000;
}
.site-nav__level1 .ic-github {
  font-size: 20px;
}
.site-nav__level1 .ic-email {
  font-size: 18px;
}
.site-nav--haschild {
  font-size: 0.875rem;
}
.site-nav--haschild [data-dropdown-menu] {
  background-color: #ffab00;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px;
}
.site-nav--haschild [data-dropdown-menu] .current a, .site-nav--haschild [data-dropdown-menu] li:hover a {
  background-color: #b37800;
}
.site-nav--haschild [data-dropdown-menu] a {
  padding: 0.7em 1.25em;
  color: #000;
}
.site-nav--haschild [data-dropdown-menu] li:first-child > a {
  padding-top: 1.4em;
}
.site-nav--haschild [data-dropdown-menu] li:last-child > a {
  padding-bottom: 1.4em;
}
.site-nav .ic-triangle-down {
  font-size: 12px;
  margin-left: 3px;
}

.intro {
  background: #0E1721 url("../images/graphic.png") center 20px no-repeat;
}
@media (min-width: 64em) {
  .intro {
    background-image: none;
  }
}
.intro p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 1.25em 0;
  color: #6191B3;
}
.intro p .active {
  color: #ffab00;
}
.intro-content {
  max-width: 38.75em;
  padding: 20.5em 0 1.25em;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 64em) {
  .intro-content {
    padding: 5.625em 0 5.625em 33.75em;
    text-align: left;
    background: url("../images/graphic.png") left 3.9375em no-repeat;
  }
  .intro-content p {
    max-width: 37.5em;
  }
}

.topic {
  margin: 4em 0;
}
.topic > section {
  margin: 2em 0;
}
@media (min-width: 64em) {
  .topic > section {
    margin: 0 0 5em;
  }
}
@media (min-width: 48em) {
  .topic > h2:before, .topic > h2:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .topic > h2:before {
    content: url("../images/title-prev.png");
  }
  .topic > h2:after {
    content: url("../images/title-next.png");
  }
}

.content pre[class*="language-"] {
  margin-top: 0;
}
@media (min-width: 56.25em) {
  .content-main {
    float: left;
    width: 61.7021276596%;
    margin-right: 2.1276595745%;
  }
}
@media (min-width: 56.25em) {
  .content-aside {
    float: left;
    width: 36.170212766%;
  }
}
@media (min-width: 56.25em) {
  .content-main-short {
    float: left;
    width: 36.170212766%;
    margin-right: 2.1276595745%;
  }
}
@media (min-width: 56.25em) {
  .content-aside-long {
    float: left;
    width: 61.7021276596%;
  }
}

.example-container {
  max-width: 80%;
  margin: 0 auto;
}
.example-wrap {
  margin: 0 -0.9375rem;
}
.example-wrap .cell {
  margin: 0 15px;
}
.example-span-1 {
  float: left;
  width: 62.5%;
  margin-right: 3.125%;
}
.example-span-2 {
  float: left;
  width: 34.375%;
}
.example-span-calc-1 {
  float: left;
  width: calc( 72.7272727273% + 0.9090909091rem - 1.25rem );
  margin-right: 1.25rem;
}
.example-span-calc-2 {
  float: left;
  width: calc( 27.2727272727% + 0.3409090909rem - 1.25rem );
}
.example-span-isolate-1 {
  width: 100%;
  float: left;
  margin-right: -100%;
}
.example-span-isolate-1 > * {
  margin-right: 220px;
}
.example-span-isolate-2 {
  width: 200px;
  float: right;
}
.example-gallery {
  margin: 0 -0.625rem;
}
.example-gallery > li {
  width: 25%;
  padding: 0.625rem;
}
.example-gallery span {
  display: block;
  min-height: 120px;
  padding: 15px;
}
.example-justify {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.no-flexbox .example-justify {
  text-align: justify;
  line-height: 0;
  margin-bottom: -5px;
}
.no-flexbox .example-justify:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.no-flexbox .example-justify > li {
  line-height: 1;
  display: inline-block;
}
.example-justify a {
  display: block;
}
.example-justify a:hover {
  padding: 0 20px;
}
.example-justify input {
  width: 150px;
  font-size: 0.875rem;
  padding: 5px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.example-justify input:focus {
  width: 250px;
}
.example-center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.no-flexbox .example-center {
  text-align: center;
}
.no-flexbox .example-center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -.25em;
}
.no-flexbox .example-center > div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.example-center > div {
  width: 150px;
  padding: 10px;
}
.example-two-columns {
  padding-right: 13.75rem;
}
.example-two-columns > [data-col-main] {
  float: left;
  width: 100%;
}
.example-two-columns > [data-col-aside] {
  float: right;
  width: 12.5rem;
  margin-right: -13.75rem;
}
.example-debug {
  background-image: -webkit-linear-gradient( left , transparent 1.25rem, rgba(41, 181, 255, 0.15) 1.25rem);
  background-image: linear-gradient(to right, transparent 1.25rem, rgba(41, 181, 255, 0.15) 1.25rem);
  background-size: calc(8.3333333333% + 0.1041666667rem) auto;
  background-position: -1.25rem top;
  background-repeat: repeat;
}
.example-slider > input {
  display: none;
}
.lt-ie9 .example-slider > input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.example-slider .slider-labels {
  margin-bottom: 20px;
}
.example-slider .slider-labels .title {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 0.3em;
}
.example-slider .slider-labels label {
  font-size: 0.8125rem;
  padding: 12px 22px;
  margin: 0 10px 10px 0;
  background-color: #d2d2d2;
  color: #000;
  border-radius: 3px;
}
.example-slider .slider-labels label:hover {
  background-color: #b8b8b8;
}
.example-slider .slider-labels label:hover, .example-slider .slider-labels label.selected {
  background-color: #ace2ff;
}
.color-box {
  float: left;
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
  border-radius: .3em;
  color: #fff;
}
.example-complementary .color-box {
  width: 47%;
  margin-right: 3%;
}
.example-adjacent .color-box, .example-split-complementary .color-box, .example-triad .color-box {
  width: 30%;
  margin-right: 3%;
}
.example-rectangle .color-box, .example-square .color-box {
  width: 22%;
  margin-right: 3%;
}
.color-box-original {
  background-color: #d92626;
  color: #fff;
}
.color-box-contrast {
  background-color: #5173a3;
  color: #fff;
  width: 30%;
}
.color-box-adjacent-1 {
  background-color: #d92626;
  color: #fff;
}
.color-box-adjacent-2 {
  background-color: #d97726;
  color: #fff;
}
.color-box-complementary {
  background-color: #26d926;
  color: #000;
}
.color-box-split-complementary-1 {
  background-color: #9dd926;
  color: #000;
}
.color-box-split-complementary-2 {
  background-color: #26d9d9;
  color: #000;
}
.color-box-triad-1 {
  background-color: #d9d926;
  color: #000;
}
.color-box-triad-2 {
  background-color: #265cd9;
  color: #fff;
}
.color-box-rectangle-1 {
  background-color: #d97726;
  color: #fff;
}
.color-box-rectangle-2 {
  background-color: #26d926;
  color: #000;
}
.color-box-rectangle-3 {
  background-color: #26d9d9;
  color: #000;
}
.color-box-square-1 {
  background-color: #d9bb26;
  color: #000;
}
.color-box-square-2 {
  background-color: #26d926;
  color: #000;
}
.color-box-square-3 {
  background-color: #5026d9;
  color: #fff;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}
.color-pattern img {
  max-width: 100%;
}
.example-button {
  margin-top: 20px;
}
.example-button button {
  font-size: 0.875rem;
  padding: 0.5em 0.8em;
  margin: 0 0 4px 0;
  background-color: #3255ff;
  color: #fff;
  border-radius: 3px;
}
.example-button button:hover {
  background-color: #002bfe;
}
.example-button input {
  display: block;
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.example-button .pagination a {
  display: inline-block;
  font-size: 0.8125rem;
  padding: 0.3125em 0.5em;
  margin: 0 3px 3px 0;
  background-color: #dbdbdb;
  color: #000;
  border-radius: 3px;
}
.example-button .pagination a:hover {
  background-color: #c2c2c2;
}
.example-button .breadcrumb li {
  display: inline-block;
}
.example-button .breadcrumb a {
  display: inline-block;
  font-size: 0.875rem;
  padding: 5px;
  vertical-align: middle;
}
.example-button .breadcrumb span {
  font-size: 13px;
  vertical-align: middle;
}
.news-left > li > figure {
  padding-right: 15px;
}
.news-left > li p {
  margin-top: 0;
  max-width: none;
}

.news-right > li > figure {
  padding-left: 15px;
}
.news-right > li p {
  margin-top: 0;
  max-width: none;
}
.example-dropdown-1, .example-dropdown-2 {
  padding: 10px 0;
  margin-right: 30px;
  display: inline-block;
}
.example-dropdown-1 > ul, .example-dropdown-2 > ul {
  margin-top: 10px;
}
.example-dropdown-1 [data-dropdown-menu] {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.19em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 12px;
}
.example-dropdown-1 [data-dropdown-menu] .current a, .example-dropdown-1 [data-dropdown-menu] li:hover a {
  background-color: #d9d9d9;
}
.example-dropdown-1 [data-dropdown-menu] a {
  padding: 0.31em 1.25em;
  color: #000;
}
.example-dropdown-1 [data-dropdown-menu] li:first-child > a {
  padding-top: 0.62em;
}
.example-dropdown-1 [data-dropdown-menu] li:last-child > a {
  padding-bottom: 0.62em;
}
.example-dropdown-2 [data-dropdown-menu] {
  background-color: #fff;
  border: 1px solid #f3ecec;
  border-radius: 3px;
}
.example-dropdown-2 [data-dropdown-menu] .current a, .example-dropdown-2 [data-dropdown-menu] li:hover a {
  background-color: #d9d9d9;
}
.example-dropdown-2 [data-dropdown-menu] a {
  padding: 0.5em 0.75em;
  color: #000;
}
.example-dropdown-2 [data-dropdown-menu] li:first-child > a {
  padding-top: 1em;
}
.example-dropdown-2 [data-dropdown-menu] li:last-child > a {
  padding-bottom: 1em;
}
.example-tooltip {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.example-tooltip:before, .example-tooltip:after {
  right: -8px;
}
.example-tooltip:before {
  content: '';
}
.example-tooltip:after {
  content: attr(data-tooltip);
  background-color: #b02df3;
  max-width: 300px;
  border-radius: 3px;
}
.no-csstransforms .example-tooltip:after {
  width: 300px;
}
.example-tooltip:before, .example-tooltip:after {
  top: 50%;
}
.example-tooltip:before {
  margin-top: -6px;
}
.no-csstransforms .example-tooltip:before, .no-csstransforms .example-tooltip:after {
  top: 0;
}
.no-csstransforms .example-tooltip:before {
  margin-top: 4px;
}
.example-tooltip:before {
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #b02df3;
}
.example-tooltip:after {
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.no-csstransforms .example-tooltip:after {
  left: 100%;
  margin-left: 8px;
}
.example-flex-video {
  padding-bottom: 56.25%;
}
.example-visible-1, .example-visible-2, .example-visible-3, .example-hidden-1, .example-hidden-2, .example-hidden-3 {
  margin: 1em 0;
  font-size: 14px;
}
@media (max-width: 56.1875em) {
  .example-visible-1 {
    display: none;
  }
}
@media (max-width: 56.1875em) {
  .example-visible-2 {
    display: none;
  }
}
@media (min-width: 62.5em) {
  .example-visible-2 {
    display: none;
  }
}
@media (max-width: 43.6875em) {
  .example-visible-3 {
    display: none;
  }
}
@media (min-width: 56.25em) and (max-width: 74.9375em) {
  .example-visible-3 {
    display: none;
  }
}
@media (min-width: 56.25em) {
  .example-hidden-1 {
    display: none;
  }
}
@media (min-width: 56.25em) and (max-width: 62.4375em) {
  .example-hidden-2 {
    display: none;
  }
}
@media (min-width: 43.75em) and (max-width: 56.1875em) {
  .example-hidden-3 {
    display: none;
  }
}
@media (min-width: 75em) {
  .example-hidden-3 {
    display: none;
  }
}
.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
}

h1.example-type {
  font-size: 2rem;
  line-height: 1.1;
  margin: 0 0 10px 0;
}

h2.example-type {
  font-size: 1.75rem;
  line-height: 1.2;
  margin: 0 0 10px 0;
}

h3.example-type {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 10px 0;
}

h4.example-type {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 0 10px 0;
}

h5.example-type {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 10px 0;
}

[data-margin] {
  background-color: #F0D7A9;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

pre[class*="language-"] > code[data-language] {
  overflow: auto;
  max-height: none;
}

pre[class*="language-"] {
  padding: 0 1em;
}

.glyphs.character-mapping {
  padding: 20px 0 20px 30px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #d8e0e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}

.glyphs.character-mapping li {
  margin: 0 20px 15px 0;
  display: inline-block;
  width: 80px;
}

.glyphs.character-mapping .icon {
  margin: 10px 0 10px 15px;
  position: relative;
  color: #162a36 !important;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 32px;
  text-align: center;
}

.glyphs.character-mapping .icon svg {
  fill: #000;
}

.glyphs.character-mapping input {
  margin: 0;
  padding: 5px 0;
  line-height: 12px;
  font-size: 12px;
  display: block;
  width: 100%;
  border: 1px solid #d8e0e5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  outline: 0;
}

.glyphs.character-mapping input:focus {
  border: 1px solid #fbde4a;
  -webkit-box-shadow: inset 0 0 3px #fbde4a;
  box-shadow: inset 0 0 3px #fbde4a;
}

.glyphs.character-mapping input:hover {
  -webkit-box-shadow: inset 0 0 3px #fbde4a;
  box-shadow: inset 0 0 3px #fbde4a;
}

.glyphs.css-mapping {
  padding: 30px 0 20px 30px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #d8e0e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}

.glyphs.css-mapping li {
  margin: 0 20px 15px 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

.glyphs.css-mapping .icon {
  margin: 0;
  margin-right: 10px;
  padding: 13px 13px 0 13px;
  color: #162a36 !important;
  overflow: hidden;
  float: left;
  font-size: 24px;
}

.glyphs.css-mapping input {
  margin: 0;
  margin-top: 5px;
  padding: 8px;
  line-height: 16px;
  font-size: 16px;
  display: block;
  width: 150px;
  height: 20px;
  border: 1px solid #d8e0e5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  outline: 0;
  float: right;
}

.glyphs.css-mapping input:focus {
  border: 1px solid #fbde4a;
  -webkit-box-shadow: inset 0 0 3px #fbde4a;
  box-shadow: inset 0 0 3px #fbde4a;
}

.glyphs.css-mapping input:hover {
  -webkit-box-shadow: inset 0 0 3px #fbde4a;
  box-shadow: inset 0 0 3px #fbde4a;
}

.site-footer {
  padding: 15px 0;
  background-color: #0E1721;
}

.copy-right {
  font-size: 0.75rem;
  line-height: 1.3;
  color: #b1b1b1;
}

/*# sourceMappingURL=test.css.map */
