<div class="dropdown-1">
  <span>dropdown</span>
  <!-- if you set $show: click, input and label are required. -->
  <input type="checkbox" name="" id="your-dropdown-id">
  <label for="your-dropdown-id"> → </label>
  <ul>
    <li><a href="">item01</a></li>
    <li><a href="">item02</a></li>
    <li><a href="">item03</a></li>
  </ul>
</div>