@mixin center(
	$key:
		child '*'
		center
){
	$child: '*';
	$align: center;

  @if type-of($key) == string {
    $child: $key;
  } @else if type-of($key) == list {
    @each $direction in left, right, center {
      @if index($key, $direction) { 
        $align: $direction;
        $key: reject($key, $direction);
      } 
    }
    @if index($key, child) {
    	$child: get-next($key, child);
    } @else {
      $child: nth($key, 1);
    }
  }

	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	.no-flexbox & { 
		text-align: center; 
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -.25em; // adjusts for spacing
		}
	}
	> #{$child} {
		.no-flexbox & {
			display: inline-block;
			vertical-align: middle;
			@if $align != center { text-align: $align; }
		}
	}
}

