/// *center* is for creating both horizontal and vertical center-aligned layout.
/// 
/// $key: `$child $align`
/// @group layout
/// @param {list} $key - key 
/// @example scss - Usage
/// .banner { @include center(div left); }
/// // child: div;
/// // align: left; (left | right | center, for old browser)
/// 
/// @link http://creatiointl.org/gallery/william/rocket/layout-center.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin center(
	$key:
		child '*'
		center
){
  $check: (left right center 'child');

	$child: ro-get-type($key, 'string', $check, '*');
	$align: ro-get($key, (left right center), center);

  // *** output *** //
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	.no-flexbox & { 
		text-align: center; 
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -.25em; // adjusts for spacing
		}
	}
	> #{$child} {
		.no-flexbox & {
			display: inline-block;
			vertical-align: middle;
			@if $align != center { text-align: $align; }
		}
	}
}

