// *** center *** //
@mixin center($key: (child: '*')){
  @include check-arg-type($key, 'map');

  $child: if(map-get($key, 'child'), map-get($key, 'child'), '*');
  $align: if(map-get($key, 'align'), map-get($key, 'align'), 'left');
  
  text-align: center; 
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em; // adjusts for spacing
  }
  > #{$child} {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    @if $align != center {
      text-align: $align;
    }
  }
}

