/// `span` is used to create grid. You can use fixed gutter (px, em, rem) or flexible gutter (%). If you use fixed gutter, you need set the parent element as a `wrap`, or you can use `span-calc`.   
/// *Isolate mode*: read [this article](http://www.palantir.net/blog/responsive-design-s-dirty-little-secret) for more detail. If you want to use isolate mode on one column, other siblings columns also need use isolate mode:   
/// *Nested grid*: use function `span` to calculate child element's gutter.   
/// 
/// $key: `($column at $location of $columns) $gutter (move $move) (float $float) last keep`
/// @group layout
/// @param {number | list} $key - key 
/// @example scss - Usage
/// .nav { @include col(3); }
/// // column: 3;
/// // columns: 12; (default)
/// // columns: 2%; (default)
/// 
/// .nav { @include col(11 of 16 2%); }
/// // column: 3;
/// // columns: 12;
/// // gutter: 2%;
/// 
/// .nav { @include col(11 at 5 of 16 2%); }
/// // location: 5; (isolate mode)
/// 
/// .nav { @include col(11 of 16 2% right move -5 last); }
/// // last: true; (The last column)
/// // float: right;
/// // move: -5; (move left 5 columns)
///
/// .nav { @include col(11 of 16 keep); }
///
/// @link http://creatiointl.org/gallery/william/rocket/layout-grid.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin col($key){
	// merge list items
	@each $item in $key {
		@if type-of($item) == 'list' {
			$key: join($item, reject($key, $item), 'space');
		}
	}
	
	$columns: ro-get-next($key, 'of', map-get($ro-layout, columns));
	$gutter: map-get($ro-layout, gutter);
	$float: ro-get($key, left right, left);
	$last: ro-get($key, 'last');
	$keep: ro-get($key, 'keep');
	$move: ro-get-next($key, move);

	// set up column, location and isolate
	$column: 0;
	$location: false;
	$isolate: false;
	@if type-of($key) == 'number' {
		$column: $key;
	} @else if type-of($key) == 'list' {
		@if index($key, 'at') {
			$location: (ro-get-next($key, 'at') - 1);
			$column: ro-get-prev($key, 'at');
			$isolate: true;
		} @else if index($key, 'of') {
			$column: ro-get-prev($key, 'of');
		} @else {
			@each $item in $key {
				@if type-of($item) == 'number' and
						unitless($item) {
					$column: $item;
				}
			}
		}
	}

	// set up gutter
	@each $item in $key {
		@if type-of($item) == 'number' and 
				not unitless($item) {
			$gutter: $item;
		}
	}
	// strip unit when gutter == 0
	@if strip-unit($gutter) == 0 {
		$gutter: 0;
	}
	

	// *** output *** //
  // float
  @if not $keep { float: $float; }

	// move
	@if $move { position: relative; }

	// isolate
	@if $isolate { margin-right: -100%; }
	
	// no gutter
	@if not $gutter or $gutter == 0 {
	  width: percentage($column / $columns);
	  margin-#{opposite($float)}: 0; 

	  // move
	  @if $move and $move != 0 { 
	  	left: percentage($move / $columns); 
	  } @else {
	  	left: 0;
	  }

	  // location
	  @if $location and $location != 0 { 
	  	margin-#{$float}: percentage($location / $columns); 
	  }

	// flexible gutter
	} @else if unit($gutter) == '%' {
		$column-width: ((100% - ($columns - 1) * $gutter) / $columns);
		width: $column-width * $column + $gutter * ($column - 1);

		@if not $keep and not $last and not $isolate {
				margin-#{opposite($float)}: $gutter; 
		}

		// move
		@if $move and $move != 0 { 
			left: ($column-width + $gutter) * $move; 
		} @else {
			left: 0;
		}

		// location
		@if $location and $location != 0 { 
			margin-#{$float}: ($column-width + $gutter) * $location; 
		}

	// fixed gutter
	} @else {
		width: percentage($column / $columns);

		@if not $keep {
	    box-sizing: border-box;
			padding-left: ($gutter / 2);
			padding-right: ($gutter / 2);
		}

		// move
		@if $move and $move != 0 { 
			left: percentage($move / $columns); 
		} @else {
			left: 0;
		}

		// location
		@if $location and $location != 0 { 
			margin-#{$float}: percentage($location / $columns); 
		}
	}
}

