@mixin container($key: false){
  $container: false;
  $breakpoint: false;
  $gutter: args-get-next($key, 'gutter', map-get($ro-layout, 'gutter'));
  $align: args-get($key, (left right center), center);

  // get container & gutter
  @if type-of($key) == 'number' {
    $container: $key;
  } @else if type-of($key) == list {
    @if index($key, 'gutter') {
      $key: list-remove($key, $gutter);
    }
    @each $item in $key {
      @if type-of($item) == 'number'{
        @if not $container {
          $container: $item;
        } @else {
          $gutter: $item;
        }
      } 
    }
  }
  @if not $container { $container: map-get($ro-layout, container); }

  // strip unit when gutter == 0
  @if $gutter and strip-unit($gutter) == 0 {
    $gutter: 0;
  }

  // *** output *** //
  @extend %clearfix;

  // pecentage container: 80%
  @if unit($container) == % {
    padding: 0 (50% - ($container / 2));

  // px or em container: 1000px 
  } @else {
    @if unit($gutter) != '%' and unit($container) == unit($gutter) {
      $breakpoint: ( $container + $gutter );
    } @else {
      $breakpoint: (em($container) + em(20));
    }

    padding: 0 ($gutter / 2);
    .lt-ie9 & {
      max-width: $container;
      margin: 0 auto;
    }
    
    // for big screen
    @include bp('min' $breakpoint) { 
      @if $align == center {
        padding: 0 -webkit-calc(50% - #{$container / 2});
        padding: 0 -moz-calc(50% - #{$container / 2});
        padding: 0 calc(50% - #{$container / 2});
      } @else {
        padding-#{opposite($align)}: -webkit-calc(100% - #{$container + $gutter});
        padding-#{opposite($align)}: -moz-calc(100% - #{$container + $gutter});
        padding-#{opposite($align)}: calc(100% - #{$container + $gutter});
      } 
    }
  }
}