// *** container *** //
@mixin container($key: false){
  $container: false;
  $gutter: args-get-next($key, 'gutter', map-get($ro-layout, 'gutter'));
  $align: args-get($key, (left right center), center);

  // get container & gutter
  @if type-of($key) == 'number' {
    $container: $key;
  } @else if type-of($key) == list {
    @if index($key, 'gutter') {
      $key: list-remove($key, $gutter);
    }
    @each $item in $key {
      @if type-of($item) == 'number'{
        @if not $container {
          $container: $item;
        } @else {
          $gutter: $item;
        }
      } 
    }
  }
  @if not $container { $container: map-get($ro-layout, container); }

  // strip unit when gutter == 0
  @if $gutter and strip-unit($gutter) == 0 {
    $gutter: 0;
  }

  // get container breakpoint
  $breakpoint: $container;
  @if unit($gutter) != '%' and unit($container) == unit($gutter) {
    $breakpoint: ( $container + $gutter );
  } @else {
    $breakpoint: (em($container) + em(20));
  }

  // *** output *** //
  @extend %ro-clearfix;
  padding: 0 ($gutter / 2);
  // for big screen
  @include bp('min' $breakpoint) { 
    @if $align == center {
      padding: 0 calc(50% - #{$container / 2});
    } @else {
      padding-#{opposite($align)}: calc(100% - #{$container + $gutter});
    } 
  }
}