@mixin diamond($key){
  $shape: args-get($key, ('diamond', 'octagon'), 'diamond');
  $tight: args-get($key, 'tight');

  $global-breakpoints: args-get-global-breakpoints($key);
  @if $global-breakpoints { $key: list-remove($key, $global-breakpoints); } // remove global-breakpoints from args if exist
  $local-breakpoints: false;
  $condition: args-get($key, ('min' 'max'), 'min');
  $media: args-get($key, $ro-media-type);
  $keep: args-get($key, 'keep', false);

  // get data
  $column: false;
  @if type-of($key) == 'number' or type-of($key) == 'map' {
    $column: $key;
  } @else if type-of($key) == 'list' and not $column {
    @each $item in $key {
      @if not $column and type-of($item) == 'number' or type-of($item) == 'map' {
        $column: $item;
      }
    }
  }

  // if not valuable data found
  @if not $column { @error 'Parameters must include number or map.'; }

  // @include check-arg-type($key, 'map');

  // $column: map-get($key, 'column');
  // $shape: if(map-get($key, 'shape'), map-get($key, 'shape'), 'diamond');
  // $tight: map-get($key, 'tight');
  // $global-breakpoints: map-get($key, 'breakpoint');
  // $local-breakpoints: false;
  // $condition: if(map-get($key, 'condition'), map-get($key, 'condition'), 'min');
  // $media: map-get($key, 'media');
  // $keep: map-get($key, 'keep');

  @if type-of($column) == 'map' {
    // update $column breakpoints
    @if $global-breakpoints { $column: map-update-breakpoints($column, $global-breakpoints); }
    @if $column and type-of($column) == 'map' { $local-breakpoints: map-keys($column); }

    @if index($local-breakpoints, null) != null or index($local-breakpoints, 'default') != null { 
      $keep: false; 
    } 

    @each $bp in $local-breakpoints {
      $num: map-get($column, $bp);

      @if $bp == null or $bp == 'default' {
        @include diamond-base($shape);
        $keep: true;

        @include make-diamond($num, $shape, $tight);

      } @else if type-of($bp) == 'number' {
        @include bp( ('breakpoint': $bp, 'condition': $condition) ) {
          @if not $keep {
            @include diamond-base($shape);
            $keep: true;
          }

          @include make-diamond($num, $shape, $tight);
        }
      }
    }
  } @else {
    @if not $keep {
      @include diamond-base($shape);
    }
    @include make-diamond($column, $shape, $tight);
  }
}

@mixin diamond-base($shape){
  position: relative;
  float: left;
  overflow: hidden;

  @if $shape == 'diamond' { 
    @include ro-transform( rotate(-45deg) scale((1/sqrt(2))) ); 
  } @else if $shape == 'octagon' {
    @include ro-transform(rotate(-45deg));
  }
  > .diamond-content {
    @include center();
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @if $shape == 'diamond' {
      @include ro-transform( rotate(45deg) scale( sqrt(2) ) );
    } @else if $shape == 'octagon' {
      @include ro-transform(rotate(45deg));
      overflow: inherit;
    }
  }
}

@mixin make-diamond($column, $shape, $tight) {
  $count: false;
  $size: false;

  // count & size
  @if type-of($column) == 'number' {
    @if unitless($column) {
      $count: $column; 
    } @else {
      $size: $column;
    }
  } @else if type-of($column) == 'list' {
    @each $item in $column {
      @if type-of($item) == 'number' {
        @if unitless($item) {
          $count: $item;
        } @else {
          $size: $item;
        }
      }
    }
  }
  @if $size and unit($size) == '%' and $count {
    $count: floor(100% / $size);
  }
  @if not $size {
    @if $count {
      $size: percentage(1 / $count);
    }
  } 
  @if not $count {
    @if $size and unit($size) == '%' {
      $count: floor(100% / $size);
    }
  } 

  @if $size {
    width: $size;
    @if unit($size) == '%' {
      height: 0;
      padding-bottom: $size;
    } @else {
      height: $size;
    }

    @if $shape == 'diamond' {
      @if $count and $tight {
        &:nth-child(n) {
          margin: 0;
          clear: none;
        }
        &:nth-child(#{$count * 2 - 1}n + #{($count + 1)}) {
          margin-left: ($size / 2);
          clear: both;
        }
        &:nth-child(n + #{($count + 1)}) {
          margin-top: (- $size / 2);
        }
      }
    } 
  }

}