@import 'wrap';

@mixin gallery(
  $per-row,
  $gutter: false,
  $child: false,
  $columns: map-get($layout, columns),
  $position: 'middle'
){
  $selector: null;
  @if not $child { $selector: '*'; }
  @else { $selector: $child; }

	// add unit to gutter
  @if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

  @include wrap($gutter);
  > #{$selector} {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: percentage(1 / $per-row);

    @if $gutter and $gutter != 0 {
      @if $position == bottom { padding: 0 ($gutter / 2) $gutter; }
      @else { padding: ($gutter / 2); }
    }
  }
}
