@import 'wrap';

@mixin gallery(
  $per-row,
  $gutter: false,
  $child: false,
  $columns: map-get($layout, columns),
  $position: 'middle'
){
  $selector: null;
  @if not $child { $selector: '*'; }
  @else { $selector: $child; }

  @include wrap($gutter,$columns);
  > #{$selector} {
    @at-root (without: media) { @extend %layout-span; }
    width: percentage(1 / $per-row);

    $gutter: add-unit($gutter);
    @if unit($gutter) == '%' {
      $gutter: gutter-width-percentage($per-row, $gutter);
    }

    @if get-unit($gutter) != '0' {
      @if $position == bottom { padding: 0 ($gutter / 2) $gutter; }
      @else { padding: ($gutter / 2); }
    }
  }
}
