// *** justify *** //
@mixin justify($key: li){
  $child: args-get-next($key, 'child', 'li');
  @if type-of($key) == 'string' { $child: $key; }

  // *** output *** //
  @include ro-flexbox;
  @include ro-justify-content(space-between);
  @include ro-align-items(center);

  // for non-flex browsers
  .no-flexbox.no-flexboxtweener & {
    text-align: justify;
    line-height: 0;
    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
    > #{$child} {
      line-height: 1;
      display: inline-block;
    }
  }
}
