// *** justify *** //
@mixin justify($key: (child: '*')){
  $child: if(map-get($key, 'child'), map-get($key, 'child'), '*');
  
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  > #{$child} {
    display: inline-block;
  }
}