// *** liquid-3 *** //
@mixin holy-grail($key){
  $map: false;
  $column-width: false;
  $order: false; // for flexbox
  $position-number: (); // for non-flexbox

  $global-breakpoint: false;
  $local-breakpoint: ();
  $condition: args-get($key, ('min' 'max'), 'min');
  $media-type: args-get($key, $ro-media-type);

  $use-flex: args-get($key, 'use-flex');
  $non-flex: if(
    $use-flex,
    '.no-flexbox.no-flexboxtweener &',
    '&');

  $child: args-get-next($key, 'child', 'div');
  $gutter: args-get-next($key, 'gutter', map-get($ro-layout, 'gutter'));
  $keep: args-get($key, 'keep', false);

  @if type-of($key) == 'map' {
    $map: $key;
  } @else if type-of($key) == 'list' {
    @if not is-nested-list($key) and is-liquid-list($key) {
      $column-width: $key;
    } @else {
      @each $item in $key {
        @if type-of($item) == 'list' and not is-nested-list($item) {
          @if is-liquid-list($item) {
            $column-width: $item;
          } @else {
            $child: $item;
          }
        } @else if type-of($item) == 'map' {
          @if not $map {
            $map: $item;
          } @else if not $global-breakpoint {
            $global-breakpoint: $item;
          }
        }
      }
    }
  }
  
  @if $map {
    @if is-simple-map($map) {
      $column-width: map-keys($map);
      $order: map-values($map);
      $position-number: get-position-number($order);

      @include make-holy-grail($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
    } @else {
      // has breakpoint
      $keep: true;
      $local-breakpoint: map-keys($map);
      $local-breakpoint-num: get-breakpoint($local-breakpoint, $global-breakpoint);

      @if nth($local-breakpoint-num, 1) == null {
        @include holy-grail-base($child, $gutter, $use-flex, $non-flex);
      } @else {
        @include bp($condition $media-type nth($local-breakpoint-num, 1)) {
          @include holy-grail-base($child, $gutter, $use-flex, $non-flex);
        }
      }

      @for $i from 1 through length($local-breakpoint) {
        $bp: nth($local-breakpoint, $i);
        $layout: map-get($map, $bp);
        $layout-type: type-of($layout);

        @if $bp == null  {
          @if $layout-type == 'list' {
            $column-width: $layout;
            @if not $position-number { $position-number: (1, 2, 3); }
          } @else if $layout-type == 'map' {
            $column-width: map-keys($layout);
            $order: map-values(map-get($map, $bp));
            $position-number: get-position-number($order);
          }

          @include make-holy-grail($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
        } @else {
          @include bp($condition $media-type nth($local-breakpoint-num, $i)) {
            @if $layout-type == 'list' {
              $column-width: $layout;
              @if not $position-number { $position-number: (1, 2, 3); }
            } @else if $layout-type == 'map' {
              $column-width: map-keys($layout);
              $order: map-values(map-get($map, $bp));
              $position-number: get-position-number($order);
            }

            @include make-holy-grail($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
          }
        }
      }
    }
    
  } @else {
    @if not $position-number { $position-number: (1, 2, 3); }

    @include make-holy-grail($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
  }

}

@mixin holy-grail-base($child, $gutter, $use-flex, $non-flex){
  $children: if(
    type-of($child) == 'list' and length($child) == 3,
    ("> #{nth($child, 1)}, > #{nth($child, 2)}, > #{nth($child, 3)}"), 
    "> #{$child}" );

  // flexbox
  @if $use-flex {
    @include ro-flexbox;

    // flex gutter
    margin-right: - $gutter;
    #{$children} { margin-right: $gutter; }
  }
  
  // non-flexbox
  #{$non-flex} {
    @include clearfix();
    #{$children} { box-sizing: border-box; }
  }
}

@mixin make-holy-grail($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex) {

  $child-list: if(
    type-of($child) == 'list' and length($child) == 3,
    $child, 
    ("> #{$child}:nth-child(1)", "> #{$child}:nth-child(2)", "> #{$child}:nth-child(3)") );
  $children: if(
    type-of($child) == 'list' and length($child) == 3,
    ("> #{nth($child, 1)}, > #{nth($child, 2)}, > #{nth($child, 3)}"), 
    "> #{$child}" );
  $child-reset: if(
    type-of($child) == 'list' and length($child) == 3,
    $children,
    "> #{$child}:nth-child(n)" );

  @if $use-flex {
    @if not $keep {
      @include ro-flexbox;

      // flex gutter
      margin-right: - $gutter;
      #{$children} { margin-right: $gutter; }
    }
    
    @for $i from 1 through length($column-width) {
      $thisWidth: nth($column-width, $i);
      $asides: list-remove($column-width, null);

      #{nth($child-list, $i)} {
        width: if(
          $thisWidth == null,
          calc(100% - #{nth($asides, 1)} - #{nth($asides, 2)} - #{$gutter * 2}),
          $thisWidth );

        @if $order { @include ro-order(nth($order, $i)); }
      }
    }
  }

  // no-flexbox
  #{$non-flex} {
    // get main-layout
    $main-layout: null;
    @if nth($column-width, nth($position-number, 1)) == null {
      $main-layout: 'left';
    } @else if nth($column-width, nth($position-number, 2)) == null {
      $main-layout: 'center';
    } @else if nth($column-width, nth($position-number, 3)) == null {
      $main-layout: 'right';
    }

    // check gutter 
    @if unit($gutter) == '%' { $gutter: 0; }
    // get left, right and full width 
    $left-width: 0;
    $right-width: 0;
    $full-width: 0;
    $new-keys: ();
    $new-order: ();
    @for $i from 1 through length($column-width) {
      @if nth($column-width, $i) == null {
        $new-keys: list-remove($column-width, null);
        $new-order: list-remove($position-number, $i);
      } @else {
        @if unitless(nth($column-width, $i)) {
          $column-width: set-nth($column-width, $i, (nth($column-width, $i) * 1px));
        }
        $full-width: ($full-width + nth($column-width, $i) + $gutter);
      }
    }
    @if nth($new-order, 1) > nth($new-order, 2) {
      $left-width: (nth($new-keys, 2) + $gutter);
      $right-width: (nth($new-keys, 1) + $gutter);
    } @else {
      $left-width: (nth($new-keys, 1) + $gutter);
      $right-width: (nth($new-keys, 2) + $gutter);
    }

    @if $column-width {
      @if not $keep { 
        @include clearfix();
        #{$children} { box-sizing: border-box; } 
      } @else {
        #{$child-reset} { padding: 0; margin: 0; }
      }

      @if $main-layout == 'left' {
        #{nth($child-list, nth($position-number, 1))} {
          width: 100%;
          padding-right: $full-width;
          float: left;
          margin-right: -100%;
        } 
        #{nth($child-list, nth($position-number, 2))} {
          width: nth($column-width, nth($position-number, 2));
          margin-right: $right-width;
          float: right;
          margin-left: -100%;
        }
        #{nth($child-list, nth($position-number, 3))} {
          width: nth($column-width, nth($position-number, 3));
          float: right;
          margin-left: -100%;
          margin-right: 0; // reset flex margin-right
        }
      } @else if $main-layout == 'center' {
        #{nth($child-list, nth($position-number, 1))} {
          width: nth($column-width, nth($position-number, 1));
          float: left;
          margin-right: -100%;
        }
        #{nth($child-list, nth($position-number, 2))} {
          width: 100%;
          padding-left: $left-width;
          padding-right: $right-width;
          float: left;
          margin-right: -100%;
        }
        #{nth($child-list, nth($position-number, 3))} {
          width: nth($column-width, nth($position-number, 3));
          float: right;
          margin-left: -100%;
          margin-right: 0; // reset flex margin-right
        }
      } @else if $main-layout == 'right' {
        #{nth($child-list, nth($position-number, 1))} {
          width: nth($column-width, nth($position-number, 1));
          float: left;
          margin-right: -100%;
        }
        #{nth($child-list, nth($position-number, 2))} {
          width: nth($column-width, nth($position-number, 2));
          margin-left: $left-width;
          float: left;
          margin-right: -100%;
        } 
        #{nth($child-list, nth($position-number, 3))} {
          width: 100%;
          padding-left: $full-width;
          float: right;
          margin-left: -100%;
          margin-right: 0; // reset flex margin-right
        }
      }

    }
  }
}


@mixin liquid-3($key) {
  @include holy-grail($key);
}

