// *** liquid-2 *** //
@mixin liquid-2($key){
  $map: false;
  $column-width: false;
  $order: false; // for flexbox
  $position-number: false; // for non-flexbox

  $global-breakpoint: false;
  $local-breakpoint: ();
  $condition: ro-get($key, ('min' 'max'), 'min');
  $media-type: ro-get($key, $ro-media-type);

  $use-flex: ro-get($key, 'use-flex');
  $non-flex: if(
    $use-flex,
    '.no-flexbox.no-flexboxtweener &',
    '&');

  $child: ro-get-next($key, 'child', 'div');
  $gutter: ro-get-next($key, 'gutter', map-get($ro-layout, 'gutter'));
  $keep: ro-get($key, 'keep', false);

  // get map
  @if type-of($key) == 'map' {
    $map: $key;
  } @else if type-of($key) == 'list' {
    @if is-simple-list($key) and is-liquid-list($key) {
      $column-width: $key;
    } @else {
      @each $item in $key {
        @if type-of($item) == 'list' and is-simple-list($item) {
          @if is-liquid-list($item) {
            $column-width: $item;
          } @else {
            $child: $item;
          }
        } @else if type-of($item) == 'map' {
          @if not $map {
            $map: $item;
          } @else if not $global-breakpoint {
            $global-breakpoint: $item;
          }
        }
      }
    }
  }
  
  @if $map {
    @if is-simple-map($map) {
      $column-width: map-keys($map);
      $order: map-values($map);
      $position-number: get-position-number($order);

      @include make-liquid-2($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
    } @else {
      // has breakpoint
      $keep: true;
      $local-breakpoint: map-keys($map);
      $local-breakpoint-num: get-breakpoint($local-breakpoint, $global-breakpoint);

      @if nth($local-breakpoint-num, 1) == null {
        @include liquid-2-base($child, $gutter, $use-flex, $non-flex);
      } @else {
        @include bp($condition $media-type nth($local-breakpoint-num, 1)) {
          @include liquid-2-base($child, $gutter, $use-flex, $non-flex);
        }
      }

      @for $i from 1 through length($local-breakpoint) {
        $bp: nth($local-breakpoint, $i);
        $layout: map-get($map, $bp);
        $layout-type: type-of($layout);

        @if $bp == null  {
          @if $layout-type == 'list' {
            $column-width: $layout;
            @if not $position-number { $position-number: (1, 2); }
          } @else if $layout-type == 'map' {
            $column-width: map-keys($layout);
            $order: map-values(map-get($map, $bp));
            $position-number: get-position-number($order);
          }

          @include make-liquid-2($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
        } @else {
          @include bp($condition $media-type nth($local-breakpoint-num, $i)) {
            @if $layout-type == 'list' {
              $column-width: $layout;
              @if not $position-number { $position-number: (1, 2); }
            } @else if $layout-type == 'map' {
              $column-width: map-keys($layout);
              $order: map-values(map-get($map, $bp));
              $position-number: get-position-number($order);
            }

            @include make-liquid-2($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
          }
        }
      }
    }
    
  } @else {
    @if not $position-number { $position-number: (1, 2); }

    @include make-liquid-2($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex);
  }

}

@mixin liquid-2-base($child, $gutter, $use-flex, $non-flex){
  $children: if(
    type-of($child) == 'list' and length($child) == 2,
    ("> #{nth($child, 1)}, > #{nth($child, 2)}"), 
    "> #{$child}" );

  // flexbox
  @if $use-flex {
    @include ro-flexbox;
    @include ro-justify-content(space-between);
  }
  
  // non-flexbox
  #{$non-flex} {
    @include clearfix();
    #{$children} { box-sizing: border-box; }
  }
}

@mixin make-liquid-2($column-width, $order, $position-number, $child, $gutter, $keep, $use-flex, $non-flex) {  

  $child-list: if(
    type-of($child) == 'list' and length($child) == 2,
    $child, 
    ("> #{$child}:nth-child(1)", "> #{$child}:nth-child(2)") );
  $children: if(
    type-of($child) == 'list' and length($child) == 2,
    ("> #{nth($child, 1)}, > #{nth($child, 2)}"), 
    "> #{$child}" );

  // flexbox
  @if $use-flex {
    @if not $keep {
      @include ro-flexbox;
      @include ro-justify-content(space-between);
    }

    @for $i from 1 through length($column-width) {
      // set width
      $thisWidth: nth($column-width, $i);
      $asides: reject($column-width, null);

      #{nth($child-list, $i)} {
        width: if(
          $thisWidth == null,
          ( calc(100% - #{nth($asides, 1)} - #{$gutter}) ), 
          $thisWidth );
        @if $order { @include ro-order(nth($order, $i)); }
      }
    }
  }

  // non-flexbox
  #{$non-flex} {
    $sidebar-position: if(
      nth($column-width, nth($position-number, 1)) == null, 
      right,
      left );
    $sidebar-order: if(
      nth($column-width, 1) == null,
      2,
      1 );
    $main-order: if(
      nth($column-width, 1) == null,
      1,
      2 );
    $child-reset: if(
      type-of($child) == 'list' and length($child) == 2,
      $children,
      "> #{$child}:nth-child(n)" );

    @if $column-width {
      @if not $keep { @include clearfix(); }
      padding: 0;
      padding-#{$sidebar-position}: nth($column-width, $sidebar-order);

      @if $keep { #{$child-reset} { padding: 0; } }

      #{$children} {
        @if not $keep { box-sizing: border-box; }
        float: if(
          nth($column-width, 1) == null, 
          opposite($sidebar-position),
          $sidebar-position );
      }
      #{nth($child-list, $main-order)} {
        width: 100%;
        padding-#{$sidebar-position}: $gutter;
      } 
      #{nth($child-list, $sidebar-order)} {
        width: nth($column-width, $sidebar-order);
        margin-#{$sidebar-position}: - nth($column-width, $sidebar-order);
      }

    }
  }
}

@function get-position-number($order) {
  $nums: list-ascend(remove-dup($order)); // reordered values
  $position-number: ();

  @each $num in $nums {
    @for $i from 1 through length($order) {
      @if nth($order, $i) == $num {
        $position-number: append($position-number, $i);
      }
    }
  }

  @return $position-number;
}

// == is-liquid-list ==
@function is-liquid-list($key) {
  $is-liquid-list: ();

  @each $item in $key {
    $is-liquid-list: if(
      type-of($item) != 'number' and $item != null,
      append($is-liquid-list, false),
      append($is-liquid-list, true) );
  }

  @return if(
    index($is-liquid-list, false),
    false,
    true );
}
