// *** span *** //

@mixin span(
	$column,
	$columns: map-get($layout, columns),
	$gutter: map-get($layout, gutter),
	$pull: false,
	$push: false,
	$float: false,
	$last: false
){
	// direction
	@if $float == left or $float == right { float: $float; }
	@else { float: left; }

	// change order
	@if $push or $pull { position: relative; }

	// set default
	@if $columns == default or $columns == null { $columns: map-get($layout, columns); }
	@if $gutter == default or $gutter == null { $gutter: map-get($layout, gutter); }

	// add unit to gutter
	@if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

	// no gutter
	@if not $gutter or $gutter == 0 {
	  width: percentage($column / $columns);
	  @if $push and $push != 0 { left: percentage($push / $columns); }
	  @if $pull and $pull != 0 { left: percentage(-$pull / $columns); }
	}
	@else if unit($gutter) == '%' {
		$cw: ((100% - ($columns - 1) * $gutter) / $columns);
		$gw: $gutter;

		width: $cw * $column + $gw * ($column - 1);
		@if not $last { 
			@if $float == left or $float == right {
				margin-#{opposite($float)}: $gutter; 
			}
			@else { margin-right: $gutter; }
		}

		@if $push and $push != 0 { left: ($cw + $gw) * $push; }
		@if $pull and $pull != 0 { left: -($cw + $gw) * $pull; }
	}
	@else {
		@at-root (without: media) { @extend %layout-span; }

		width: percentage($column / $columns);
		padding: 0 ($gutter / 2);

		@if $push and $push != 0 { left: percentage($push / $columns); }
		@if $pull and $pull != 0 { left: percentage(-$pull / $columns); }
	}
}

