// *** span *** //

@mixin span(
	$column,
	$columns: map-get($layout, columns),
	$gutter: map-get($layout, gutter),
	$pull: false,
	$push: false,
	$float: false,
	$last: false,
	$keep: false
){
  // direction
  @if not $keep {
	  @if $float == right { float: $float; }
	  @else { float: left; }
  }

	// change order
	@if $push or $pull { position: relative; }

	// add unit to gutter
	@if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

	// no gutter
	@if not $gutter or $gutter == 0 {
	  width: percentage($column / $columns);
	  @if $push and $push != 0 { left: percentage($push / $columns); }
	  @if $pull and $pull != 0 { left: percentage(-$pull / $columns); }
	}
	@else if unit($gutter) == '%' {
		$cw: ((100% - ($columns - 1) * $gutter) / $columns);
		$gw: $gutter;

		width: $cw * $column + $gw * ($column - 1);

		@if not $keep {
			@if not $last { 
				@if $float == left or $float == right {
					margin-#{opposite($float)}: $gutter; 
				}
				@else { margin-right: $gutter; }
			}
		}

		@if $push and $push != 0 { left: ($cw + $gw) * $push; }
		@if $pull and $pull != 0 { left: -($cw + $gw) * $pull; }
	}
	@else {
		width: percentage($column / $columns);

		@if not $keep {
	    box-sizing: border-box;
			padding-left: ($gutter / 2);
			padding-right: ($gutter / 2);
		}

		@if $push and $push != 0 { left: percentage($push / $columns); }
		@if $pull and $pull != 0 { left: percentage(-$pull / $columns); }
	}
}

@function span(
	$column,
	$columns: map-get($layout, columns),
	$gutter: map-get($layout, gutter)
){
	$ratio: 1;

	// add unit to gutter
	@if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

	// get ratio
	@if not $gutter or $gutter == 0 or unit($gutter) != '%' {
	  $ratio: percentage($column / $columns);
	}
	@else {
		$cw: ((100% - ($columns - 1) * $gutter) / $columns);
		$gw: $gutter;

		$ratio: $cw * $column + $gw * ($column - 1);
	}

	@return ( ( $ratio / 100% ) );
}