// *** span-calc *** // 

// columns-width
@function column-width ( $column, $columns, $gutter ){
  $column-percentage: percentage($column / $columns);
  $column-gutter: ($gutter * $column / $columns);
  @return #{$column-percentage} + #{$column-gutter};
}

@mixin span-calc(
  $column,
  $columns: map-get($layout, columns),
  $gutter: map-get($layout, gutter),
  $pull: false,
  $push: false,
  $float: false,
  $last: false,
  $keep: false
){
  // direction
  @if not $keep {
    @if $float == right { float: $float; }
    @else { float: left; }
  }

  // change order
  @if $push or $pull { position: relative; }

  // add unit to gutter
	@if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

  // no gutter
  @if not $gutter or $gutter == 0 {
    width: column-width-percentage($columns, 0) * $column;
    @if $push and $push != 0 { left: percentage($push / $columns); }
    @if $pull and $pull != 0 { left: percentage(-$pull / $columns); }
  }
  // fixed gutter
  @else if unit($gutter) and unit($gutter) != '%' {
    $column-width: column-width($column, $columns, $gutter);
    width: calc( #{$column-width} - #{$gutter} );
    @if not $keep {
      @if not $last { 
        @if $float == left or $float == right {
          margin-#{opposite($float)}: $gutter; 
        }
        @else { margin-right: $gutter; }
      }
    }
    // change order
    @if $push and $push != 0 { 
      $column-width: column-width($push, $columns, $gutter);
      left: calc( #{$column-width} ); 
    }
    @if $pull and $pull != 0 { 
      $column-width: column-width(-$pull, $columns, $gutter);
      left: calc( #{$column-width} ); 
    }
  }
  @else {
    $warn: "$gutter can't be a percentage, use a fixed $gutter instead.";
    @warn $warn + ' Current value: #{$gutter}';
  }
}
