// *** span *** //

@mixin span($span-var){
	$column: 0;
	$columns: map-get($layout, columns);
	$gutter: map-get($layout, gutter);
	$move: false;
	$float: false;
	$last: false;
	$keep: false;

	@if type-of($span-var) == number {
		$column: $span-var;
	} @else if type-of($span-var) == list {
		@each $direction in left, right {
      @if index($span-var, $direction) { 
        $float: $direction;
      } 
		}
		@if index($span-var, keep) {
			$keep: true;
		}
		@if index($span-var, last) {
			$last: true;
		}
		@if index($span-var, of) {
			$column: get-prev($span-var, of);
			$columns: get-next($span-var, of);
		} @else {
			$col: 1;
			@while nth($span-var, $col) and is-number(nth($span-var, $col)) == false {
				$col: $col + 1;
			}
			$column: nth($span-var, $col);
		}
		@if index($span-var, gutter) {
			$gutter: get-next($span-var, gutter);
		}
		@if index($span-var, move) {
			$move: get-next($span-var, move);
		}
	}

  // direction
  @if not $keep {
	  @if $float == right { float: $float; }
	  @else { float: left; }
  }

	// change order
	@if $move { position: relative; }

	// add unit to gutter
	@if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

	// no gutter
	@if not $gutter or $gutter == 0 {
	  width: percentage($column / $columns);
	  @if $move and $move != 0 { left: percentage($move / $columns); }
	}
	@else if unit($gutter) == '%' {
		$cw: ((100% - ($columns - 1) * $gutter) / $columns);
		$gw: $gutter;

		width: $cw * $column + $gw * ($column - 1);

		@if not $keep {
			@if not $last { 
				@if $float == left or $float == right {
					margin-#{opposite($float)}: $gutter; 
				}
				@else { margin-right: $gutter; }
			}
		}

		@if $move and $move != 0 { left: ($cw + $gw) * $move; }
	}
	@else {
		width: percentage($column / $columns);

		@if not $keep {
	    box-sizing: border-box;
			padding-left: ($gutter / 2);
			padding-right: ($gutter / 2);
		}

		@if $move and $move != 0 { left: percentage($move / $columns); }
	}
}

@function span(
	$column,
	$columns: map-get($layout, columns),
	$gutter: map-get($layout, gutter)
){
	$ratio: 1;

	// add unit to gutter
	@if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

	// get ratio
	@if not $gutter or $gutter == 0 or unit($gutter) != '%' {
	  $ratio: percentage($column / $columns);
	}
	@else {
		$cw: ((100% - ($columns - 1) * $gutter) / $columns);
		$gw: $gutter;

		$ratio: $cw * $column + $gw * ($column - 1);
	}

	@return ( ( $ratio / 100% ) );
}