// *** span-calc *** // 

@mixin span-calc($key){
  $column: 0;
  $columns: map-get($layout, columns);
  $gutter: 20px;
  $move: false;
  $float: left;
  $last: false;
  $keep: false;

  @if type-of($key) == number {
    $column: $key;
  } @else if type-of($key) == list {

    // set up direction
    @each $direction in left, right {
      @if index($key, $direction) { 
        $float: $direction;
      } 
    }

    // set up keep
    @if index($key, keep) {
      $keep: true;
    }

    // set up last
    @if index($key, last) {
      $last: true;
    }

    // set up move
    @if index($key, move) {
      $move: get-next($key, move);
    }

    // set up gutter
    @for $i from 1 through length($key) {
      $val: nth($key, $i);

      @if type-of($val) == number and
          not unitless($val) {
        $gutter: $val;
      }
    }

    // set up column, columns
    @if index($key, of) {
      $column: get-prev($key, of);
      $columns: get-next($key, of);
    } @else {
      @for $i from 1 through length($key) {
        $val: nth($key, $i);

        @if type-of($val) == number and
            unitless($val) {
          $column: $val;
        }
      }
    }
  }

  // direction
  @if not $keep {
    @if $float == right { float: $float; }
    @else { float: left; }
  }

  // change order
  @if $move { position: relative; }

  // add unit to gutter
	@if $gutter and unitless($gutter) and $gutter > 0 and $gutter < 1 { $gutter: percentage($gutter); }

  // no gutter
  @if not $gutter or $gutter == 0 {
    width: percentage($column / $columns);

    // move
    @if $move and $move != 0 { left: percentage($move / $columns); }
  
  // fixed gutter
  } @else if unit($gutter) and unit($gutter) != '%' {
    $column-width: calc-column-width($column, $columns, $gutter);
    width: calc( #{$column-width} - #{$gutter} );
    @if not $keep {
      @if not $last { 
        margin-#{opposite($float)}: $gutter; 
      }
    }
    // move
    @if $move and $move != 0 { 
      $column-width: calc-column-width($move, $columns, $gutter);
      left: calc( #{$column-width} ); 
    }
  } @else {
    $warn: "$gutter can't be a percentage, use a fixed $gutter instead.";
    @warn $warn + ' Current value: #{$gutter}';
  }
}
