// *** sticky-footer *** //
@mixin sticky-footer($key) {
  $main: args-get-type($key, 'string');

  @include ro-flexbox;
  @include ro-flex-direction(column);

  $selector: &;
  @if $selector == 'body' {
    // IE10, 11 don't support flex-grow when flex-flow: column;
    // this will fixed IE10 if apply to body element, but IE11 still doesn't work
    height: 100vh;
  } @else {
    min-height: 100vh; 
  }
  @if $main {
    > #{$main} { 
      @include ro-flex-grow(1); 
      .lt-ie10 & {
        min-height: 500px; // for IE8
        min-height: 80vh; // for IE9
      }
    }
  }
}