/// *two-columns* is for creating a two columns layout. One of them has a fixed width.
/// 
/// $key: `$direction $aside-width (gutter $gutter)`
/// @group layout
/// @param {list} $key - key 
/// @example markup - markup
/// <!-- Add "data-col-main", "data-col-aside" attributes to your markup. -->
/// 
/// <div class="wrapper">
/// 
///   <!-- main -->
///   <div data-col-main=""></div>
/// 
///   <!-- aside -->
///   <div data-col-aside=""></div>
/// </div>
/// @example scss - Usage
/// .wrapper { @include two-columns(left 300px gutter 30px); }
/// // direction: left; (aside is on the left)
/// // aside-width: 300px;
/// // gutter: 30px;
/// 
/// @link http://creatiointl.org/gallery/william/rocket/layout-two-columns.php demo
/// @link https://github.com/ganlanyuan/rocket full document

@mixin two-columns($key: left 300px gutter 20px) {
  $direction: ro-get($key, left right, left);
  $gutter: ro-get-next($key, 'gutter', '20px');
  $aside-width: 300px; 

  // set up aside width
  $key: reject($key, $gutter);
  @each $item in $key {
    @if type-of($item) == 'number' {
      $aside-width: $item;
    }
  }
  
  // set up total
  $total: 320px;
  $total-no-csscalc: 320px;
  @if unit($aside-width) == unit($gutter) {
    $total: ($aside-width + $gutter);
    $total-no-csscalc: ($aside-width + $gutter);
  } @else {
    $total: '#{$aside-width}' + ' - ' + '#{$gutter}';
    $total-no-csscalc: $aside-width;
  }

  // *** output *** //
  @include clearfix; 
  .no-csscalc & {
    padding-#{opposite($direction)}: 0;
    padding-#{$direction}: $total-no-csscalc;
  }

  // main
  > [data-col-main] {
    float: opposite($direction);
    width: calc(100% - #{$total});
    .no-csscalc & {
      width: 100%;
    }
  }

  // aside
  > [data-col-aside] {
    float: $direction;
    width: $aside-width;
    .no-csscalc & {
      margin-#{opposite($direction)}: 0;
      margin-#{$direction}: - $total-no-csscalc;
      
      // gutter
      padding-#{$direction}: 0;
      padding-#{opposite($direction)}: $gutter;
      box-sizing: border-box;
    }
  }
}
