// fixed columns
@mixin two-columns($two-columns-var: left 300px gutter 20px) {
  $direction: left; 
  $aside: 300px; 
  $gutter: 20px;
  $total: 320px;

  @if type-of($two-columns-var) == number {
    $aside: $two-columns-var;
  } @else if type-of($two-columns-var) == list {

    // set up gutter
    @if index($two-columns-var, gutter) {
      $gutter: get-next($two-columns-var, gutter);
      $two-columns-var: reject($two-columns-var, gutter);
      $two-columns-var: reject($two-columns-var, $gutter);
    }

    // set up direction 
    @each $item in left, right {
      @if index($two-columns-var, $item) { 
        $direction: $item;
        $two-columns-var: reject($two-columns-var, $item);
      } 
    }

    // set up aside width
    $aside: nth($two-columns-var, 1);
  }

  $total: ($aside + $gutter);

  // output
  @at-root (without: media) { @extend %clearfix; }
  padding-#{$direction}: $total;

  // main
  > [data-col-main] {
    float: opposite($direction);
    width: 100%;
  }

  // aside
  > [data-col-aside] {
    float: $direction;
    width: $aside;
    margin-#{$direction}: - $total;
  }
}
