<!-- modes: slide-in, rotate-in, rotate-out, rotate-in-reverse, push, drawer -->
<input type="checkbox" name="" id="nav-toggle">
<div class="page">
  <header>
 <label for="nav-toggle">Menu</label>
 <label for="nav-toggle" class="page-overlay"></label>
 <nav class="nav">
<ul>
  <li><a href="">How It Works</a></li>
  <li><a href="">Compare</a></li>
  <li><a href="">Technology</a></li>
  <li><a href="">Careers</a></li>
  <li><a href="">Help</a></li>
</ul>
 </nav>
  </header>
  <div>Other content</div>
</div>
 
<!-- modes: slide-along, slide-out, scale-down, scale-up, open-door, reveal -->
<input type="checkbox" name="" id="nav-toggle">
<nav class="nav">
  <ul>
 <li><a href="">How It Works</a></li>
 <li><a href="">Compare</a></li>
 <li><a href="">Technology</a></li>
 <li><a href="">Careers</a></li>
 <li><a href="">Help</a></li>
  </ul>
</nav>
<div class="page">
  <header>
 <label for="nav-toggle">Menu</label>
 <label for="nav-toggle" class="page-overlay"></label>
  </header>
  <div>Other content</div>
</div>
 
<!-- Sub menu -->
<!-- 1. Add [data-has-submenu] to parent item, [data-submenu] to submenu. -->
<!-- 2. Place a checkbox and label before submenu, connect them by [for] and [id]. -->
<nav class="nav">
  <ul>
 <li><a href="">How It Works</a></li>
 <li><a href="">Compare</a></li>
 <li><a href="">Technology</a></li>
 <li><a href="">Careers</a></li>
 <li data-has-submenu>
<input type="checkbox" id="subnav-1-1" class="hidden-checkbox">
<label for="subnav-1-1">&gt;</label>
<a href="">Careers</a>
<ul data-submenu>
  <li><label for="subnav-1-1" data-back>Back</label></li>
  <li><a href="">sub item 1</a></li>
  <li><a href="">sub item 2</a></li>
  <li><a href="">sub item 3</a></li>
</ul>
 </li>
 <li><a href="">Help</a></li>
  </ul>
</nav>