/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1; }
  to {
    opacity: 1; } }

body {
  animation: fake 1s infinite; }

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

dl, ul, ol {
  padding: 0; }

ol, ul {
  list-style: none; }

body {
  overflow-x: hidden; }

[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before {
  display: none; }

label {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img.full {
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

button,
input,
select {
  line-height: normal !important; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0; }

button {
  border: none; }

.hidden {
  display: none; }

.ovh {
  overflow: hidden; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif; }

h2, h3, h4 {
  text-transform: capitalize; }

h3[id], h4[id] {
  text-align: center; }

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center; }
  .main-heading span {
    font-weight: 300;
    color: #999; }

h4 {
  margin: 1.5em 0 0.5em; }

h5 {
  font-size: 13px;
  margin: 3em 0 1em; }

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d; }

.container {
  max-width: 70em;
  margin: 0 auto; }
  @media screen and (max-width: 74em) {
    .container {
      margin: 0 2em; } }

[data-margin] {
  background-color: #E698CC; }

[data-padding] {
  background-color: #C2EBBA; }

[data-content] {
  background-color: #CDEEFF; }

.cell {
  min-height: 10em; }
  .cell:before {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 100;
    color: white;
    display: block;
    text-align: center; }
  .autoheight:nth-child(2n) > .cell {
    height: 11em; }
  .autoheight:nth-child(3n+1) > .cell {
    height: 12em; }
  .order:nth-child(1) > .cell:before {
    content: "1"; }
  .order:nth-child(2) > .cell:before {
    content: "2"; }
  .order:nth-child(3) > .cell:before {
    content: "3"; }
  .order:nth-child(4) > .cell:before {
    content: "4"; }
  .order:nth-child(5) > .cell:before {
    content: "5"; }
  .order:nth-child(6) > .cell:before {
    content: "6"; }
  .order:nth-child(7) > .cell:before {
    content: "7"; }
  .order:nth-child(8) > .cell:before {
    content: "8"; }
  .order:nth-child(9) > .cell:before {
    content: "9"; }
  .order:nth-child(10) > .cell:before {
    content: "10"; }

.title {
  margin-bottom: 1em; }

.topic {
  padding: 2em 0 4em; }
  .topic > section {
    margin: 2em 0; }

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px; }
  .main-heading:before {
    content: url("../images/title-prev.png"); }
  .main-heading:after {
    content: url("../images/title-next.png"); }
  .topic > section {
    margin: 0 0 5em; } }

.example:after {
  content: '';
  display: table;
  clear: both; }

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer; }
  .example-content:hover {
    opacity: 0.9; }
  .example-content strong {
    display: block;
    margin-bottom: 10px;
    font-size: 24px; }

.demo-container {
  height: 0;
  overflow: hidden; }
  .demo-container:before {
    text-align: center;
    display: block;
    margin-bottom: 5px; }

.example-accordion {
  max-width: 700px;
  margin: 50px auto; }

.accordion {
  margin-bottom: -1px; }
  .accordion > input {
    position: absolute;
    left: -9999px; }
    .accordion > input:checked ~ div {
      max-height: 200px; }
  .accordion > div {
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    transition: max-height 0.4s;
    max-height: 0;
    overflow: hidden; }
  .accordion label {
    display: block;
    border: 1px solid #BABABA; }
    .accordion label strong {
      display: block;
      font-size: 13px;
      margin: 0;
      padding: 10px; }

.acc-1 label {
  background-color: #F8F0E2;
  border-color: #E3D19D; }

.acc-2 label {
  background-color: #D7F2F8;
  border-color: #AACED7; }

.acc-3 label {
  background-color: #EDE2F8;
  border-color: #D6C7E6; }

.header {
  padding: 15px;
  color: #fff;
  background-color: #E7435C; }
  .header .menu-icon {
    display: block;
    width: 21px; }
    .header .menu-icon:before, .header .menu-icon:after {
      content: ''; }
    .header .menu-icon span, .header .menu-icon:before, .header .menu-icon:after {
      display: block;
      height: 2px;
      background-color: #fff;
      margin-bottom: 4px; }
    .header .menu-icon:after {
      margin-bottom: 0; }
  .header .nav ul {
    padding: 10px 0; }
  .header .nav li {
    font-size: 14px;
    padding: 10px 0; }
  .header a {
    color: #fff; }

.nav-wrap > input {
  position: absolute;
  left: -9999px; }
  .nav-wrap > input:checked ~ .nav {
    max-height: 130px; }

.nav-wrap > .nav {
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
  max-height: 0;
  overflow: hidden; }

/*# sourceMappingURL=sourcemaps/accordion.css.map */
