/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1399px) {
  .container {
    margin: 0 1.875em;
  }
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 200px;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .main-heading:before {
    content: url("../images/title-prev.png");
  }
  .main-heading:after {
    content: url("../images/title-next.png");
  }
  .topic > section {
    margin: 0 0 5em;
  }
}

.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}

.example-complementary .color-box {
  width: 47%;
}

.example-adjacent .color-box,
.example-split-complementary .color-box,
.example-triad .color-box {
  width: 30%;
}

.example-rectangle .color-box,
.example-square .color-box {
  width: 22%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}

.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer;
}

.example-content:hover {
  background: #484848;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.has-bg {
  background-color: #000;
}

.btn {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  background: #0F2332;
}

.btn.active {
  background-color: #ddd;
  color: #000;
}

.hidden-checkbox {
  position: absolute;
  left: -99999px;
}

.menu-icon {
  display: block;
  margin: 20px;
  width: 21px;
  padding: 12px 10px;
  background-color: #000;
}

.menu-icon:before, .menu-icon:after {
  content: '';
}

.menu-icon span, .menu-icon:before, .menu-icon:after {
  display: block;
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
}

.menu-icon:after {
  margin-bottom: 0;
}

.nav {
  background-color: #1975B8;
}

.nav a, .nav label {
  font-size: 14px;
  padding: 12px 15px;
}

.nav a, .nav [data-back] {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.nav a {
  color: #fff;
}

.nav li:last-child > a {
  border-bottom-width: 0;
}

.nav [data-submenu] {
  background-color: #1975B8;
}

.nav-mode {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  display: none;
}

.nav-mode .page {
  min-height: 400px;
  background: #70CFFF;
}

.nav-mode .page header {
  padding-top: 1px;
}

input:checked + .nav-mode {
  display: block;
}

.nav-mode .nav,
.nav-mode .page-overlay {
  position: absolute !important;
}

.nav-mode strong {
  font-size: 24px;
  color: #000;
}

.nav-mode p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.9em 1.8em;
  background-color: #fff;
}

.mode-code {
  display: none;
}

#slide-in:checked ~ [for="slide-in"] {
  background-color: #ddd;
  color: #000;
}

#slide-in:checked ~ .mode-slide-in {
  display: block;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:not(:checked) ~ .page-slide-in .nav-slide-in [data-submenu] {
  left: -200px;
}

.nav-slide-in {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
}

.nav-slide-in [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-slide-in [data-has-submenu] > label {
  float: right;
}

.nav-slide-in [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-slide-in input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .page-slide-in .nav-slide-in {
  margin-left: 0;
}

.page-slide-in .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-slide-in .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 0;
}

.lt-ie9 input:checked ~ .page-slide-in .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#slide-along:checked ~ [for="slide-along"] {
  background-color: #ddd;
  color: #000;
}

#slide-along:checked ~ .mode-slide-along {
  display: block;
}

.page-slide-along {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
  position: relative;
  left: 0;
  z-index: 201;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-slide-along {
  left: 200px;
}

input:not(:checked) ~ .page-slide-along .nav-slide-along [data-submenu] {
  left: -200px;
}

.nav-slide-along {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: -100px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
}

.nav-slide-along [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-slide-along [data-has-submenu] > label {
  float: right;
}

.nav-slide-along [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-slide-along input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .nav-slide-along {
  margin-left: 0;
}

.page-slide-along .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-slide-along .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 200px;
}

.lt-ie9 input:checked ~ .page-slide-along .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#slide-out:checked ~ [for="slide-out"] {
  background-color: #ddd;
  color: #000;
}

#slide-out:checked ~ .mode-slide-out {
  display: block;
}

.page-slide-out {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
  position: relative;
  left: 0;
  z-index: 201;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-slide-out {
  left: 200px;
}

input:not(:checked) ~ .page-slide-out .nav-slide-out [data-submenu] {
  left: -200px;
}

.nav-slide-out {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: 100px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
}

.nav-slide-out [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-slide-out [data-has-submenu] > label {
  float: right;
}

.nav-slide-out [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-slide-out input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .nav-slide-out {
  margin-left: 0;
}

.page-slide-out .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-slide-out .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 200px;
}

.lt-ie9 input:checked ~ .page-slide-out .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#rotate-in:checked ~ [for="rotate-in"] {
  background-color: #ddd;
  color: #000;
}

#rotate-in:checked ~ .mode-rotate-in {
  display: block;
}

.page-rotate-in {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
  position: relative;
  left: 0;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-rotate-in {
  left: 200px;
}

input:not(:checked) ~ .page-rotate-in .nav-rotate-in [data-submenu] {
  left: -200px;
}

.nav-rotate-in {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: transform 0.5s, margin-left 0.5s;
  -moz-transition: transform 0.5s, margin-left 0.5s;
  transition: transform 0.5s, margin-left 0.5s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
  -webkit-transform-origin: 100% 50% 0px;
  -moz-transform-origin: 100% 50% 0px;
  -ms-transform-origin: 100% 50% 0px;
  -o-transform-origin: 100% 50% 0px;
  transform-origin: 100% 50% 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(200px) rotateY(-90deg);
  -moz-transform: perspective(200px) rotateY(-90deg);
  -ms-transform: perspective(200px) rotateY(-90deg);
  -o-transform: perspective(200px) rotateY(-90deg);
  transform: perspective(200px) rotateY(-90deg);
}

.nav-rotate-in [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-rotate-in [data-has-submenu] > label {
  float: right;
}

.nav-rotate-in [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-rotate-in input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .page-rotate-in .nav-rotate-in {
  margin-left: 0;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

.page-rotate-in .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-rotate-in .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 200px;
}

.lt-ie9 input:checked ~ .page-rotate-in .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#rotate-out:checked ~ [for="rotate-out"] {
  background-color: #ddd;
  color: #000;
}

#rotate-out:checked ~ .mode-rotate-out {
  display: block;
}

.page-rotate-out {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
  position: relative;
  left: 0;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-rotate-out {
  left: 200px;
}

input:not(:checked) ~ .page-rotate-out .nav-rotate-out [data-submenu] {
  left: -200px;
}

.nav-rotate-out {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: transform 0.5s, margin-left 0.5s;
  -moz-transition: transform 0.5s, margin-left 0.5s;
  transition: transform 0.5s, margin-left 0.5s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
  -webkit-transform-origin: 100% 50% 0px;
  -moz-transform-origin: 100% 50% 0px;
  -ms-transform-origin: 100% 50% 0px;
  -o-transform-origin: 100% 50% 0px;
  transform-origin: 100% 50% 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(200px) rotateY(90deg);
  -moz-transform: perspective(200px) rotateY(90deg);
  -ms-transform: perspective(200px) rotateY(90deg);
  -o-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
}

.nav-rotate-out [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-rotate-out [data-has-submenu] > label {
  float: right;
}

.nav-rotate-out [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-rotate-out input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .page-rotate-out .nav-rotate-out {
  margin-left: 0;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

.page-rotate-out .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-rotate-out .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 200px;
}

.lt-ie9 input:checked ~ .page-rotate-out .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#rotate-in-reverse:checked ~ [for="rotate-in-reverse"] {
  background-color: #ddd;
  color: #000;
}

#rotate-in-reverse:checked ~ .mode-rotate-in-reverse {
  display: block;
}

.page-rotate-in-reverse {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
  position: relative;
  left: 0;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-rotate-in-reverse {
  left: 200px;
}

input:not(:checked) ~ .page-rotate-in-reverse .nav-rotate-in-reverse [data-submenu] {
  left: -200px;
}

.nav-rotate-in-reverse {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: transform 0.5s, margin-left 0.5s;
  -moz-transition: transform 0.5s, margin-left 0.5s;
  transition: transform 0.5s, margin-left 0.5s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
  -webkit-transform-origin: 0 50% 0px;
  -moz-transform-origin: 0 50% 0px;
  -ms-transform-origin: 0 50% 0px;
  -o-transform-origin: 0 50% 0px;
  transform-origin: 0 50% 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(200px) rotateY(90deg);
  -moz-transform: perspective(200px) rotateY(90deg);
  -ms-transform: perspective(200px) rotateY(90deg);
  -o-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
}

.nav-rotate-in-reverse [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-rotate-in-reverse [data-has-submenu] > label {
  float: right;
}

.nav-rotate-in-reverse [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-rotate-in-reverse input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .page-rotate-in-reverse .nav-rotate-in-reverse {
  margin-left: 0;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

.page-rotate-in-reverse .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-rotate-in-reverse .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 200px;
}

.lt-ie9 input:checked ~ .page-rotate-in-reverse .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#scale-down:checked ~ [for="scale-down"] {
  background-color: #ddd;
  color: #000;
}

#scale-down:checked ~ .mode-scale-down {
  display: block;
}

.page-scale-down {
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-scale-down {
  -webkit-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  -moz-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  -ms-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  -o-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  transform: perspective(1000px) translate3d(0px, 0px, -300px);
}

input:not(:checked) ~ .page-scale-down .nav-scale-down [data-submenu] {
  left: -200px;
}

.nav-scale-down {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
}

.nav-scale-down [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-scale-down [data-has-submenu] > label {
  float: right;
}

.nav-scale-down [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-scale-down input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .nav-scale-down {
  margin-left: 0;
}

.page-scale-down .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-scale-down .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 0;
}

.lt-ie9 input:checked ~ .page-scale-down .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#scale-up:checked ~ [for="scale-up"] {
  background-color: #ddd;
  color: #000;
}

#scale-up:checked ~ .mode-scale-up {
  display: block;
}

.page-scale-up {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
  position: relative;
  left: 0;
  z-index: 201;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-scale-up {
  left: 200px;
}

input:not(:checked) ~ .page-scale-up .nav-scale-up [data-submenu] {
  left: -200px;
}

.nav-scale-up {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
  -webkit-transform-origin: 0 50% 0px;
  -moz-transform-origin: 0 50% 0px;
  -ms-transform-origin: 0 50% 0px;
  -o-transform-origin: 0 50% 0px;
  transform-origin: 0 50% 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  -moz-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  -ms-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  -o-transform: perspective(1000px) translate3d(0px, 0px, -300px);
  transform: perspective(1000px) translate3d(0px, 0px, -300px);
}

input:checked ~ .nav-scale-up {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.nav-scale-up [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-scale-up [data-has-submenu] > label {
  float: right;
}

.nav-scale-up [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-scale-up input:checked ~ [data-submenu] {
  left: 0;
}

.page-scale-up .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-scale-up .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 200px;
}

.lt-ie9 input:checked ~ .page-scale-up .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#open-door:checked ~ [for="open-door"] {
  background-color: #ddd;
  color: #000;
}

#open-door:checked ~ .mode-open-door {
  display: block;
}

.page-open-door {
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 100% 50% 0px;
  -moz-transform-origin: 100% 50% 0px;
  -ms-transform-origin: 100% 50% 0px;
  -o-transform-origin: 100% 50% 0px;
  transform-origin: 100% 50% 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateY(0deg);
  -moz-transform: perspective(1000px) rotateY(0deg);
  -ms-transform: perspective(1000px) rotateY(0deg);
  -o-transform: perspective(1000px) rotateY(0deg);
  transform: perspective(1000px) rotateY(0deg);
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-open-door {
  -webkit-transform: perspective(1000px) rotateY(-7deg);
  -moz-transform: perspective(1000px) rotateY(-7deg);
  -ms-transform: perspective(1000px) rotateY(-7deg);
  -o-transform: perspective(1000px) rotateY(-7deg);
  transform: perspective(1000px) rotateY(-7deg);
}

input:not(:checked) ~ .page-open-door .nav-open-door [data-submenu] {
  left: -200px;
}

.nav-open-door {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
}

.nav-open-door [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-open-door [data-has-submenu] > label {
  float: right;
}

.nav-open-door [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-open-door input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .nav-open-door {
  margin-left: 0;
}

.page-open-door .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-open-door .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  left: 0;
}

.lt-ie9 input:checked ~ .page-open-door .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#push:checked ~ [for="push"] {
  background-color: #ddd;
  color: #000;
}

#push:checked ~ .mode-push {
  display: block;
}

.page-push {
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  position: relative;
  top: 0;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-push {
  top: 200px;
}

input:not(:checked) ~ .page-push .nav-push [data-submenu] {
  top: -200px;
}

.nav-push {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  top: 0;
  -webkit-transition: margin-top 0.5s;
  -moz-transition: margin-top 0.5s;
  transition: margin-top 0.5s;
  margin-top: -200px;
  height: 200px;
  left: 0;
  right: 0;
  overflow-y: hidden;
}

.nav-push [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-push [data-has-submenu] > label {
  float: right;
}

.nav-push [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  top: -200px;
  transition: top 0.5s;
  height: 200px;
  left: 0;
  right: 0;
}

.nav-push input:checked ~ [data-submenu] {
  top: 0;
}

input:checked ~ .page-push .nav-push {
  margin-top: 0;
}

.page-push .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  bottom: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
}

input:checked ~ .page-push .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  top: 0;
}

.lt-ie9 input:checked ~ .page-push .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#reveal:checked ~ [for="reveal"] {
  background-color: #ddd;
  color: #000;
}

#reveal:checked ~ .mode-reveal {
  display: block;
}

.page-reveal {
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  transition: right 0.5s;
  position: relative;
  right: 0;
  z-index: 201;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:checked ~ .page-reveal {
  right: 200px;
}

input:not(:checked) ~ .page-reveal .nav-reveal [data-submenu] {
  right: -200px;
}

.nav-reveal {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  right: 0;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 0;
}

.nav-reveal [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-reveal [data-has-submenu] > label {
  float: right;
}

.nav-reveal [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  right: -200px;
  transition: right 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-reveal input:checked ~ [data-submenu] {
  right: 0;
}

.page-reveal .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  transition: right 0.5s;
}

input:checked ~ .page-reveal .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  right: 200px;
}

.lt-ie9 input:checked ~ .page-reveal .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#drawer:checked ~ [for="drawer"] {
  background-color: #ddd;
  color: #000;
}

#drawer:checked ~ .mode-drawer {
  display: block;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

input:not(:checked) ~ .page-drawer .nav-drawer [data-submenu] {
  left: -200px;
}

.nav-drawer {
  position: fixed;
  display: block;
  z-index: 200;
  box-sizing: border-box;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: -200px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  top: 50px;
}

@media screen and (max-width: 31.1875em) {
  .nav-drawer {
    top: 20px;
  }
}

@media screen and (max-width: 37.4375em) {
  .nav-drawer {
    top: 30px;
  }
}

@media screen and (max-width: 62.4375em) {
  .nav-drawer {
    top: 40px;
  }
}

.nav-drawer [data-has-submenu]:after {
  clear: both;
  content: "";
  display: table;
}

.nav-drawer [data-has-submenu] > label {
  float: right;
}

.nav-drawer [data-submenu] {
  position: fixed;
  box-sizing: border-box;
  left: -200px;
  transition: left 0.5s;
  width: 200px;
  top: 0;
  height: 100%;
  overflow-x: hidden;
}

.nav-drawer input:checked ~ [data-submenu] {
  left: 0;
}

input:checked ~ .page-drawer .nav-drawer {
  margin-left: 0;
}

.page-drawer .page-overlay {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background: transparent;
  z-index: 199;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

input:checked ~ .page-drawer .page-overlay {
  background: rgba(0, 0, 0, 0.1);
  top: 50px;
  right: 0;
  left: 0;
}

.lt-ie9 input:checked ~ .page-drawer .page-overlay {
  background: black;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

@media screen and (max-width: 31.1875em) {
  input:checked ~ .page-drawer .page-overlay {
    top: 20px;
  }
}

@media screen and (max-width: 37.4375em) {
  input:checked ~ .page-drawer .page-overlay {
    top: 30px;
  }
}

@media screen and (max-width: 62.4375em) {
  input:checked ~ .page-drawer .page-overlay {
    top: 40px;
  }
}

input:checked ~ .page-slide-along .page-overlay,
input:checked ~ .page-slide-out .page-overlay,
input:checked ~ .page-rotate-in .page-overlay,
input:checked ~ .page-rotate-out .page-overlay,
input:checked ~ .page-rotate-in-reverse .page-overlay,
input:checked ~ .page-scale-up .page-overlay {
  left: 0;
}

input:checked ~ .page-reveal .page-overlay {
  right: 0;
}

input:checked ~ .page-rotate-in .nav-rotate-in,
input:checked ~ .page-rotate-out .nav-rotate-out,
input:checked ~ .page-rotate-in-reverse .nav-rotate-in-reverse {
  margin-left: -200px;
}

input:checked ~ .page-push .nav-push {
  margin-top: -200px;
}

/*# sourceMappingURL=components-off-canvas.css.map */