.demo-container:after {
  clear: both;
  content: "";
  display: table; }

/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1; }
  to {
    opacity: 1; } }

body {
  animation: fake 1s infinite; }

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

dl, ul, ol {
  padding: 0; }

ol, ul {
  list-style: none; }

body {
  overflow-x: hidden; }

[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before {
  display: none; }

label {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img.full {
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

button,
input,
select {
  line-height: normal !important; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0; }

button {
  border: none; }

.hidden {
  display: none; }

.ovh {
  overflow: hidden; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif; }

h2, h3, h4 {
  text-transform: capitalize; }

h3[id], h4[id] {
  text-align: center; }

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center; }
  .main-heading span {
    font-weight: 300;
    color: #999; }

h4 {
  margin: 1.5em 0 0.5em; }

h5 {
  font-size: 13px;
  margin: 3em 0 1em; }

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d; }

.container {
  max-width: 70em;
  margin: 0 auto; }
  @media screen and (max-width: 74em) {
    .container {
      margin: 0 2em; } }

[data-margin] {
  background-color: #E698CC; }

[data-padding] {
  background-color: #C2EBBA; }

[data-content] {
  background-color: #CDEEFF; }

.cell {
  min-height: 10em; }
  .cell:before {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 100;
    color: white;
    display: block;
    text-align: center;
    line-height: 2.5; }
  .autoheight:nth-child(2n) > .cell {
    height: 11em; }
  .autoheight:nth-child(3n+1) > .cell {
    height: 12em; }
  .order:nth-child(1) > .cell:before {
    content: "1"; }
  .order:nth-child(2) > .cell:before {
    content: "2"; }
  .order:nth-child(3) > .cell:before {
    content: "3"; }
  .order:nth-child(4) > .cell:before {
    content: "4"; }
  .order:nth-child(5) > .cell:before {
    content: "5"; }
  .order:nth-child(6) > .cell:before {
    content: "6"; }
  .order:nth-child(7) > .cell:before {
    content: "7"; }
  .order:nth-child(8) > .cell:before {
    content: "8"; }
  .order:nth-child(9) > .cell:before {
    content: "9"; }
  .order:nth-child(10) > .cell:before {
    content: "10"; }

.title {
  margin-bottom: 1em; }

.topic {
  padding: 2em 0 4em; }
  .topic > section {
    margin: 2em 0; }

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px; }
  .main-heading:before {
    content: url("../images/title-prev.png"); }
  .main-heading:after {
    content: url("../images/title-next.png"); }
  .topic > section {
    margin: 0 0 5em; } }

.example:after {
  content: '';
  display: table;
  clear: both; }

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer; }
  .example-content:hover {
    opacity: 0.9; }
  .example-content strong {
    display: block;
    margin-bottom: 10px;
    font-size: 24px; }

.demo-container {
  height: 0;
  overflow: hidden; }
  .demo-container:before {
    text-align: center;
    display: block;
    margin-bottom: 5px; }

.diamond-count, .diamond-count-combined, .diamond-size, .diamond-breakpoints, .octagon-count, .octagon-size {
  height: auto;
  margin-bottom: 50px; }

.diamond-count:before {
  content: "(  3  diamond  )"; }

.diamond-count > div {
  position: relative;
  float: left;
  overflow: hidden;
  -webkit-transform: rotate(-45deg) scale(0.70711);
  -moz-transform: rotate(-45deg) scale(0.70711);
  -ms-transform: rotate(-45deg) scale(0.70711);
  -o-transform: rotate(-45deg) scale(0.70711);
  transform: rotate(-45deg) scale(0.70711);
  width: 33.33333%;
  height: 0;
  padding-bottom: 33.33333%; }
  .diamond-count > div > .diamond-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: rotate(45deg) scale(1.41421);
    -moz-transform: rotate(45deg) scale(1.41421);
    -ms-transform: rotate(45deg) scale(1.41421);
    -o-transform: rotate(45deg) scale(1.41421);
    transform: rotate(45deg) scale(1.41421); }
    .diamond-count > div > .diamond-content > * {
      margin: auto; }
    .lt-ie10 .diamond-count > div > .diamond-content {
      text-align: center;
      white-space: nowrap; }
      .lt-ie10 .diamond-count > div > .diamond-content:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em; }
      .lt-ie10 .diamond-count > div > .diamond-content > * {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: left; }

.diamond-count-combined:before {
  content: "(  3  diamond  combined  )"; }

.diamond-count-combined > div {
  position: relative;
  float: left;
  overflow: hidden;
  -webkit-transform: rotate(-45deg) scale(0.70711);
  -moz-transform: rotate(-45deg) scale(0.70711);
  -ms-transform: rotate(-45deg) scale(0.70711);
  -o-transform: rotate(-45deg) scale(0.70711);
  transform: rotate(-45deg) scale(0.70711);
  width: 33.33333%;
  height: 0;
  padding-bottom: 33.33333%; }
  .diamond-count-combined > div > .diamond-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: rotate(45deg) scale(1.41421);
    -moz-transform: rotate(45deg) scale(1.41421);
    -ms-transform: rotate(45deg) scale(1.41421);
    -o-transform: rotate(45deg) scale(1.41421);
    transform: rotate(45deg) scale(1.41421); }
    .diamond-count-combined > div > .diamond-content > * {
      margin: auto; }
    .lt-ie10 .diamond-count-combined > div > .diamond-content {
      text-align: center;
      white-space: nowrap; }
      .lt-ie10 .diamond-count-combined > div > .diamond-content:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em; }
      .lt-ie10 .diamond-count-combined > div > .diamond-content > * {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: left; }
  .diamond-count-combined > div:nth-child(n) {
    margin: 0;
    clear: none; }
  .diamond-count-combined > div:nth-child(5n + 4) {
    margin-left: 16.66667%;
    clear: both; }
  .diamond-count-combined > div:nth-child(n + 4) {
    margin-top: -16.66667%; }
  .lt-ie9 .diamond-count-combined > div:nth-child(n) {
    margin: 0;
    clear: none; }

.diamond-size:before {
  content: "25%"; }

.diamond-size > div {
  position: relative;
  float: left;
  overflow: hidden;
  -webkit-transform: rotate(-45deg) scale(0.70711);
  -moz-transform: rotate(-45deg) scale(0.70711);
  -ms-transform: rotate(-45deg) scale(0.70711);
  -o-transform: rotate(-45deg) scale(0.70711);
  transform: rotate(-45deg) scale(0.70711);
  width: 25%;
  height: 0;
  padding-bottom: 25%; }
  .diamond-size > div > .diamond-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: rotate(45deg) scale(1.41421);
    -moz-transform: rotate(45deg) scale(1.41421);
    -ms-transform: rotate(45deg) scale(1.41421);
    -o-transform: rotate(45deg) scale(1.41421);
    transform: rotate(45deg) scale(1.41421); }
    .diamond-size > div > .diamond-content > * {
      margin: auto; }
    .lt-ie10 .diamond-size > div > .diamond-content {
      text-align: center;
      white-space: nowrap; }
      .lt-ie10 .diamond-size > div > .diamond-content:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em; }
      .lt-ie10 .diamond-size > div > .diamond-content > * {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: left; }

.diamond-breakpoints:before {
  content: "( ( 600px :  3 , 800px :  4  ) diamond  )"; }

@media screen and (min-width: 37.5em) {
  .diamond-breakpoints > div {
    position: relative;
    float: left;
    overflow: hidden;
    -webkit-transform: rotate(-45deg) scale(0.70711);
    -moz-transform: rotate(-45deg) scale(0.70711);
    -ms-transform: rotate(-45deg) scale(0.70711);
    -o-transform: rotate(-45deg) scale(0.70711);
    transform: rotate(-45deg) scale(0.70711);
    width: 33.33333%;
    height: 0;
    padding-bottom: 33.33333%; }
    .diamond-breakpoints > div > .diamond-content {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      -moz-box-pack: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      width: 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      -webkit-transform: rotate(45deg) scale(1.41421);
      -moz-transform: rotate(45deg) scale(1.41421);
      -ms-transform: rotate(45deg) scale(1.41421);
      -o-transform: rotate(45deg) scale(1.41421);
      transform: rotate(45deg) scale(1.41421); }
      .diamond-breakpoints > div > .diamond-content > * {
        margin: auto; }
      .lt-ie10 .diamond-breakpoints > div > .diamond-content {
        text-align: center;
        white-space: nowrap; }
        .lt-ie10 .diamond-breakpoints > div > .diamond-content:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -.25em; }
        .lt-ie10 .diamond-breakpoints > div > .diamond-content > * {
          display: inline-block;
          vertical-align: middle;
          white-space: normal;
          text-align: left; } }

@media screen and (min-width: 50em) {
  .diamond-breakpoints > div {
    width: 25%;
    height: 0;
    padding-bottom: 25%; } }

.octagon-count:before {
  content: "(  4  octagon  )"; }

.octagon-count > div {
  position: relative;
  float: left;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 25%;
  height: 0;
  padding-bottom: 25%; }
  .octagon-count > div > .diamond-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: inherit; }
    .octagon-count > div > .diamond-content > * {
      margin: auto; }
    .lt-ie10 .octagon-count > div > .diamond-content {
      text-align: center;
      white-space: nowrap; }
      .lt-ie10 .octagon-count > div > .diamond-content:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em; }
      .lt-ie10 .octagon-count > div > .diamond-content > * {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: left; }

.octagon-size:before {
  content: "(  300px  octagon  )"; }

.octagon-size > div {
  position: relative;
  float: left;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 300px;
  height: 300px; }
  .octagon-size > div > .diamond-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: inherit; }
    .octagon-size > div > .diamond-content > * {
      margin: auto; }
    .lt-ie10 .octagon-size > div > .diamond-content {
      text-align: center;
      white-space: nowrap; }
      .lt-ie10 .octagon-size > div > .diamond-content:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em; }
      .lt-ie10 .octagon-size > div > .diamond-content > * {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: left; }

.demo-container {
  max-width: 900px;
  margin: 80px auto 20px; }
  .demo-container span {
    display: block;
    width: 100%; }
  .demo-container img {
    width: inherit; }

.order span:after {
  display: block;
  position: relative;
  top: -180px;
  top: -16vw;
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 60px;
  font-family: 'Helvetica Neue',Arial,sans-serif; }

.order:nth-child(1) span:after {
  content: "1"; }

.order:nth-child(2) span:after {
  content: "2"; }

.order:nth-child(3) span:after {
  content: "3"; }

.order:nth-child(4) span:after {
  content: "4"; }

.order:nth-child(5) span:after {
  content: "5"; }

.order:nth-child(6) span:after {
  content: "6"; }

.order:nth-child(7) span:after {
  content: "7"; }

.order:nth-child(8) span:after {
  content: "8"; }

/*# sourceMappingURL=sourcemaps/diamond.css.map */
