/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1; }
  to {
    opacity: 1; } }

body {
  animation: fake 1s infinite; }

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

dl, ul, ol {
  padding: 0; }

ol, ul {
  list-style: none; }

body {
  overflow-x: hidden; }

[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before {
  display: none; }

label {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img.full {
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

button,
input,
select {
  line-height: normal !important; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0; }

button {
  border: none; }

.hidden {
  display: none; }

.ovh {
  overflow: hidden; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif; }

h2, h3, h4 {
  text-transform: capitalize; }

h3[id], h4[id] {
  text-align: center; }

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center; }
  .main-heading span {
    font-weight: 300;
    color: #999; }

h4 {
  margin: 1.5em 0 0.5em; }

h5 {
  font-size: 13px;
  margin: 3em 0 1em; }

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d; }

.container {
  max-width: 70em;
  margin: 0 auto; }
  @media screen and (max-width: 74em) {
    .container {
      margin: 0 2em; } }

[data-margin] {
  background-color: #E698CC; }

[data-padding] {
  background-color: #C2EBBA; }

[data-content] {
  background-color: #CDEEFF; }

.cell {
  min-height: 10em; }
  .cell:before {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 100;
    color: white;
    display: block;
    text-align: center; }
  .autoheight:nth-child(2n) > .cell {
    height: 11em; }
  .autoheight:nth-child(3n+1) > .cell {
    height: 12em; }
  .order:nth-child(1) > .cell:before {
    content: "1"; }
  .order:nth-child(2) > .cell:before {
    content: "2"; }
  .order:nth-child(3) > .cell:before {
    content: "3"; }
  .order:nth-child(4) > .cell:before {
    content: "4"; }
  .order:nth-child(5) > .cell:before {
    content: "5"; }
  .order:nth-child(6) > .cell:before {
    content: "6"; }
  .order:nth-child(7) > .cell:before {
    content: "7"; }
  .order:nth-child(8) > .cell:before {
    content: "8"; }
  .order:nth-child(9) > .cell:before {
    content: "9"; }
  .order:nth-child(10) > .cell:before {
    content: "10"; }

.title {
  margin-bottom: 1em; }

.topic {
  padding: 2em 0 4em; }
  .topic > section {
    margin: 2em 0; }

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px; }
  .main-heading:before {
    content: url("../images/title-prev.png"); }
  .main-heading:after {
    content: url("../images/title-next.png"); }
  .topic > section {
    margin: 0 0 5em; } }

.example:after {
  content: '';
  display: table;
  clear: both; }

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer; }
  .example-content:hover {
    opacity: 0.9; }
  .example-content strong {
    display: block;
    margin-bottom: 10px;
    font-size: 24px; }

.demo-container {
  height: 0;
  overflow: hidden; }
  .demo-container:before {
    text-align: center;
    display: block;
    margin-bottom: 5px; }

.example-drop-shadows {
  text-align: center;
  max-width: 700px;
  margin: 50px auto; }
  .example-drop-shadows .box {
    display: inline-block;
    width: 50%;
    padding: 40px 10px;
    margin: 20px 10px;
    max-width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); }
  .example-drop-shadows .lifted {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .lifted:before, .example-drop-shadows .lifted:after {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .lifted:before, .example-drop-shadows .lifted:after {
      bottom: 15px;
      width: 50%;
      height: 20%;
      box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.6); }
    .example-drop-shadows .lifted:before {
      left: 10px;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg); }
    .example-drop-shadows .lifted:after {
      right: 10px;
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg); }
  .example-drop-shadows .raised {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 15px 10px -10px rgba(51, 51, 51, 0.6), 0px 1px 4px rgba(128, 128, 128, 0.6); }
  .example-drop-shadows .perspective {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .perspective:before {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .perspective:before {
      -webkit-transform: skew(40deg);
      -moz-transform: skew(40deg);
      -ms-transform: skew(40deg);
      -o-transform: skew(40deg);
      transform: skew(40deg);
      -webkit-transform-origin: 0px 100%;
      -moz-transform-origin: 0px 100%;
      -ms-transform-origin: 0px 100%;
      -o-transform-origin: 0px 100%;
      transform-origin: 0px 100%;
      left: 80px;
      bottom: 5px;
      width: 50%;
      height: 35%;
      box-shadow: -80px 0px 8px rgba(77, 77, 77, 0.6); }
  .example-drop-shadows .curve.left {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .curve.left:before {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .curve.left:before {
      box-shadow: 0px 0px 15px rgba(77, 77, 77, 0.6);
      border-radius: 10px / 100px;
      left: 0;
      right: 50%;
      top: 10px;
      bottom: 10px; }
  .example-drop-shadows .curve.right {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .curve.right:before {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .curve.right:before {
      box-shadow: 0px 0px 15px rgba(77, 77, 77, 0.6);
      border-radius: 10px / 100px;
      right: 0;
      left: 50%;
      top: 10px;
      bottom: 10px; }
  .example-drop-shadows .curve.horizontal {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .curve.horizontal:before {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .curve.horizontal:before {
      box-shadow: 0px 0px 15px rgba(77, 77, 77, 0.6);
      border-radius: 10px / 100px;
      left: 0;
      right: 0;
      top: 10px;
      bottom: 10px; }
  .example-drop-shadows .curve.top {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .curve.top:before {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .curve.top:before {
      box-shadow: 0px 0px 15px rgba(77, 77, 77, 0.6);
      border-radius: 10px / 100px;
      top: 0;
      bottom: 50%;
      left: 13px;
      right: 13px; }
  .example-drop-shadows .curve.bottom {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .curve.bottom:before {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .curve.bottom:before {
      box-shadow: 0px 0px 15px rgba(77, 77, 77, 0.6);
      border-radius: 10px / 100px;
      bottom: 0;
      top: 50%;
      left: 13px;
      right: 13px; }
  .example-drop-shadows .curve.vertical {
    position: relative;
    background-color: #fff; }
    .example-drop-shadows .curve.vertical:before {
      content: '';
      position: absolute;
      z-index: -2; }
    .example-drop-shadows .curve.vertical:before {
      box-shadow: 0px 0px 15px rgba(77, 77, 77, 0.6);
      border-radius: 10px / 100px;
      left: 13px;
      right: 13px;
      top: 0px;
      bottom: 0px; }

/*# sourceMappingURL=sourcemaps/drop-shadows.css.map */
