/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before {
  display: none;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img.full {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

.container {
  max-width: 40em;
  margin: 0 auto;
}

@media screen and (max-width: 44em) {
  .container {
    margin: 0 2em;
  }
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 10em;
}

.cell:before {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 100;
  color: white;
  display: block;
  text-align: center;
}

.autoheight:nth-child(2n) > .cell {
  height: 11em;
}

.autoheight:nth-child(3n+1) > .cell {
  height: 12em;
}

.order:nth-child(1) > .cell:before {
  content: "1";
}

.order:nth-child(2) > .cell:before {
  content: "2";
}

.order:nth-child(3) > .cell:before {
  content: "3";
}

.order:nth-child(4) > .cell:before {
  content: "4";
}

.order:nth-child(5) > .cell:before {
  content: "5";
}

.order:nth-child(6) > .cell:before {
  content: "6";
}

.order:nth-child(7) > .cell:before {
  content: "7";
}

.order:nth-child(8) > .cell:before {
  content: "8";
}

.order:nth-child(9) > .cell:before {
  content: "9";
}

.order:nth-child(10) > .cell:before {
  content: "10";
}

.title {
  margin-bottom: 1em;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .main-heading:before {
    content: url("../images/title-prev.png");
  }
  .main-heading:after {
    content: url("../images/title-next.png");
  }
  .topic > section {
    margin: 0 0 5em;
  }
}

.color-box {
  float: left;
  text-align: center;
  padding: 3em 2em;
  font-size: 14px;
  color: #fff;
  max-width: 200px;
  text-transform: capitalize;
}

.example-complementary .color-box {
  width: 47%;
}

.example-adjacent .color-box,
.example-split-complementary .color-box,
.example-triad .color-box {
  width: 30%;
}

.example-rectangle .color-box,
.example-square .color-box {
  width: 22%;
}

.color-pattern {
  clear: both;
  max-width: 300px;
  padding: 10px 0px;
  border-right: .33em;
  overflow: hidden;
}

.color-pattern img {
  max-width: 100%;
}

.color-box-original {
  background-color: #d92626;
  color: #fff;
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer;
}

.example-content:hover {
  background: #484848;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.demo-container {
  height: 0;
  overflow: hidden;
}

.demo-container:before {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.gallery-number, .gallery-child, .gallery-direction, .gallery-center-align, .gallery-percentage-gutter, .gallery-rem-gutter, .gallery-map {
  height: auto;
  margin-bottom: 50px;
}

.gallery-number:before {
  content: "3";
}

.gallery-number > ul {
  margin-right: -20px;
}

.gallery-number > ul:after {
  clear: both;
  content: "";
  display: table;
}

.gallery-number > ul > li {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 20px 0;
}

.gallery-number > ul > li {
  width: 33.3333333%;
}

.gallery-number > ul > li:nth-child(n) {
  clear: none;
}

.gallery-number > ul > li:nth-child(3n+1) {
  clear: both;
}

.gallery-child:before {
  content: "(  4  child  div  )";
}

.gallery-child > div {
  margin-right: -20px;
}

.gallery-child > div:after {
  clear: both;
  content: "";
  display: table;
}

.gallery-child > div > div {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 20px 0;
}

.gallery-child > div > div {
  width: 25%;
}

.gallery-child > div > div:nth-child(n) {
  clear: none;
}

.gallery-child > div > div:nth-child(4n+1) {
  clear: both;
}

.gallery-direction:before {
  content: "(  4  RTL  )";
}

.gallery-direction > ul {
  margin-right: -20px;
}

.gallery-direction > ul:after {
  clear: both;
  content: "";
  display: table;
}

.gallery-direction > ul > li {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 20px 0;
}

.gallery-direction > ul > li {
  width: 25%;
}

.gallery-direction > ul > li:nth-child(n) {
  clear: none;
}

.gallery-direction > ul > li:nth-child(4n+1) {
  clear: both;
}

.gallery-center-align:before {
  content: "(  3  center-align  )";
}

.gallery-center-align > ul {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-right: -20px;
}

.gallery-center-align > ul .opera-only :-o-prefocus, .gallery-center-align > ul {
  word-spacing: -0.43em;
}

.gallery-center-align > ul > li {
  width: 100%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 20px 0;
}

.gallery-center-align > ul > li {
  width: 33.3333333%;
}

.gallery-percentage-gutter:before {
  content: "(  4  gutter  5%  )";
}

.gallery-percentage-gutter > ul:after {
  clear: both;
  content: "";
  display: table;
}

.gallery-percentage-gutter > ul > li {
  width: 100%;
  float: left;
  margin: 0 5% 5% 0;
}

.gallery-percentage-gutter > ul > li {
  width: 21.25%;
}

.gallery-percentage-gutter > ul > li:nth-child(n) {
  margin-right: 5%;
}

.gallery-percentage-gutter > ul > li:nth-child(4n) {
  margin-right: 0;
}

.gallery-percentage-gutter > ul > li:nth-child(n) {
  clear: none;
}

.gallery-percentage-gutter > ul > li:nth-child(4n+1) {
  clear: both;
}

.gallery-rem-gutter:before {
  content: "(  5  gutter  2rem  )";
}

.gallery-rem-gutter > ul {
  margin-right: -2rem;
}

.gallery-rem-gutter > ul:after {
  clear: both;
  content: "";
  display: table;
}

.gallery-rem-gutter > ul > li {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2rem 2rem 0;
}

.gallery-rem-gutter > ul > li {
  width: 20%;
}

.gallery-rem-gutter > ul > li:nth-child(n) {
  clear: none;
}

.gallery-rem-gutter > ul > li:nth-child(5n+1) {
  clear: both;
}

.gallery-map:before {
  content: "( dafault :  2 , 600px :  3 , 900px :  4  )";
}

.gallery-map > ul {
  margin-right: -20px;
}

.gallery-map > ul:after {
  clear: both;
  content: "";
  display: table;
}

.gallery-map > ul > li {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 20px 0;
}

@media screen and (min-width: 37.5em) {
  .gallery-map > ul > li {
    width: 33.3333333%;
  }
  .gallery-map > ul > li:nth-child(n) {
    clear: none;
  }
  .gallery-map > ul > li:nth-child(3n+1) {
    clear: both;
  }
}

@media screen and (min-width: 56.25em) {
  .gallery-map > ul > li {
    width: 25%;
  }
  .gallery-map > ul > li:nth-child(n) {
    clear: none;
  }
  .gallery-map > ul > li:nth-child(4n+1) {
    clear: both;
  }
}

/*# sourceMappingURL=gallery.css.map */