/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1; }
  to {
    opacity: 1; } }

body {
  animation: fake 1s infinite; }

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

dl, ul, ol {
  padding: 0; }

ol, ul {
  list-style: none; }

body {
  overflow-x: hidden; }

[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before {
  display: none; }

label {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img.full {
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

button,
input,
select {
  line-height: normal !important; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0; }

button {
  border: none; }

.hidden {
  display: none; }

.ovh {
  overflow: hidden; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif; }

h2, h3, h4 {
  text-transform: capitalize; }

h3[id], h4[id] {
  text-align: center; }

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center; }
  .main-heading span {
    font-weight: 300;
    color: #999; }

h4 {
  margin: 1.5em 0 0.5em; }

h5 {
  font-size: 13px;
  margin: 3em 0 1em; }

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d; }

.container {
  max-width: 70em;
  margin: 0 auto; }
  @media screen and (max-width: 74em) {
    .container {
      margin: 0 2em; } }

[data-margin] {
  background-color: #E698CC; }

[data-padding] {
  background-color: #C2EBBA; }

[data-content] {
  background-color: #CDEEFF; }

.cell {
  min-height: 10em; }
  .cell:before {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 100;
    color: white;
    display: block;
    text-align: center; }
  .autoheight:nth-child(2n) > .cell {
    height: 11em; }
  .autoheight:nth-child(3n+1) > .cell {
    height: 12em; }
  .order:nth-child(1) > .cell:before {
    content: "1"; }
  .order:nth-child(2) > .cell:before {
    content: "2"; }
  .order:nth-child(3) > .cell:before {
    content: "3"; }
  .order:nth-child(4) > .cell:before {
    content: "4"; }
  .order:nth-child(5) > .cell:before {
    content: "5"; }
  .order:nth-child(6) > .cell:before {
    content: "6"; }
  .order:nth-child(7) > .cell:before {
    content: "7"; }
  .order:nth-child(8) > .cell:before {
    content: "8"; }
  .order:nth-child(9) > .cell:before {
    content: "9"; }
  .order:nth-child(10) > .cell:before {
    content: "10"; }

.title {
  margin-bottom: 1em; }

.topic {
  padding: 2em 0 4em; }
  .topic > section {
    margin: 2em 0; }

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px; }
  .main-heading:before {
    content: url("../images/title-prev.png"); }
  .main-heading:after {
    content: url("../images/title-next.png"); }
  .topic > section {
    margin: 0 0 5em; } }

.example:after {
  content: '';
  display: table;
  clear: both; }

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer; }
  .example-content:hover {
    opacity: 0.9; }
  .example-content strong {
    display: block;
    margin-bottom: 10px;
    font-size: 24px; }

.demo-container {
  height: 0;
  overflow: hidden; }
  .demo-container:before {
    text-align: center;
    display: block;
    margin-bottom: 5px; }

.grid-list, .grid-child, .grid-list-direction, .grid-gutter1, .grid-gutter2, .grid-nested-list, .grid-map, .grid-breakpoint, .grid-breakpoint-outside, .grid-global-breakpoints, .grid-breakpoint-max, .grid-breakpoint-nested-list, .grid-breakpoint-map, .grid-breakpoint-default, .grid-breakpoint-complex-list {
  height: auto;
  margin-bottom: 50px; }

[class*='grid-'] .cell {
  margin-bottom: 20px; }

.grid-list:before {
  content: "(  3  4  )"; }

.grid-list > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-list > div > div {
    width: 100%; }
  .lt-ie10 .grid-list > div {
    margin-right: -20px; }
    .lt-ie10 .grid-list > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-list > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  .lt-ie10 .grid-list > div > div:nth-child(n) {
    clear: none; }
  .grid-list > div > div:nth-child(1) {
    width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
    width: calc((100% + 20px) * 3 / 7 - 20px); }
    .lt-ie10 .grid-list > div > div:nth-child(1) {
      width: 42.85714%;
      margin-left: 0; }
  .grid-list > div > div:nth-child(2) {
    width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
    width: calc((100% + 20px) * 4 / 7 - 20px); }
    .lt-ie10 .grid-list > div > div:nth-child(2) {
      width: 57.14286%;
      margin-left: 42.85714%; }

.grid-child:before {
  content: "( (  3  4  ) child  .child  )"; }

.grid-child > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-child > div > .child {
    width: 100%; }
  .lt-ie10 .grid-child > div {
    margin-right: -20px; }
    .lt-ie10 .grid-child > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-child > div > .child {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  .lt-ie10 .grid-child > div > .child:nth-child(n) {
    clear: none; }
  .grid-child > div > .child:nth-child(1) {
    width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
    width: calc((100% + 20px) * 3 / 7 - 20px); }
    .lt-ie10 .grid-child > div > .child:nth-child(1) {
      width: 42.85714%;
      margin-left: 0; }
  .grid-child > div > .child:nth-child(2) {
    width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
    width: calc((100% + 20px) * 4 / 7 - 20px); }
    .lt-ie10 .grid-child > div > .child:nth-child(2) {
      width: 57.14286%;
      margin-left: 42.85714%; }

.grid-list-direction:before {
  content: "( (  3  4  ) RTL  )"; }

.grid-list-direction > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .grid-list-direction > div > div {
    width: 100%; }
  .lt-ie10 .grid-list-direction > div {
    margin-left: -20px; }
    .lt-ie10 .grid-list-direction > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-list-direction > div > div {
      float: right;
      clear: both;
      margin-left: -100%;
      padding-left: 20px;
      box-sizing: border-box; }
  .lt-ie10 .grid-list-direction > div > div:nth-child(n) {
    clear: none; }
  .grid-list-direction > div > div:nth-child(1) {
    width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
    width: calc((100% + 20px) * 3 / 7 - 20px); }
    .lt-ie10 .grid-list-direction > div > div:nth-child(1) {
      width: 42.85714%;
      margin-right: 0; }
  .grid-list-direction > div > div:nth-child(2) {
    width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
    width: calc((100% + 20px) * 4 / 7 - 20px); }
    .lt-ie10 .grid-list-direction > div > div:nth-child(2) {
      width: 57.14286%;
      margin-right: 42.85714%; }

.grid-gutter1:before {
  content: "( ( 3 4 : 2 1 ) gutter  5%  )"; }

.grid-gutter1 > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-gutter1 > div > div {
    width: 100%; }
  .lt-ie10 .grid-gutter1 > div:after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie10 .grid-gutter1 > div > div {
    float: left;
    clear: both;
    margin-right: -100%; }
  .lt-ie10 .grid-gutter1 > div > div:nth-child(n) {
    clear: none; }
  .grid-gutter1 > div > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 40%; }
    .lt-ie10 .grid-gutter1 > div > div:nth-child(1) {
      margin-left: 60%; }
  .grid-gutter1 > div > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 55%; }
    .lt-ie10 .grid-gutter1 > div > div:nth-child(2) {
      margin-left: 0; }

.grid-gutter2:before {
  content: "( (  3  4  ) gutter  5rem  )"; }

.grid-gutter2 > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-gutter2 > div > div {
    width: 100%; }
  .lt-ie10 .grid-gutter2 > div {
    margin-right: -5rem; }
    .lt-ie10 .grid-gutter2 > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-gutter2 > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 5rem;
      box-sizing: border-box; }
  .lt-ie10 .grid-gutter2 > div > div:nth-child(n) {
    clear: none; }
  .grid-gutter2 > div > div:nth-child(1) {
    width: -webkit-calc((100% + 5rem) * 3 / 7 - 5rem);
    width: calc((100% + 5rem) * 3 / 7 - 5rem); }
    .lt-ie10 .grid-gutter2 > div > div:nth-child(1) {
      width: 42.85714%;
      margin-left: 0; }
  .grid-gutter2 > div > div:nth-child(2) {
    width: -webkit-calc((100% + 5rem) * 4 / 7 - 5rem);
    width: calc((100% + 5rem) * 4 / 7 - 5rem); }
    .lt-ie10 .grid-gutter2 > div > div:nth-child(2) {
      width: 57.14286%;
      margin-left: 42.85714%; }

.grid-nested-list:before {
  content: "( (  3  4  ) 7  )"; }

.grid-nested-list > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-nested-list > div > div {
    width: 100%; }
  .lt-ie10 .grid-nested-list > div {
    margin-right: -20px; }
    .lt-ie10 .grid-nested-list > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-nested-list > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  .lt-ie10 .grid-nested-list > div > div:nth-child(n) {
    clear: none; }
  .grid-nested-list > div > div:nth-child(1) {
    width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
    width: calc((100% + 20px) * 3 / 7 - 20px); }
    .lt-ie10 .grid-nested-list > div > div:nth-child(1) {
      width: 42.85714%;
      margin-left: 0; }
  .grid-nested-list > div > div:nth-child(2) {
    width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
    width: calc((100% + 20px) * 4 / 7 - 20px); }
    .lt-ie10 .grid-nested-list > div > div:nth-child(2) {
      width: 57.14286%;
      margin-left: 42.85714%; }
  .lt-ie10 .grid-nested-list > div > div:nth-child(3) {
    clear: both; }
  .grid-nested-list > div > div:nth-child(3) {
    width: -webkit-calc((100% + 20px) * 7 / 7 - 20px);
    width: calc((100% + 20px) * 7 / 7 - 20px); }
    .lt-ie10 .grid-nested-list > div > div:nth-child(3) {
      width: 100%;
      margin-left: 0; }
  .lt-ie10 .grid-nested-list > div > div:nth-child(4) {
    clear: both; }

.grid-map:before {
  content: "( ( 3 4 7 : 0 2 1 ) 3  )"; }

.grid-map > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-map > div > div {
    width: 100%; }
  .lt-ie10 .grid-map > div {
    margin-right: -20px; }
    .lt-ie10 .grid-map > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-map > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  .lt-ie10 .grid-map > div > div:nth-child(n) {
    clear: none; }
  .grid-map > div > div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: -webkit-calc((100% + 20px) * 3 / 14 - 20px);
    width: calc((100% + 20px) * 3 / 14 - 20px); }
    .lt-ie10 .grid-map > div > div:nth-child(1) {
      width: 21.42857%;
      margin-left: 0; }
  .grid-map > div > div:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    width: -webkit-calc((100% + 20px) * 4 / 14 - 20px);
    width: calc((100% + 20px) * 4 / 14 - 20px); }
    .lt-ie10 .grid-map > div > div:nth-child(2) {
      width: 28.57143%;
      margin-left: 71.42857%; }
  .grid-map > div > div:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: -webkit-calc((100% + 20px) * 7 / 14 - 20px);
    width: calc((100% + 20px) * 7 / 14 - 20px); }
    .lt-ie10 .grid-map > div > div:nth-child(3) {
      width: 50%;
      margin-left: 21.42857%; }
  .lt-ie10 .grid-map > div > div:nth-child(4) {
    clear: both; }
  .grid-map > div > div:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    width: -webkit-calc((100% + 20px) * 3 / 3 - 20px);
    width: calc((100% + 20px) * 3 / 3 - 20px); }
    .lt-ie10 .grid-map > div > div:nth-child(4) {
      width: 100%;
      margin-left: 0; }
  .lt-ie10 .grid-map > div > div:nth-child(5) {
    clear: both; }

.grid-breakpoint:before {
  content: "( 600px : 5 7 )"; }

.grid-breakpoint > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-breakpoint > div > div {
    width: 100%; }
  .lt-ie10 .grid-breakpoint > div {
    margin-right: -20px; }
    .lt-ie10 .grid-breakpoint > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-breakpoint > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  @media screen and (min-width: 37.5em) {
    .grid-breakpoint > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 5 / 12 - 20px);
      width: calc((100% + 20px) * 5 / 12 - 20px); }
      .lt-ie10 .grid-breakpoint > div > div:nth-child(1) {
        width: 41.66667%;
        margin-left: 0; }
    .grid-breakpoint > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 7 / 12 - 20px);
      width: calc((100% + 20px) * 7 / 12 - 20px); }
      .lt-ie10 .grid-breakpoint > div > div:nth-child(2) {
        width: 58.33333%;
        margin-left: 41.66667%; } }

.grid-breakpoint-outside:before {
  content: "@media (min-width: 600px) { (  5  7  ) }"; }

@media screen and (min-width: 600px) {
  .grid-breakpoint-outside > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .grid-breakpoint-outside > div > div {
      width: 100%; }
    .lt-ie10 .grid-breakpoint-outside > div {
      margin-right: -20px; }
      .lt-ie10 .grid-breakpoint-outside > div:after {
        clear: both;
        content: "";
        display: table; }
      .lt-ie10 .grid-breakpoint-outside > div > div {
        float: left;
        clear: both;
        margin-right: -100%;
        padding-right: 20px;
        box-sizing: border-box; } }
  @media screen and (min-width: 600px) and (min-width: 37.5em) {
    .grid-breakpoint-outside > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-outside > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-outside > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 5 / 12 - 20px);
      width: calc((100% + 20px) * 5 / 12 - 20px); }
      .lt-ie10 .grid-breakpoint-outside > div > div:nth-child(1) {
        width: 41.66667%;
        margin-left: 0; }
    .grid-breakpoint-outside > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 7 / 12 - 20px);
      width: calc((100% + 20px) * 7 / 12 - 20px); }
      .lt-ie10 .grid-breakpoint-outside > div > div:nth-child(2) {
        width: 58.33333%;
        margin-left: 41.66667%; } }

.grid-global-breakpoints:before {
  content: "( ( sm : 1 1, md : 2 1, lg : 3 5 )( sm :  600px , md :  900px , lg :  1200px  ) )"; }

.grid-global-breakpoints > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-global-breakpoints > div > div {
    width: 100%; }
  .lt-ie10 .grid-global-breakpoints > div {
    margin-right: -20px; }
    .lt-ie10 .grid-global-breakpoints > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-global-breakpoints > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  @media screen and (min-width: 37.5em) {
    .grid-global-breakpoints > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-global-breakpoints > div > div:nth-child(n) {
      clear: none; }
    .grid-global-breakpoints > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 1 / 2 - 20px);
      width: calc((100% + 20px) * 1 / 2 - 20px); }
      .lt-ie10 .grid-global-breakpoints > div > div:nth-child(1) {
        width: 50%;
        margin-left: 0; }
    .grid-global-breakpoints > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 1 / 2 - 20px);
      width: calc((100% + 20px) * 1 / 2 - 20px); }
      .lt-ie10 .grid-global-breakpoints > div > div:nth-child(2) {
        width: 50%;
        margin-left: 50%; } }
  @media screen and (min-width: 56.25em) {
    .grid-global-breakpoints > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-global-breakpoints > div > div:nth-child(n) {
      clear: none; }
    .grid-global-breakpoints > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 2 / 3 - 20px);
      width: calc((100% + 20px) * 2 / 3 - 20px); }
      .lt-ie10 .grid-global-breakpoints > div > div:nth-child(1) {
        width: 66.66667%;
        margin-left: 0; }
    .grid-global-breakpoints > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 1 / 3 - 20px);
      width: calc((100% + 20px) * 1 / 3 - 20px); }
      .lt-ie10 .grid-global-breakpoints > div > div:nth-child(2) {
        width: 33.33333%;
        margin-left: 66.66667%; } }
  @media screen and (min-width: 75em) {
    .grid-global-breakpoints > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-global-breakpoints > div > div:nth-child(n) {
      clear: none; }
    .grid-global-breakpoints > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 3 / 8 - 20px);
      width: calc((100% + 20px) * 3 / 8 - 20px); }
      .lt-ie10 .grid-global-breakpoints > div > div:nth-child(1) {
        width: 37.5%;
        margin-left: 0; }
    .grid-global-breakpoints > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 5 / 8 - 20px);
      width: calc((100% + 20px) * 5 / 8 - 20px); }
      .lt-ie10 .grid-global-breakpoints > div > div:nth-child(2) {
        width: 62.5%;
        margin-left: 37.5%; } }

.grid-breakpoint-max:before {
  content: "( ( 900px : 3 5, 600px : 2 1 ) max  )"; }

.grid-breakpoint-max > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-breakpoint-max > div > div {
    width: 100%; }
  .lt-ie10 .grid-breakpoint-max > div {
    margin-right: -20px; }
    .lt-ie10 .grid-breakpoint-max > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-breakpoint-max > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  @media screen and (max-width: 56.1875em) {
    .grid-breakpoint-max > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-max > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-max > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 3 / 8 - 20px);
      width: calc((100% + 20px) * 3 / 8 - 20px); }
      .lt-ie10 .grid-breakpoint-max > div > div:nth-child(1) {
        width: 37.5%;
        margin-left: 0; }
    .grid-breakpoint-max > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 5 / 8 - 20px);
      width: calc((100% + 20px) * 5 / 8 - 20px); }
      .lt-ie10 .grid-breakpoint-max > div > div:nth-child(2) {
        width: 62.5%;
        margin-left: 37.5%; } }
  @media screen and (max-width: 37.4375em) {
    .grid-breakpoint-max > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-max > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-max > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 2 / 3 - 20px);
      width: calc((100% + 20px) * 2 / 3 - 20px); }
      .lt-ie10 .grid-breakpoint-max > div > div:nth-child(1) {
        width: 66.66667%;
        margin-left: 0; }
    .grid-breakpoint-max > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 1 / 3 - 20px);
      width: calc((100% + 20px) * 1 / 3 - 20px); }
      .lt-ie10 .grid-breakpoint-max > div > div:nth-child(2) {
        width: 33.33333%;
        margin-left: 66.66667%; } }

.grid-breakpoint-nested-list:before {
  content: "( 600px : (  3  4  )(  2  5  ) 3  )"; }

.grid-breakpoint-nested-list > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-breakpoint-nested-list > div > div {
    width: 100%; }
  .lt-ie10 .grid-breakpoint-nested-list > div {
    margin-right: -20px; }
    .lt-ie10 .grid-breakpoint-nested-list > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-breakpoint-nested-list > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  @media screen and (min-width: 37.5em) {
    .grid-breakpoint-nested-list > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-nested-list > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
      width: calc((100% + 20px) * 3 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(1) {
        width: 42.85714%;
        margin-left: 0; }
    .grid-breakpoint-nested-list > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
      width: calc((100% + 20px) * 4 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(2) {
        width: 57.14286%;
        margin-left: 42.85714%; }
    .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(3) {
      clear: both; }
    .grid-breakpoint-nested-list > div > div:nth-child(3) {
      width: -webkit-calc((100% + 20px) * 2 / 7 - 20px);
      width: calc((100% + 20px) * 2 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(3) {
        width: 28.57143%;
        margin-left: 0; }
    .grid-breakpoint-nested-list > div > div:nth-child(4) {
      width: -webkit-calc((100% + 20px) * 5 / 7 - 20px);
      width: calc((100% + 20px) * 5 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(4) {
        width: 71.42857%;
        margin-left: 28.57143%; }
    .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(5) {
      clear: both; }
    .grid-breakpoint-nested-list > div > div:nth-child(5) {
      width: -webkit-calc((100% + 20px) * 3 / 3 - 20px);
      width: calc((100% + 20px) * 3 / 3 - 20px); }
      .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(5) {
        width: 100%;
        margin-left: 0; }
    .lt-ie10 .grid-breakpoint-nested-list > div > div:nth-child(6) {
      clear: both; } }

.grid-breakpoint-map:before {
  content: "( 600px : ( 3 4 : 2 1 )(  2  5  ) 3  )"; }

.grid-breakpoint-map > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-breakpoint-map > div > div {
    width: 100%; }
  .lt-ie10 .grid-breakpoint-map > div {
    margin-right: -20px; }
    .lt-ie10 .grid-breakpoint-map > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-breakpoint-map > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  @media screen and (min-width: 37.5em) {
    .grid-breakpoint-map > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-map > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-map > div > div:nth-child(1) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
      width: calc((100% + 20px) * 3 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-map > div > div:nth-child(1) {
        width: 42.85714%;
        margin-left: 57.14286%; }
    .grid-breakpoint-map > div > div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1;
      width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
      width: calc((100% + 20px) * 4 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-map > div > div:nth-child(2) {
        width: 57.14286%;
        margin-left: 0; }
    .lt-ie10 .grid-breakpoint-map > div > div:nth-child(3) {
      clear: both; }
    .grid-breakpoint-map > div > div:nth-child(3) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: -webkit-calc((100% + 20px) * 2 / 7 - 20px);
      width: calc((100% + 20px) * 2 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-map > div > div:nth-child(3) {
        width: 28.57143%;
        margin-left: 0; }
    .grid-breakpoint-map > div > div:nth-child(4) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: -webkit-calc((100% + 20px) * 5 / 7 - 20px);
      width: calc((100% + 20px) * 5 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-map > div > div:nth-child(4) {
        width: 71.42857%;
        margin-left: 28.57143%; }
    .lt-ie10 .grid-breakpoint-map > div > div:nth-child(5) {
      clear: both; }
    .grid-breakpoint-map > div > div:nth-child(5) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: -webkit-calc((100% + 20px) * 3 / 3 - 20px);
      width: calc((100% + 20px) * 3 / 3 - 20px); }
      .lt-ie10 .grid-breakpoint-map > div > div:nth-child(5) {
        width: 100%;
        margin-left: 0; }
    .lt-ie10 .grid-breakpoint-map > div > div:nth-child(6) {
      clear: both; } }

.grid-breakpoint-default:before {
  content: "( default : 3 4, 900px : 2 7 )"; }

.grid-breakpoint-default > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-breakpoint-default > div > div {
    width: 100%; }
  .lt-ie10 .grid-breakpoint-default > div {
    margin-right: -20px; }
    .lt-ie10 .grid-breakpoint-default > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-breakpoint-default > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  .lt-ie10 .grid-breakpoint-default > div > div:nth-child(n) {
    clear: none; }
  .grid-breakpoint-default > div > div:nth-child(1) {
    width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
    width: calc((100% + 20px) * 3 / 7 - 20px); }
    .lt-ie10 .grid-breakpoint-default > div > div:nth-child(1) {
      width: 42.85714%;
      margin-left: 0; }
  .grid-breakpoint-default > div > div:nth-child(2) {
    width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
    width: calc((100% + 20px) * 4 / 7 - 20px); }
    .lt-ie10 .grid-breakpoint-default > div > div:nth-child(2) {
      width: 57.14286%;
      margin-left: 42.85714%; }
  @media screen and (min-width: 56.25em) {
    .grid-breakpoint-default > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-default > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-default > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 2 / 9 - 20px);
      width: calc((100% + 20px) * 2 / 9 - 20px); }
      .lt-ie10 .grid-breakpoint-default > div > div:nth-child(1) {
        width: 22.22222%;
        margin-left: 0; }
    .grid-breakpoint-default > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 7 / 9 - 20px);
      width: calc((100% + 20px) * 7 / 9 - 20px); }
      .lt-ie10 .grid-breakpoint-default > div > div:nth-child(2) {
        width: 77.77778%;
        margin-left: 22.22222%; } }

.grid-breakpoint-complex-list:before {
  content: "( default : (  3  4  )(  2  5  ) 3 , 600px : (  3  4  2  )(  5  3  ), 900px : ( 5 2 : 2 1 ) 3 ( 1 1 : 2 1 ) )"; }

.grid-breakpoint-complex-list > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .grid-breakpoint-complex-list > div > div {
    width: 100%; }
  .lt-ie10 .grid-breakpoint-complex-list > div {
    margin-right: -20px; }
    .lt-ie10 .grid-breakpoint-complex-list > div:after {
      clear: both;
      content: "";
      display: table; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div {
      float: left;
      clear: both;
      margin-right: -100%;
      padding-right: 20px;
      box-sizing: border-box; }
  .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(n) {
    clear: none; }
  .grid-breakpoint-complex-list > div > div:nth-child(1) {
    width: -webkit-calc((100% + 20px) * 3 / 7 - 20px);
    width: calc((100% + 20px) * 3 / 7 - 20px); }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(1) {
      width: 42.85714%;
      margin-left: 0; }
  .grid-breakpoint-complex-list > div > div:nth-child(2) {
    width: -webkit-calc((100% + 20px) * 4 / 7 - 20px);
    width: calc((100% + 20px) * 4 / 7 - 20px); }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(2) {
      width: 57.14286%;
      margin-left: 42.85714%; }
  .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(3) {
    clear: both; }
  .grid-breakpoint-complex-list > div > div:nth-child(3) {
    width: -webkit-calc((100% + 20px) * 2 / 7 - 20px);
    width: calc((100% + 20px) * 2 / 7 - 20px); }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(3) {
      width: 28.57143%;
      margin-left: 0; }
  .grid-breakpoint-complex-list > div > div:nth-child(4) {
    width: -webkit-calc((100% + 20px) * 5 / 7 - 20px);
    width: calc((100% + 20px) * 5 / 7 - 20px); }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(4) {
      width: 71.42857%;
      margin-left: 28.57143%; }
  .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(5) {
    clear: both; }
  .grid-breakpoint-complex-list > div > div:nth-child(5) {
    width: -webkit-calc((100% + 20px) * 3 / 3 - 20px);
    width: calc((100% + 20px) * 3 / 3 - 20px); }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(5) {
      width: 100%;
      margin-left: 0; }
  .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(6) {
    clear: both; }
  @media screen and (min-width: 37.5em) {
    .grid-breakpoint-complex-list > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-complex-list > div > div:nth-child(1) {
      width: -webkit-calc((100% + 20px) * 3 / 9 - 20px);
      width: calc((100% + 20px) * 3 / 9 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(1) {
        width: 33.33333%;
        margin-left: 0; }
    .grid-breakpoint-complex-list > div > div:nth-child(2) {
      width: -webkit-calc((100% + 20px) * 4 / 9 - 20px);
      width: calc((100% + 20px) * 4 / 9 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(2) {
        width: 44.44444%;
        margin-left: 33.33333%; }
    .grid-breakpoint-complex-list > div > div:nth-child(3) {
      width: -webkit-calc((100% + 20px) * 2 / 9 - 20px);
      width: calc((100% + 20px) * 2 / 9 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(3) {
        width: 22.22222%;
        margin-left: 77.77778%; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(4) {
      clear: both; }
    .grid-breakpoint-complex-list > div > div:nth-child(4) {
      width: -webkit-calc((100% + 20px) * 5 / 8 - 20px);
      width: calc((100% + 20px) * 5 / 8 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(4) {
        width: 62.5%;
        margin-left: 0; }
    .grid-breakpoint-complex-list > div > div:nth-child(5) {
      width: -webkit-calc((100% + 20px) * 3 / 8 - 20px);
      width: calc((100% + 20px) * 3 / 8 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(5) {
        width: 37.5%;
        margin-left: 62.5%; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(6) {
      clear: both; } }
  @media screen and (min-width: 56.25em) {
    .grid-breakpoint-complex-list > div > div:nth-child(n) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -moz-order: 0;
      -ms-flex-order: 0;
      order: 0; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(n) {
      clear: none; }
    .grid-breakpoint-complex-list > div > div:nth-child(1) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: -webkit-calc((100% + 20px) * 5 / 7 - 20px);
      width: calc((100% + 20px) * 5 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(1) {
        width: 71.42857%;
        margin-left: 28.57143%; }
    .grid-breakpoint-complex-list > div > div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1;
      width: -webkit-calc((100% + 20px) * 2 / 7 - 20px);
      width: calc((100% + 20px) * 2 / 7 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(2) {
        width: 28.57143%;
        margin-left: 0; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(3) {
      clear: both; }
    .grid-breakpoint-complex-list > div > div:nth-child(3) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: -webkit-calc((100% + 20px) * 3 / 3 - 20px);
      width: calc((100% + 20px) * 3 / 3 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(3) {
        width: 100%;
        margin-left: 0; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(4) {
      clear: both; }
    .grid-breakpoint-complex-list > div > div:nth-child(4) {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -moz-order: 4;
      -ms-flex-order: 4;
      order: 4;
      width: -webkit-calc((100% + 20px) * 1 / 2 - 20px);
      width: calc((100% + 20px) * 1 / 2 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(4) {
        width: 50%;
        margin-left: 50%; }
    .grid-breakpoint-complex-list > div > div:nth-child(5) {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3;
      width: -webkit-calc((100% + 20px) * 1 / 2 - 20px);
      width: calc((100% + 20px) * 1 / 2 - 20px); }
      .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(5) {
        width: 50%;
        margin-left: 0; }
    .lt-ie10 .grid-breakpoint-complex-list > div > div:nth-child(6) {
      clear: both; } }

/*# sourceMappingURL=sourcemaps/grid.css.map */
