/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1; }
  to {
    opacity: 1; } }

body {
  animation: fake 1s infinite; }

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

dl, ul, ol {
  padding: 0; }

ol, ul {
  list-style: none; }

body {
  overflow-x: hidden; }

[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before {
  display: none; }

label {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img.full {
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

button,
input,
select {
  line-height: normal !important; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0; }

button {
  border: none; }

.hidden {
  display: none; }

.ovh {
  overflow: hidden; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif; }

h2, h3, h4 {
  text-transform: capitalize; }

h3[id], h4[id] {
  text-align: center; }

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center; }
  .main-heading span {
    font-weight: 300;
    color: #999; }

h4 {
  margin: 1.5em 0 0.5em; }

h5 {
  font-size: 13px;
  margin: 3em 0 1em; }

.topic p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d; }

.container {
  max-width: 70em;
  margin: 0 auto; }
  @media screen and (max-width: 74em) {
    .container {
      margin: 0 2em; } }

[data-margin] {
  background-color: #E698CC; }

[data-padding] {
  background-color: #C2EBBA; }

[data-content] {
  background-color: #CDEEFF; }

.cell {
  min-height: 10em; }
  .cell:before {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 100;
    color: white;
    display: block;
    text-align: center;
    line-height: 2.5; }
  .autoheight:nth-child(2n) > .cell {
    height: 11em; }
  .autoheight:nth-child(3n+1) > .cell {
    height: 12em; }
  .order:nth-child(1) > .cell:before {
    content: "1"; }
  .order:nth-child(2) > .cell:before {
    content: "2"; }
  .order:nth-child(3) > .cell:before {
    content: "3"; }
  .order:nth-child(4) > .cell:before {
    content: "4"; }
  .order:nth-child(5) > .cell:before {
    content: "5"; }
  .order:nth-child(6) > .cell:before {
    content: "6"; }
  .order:nth-child(7) > .cell:before {
    content: "7"; }
  .order:nth-child(8) > .cell:before {
    content: "8"; }
  .order:nth-child(9) > .cell:before {
    content: "9"; }
  .order:nth-child(10) > .cell:before {
    content: "10"; }

.title {
  margin-bottom: 1em; }

.topic {
  padding: 2em 0 4em; }
  .topic > section {
    margin: 2em 0; }

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px; }
  .main-heading:before {
    content: url("../images/title-prev.png"); }
  .main-heading:after {
    content: url("../images/title-next.png"); }
  .topic > section {
    margin: 0 0 5em; } }

.example:after {
  content: '';
  display: table;
  clear: both; }

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer; }
  .example-content:hover {
    opacity: 0.9; }
  .example-content strong {
    display: block;
    margin-bottom: 10px;
    font-size: 24px; }

.demo-container {
  height: 0;
  overflow: hidden; }
  .demo-container:before {
    text-align: center;
    display: block;
    margin-bottom: 5px; }

.liquid3-list1, .liquid3-list2, .liquid3-list3, .liquid3-order1, .liquid3-order2, .liquid3-order3, .liquid3-RTL, .liquid3-child1, .liquid3-child2, .liquid3-gutter-sameunit, .liquid3-gutter-percentage, .liquid3-gutter-differentunit, .liquid3-breakpoint, .liquid3-breakpoint-conditions, .liquid3-global-breakpoints {
  height: auto;
  margin-bottom: 50px; }

.liquid3-list1:before {
  content: "(  auto  100px  250px  )"; }

.liquid3-list1 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-list1 > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-list1 > div > div:nth-child(1) {
  float: left;
  margin: 0 -100% 0 0;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 40px);
  width: -moz-calc(100% - 100px - 250px - 40px);
  width: calc(100% - 100px - 250px - 40px); }
  .lt-ie9 .liquid3-list1 > div > div:nth-child(1) {
    padding: 0 390px 0 0;
    z-index: 0; }

.liquid3-list1 > div > div:nth-child(2) {
  float: right;
  width: 100px;
  margin: 0 270px 0 -100%;
  margin: 0 calc(250px + 20px) 0 -100%; }
  .lt-ie9 .liquid3-list1 > div > div:nth-child(2) {
    padding: 0;
    z-index: 1; }

.liquid3-list1 > div > div:nth-child(3) {
  float: right;
  width: 250px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-list1 > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-list2:before {
  content: "(  100px  auto  250px  )"; }

.liquid3-list2 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-list2 > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-list2 > div > div:nth-child(1) {
  float: left;
  width: 100px;
  margin: 0 -100% 0 0; }
  .lt-ie9 .liquid3-list2 > div > div:nth-child(1) {
    padding: 0;
    z-index: 1; }

.liquid3-list2 > div > div:nth-child(2) {
  float: left;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 40px);
  width: -moz-calc(100% - 100px - 250px - 40px);
  width: calc(100% - 100px - 250px - 40px);
  margin: 0 -100% 0 calc(100px + 20px); }
  .lt-ie9 .liquid3-list2 > div > div:nth-child(2) {
    padding: 0 270px 0 120px;
    margin: 0 -100% 0 0;
    z-index: 0; }

.liquid3-list2 > div > div:nth-child(3) {
  float: right;
  width: 250px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-list2 > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-list3:before {
  content: "(  100px  250px  auto  )"; }

.liquid3-list3 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-list3 > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-list3 > div > div:nth-child(1) {
  float: left;
  width: 100px;
  margin: 0 -100% 0 0; }
  .lt-ie9 .liquid3-list3 > div > div:nth-child(1) {
    padding: 0;
    z-index: 1; }

.liquid3-list3 > div > div:nth-child(2) {
  float: left;
  width: 250px;
  margin: 0 -100% 0 120px;
  margin: 0 -100% 0 calc(100px + 20px); }
  .lt-ie9 .liquid3-list3 > div > div:nth-child(2) {
    padding: 0;
    z-index: 1; }

.liquid3-list3 > div > div:nth-child(3) {
  float: right;
  margin: 0 0 0 -100%;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 40px);
  width: -moz-calc(100% - 100px - 250px - 40px);
  width: calc(100% - 100px - 250px - 40px); }
  .lt-ie9 .liquid3-list3 > div > div:nth-child(3) {
    padding: 0 0 0 390px;
    z-index: 0; }

.liquid3-order1:before {
  content: "( 100px :  2 , auto :  0 , 250px :  0  )"; }

.liquid3-order1 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-order1 > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-order1 > div > div:nth-child(2) {
  float: left;
  margin: 0 -100% 0 0;
  width: 100%;
  width: -webkit-calc(100% - 250px - 100px - 40px);
  width: -moz-calc(100% - 250px - 100px - 40px);
  width: calc(100% - 250px - 100px - 40px); }
  .lt-ie9 .liquid3-order1 > div > div:nth-child(2) {
    padding: 0 390px 0 0;
    z-index: 0; }

.liquid3-order1 > div > div:nth-child(3) {
  float: right;
  width: 250px;
  margin: 0 120px 0 -100%;
  margin: 0 calc(100px + 20px) 0 -100%; }
  .lt-ie9 .liquid3-order1 > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-order1 > div > div:nth-child(1) {
  float: right;
  width: 100px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-order1 > div > div:nth-child(1) {
    padding: 0;
    z-index: 1; }

.liquid3-order2:before {
  content: "( 100px :  2 , auto :  1 , 250px :  0  )"; }

.liquid3-order2 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-order2 > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-order2 > div > div:nth-child(3) {
  float: left;
  width: 250px;
  margin: 0 -100% 0 0; }
  .lt-ie9 .liquid3-order2 > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-order2 > div > div:nth-child(2) {
  float: left;
  width: 100%;
  width: -webkit-calc(100% - 250px - 100px - 40px);
  width: -moz-calc(100% - 250px - 100px - 40px);
  width: calc(100% - 250px - 100px - 40px);
  margin: 0 -100% 0 calc(250px + 20px); }
  .lt-ie9 .liquid3-order2 > div > div:nth-child(2) {
    padding: 0 120px 0 270px;
    margin: 0 -100% 0 0;
    z-index: 0; }

.liquid3-order2 > div > div:nth-child(1) {
  float: right;
  width: 100px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-order2 > div > div:nth-child(1) {
    padding: 0;
    z-index: 1; }

.liquid3-order3:before {
  content: "( 100px :  2 , auto :  3 , 250px :  2  )"; }

.liquid3-order3 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-order3 > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-order3 > div > div:nth-child(1) {
  float: left;
  width: 100px;
  margin: 0 -100% 0 0; }
  .lt-ie9 .liquid3-order3 > div > div:nth-child(1) {
    padding: 0;
    z-index: 1; }

.liquid3-order3 > div > div:nth-child(3) {
  float: left;
  width: 250px;
  margin: 0 -100% 0 120px;
  margin: 0 -100% 0 calc(100px + 20px); }
  .lt-ie9 .liquid3-order3 > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-order3 > div > div:nth-child(2) {
  float: right;
  margin: 0 0 0 -100%;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 40px);
  width: -moz-calc(100% - 100px - 250px - 40px);
  width: calc(100% - 100px - 250px - 40px); }
  .lt-ie9 .liquid3-order3 > div > div:nth-child(2) {
    padding: 0 0 0 390px;
    z-index: 0; }

.liquid3-RTL:before {
  content: "( (  auto  100px  250px  ) RTL  )"; }

.liquid3-RTL > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-RTL > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-RTL > div > div:nth-child(1) {
  float: right;
  margin: 0 0 0 -100%;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 40px);
  width: -moz-calc(100% - 100px - 250px - 40px);
  width: calc(100% - 100px - 250px - 40px); }
  .lt-ie9 .liquid3-RTL > div > div:nth-child(1) {
    padding: 0 0 0 390px;
    z-index: 0; }

.liquid3-RTL > div > div:nth-child(2) {
  float: left;
  width: 100px;
  margin: 0 -100% 0 270px;
  margin: 0 -100% 0 calc(250px + 20px); }
  .lt-ie9 .liquid3-RTL > div > div:nth-child(2) {
    padding: 0;
    z-index: 1; }

.liquid3-RTL > div > div:nth-child(3) {
  float: left;
  width: 250px;
  margin: 0 -100% 0 0; }
  .lt-ie9 .liquid3-RTL > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-child1:before {
  content: "( (  auto  100px  250px  ) child  .child  )"; }

.liquid3-child1 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-child1 > div > .child {
  box-sizing: border-box;
  position: relative; }

.liquid3-child1 > div > .child:nth-child(1) {
  float: left;
  margin: 0 -100% 0 0;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 40px);
  width: -moz-calc(100% - 100px - 250px - 40px);
  width: calc(100% - 100px - 250px - 40px); }
  .lt-ie9 .liquid3-child1 > div > .child:nth-child(1) {
    padding: 0 390px 0 0;
    z-index: 0; }

.liquid3-child1 > div > .child:nth-child(2) {
  float: right;
  width: 100px;
  margin: 0 270px 0 -100%;
  margin: 0 calc(250px + 20px) 0 -100%; }
  .lt-ie9 .liquid3-child1 > div > .child:nth-child(2) {
    padding: 0;
    z-index: 1; }

.liquid3-child1 > div > .child:nth-child(3) {
  float: right;
  width: 250px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-child1 > div > .child:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-child2:before {
  content: "( (  100px  auto  250px  ) child (  nav  main  aside  ) )"; }

.liquid3-child2 > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-child2 > div > nav, .lt-ie9 .liquid3-child2 > div > main, .lt-ie9 .liquid3-child2 > div > aside {
  box-sizing: border-box;
  position: relative; }

.liquid3-child2 > div > nav {
  float: left;
  width: 100px;
  margin: 0 -100% 0 0; }
  .lt-ie9 .liquid3-child2 > div > nav {
    padding: 0;
    z-index: 1; }

.liquid3-child2 > div > main {
  float: left;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 40px);
  width: -moz-calc(100% - 100px - 250px - 40px);
  width: calc(100% - 100px - 250px - 40px);
  margin: 0 -100% 0 calc(100px + 20px); }
  .lt-ie9 .liquid3-child2 > div > main {
    padding: 0 270px 0 120px;
    margin: 0 -100% 0 0;
    z-index: 0; }

.liquid3-child2 > div > aside {
  float: right;
  width: 250px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-child2 > div > aside {
    padding: 0;
    z-index: 1; }

.liquid3-gutter-sameunit:before {
  content: "( (  auto  100px  250px  ) gutter  40px  )"; }

.liquid3-gutter-sameunit > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-gutter-sameunit > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-gutter-sameunit > div > div:nth-child(1) {
  float: left;
  margin: 0 -100% 0 0;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 80px);
  width: -moz-calc(100% - 100px - 250px - 80px);
  width: calc(100% - 100px - 250px - 80px); }
  .lt-ie9 .liquid3-gutter-sameunit > div > div:nth-child(1) {
    padding: 0 430px 0 0;
    z-index: 0; }

.liquid3-gutter-sameunit > div > div:nth-child(2) {
  float: right;
  width: 100px;
  margin: 0 290px 0 -100%;
  margin: 0 calc(250px + 40px) 0 -100%; }
  .lt-ie9 .liquid3-gutter-sameunit > div > div:nth-child(2) {
    padding: 0;
    z-index: 1; }

.liquid3-gutter-sameunit > div > div:nth-child(3) {
  float: right;
  width: 250px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-gutter-sameunit > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-gutter-percentage:before {
  content: "( (  auto  100px  250px  ) gutter  3%  )"; }

.liquid3-gutter-percentage > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-gutter-percentage > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-gutter-percentage > div > div:nth-child(1) {
  float: left;
  margin: 0 -100% 0 0;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 6%);
  width: -moz-calc(100% - 100px - 250px - 6%);
  width: calc(100% - 100px - 250px - 6%); }
  .lt-ie9 .liquid3-gutter-percentage > div > div:nth-child(1) {
    padding: 0 410px 0 0;
    z-index: 0; }

.liquid3-gutter-percentage > div > div:nth-child(2) {
  float: right;
  width: 100px;
  margin: 0 280px 0 -100%;
  margin: 0 calc(250px + 3%) 0 -100%; }
  .lt-ie9 .liquid3-gutter-percentage > div > div:nth-child(2) {
    padding: 0;
    z-index: 1; }

.liquid3-gutter-percentage > div > div:nth-child(3) {
  float: right;
  width: 250px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-gutter-percentage > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-gutter-differentunit:before {
  content: "( (  auto  100px  250px  ) gutter  3rem  )"; }

.liquid3-gutter-differentunit > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-gutter-differentunit > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-gutter-differentunit > div > div:nth-child(1) {
  float: left;
  margin: 0 -100% 0 0;
  width: 100%;
  width: -webkit-calc(100% - 100px - 250px - 6rem);
  width: -moz-calc(100% - 100px - 250px - 6rem);
  width: calc(100% - 100px - 250px - 6rem); }
  .lt-ie9 .liquid3-gutter-differentunit > div > div:nth-child(1) {
    padding: 0 446px 0 0;
    z-index: 0; }

.liquid3-gutter-differentunit > div > div:nth-child(2) {
  float: right;
  width: 100px;
  margin: 0 298px 0 -100%;
  margin: 0 calc(250px + 3rem) 0 -100%; }
  .lt-ie9 .liquid3-gutter-differentunit > div > div:nth-child(2) {
    padding: 0;
    z-index: 1; }

.liquid3-gutter-differentunit > div > div:nth-child(3) {
  float: right;
  width: 250px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-gutter-differentunit > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-breakpoint:before {
  content: "( 900px : ( 100px :  2 , auto :  0 , 250px :  0  ) )"; }

.liquid3-breakpoint > div:after {
  clear: both;
  content: "";
  display: table; }

@media screen and (min-width: 56.25em) {
  .lt-ie9 .liquid3-breakpoint > div > div {
    box-sizing: border-box;
    position: relative; }
  .liquid3-breakpoint > div > div:nth-child(2) {
    float: left;
    margin: 0 -100% 0 0;
    width: 100%;
    width: -webkit-calc(100% - 250px - 100px - 40px);
    width: -moz-calc(100% - 250px - 100px - 40px);
    width: calc(100% - 250px - 100px - 40px); }
    .lt-ie9 .liquid3-breakpoint > div > div:nth-child(2) {
      padding: 0 390px 0 0;
      z-index: 0; }
  .liquid3-breakpoint > div > div:nth-child(3) {
    float: right;
    width: 250px;
    margin: 0 120px 0 -100%;
    margin: 0 calc(100px + 20px) 0 -100%; }
    .lt-ie9 .liquid3-breakpoint > div > div:nth-child(3) {
      padding: 0;
      z-index: 1; }
  .liquid3-breakpoint > div > div:nth-child(1) {
    float: right;
    width: 100px;
    margin: 0 0 0 -100%; }
    .lt-ie9 .liquid3-breakpoint > div > div:nth-child(1) {
      padding: 0;
      z-index: 1; } }

.liquid3-breakpoint-conditions:before {
  content: "( ( 900px : ( 100px :  2 , auto :  1 , 250px :  0  ) ) max  screen  )"; }

.liquid3-breakpoint-conditions > div:after {
  clear: both;
  content: "";
  display: table; }

@media screen and (max-width: 56.1875em) {
  .lt-ie9 .liquid3-breakpoint-conditions > div > div {
    box-sizing: border-box;
    position: relative; }
  .liquid3-breakpoint-conditions > div > div:nth-child(3) {
    float: left;
    width: 250px;
    margin: 0 -100% 0 0; }
    .lt-ie9 .liquid3-breakpoint-conditions > div > div:nth-child(3) {
      padding: 0;
      z-index: 1; }
  .liquid3-breakpoint-conditions > div > div:nth-child(2) {
    float: left;
    width: 100%;
    width: -webkit-calc(100% - 250px - 100px - 40px);
    width: -moz-calc(100% - 250px - 100px - 40px);
    width: calc(100% - 250px - 100px - 40px);
    margin: 0 -100% 0 calc(250px + 20px); }
    .lt-ie9 .liquid3-breakpoint-conditions > div > div:nth-child(2) {
      padding: 0 120px 0 270px;
      margin: 0 -100% 0 0;
      z-index: 0; }
  .liquid3-breakpoint-conditions > div > div:nth-child(1) {
    float: right;
    width: 100px;
    margin: 0 0 0 -100%; }
    .lt-ie9 .liquid3-breakpoint-conditions > div > div:nth-child(1) {
      padding: 0;
      z-index: 1; } }

.liquid3-global-breakpoints:before {
  content: "( ( default : ( 100px :  2 , auto :  1 , 250px :  0  ), sm : ( 100px :  0 , auto :  1 , 250px :  2  ), lg : ( 100px :  2 , auto :  1 , 250px :  0  ) )( sm :  600px , md :  900px , lg :  1200px  ) )"; }

.liquid3-global-breakpoints > div:after {
  clear: both;
  content: "";
  display: table; }

.lt-ie9 .liquid3-global-breakpoints > div > div {
  box-sizing: border-box;
  position: relative; }

.liquid3-global-breakpoints > div > div:nth-child(3) {
  float: left;
  width: 250px;
  margin: 0 -100% 0 0; }
  .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(3) {
    padding: 0;
    z-index: 1; }

.liquid3-global-breakpoints > div > div:nth-child(2) {
  float: left;
  width: 100%;
  width: -webkit-calc(100% - 250px - 100px - 40px);
  width: -moz-calc(100% - 250px - 100px - 40px);
  width: calc(100% - 250px - 100px - 40px);
  margin: 0 -100% 0 calc(250px + 20px); }
  .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(2) {
    padding: 0 120px 0 270px;
    margin: 0 -100% 0 0;
    z-index: 0; }

.liquid3-global-breakpoints > div > div:nth-child(1) {
  float: right;
  width: 100px;
  margin: 0 0 0 -100%; }
  .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(1) {
    padding: 0;
    z-index: 1; }

@media screen and (min-width: 37.5em) {
  .lt-ie9 .liquid3-global-breakpoints > div > div {
    box-sizing: border-box;
    position: relative; }
  .liquid3-global-breakpoints > div > div:nth-child(1) {
    float: left;
    width: 100px;
    margin: 0 -100% 0 0; }
    .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(1) {
      padding: 0;
      z-index: 1; }
  .liquid3-global-breakpoints > div > div:nth-child(2) {
    float: left;
    width: 100%;
    width: -webkit-calc(100% - 100px - 250px - 40px);
    width: -moz-calc(100% - 100px - 250px - 40px);
    width: calc(100% - 100px - 250px - 40px);
    margin: 0 -100% 0 calc(100px + 20px); }
    .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(2) {
      padding: 0 270px 0 120px;
      margin: 0 -100% 0 0;
      z-index: 0; }
  .liquid3-global-breakpoints > div > div:nth-child(3) {
    float: right;
    width: 250px;
    margin: 0 0 0 -100%; }
    .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(3) {
      padding: 0;
      z-index: 1; } }

@media screen and (min-width: 75em) {
  .lt-ie9 .liquid3-global-breakpoints > div > div {
    box-sizing: border-box;
    position: relative; }
  .liquid3-global-breakpoints > div > div:nth-child(3) {
    float: left;
    width: 250px;
    margin: 0 -100% 0 0; }
    .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(3) {
      padding: 0;
      z-index: 1; }
  .liquid3-global-breakpoints > div > div:nth-child(2) {
    float: left;
    width: 100%;
    width: -webkit-calc(100% - 250px - 100px - 40px);
    width: -moz-calc(100% - 250px - 100px - 40px);
    width: calc(100% - 250px - 100px - 40px);
    margin: 0 -100% 0 calc(250px + 20px); }
    .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(2) {
      padding: 0 120px 0 270px;
      margin: 0 -100% 0 0;
      z-index: 0; }
  .liquid3-global-breakpoints > div > div:nth-child(1) {
    float: right;
    width: 100px;
    margin: 0 0 0 -100%; }
    .lt-ie9 .liquid3-global-breakpoints > div > div:nth-child(1) {
      padding: 0;
      z-index: 1; } }

/*# sourceMappingURL=sourcemaps/liquid-3.css.map */
