{% macro get(componentName) %}
{% if componentName === "datatype_style1" %}
// list
$margin: (20px, 40px);
$z-index: (1 2 3 4 5 6 7 8 9 10);
$a-nested-list: (1 2 3 4 5, 6 7 8);

// map
$breakpoints: (
  small: 640px,
  midum: 768px,
  large: 1024px
);

{% elif componentName === "parameter_style1" %}
// case 1
.heading { @include type(24px bold italic); }

// case 2
.heading { @include type(bold italic 24px); }

{% elif componentName === "parameter_style2" %}
// syntax
@mixin container($container ('gutter' $gutter) $alignment)

// usage
.selector { @include container(1000px left gutter 20px); }
// The gutter value 20px must appear right after the string "gutter"

{% elif componentName === "parameter_style3" %}
// 1 parameter ✓
h1 { @include type(24px bold italic); }

// 1 parameter ✓
h1 { @include type( (24px, bold, italic) ); }

// 3 parameter ✗
h1 { @include type(24px, bold, italic); }

{% elif componentName === "importrocket_style1" %}
@import "../bower_components/rocket/src/scss/rocket";

{% elif componentName === "addcontainer_style_setting" %}
$ro-layout: (
  container: 1170px,
  gutter: 30px,
);

{% elif componentName === "addcontainer_style1" %}
.container { @include container(); }

{% elif componentName === "basestyles_style1" %}
$lato: '"Lato", sans-serif';
$color-secondary: #16B18A;

.heading1 { @include type(78px uppercase $lato); }
.heading2 { @include type(44px $lato); }
.sub-heading { @include type(22px 1.55); }
.btn {
  @include type(15px uppercase '"Source Sans Pro", sans-serif');
  // ...
  color: contrast($color-secondary);
  background-color: $color-secondary;
  // ...
}
{% elif componentName === "centerlayout_style1" %}
// hero
.hero {
  @include center();

  // ...
  // other styles
  // ...

  &-content { max-width: 960px; }
}

{% elif componentName === "innercontainer_style1" %}
.inner-container { @include container(50em); }

{% elif componentName === "addgallery_style1" %}
$gallery-gutter: 2.56%; // (30px / 1170px)
.gallery {
  &2 { @include gallery(2 gutter $gallery-gutter); }
  &3 { @include gallery(3 gutter $gallery-gutter); }
  &4 { @include gallery(4 gutter $gallery-gutter); }
}
[class*="gallery"] img { 
  display: block; 
  width: 100%;
}

// features
.features {
  [class*="icon-"] { @include media-list('media' 20px); }
  .media-body { @include media-list('media-body'); }
}

{% endif %}
{% endmacro %}