{% macro get(componentName) %}
{% if componentName === "container_demo1" %}
<div class="container1" data-content>
  <!-- contents -->
</div>

{% elif componentName === "container_demo2" %}
<div class="container2" data-content>
  <!-- contents -->
</div>

{% elif componentName === "grid_demo1" %}
<div class="grid1">
  <div data-content></div>
  <div data-content></div>
  <div data-content></div>
</div>

{% elif componentName === "grid_demo2" %}
<div class="grid2">
  <div data-content>1</div>
  <div data-content>2</div>
  <div data-content>3</div>
</div>

{% elif componentName === "grid_demo3" %}
<div class="grid3">
  <div data-content>1</div>
  <div data-content>2</div>
  <div data-content>3</div>
  <div data-content>4</div>
  <div data-content>5</div>
</div>

{% elif componentName === "grid_demo4" %}
<div class="grid4">
  <section data-content>1</section>
  <section data-content>2</section>
</div>

{% elif componentName === "grid_demo5" %}
<div class="grid5">
  <div data-content>1</div>
  <div data-content>2</div>
  <div data-content>3</div>
  <div data-content>4</div>
  <div data-content>5</div>
</div>

{% elif componentName === "liquid2_demo1" %}
<div class="liquid-2-1">
  <div data-content>1</div>
  <div data-content>2</div>
</div>

{% elif componentName === "liquid2_demo2" %}
<div class="liquid-2-2">
  <div data-content>1</div>
  <div data-content>2</div>
</div>

{% elif componentName === "liquid2_demo3" %}
<div class="liquid-2-3">
  <div data-content>1</div>
  <div data-content>2</div>
</div>

{% elif componentName === "liquid2_demo4" %}
<div class="liquid-2-4">
  <main data-content>1</main>
  <aside data-content>2</aside>
</div>

{% elif componentName === "liquid3_demo1" %}
<div class="liquid-3-1">
  <div data-content>sidebar1</div>
  <div data-content>main</div>
  <div data-content>sidebar2</div>
</div>

{% elif componentName === "liquid3_demo2" %}
<div class="liquid-3-2">
  <div data-content>sidebar1</div>
  <div data-content>main</div>
  <div data-content>sidebar2</div>
</div>

{% elif componentName === "liquid3_demo3" %}
<div class="liquid-3-3">
  <div data-content>sidebar1</div>
  <div data-content>main</div>
  <div data-content>sidebar2</div>
</div>

{% elif componentName === "liquid3_demo4" %}
<div class="liquid-3-4">
  <nav data-content>sidebar1</nav>
  <main data-content>main</main>
  <aside data-content>sidebar2</aside>
</div>

{% elif componentName === "gallery_demo1" %}
<ul class="gallery-1">
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
</ul>

{% elif componentName === "gallery_demo2" %}
<ul class="gallery-2">
  <li><div data-content>1</div></li>
  <li><div data-content>2</div></li>
  <li><div data-content>3</div></li>
  <li><div data-content>4</div></li>
  <li><div data-content>5</div></li>
</ul>

{% elif componentName === "gallery_demo3" %}
<ul class="gallery-3">
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
</ul>

{% elif componentName === "gallery_demo4" %}
<div class="gallery-4">
  <div><div data-content></div></div>
  <div><div data-content></div></div>
  <div><div data-content></div></div>
  <div><div data-content></div></div>
  <div><div data-content></div></div>
</div>

{% elif componentName === "masonry_demo1" %}
<ul class="masonry-1">
  <li><div data-content><img class="full" src="http://placehold.it/300x300/cccccc/cccccc" alt="" /><p>1. Lorem ipsum dolor sit amet, incidunt voluptatibus in, labore itaque consequuntur facere blanditiis! Debitis nihil reiciendis, cum quis vitae non eveniet laudantium?</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x100/cccccc/cccccc" alt="" /><p>2. Porro cupiditate suscipit, repellat non doloribus dicta possimus hic magni facere ipsa minima laboriosam eum magnam, expedita ratione saepe neque id. Adipisci.</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x200/cccccc/cccccc" alt="" /><p>3. Deserunt dolorum eum obcaecati, nihil optio reprehenderit sapiente. Accusantium illum officiis natus inventore quo. Possimus id architecto, ut impedit eveniet numquam voluptates.</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x400/cccccc/cccccc" alt="" /><p>4. Est fugiat reprehenderit, maiores. Vero facilis porro aspernatur doloribus, minus, sunt, unde quibusdam modi at nulla reiciendis nihil commodi deserunt nemo dignissimos. Voluptatum quisquam nam fuga, ut odit dolore explicabo?</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x200/cccccc/cccccc" alt="" /><p>5. Obcaecati modi molestiae debitis expedita enim praesentium dignissimos, consequuntur excepturi magni velit tenetur earum? Assumenda quam facilis, incidunt obcaecati dignissimos laboriosam qui magnam aliquid dolorem asperiores?</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x100/cccccc/cccccc" alt="" /><p>6. Perferendis unde ullam fugiat sapiente error explicabo quam reprehenderit, dolorum.</p></div></li>
</ul>

{% elif componentName === "masonry_demo2" %}
<ul class="masonry-2">
  <li><div data-content><img class="full" src="http://placehold.it/300x300/cccccc/cccccc" alt="" /><p>1. Lorem ipsum dolor sit amet, incidunt voluptatibus in, labore itaque consequuntur facere blanditiis! Debitis nihil reiciendis, cum quis vitae non eveniet laudantium?</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x100/cccccc/cccccc" alt="" /><p>2. Porro cupiditate suscipit, repellat non doloribus dicta possimus hic magni facere ipsa minima laboriosam eum magnam, expedita ratione saepe neque id. Adipisci.</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x200/cccccc/cccccc" alt="" /><p>3. Deserunt dolorum eum obcaecati, nihil optio reprehenderit sapiente. Accusantium illum officiis natus inventore quo. Possimus id architecto, ut impedit eveniet numquam voluptates.</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x400/cccccc/cccccc" alt="" /><p>4. Est fugiat reprehenderit, maiores. Vero facilis porro aspernatur doloribus, minus, sunt, unde quibusdam modi at nulla reiciendis nihil commodi deserunt nemo dignissimos. Voluptatum quisquam nam fuga, ut odit dolore explicabo?</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x200/cccccc/cccccc" alt="" /><p>5. Obcaecati modi molestiae debitis expedita enim praesentium dignissimos, consequuntur excepturi magni velit tenetur earum? Assumenda quam facilis, incidunt obcaecati dignissimos laboriosam qui magnam aliquid dolorem asperiores?</p></div></li>
  <li><div data-content><img class="full" src="http://placehold.it/300x100/cccccc/cccccc" alt="" /><p>6. Perferendis unde ullam fugiat sapiente error explicabo quam reprehenderit, dolorum.</p></div></li>
</ul>

{% elif componentName === "masonry_demo3" %}
<div class="masonry-3">
  <div class="panel"><div data-content><img class="full" src="http://placehold.it/300x300/cccccc/cccccc" alt="" /><p>1. Lorem ipsum dolor sit amet, incidunt voluptatibus in, labore itaque consequuntur facere blanditiis! Debitis nihil reiciendis, cum quis vitae non eveniet laudantium?</p></div></div>
  <div class="panel"><div data-content><img class="full" src="http://placehold.it/300x100/cccccc/cccccc" alt="" /><p>2. Porro cupiditate suscipit, repellat non doloribus dicta possimus hic magni facere ipsa minima laboriosam eum magnam, expedita ratione saepe neque id. Adipisci.</p></div></div>
  <div class="panel"><div data-content><img class="full" src="http://placehold.it/300x200/cccccc/cccccc" alt="" /><p>3. Deserunt dolorum eum obcaecati, nihil optio reprehenderit sapiente. Accusantium illum officiis natus inventore quo. Possimus id architecto, ut impedit eveniet numquam voluptates.</p></div></div>
  <div class="panel"><div data-content><img class="full" src="http://placehold.it/300x400/cccccc/cccccc" alt="" /><p>4. Est fugiat reprehenderit, maiores. Vero facilis porro aspernatur doloribus, minus, sunt, unde quibusdam modi at nulla reiciendis nihil commodi deserunt nemo dignissimos. Voluptatum quisquam nam fuga, ut odit dolore explicabo?</p></div></div>
  <div class="panel"><div data-content><img class="full" src="http://placehold.it/300x200/cccccc/cccccc" alt="" /><p>5. Obcaecati modi molestiae debitis expedita enim praesentium dignissimos, consequuntur excepturi magni velit tenetur earum? Assumenda quam facilis, incidunt obcaecati dignissimos laboriosam qui magnam aliquid dolorem asperiores?</p></div></div>
  <div class="panel"><div data-content><img class="full" src="http://placehold.it/300x100/cccccc/cccccc" alt="" /><p>6. Perferendis unde ullam fugiat sapiente error explicabo quam reprehenderit, dolorum.</p></div></div>
</div>

{% elif componentName === "metro_markup1" %}
<ul class="metro">
  <li><div class="metro-item"></div></li>
  <li><div class="metro-item"></div></li>
  <li><div class="metro-item"></div></li>
  <li><div class="metro-item"></div></li>
  <li><div class="metro-item"></div></li>
</ul>

{% elif componentName === "metro_demo1" %}
<ul class="metro-1">
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
</ul>

{% elif componentName === "diamond_markup1" %}
<div class="your-class">
  <div class="diamond-content">Content goes here</div>
</div>

{% elif componentName === "diamond_demo1" %}
<div class="diamond-1">
  <div class="diamond-content" data-content>
    <div>content</div>
  </div>
</div>
<div class="diamond-1">
  <div class="diamond-content" data-content>
    <div>content</div>
  </div>
</div>
<div class="diamond-1">
  <div class="diamond-content" data-content>
    <div>content</div>
  </div>
</div>
<div class="diamond-1">
  <div class="diamond-content" data-content>
    <div>content</div>
  </div>
</div>
<div class="diamond-1">
  <div class="diamond-content" data-content>
    <div>content</div>
  </div>
</div>

{% elif componentName === "diamond_demo2" %}
<div class="diamond-2">
  <div class="diamond-content" data-content>
    <div>content</div>
  </div>
</div>

{% elif componentName === "diamond_demo3" %}
<div class="diamond-3">
  <div class="diamond-content" data-content>
    <div>content</div>
  </div>
</div>

{% elif componentName === "anglededges_demo1" %}
<div class="angled-edges-sibling">
  <p>Quis ab placeat totam beatae dolorum, harum omnis tempora dolore exercitationem quia, soluta qui deleniti numquam.</p>
</div>
<div class="angled-edges-1">
  <p>Ipsam ducimus velit iure voluptatum, voluptate perferendis, asperiores, perspiciatis blanditiis autem exercitationem repellendus, rem ea reprehenderit.</p>
  <p>Enim itaque pariatur nulla, iste unde similique nemo obcaecati odio omnis! Animi earum praesentium et maxime.</p>
  <p>Obcaecati rerum consequatur quae itaque ratione, dolor, similique sit, earum distinctio enim consectetur eius quam nisi.</p>
</div>
<div class="angled-edges-sibling">
  <p>Libero eum accusamus molestiae cum recusandae. Omnis doloremque eos amet, saepe minima fugiat inventore? Non, quaerat.</p>
</div>

{% elif componentName === "stickyfooter_demo1" %}
<div class="sticky-footer-1">
  <header>header</header>
  <main>main</main>
  <footer>footer</footer>
</div>

{% elif componentName === "justify_demo1" %}
<ul class="justify-1">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
</ul>

{% elif componentName === "center_demo1" %}
<div class="center-1">
  <div>The child element is center aligned.</div>
</div>

{% elif componentName === "charts_markup1" %}
<div class="your-chart">
  <ul class="items">
    <li class="item-1"><strong>title1</strong><span></span></li>
    <li class="item-2"><strong>title2</strong><span></span></li>
    <li class="item-3"><strong>title3</strong><span></span></li>
    <li class="item-4"><strong>title4</strong><span></span></li>
    <li class="item-5"><strong>title5</strong><span></span></li>
  </ul>
  <div class="ticks">
    <div class="tick-1"><span></span></div>
    <div class="tick-2"><span></span></div>
    <div class="tick-3"><span></span></div>
    <div class="tick-4"><span></span></div>
    <div class="tick-5"><span></span></div>
  </div>
  <div class="labels">
    <div class="label-1">label</div>
  </div>
</div>

{% elif componentName === "charts_demo1" %}
<div class="charts-1">
  <!-- items: charts body -->
  <ul class="items">
    <li class="item-1">
      <strong>Copper</strong>
      <!-- title -->
      <span></span>
      <!-- graphic -->
    </li>
    <li class="item-2">
      <strong>Silver</strong>
      <span></span>
    </li>
    <li class="item-3">
      <strong>Gold</strong>
      <span></span>
    </li>
    <li class="item-4">
      <strong>Platinum</strong>
      <span></span>
    </li>
  </ul>
  <!-- ticks: charts grid -->
  <div class="ticks">
    <div class="tick-1"><span></span></div>
    <div class="tick-2"><span></span></div>
    <div class="tick-3"><span></span></div>
    <div class="tick-4"><span></span></div>
    <div class="tick-5"><span></span></div>
    <div class="tick-6"><span></span></div>
    <div class="tick-7"><span></span></div>
    <div class="tick-8"><span></span></div>
    <div class="tick-9"><span></span></div>
    <div class="tick-10"><span></span></div>
    <div class="tick-11"><span></span></div>
    <div class="tick-12"><span></span></div>
    <div class="tick-13"><span></span></div>
  </div>
  <!-- labels: charts label -->
  <div class="labels">
    <div class="label-1">sales</div>
  </div>
</div>

<br>
<div class="charts-2">
  <ul class="items">
    <li class="item-1">
      <strong>Copper</strong>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li class="item-2">
      <strong>Silver</strong>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li class="item-3">
      <strong>Gold</strong>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li class="item-4">
      <strong>Platinum</strong>
      <span></span>
      <span></span>
      <span></span>
    </li>
  </ul>
  <div class="ticks">
    <div class="tick-1"><span></span></div>
    <div class="tick-2"><span></span></div>
    <div class="tick-3"><span></span></div>
    <div class="tick-4"><span></span></div>
    <div class="tick-5"><span></span></div>
    <div class="tick-6"><span></span></div>
    <div class="tick-7"><span></span></div>
    <div class="tick-8"><span></span></div>
    <div class="tick-9"><span></span></div>
    <div class="tick-10"><span></span></div>
    <div class="tick-11"><span></span></div>
    <div class="tick-12"><span></span></div>
    <div class="tick-13"><span></span></div>
  </div>
  <div class="labels">
    <div class="label-1">sales</div>
    <div class="label-2">expenses</div>
    <div class="label-3">profit</div>
  </div>
</div>

{% elif componentName === "responsivetable_demo_flipscroll" %}
<table class="responsive-table-1">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
      <th>Favorite Color</th>
      <th>Wars or Trek?</th>
      <th>Porn Name</th>
      <th>Date of Birth</th>
      <th>Dream Vacation City</th>
      <th>GPA</th>
      <th>Arbitrary Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>James</td>
      <td>Matman</td>
      <td>Chief Sandwich Eater</td>
      <td>Lettuce Green</td>
      <td>Trek</td>
      <td>Digby Green</td>
      <td>January 13, 1979</td>
      <td>Gotham City</td>
      <td>3.1</td>
      <td>RBX-12</td>
    </tr>
    <tr>
      <td>The</td>
      <td>Tick</td>
      <td>Crimefighter Sorta</td>
      <td>Blue</td>
      <td>Wars</td>
      <td>John Smith</td>
      <td>July 19, 1968</td>
      <td>Athens</td>
      <td>N/A</td>
      <td>Edlund, Ben (July 1996).</td>
    </tr>
    <tr>
      <td>Jokey</td>
      <td>Smurf</td>
      <td>Giving Exploding Presents</td>
      <td>Smurflow</td>
      <td>Smurf</td>
      <td>Smurflane Smurfmutt</td>
      <td>Smurfuary Smurfteenth, 1945</td>
      <td>New Smurf City</td>
      <td>4.Smurf</td>
      <td>One</td>
    </tr>
    <tr>
      <td>Cindy</td>
      <td>Beyler</td>
      <td>Sales Representative</td>
      <td>Red</td>
      <td>Wars</td>
      <td>Lori Quivey</td>
      <td>July 5, 1956</td>
      <td>Paris</td>
      <td>3.4</td>
      <td>3451</td>
    </tr>
    <tr>
      <td>Captain</td>
      <td>Cool</td>
      <td>Tree Crusher</td>
      <td>Blue</td>
      <td>Wars</td>
      <td>Steve 42nd</td>
      <td>December 13, 1982</td>
      <td>Las Vegas</td>
      <td>1.9</td>
      <td>Under the couch</td>
    </tr>
  </tbody>
</table>

{% elif componentName === "responsivetable_demo_scroll" %}
<div class="responsive-table-2">
  <table class="">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Favorite Color</th>
        <th>Wars or Trek?</th>
        <th>Porn Name</th>
        <th>Date of Birth</th>
        <th>Dream Vacation City</th>
        <th>GPA</th>
        <th>Arbitrary Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>James</td>
        <td>Matman</td>
        <td>Chief Sandwich Eater</td>
        <td>Lettuce Green</td>
        <td>Trek</td>
        <td>Digby Green</td>
        <td>January 13, 1979</td>
        <td>Gotham City</td>
        <td>3.1</td>
        <td>RBX-12</td>
      </tr>
      <tr>
        <td>The</td>
        <td>Tick</td>
        <td>Crimefighter Sorta</td>
        <td>Blue</td>
        <td>Wars</td>
        <td>John Smith</td>
        <td>July 19, 1968</td>
        <td>Athens</td>
        <td>N/A</td>
        <td>Edlund, Ben (July 1996).</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="../src/js/components/responsive-table.js"></script>
<script>
  responsiveTable(document.querySelector('.responsive-table-2'), 1300);
</script>

{% elif componentName === "responsivetable_demo_toggle" %}
<div class="responsive-table-3">
  <input name="" id="toggle-1" checked="" type="checkbox">
  <input name="" id="toggle-2" type="checkbox">
  <input name="" id="toggle-3" type="checkbox">
  <input name="" id="toggle-4" checked="" type="checkbox">
  <input name="" id="toggle-5" type="checkbox">
  <input name="" id="toggle-6" checked="" type="checkbox">
  <input name="" id="toggle-7" type="checkbox">
  <input name="" id="toggle-8" type="checkbox">
  <input name="" id="toggle-9" type="checkbox">
  <input name="" id="toggle-10" type="checkbox">
  <input name="" id="control-panel" type="checkbox">
  <input name="" id="display-all" type="checkbox">
  <label for="control-panel">Display</label>
  <label for="display-all">Display All</label>
  <div class="control-panel">
    <label for="toggle-1">First Name</label>
    <label for="toggle-2">Last Name</label>
    <label for="toggle-3">Job Title</label>
    <label for="toggle-4">Favorite Color</label>
    <label for="toggle-5">Wars or Trek?</label>
    <label for="toggle-6">Porn Name</label>
    <label for="toggle-7">Date of Birth</label>
    <label for="toggle-8">Dream Vacation City</label>
    <label for="toggle-9">GPA</label>
    <label for="toggle-10">Arbitrary Data</label>
  </div>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Favorite Color</th>
        <th>Wars or Trek?</th>
        <th>Porn Name</th>
        <th>Date of Birth</th>
        <th>Dream Vacation City</th>
        <th>GPA</th>
        <th>Arbitrary Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>James</td>
        <td>Matman</td>
        <td>Chief Sandwich Eater</td>
        <td>Lettuce Green</td>
        <td>Trek</td>
        <td>Digby Green</td>
        <td>January 13, 1979</td>
        <td>Gotham City</td>
        <td>3.1</td>
        <td>RBX-12</td>
      </tr>
      <tr>
        <td>The</td>
        <td>Tick</td>
        <td>Crimefighter Sorta</td>
        <td>Blue</td>
        <td>Wars</td>
        <td>John Smith</td>
        <td>July 19, 1968</td>
        <td>Athens</td>
        <td>N/A</td>
        <td>Edlund, Ben (July 1996).</td>
      </tr>
    </tbody>
  </table>
</div>

{% elif componentName === "responsivetable_demo_stack" %}
<table class="responsive-table-4">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
      <th>Favorite Color</th>
      <th>Wars or Trek?</th>
      <th>Porn Name</th>
      <th>Date of Birth</th>
      <th>Dream Vacation City</th>
      <th>GPA</th>
      <th>Arbitrary Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>James</td>
      <td>Matman</td>
      <td>Chief Sandwich Eater</td>
      <td>Lettuce Green</td>
      <td>Trek</td>
      <td>Digby Green</td>
      <td>January 13, 1979</td>
      <td>Gotham City</td>
      <td>3.1</td>
      <td>RBX-12</td>
    </tr>
    <tr>
      <td>The</td>
      <td>Tick</td>
      <td>Crimefighter Sorta</td>
      <td>Blue</td>
      <td>Wars</td>
      <td>John Smith</td>
      <td>July 19, 1968</td>
      <td>Athens</td>
      <td>N/A</td>
      <td>Edlund, Ben (July 1996).</td>
    </tr>
  </tbody>
</table>

{% elif componentName === "offcanvas_demo1" %}
<!-- modes: slide-in, rotate-in, rotate-out, rotate-in-reverse, push, drawer -->
<div>
  <input type="checkbox" name="" id="nav-toggle-1" class="checkbox-hidden">
  <div class="off-canvas-1">
    <header>
      <label for="nav-toggle-1" class="menu">Menu</label>
      <label for="nav-toggle-1" class="page-overlay"></label>
      <nav class="off-canvas-nav-1">
        <ul>
          <li><a href="">How It Works</a></li>
          <li><a href="">Compare</a></li>
          <!-- [data-has-submenu] is required -->
          <li data-has-submenu>
            <input type="checkbox" id="subnav-1-1" class="hidden-checkbox">
            <label for="subnav-1-1">&gt;</label>
            <a href="">Technology</a>

            <!-- sub menu -->
            <!-- [data-submenu], [data-back] are required -->
            <ul data-submenu>
              <li><label for="subnav-1-1" data-back>Back</label></li>
              <li><a href="">sub item 1</a></li>
              <li><a href="">sub item 2</a></li>
              <li><a href="">sub item 3</a></li>
            </ul>
          </li>
          <li><a href="">Careers</a></li>
          <li><a href="">Help</a></li>
        </ul>
      </nav>
    </header>
    <div>Other content</div>
  </div>
</div>

{% elif componentName === "validation_demo1" %}
<form action="" class="validation-1">
  <ol>
    <li>
      <label for="name">Name</label>
      <input type="text" id="name" pattern="[a-zA-Z]{6,}" required>
      <!-- alerts -->
      <div data-info="valid">User name is valid.</div>
      <div data-info="required">Valid user name required.</div>
      <div data-info="error">User name must be at least 6 characters.</div>
    </li>
    <li>
      <label for="name">Email</label>
      <input type="email" id="email" required>
      <!-- alerts -->
      <div data-info="valid">Email is valid.</div>
      <div data-info="required">Email is required.</div>
      <div data-info="error">The email address you entered is not valid.</div>
    </li>
    <li>
      <input type="submit" value="Submit">
    </li>
  </ol>
</form>
<script>
  // run form validation
  window.onload = function () {
    H5F.setup(document.querySelectorAll(".validation-1"));
  }
</script>

{% elif componentName === "button_demo1" %}
<span class="button-simple">button</span>
<span class="button-push" data-text="star"><span>push</span></span>
<span class="button-bubble">bubble</span>

<span class="button-line-drawing">line-drawing
  <!-- 4 pairs of empty spans required -->
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</span>

{% elif componentName === "parallelogram_demo1" %}
<div class="parallelogram-1">Parallelogram demo</div>

{% elif componentName === "dropshadows_demo1" %}
<div class="drop-shadow-1">style: lifted</div>
<div class="drop-shadow-2">style: raised</div>
<div class="drop-shadow-3">style: perspective</div>
<div class="drop-shadow-4">style: curve</div>

{% elif componentName === "switch_demo1" %}
<div class="switch-1">
  <input type="checkbox" id="switch-id-1" name="switch">
  <!-- span is required if you want to show text -->
  <label for="switch-id-1"><span></span></label>
</div>
<div class="switch-2">
  <input type="checkbox" id="switch-id-2" name="switch">
  <label for="switch-id-2"></label>
</div>

{% elif componentName === "pushtoggle_demo1" %}
<div class="push-toggle-1">
  <!-- make sure labels right after inputs -->
  <input type="radio" id="male" name="gender" checked="">
  <label for="male">Male</label>
  <input type="radio" id="female" name="gender">
  <label for="female">Female</label>
</div>

{% elif componentName === "checkbox_demo1" %}
<div class="checkbox-1">
  <!-- make sure labels right after inputs -->
  <input type="radio" name="radio-name" id="radio-id-1" checked>
  <label for="radio-id-1">item 1</label>
  <br />
  <input type="radio" name="radio-name" id="radio-id-2">
  <label for="radio-id-2">item 2</label>
  <br />
  <input type="radio" name="radio-name" id="radio-id-3">
  <label for="radio-id-3">item 3</label>
  <br />
</div>

{% elif componentName === "inputfile_demo1" %}
<div class="input-file-1">
  <input type="file" id="input-file-id" data-multiple-caption="{count} files selected" multiple />
  <label for="input-file-id">Choose a file</label>
</div>

<script src="../src/js/components/input-file.js"></script>
<script type="text/javascript">
  inputFile('#input-file-id');
</script>

{% elif componentName === "tabs_demo1" %}
<div class="tabs-1">
  <input type="radio" name="tabs-radio-name" id="tabs-radio-id-1" checked>
  <input type="radio" name="tabs-radio-name" id="tabs-radio-id-2">
  <input type="radio" name="tabs-radio-name" id="tabs-radio-id-3">

  <!-- class .ro-tabs is required -->
  <div class="ro-tabs">
    <label for="tabs-radio-id-1">tab 1</label>
    <label for="tabs-radio-id-2">tab 2</label>
    <label for="tabs-radio-id-3">tab 3</label>
  </div>
  
  <!-- class .ro-panels is required -->
  <div class="ro-panels">
    <div>
      <p>Praesentium velit, aliquam ex, fuga aperiam tempora harum rem obcaecati ut corrupti autem laudantium cupiditate, nostrum similique ducimus numquam commodi?</p>
    </div>
    <div>
      <p>Labore illo, doloremque laboriosam velit molestiae sequi provident vitae minima nobis tempore eius nulla deserunt, repellat aliquid odit, illum. Quod!</p>
    </div>
    <div>
      <p>Expedita earum soluta repudiandae voluptas dolorem doloremque maiores iusto rem fugit itaque. Ab facere aperiam libero, iusto facilis praesentium laborum.</p>
    </div>
  </div>
</div>

{% elif componentName === "accordion_demo1" %}
<div class="accordion-1">
  <input type="checkbox" name="accordion-1" id="accordion-checkbox-1">
  <label for="accordion-checkbox-1">About Us</label>
  <div>
    <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
  </div>
</div>
<div class="accordion-1">
  <input type="checkbox" name="accordion-1" id="accordion-checkbox-2">
  <label for="accordion-checkbox-2">Contact Us</label>
  <div>
    <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
  </div>
</div>

{% elif componentName === "dropdown_demo1" %}
<div class="dropdown-1">
  <span>dropdown</span>
  <!-- if you set $show: click, input and label are required. -->
  <input type="checkbox" name="" id="your-dropdown-id">
  <label for="your-dropdown-id"> → </label>
  <ul>
    <li><a href="">item01</a></li>
    <li><a href="">item02</a></li>
    <li><a href="">item03</a></li>
  </ul>
</div>

{% elif componentName === "tooltip_demo1" %}
<p>Hic, deleniti <a href="" class="tooltip-2" data-tooltip="bottom tooltip">quibusdam</a> itaque expedita placeat in veritatis <a href="" class="tooltip-1" data-tooltip="right tooltip">consectetur</a> explicabo non odit sed animi quos adipisci. Vero dolores animi impedit tempore tenetur.</p>

{% elif componentName === "medialist_demo1" %}
<ul>
  <li class="media-list-1">
    <figure class="media"><a href=""><img src="http://placehold.it/120x80" alt=""></a></figure>
    <div class="media-body">
      <p>Beatae nulla distinctio minima eos quibusdam tempore. Laudantium fuga neque incidunt velit, totam nobis, culpa mollitia dignissimos quis molestias minima.</p>
      <div class="media-list-2">
        <div class="media-body">
          <p>Est assumenda facere eius eveniet facilis id odit dignissimos fuga a iusto cum ut corporis laudantium fugit, neque quod. Aliquid.</p>
        </div>
        <figure class="media"><a href=""><img src="http://placehold.it/120x80" alt=""></a></figure>
      </div>
    </div>
  </li>
</ul>

{% elif componentName === "flexmedia_demo1" %}
<div class="flex-media-1">
  <iframe width="560" height="315" src="//www.youtube.com/embed/Rb0UmrCXxVA" frameborder="0" allowfullscreen></iframe>
</div>
<div class="flex-media-2">
  <svg xmlns="http://www.w3.org/2000/svg" id="heart-fill" viewBox="0 0 48 48"><title>heart-fill</title><path d="M42.9 26.6L24 45.5 5.1 26.6A13.8 13.8 0 1 1 24 6.6a13.7 13.7 0 0 1 23.5 9.7c0 4-1.8 7.8-4.6 10.3z" fill="currentColor" fill-rule="evenodd"/></svg>
</div>

{% elif componentName === "type_demo1" %}
<div class="type-1">Maiores, molestiae! Explicabo, illumesse.</div>
<div class="type-2">Eveniet neque voluptate nisi!</div>

{% elif componentName === "fluidtype_demo1" %}
<div class="fluid-type-1">Neque impedit, voluptatem quas!</div>

{% elif componentName === "responsivetype_demo1" %}
<div class="responsive-type-1">Assumenda, deleniti molestias sapiente ut!</div>
<div class="responsive-type-2">Saepe aspernatur fugiat, corrupti officia.</div>

{% elif componentName === "hidetext_demo1" %}
<div class="hide-text-1">Brand Name</div>

{% elif componentName === "atleast_demo1" %}
<ul class="at-least-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="at-least-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>

{% elif componentName === "atmost_demo1" %}
<ul class="at-most-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="at-most-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>

{% elif componentName === "equalto_demo1" %}
<ul class="equal-to-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="equal-to-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="equal-to-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>

{% elif componentName === "between_demo1" %}
<ul class="between-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="between-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>

{% elif componentName === "visible_demo1" %}
<p class="visible-1">Visible on 700px and up</p>
<p class="visible-2">Visible below 700px</p>

{% elif componentName === "hidden_demo1" %}
<p class="hidden-1">Hidden on 700px and up</p>
<p class="hidden-2">Hidden between 300px and 500px and 700px up</p>

{% elif componentName === "contrast_demo1" %}
<p class="contrast-1">Consequatur pariatur, minima, ex facere molestias praesentium ipsum laborum porro earum modi optio ad quam.</p>
<p class="contrast-2">Impedit dolorum sit nisi, aliquam, nemo repellendus vitae, ipsa et voluptatum dignissimos recusandae eum accusamus.</p>
<p class="contrast-3">Veniam id, nostrum fuga saepe ab voluptate incidunt nemo maiores esse praesentium animi inventore qui.</p>

{% elif componentName === "adjacent_demo1" %}
<div class="adjacent-0" data-content></div>
<div class="adjacent-1" data-content></div>
<div class="adjacent-2" data-content></div>
<div class="adjacent-3" data-content></div>

{% elif componentName === "complementary_demo1" %}
<div class="complementary-0" data-content></div>
<div class="complementary-1" data-content></div>

{% elif componentName === "splitcomplementary_demo1" %}
<div class="split-complementary-0" data-content></div>
<div class="split-complementary-1" data-content></div>
<div class="split-complementary-2" data-content></div>
<div class="split-complementary-3" data-content></div>

{% elif componentName === "triad_demo1" %}
<div class="triad-0" data-content></div>
<div class="triad-1" data-content></div>
<div class="triad-2" data-content></div>

{% elif componentName === "rectangle_demo1" %}
<div class="rectangle-0" data-content></div>
<div class="rectangle-1" data-content></div>
<div class="rectangle-2" data-content></div>
<div class="rectangle-3" data-content></div>

{% elif componentName === "square_demo1" %}
<div class="square-0" data-content></div>
<div class="square-1" data-content></div>
<div class="square-2" data-content></div>
<div class="square-3" data-content></div>
{% endif %}
{% endmacro %}