@include test-module('List') {

  @include test('get-slider-id [function]') {

    $test1: get-slider-id('header' '>' '.left');
    $expect1: 'left';
    @include assert-equal($test1, $expect1, 'get the last class.');

    $test2: get-slider-id('header' '>' '.left' '#social');
    $expect2: 'social';
    @include assert-equal($test2, $expect2, 'get the last id.');

    $test3: get-slider-id('header' '>' 'article');
    $expect3: 'header > article';
    @include assert-equal($test3, $expect3, 'get the entire selector when there is no class or id.');
  }
}