<div class="accordion-1">
  <input type="checkbox" name="accordion-1" id="accordion-checkbox-1">
  <label for="accordion-checkbox-1">About Us</label>
  <div>
    <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
  </div>
</div>
<div class="accordion-1">
  <input type="checkbox" name="accordion-1" id="accordion-checkbox-2">
  <label for="accordion-checkbox-2">Contact Us</label>
  <div>
    <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
  </div>
</div>