@include test-module('Colors') {

  // Testing Functions
  @include test('complementary [function]') {
    $original: #d92626;

    $test1: complementary($original -1);
    $expect1: #26d926;
    @include assert-equal($test1, $expect1, 'Returns the complementary color');
  }
}