{% set pagename = 'docs' %}
{% extends "partials/layout.njk" %}

{% block main %}
<div class="docs-wrapper section">

  {# nav toggle button #}
  <div class="docs-nav-toggle-wrapper">
    <div class="docs-nav-toggle"></div>
  </div>

  {# docs nav #}
  <nav class="docs-nav">
    {% for groupName, group in docs %}
    <h4>{{ groupName | capitalize }}</h4>
    <ul>
    
      {% for componentName, component in group %}
      <li class="nav-{{ componentName }}"><a href="#{{ componentName }}">{{ componentName | capitalize }}</a></li>
      {% endfor %}
    
    </ul>
    {% endfor %}
  </nav>

  {# main #}
  <main>

    {% for groupName, group in docs %}
    <h2>{{ groupName | capitalize }}</h2>
    <ul>
      
      {% for componentName, component in group %}
      <li id="{{ componentName }}">
        <h4>{{ componentName | capitalize }}</h4>

        {% for type, content in component %}

          {% if type.indexOf('p-') !== -1 %}

            {% for p in content %}
              <p>{{ p | replace('`-', '<code class="language-html">') | replace('-`', '</code>') | urlize | nl2br | safe }}</p>
            {% endfor %}

          {% elif type === 'capability' %}
          <p class="browser-capability">{{ content }}</p>
          {% elif type === 'syntax' %}
          <div class="code-wrapper">
            <header class="scss">scss: <span>{{ type }}</span></header>
            <pre><code class="language-scss">
              {%- include "code/docs/" + componentName + "/_syntax.scss" ignore missing -%}
            </code></pre>
          </div>
          {% elif type.indexOf('demo-') !== -1 %}
          <div class="demo-container" data-show="code">

            {# toggle buttons #}
            {% if content.markup %}
              <div class="toggle-container"><button class="btn" data-toggle="code">Code</button><button class="btn" data-toggle="preview">Preview</button></div>
            {% endif %}

            {# code #}
            <div class="code-wrapper">
              <ul>
                
                {% if content.markup %}
                <li>
                  {# header #}
                  <header class="markup">markup</header>

                  {# markup #}
                  <pre><code class="language-markup" id="{{ componentName + '-' + type + '-markup' }}">
                    {%- set itemHtml %}
                      {%- include "code/docs/" + componentName + "/" + type + ".njk" ignore missing -%}
                    {% endset -%}
                    {{- itemHtml -}}
                  </code></pre>
                  <button class="btn copy-button" data-clipboard-target="#{{ componentName + '-' + type + '-markup' }}">Copy Code</button>
                </li>
                {% endif %}

                {% if content.scss %}
                <li>
                  {# header #}
                  <header class="scss">scss</header>
                  
                  {# scss #}
                  <pre><code class="language-scss" id="{{ componentName + '-' + type + '-scss' }}">
                    {%- set itemScss %}
                      {%- include "code/docs/" + componentName + "/_" + type + ".scss" ignore missing -%}
                    {% endset -%}
                    {{- itemScss -}}
                  </code></pre>
                  <button class="btn copy-button" data-clipboard-target="#{{ componentName + '-' + type + '-scss' }}">Copy Code</button>
                </li>
                {% endif %}
              
              </ul>
            </div>

            {# preview #}
            {% if content.markup %}
            <div class="preview-wrapper">
              {%- include "code/docs/" + componentName + "/" + type + ".njk" ignore missing -%}
            </div>
            {% endif %}

          </div>
          {% else %}
          {% endif %}

        {% endfor %}

      </li>
      {% endfor %}

    </ul>
    {% endfor %}

  </main>

</div>
{% endblock %}