{% set pagename = 'docs' %}
{% extends "partials/layout.njk" %}

{% block main %}

<div class="docs-wrapper section">

  {# docs nav #}
  <nav class="docs-nav">
    <button class="docs-nav__toggle"><svg class="arrow" role="img" title="arrow" width="14" height="28"><use xlink:href="{{ svgSpritesPath + '#rightarrow'}}" /></svg></button>
    <div class="docs-nav__content">
    
      {% for main, sub in docs %}
      <h4>{{ main | capitalize }}</h4>
      <ul>

        {% for title, content in sub %}
        <li class="nav-{{ title }}"><a href="#{{ title }}">{{ title | capitalize }}</a></li>
        {% endfor %}

      </ul>
      {% endfor %}

    </div>
  </nav>

  {# main #}
  <main>

    {% for main, sub in docs %}
    <h2>{{ main | capitalize }}</h2>
    <ul>
      
      {% for title, subObj in sub %}
      <li id="{{ title }}">
        <h4>{{ title | capitalize }}</h4>

        {% for tag, content in subObj %}

          {% if tag.indexOf('p-') !== -1 %}

            {% for p in content %}
              <p>{{ p | replace('^', '<code class="language-html">') | replace('$', '</code>') | urlize | nl2br | safe }}</p>
            {% endfor %}

          {% elif tag === 'capability' %}
          <p class="browser-capability">{{ content }}</p>
          {% elif tag === 'bold' %}
          <p><strong>{{ content }}</strong></p>
          {% elif tag === 'syntax' %}
          <div class="code-wrapper">
            <header>scss: <span>{{ tag }}</span></header>
            <pre><code class="language-scss">
              
            {%- for row in content %}{{ row + '\n' }}{% endfor -%}

            </code></pre>
          </div>
          {% elif tag.indexOf('code-') !== -1 %}
          <div class="code-wrapper">
            <ul>
              
              {% for type, codeContent in content %}
              <li>
                <header>{{ type }}</header>
                <pre><code class="language-{{ type }}">
                  
                {%- for row in codeContent %}{{ row + '\n' }}{% endfor -%}

                </code></pre>
              </li>
              {% endfor %}
            
            </ul>
          </div>
          {% else %}
          {% endif %}

        {% endfor %}

      </li>
      {% endfor %}

    </ul>
    {% endfor %}

  </main>

</div>

{% endblock %}