{% set pagename = 'home' %}
{% extends "partials/layout.njk" %}

{% block main %}
{# Intro #}
<section class="intro section">
  <div class="container">
    <p><strong>Rocket is a powerful Sass framework to help web developers handle layout and build components easily.</strong></p>
  </div>
</section>

{# Features #}
<section class="features">
  <div class="container">
    <ul>
      <li>
        <svg role="img" title="desktop-mobile" width="115" height="75" class="svg-responsive">
          <use xlink:href="{{ svgSpritesPath + '#desktop-mobile' }}" />
        </svg>
        <h4>Responsive</h4>
        <p>The Sass grid mixins have been made smartly to give you even more flexibility to customize the grids with any number of columns. Four column grid inside a five column grid inside a twelve? Go for it!</p>
      </li>
      <li>
        <svg role="img" title="tools" width="81" height="81" class="svg-customizable" >
          <use xlink:href="{{ svgSpritesPath + '#tools' }}" />
        </svg>
        <h4>Customizable</h4>
        <p>The Sass grid mixins have been made smartly to give you even more flexibility to customize the grids with any number of columns. Four column grid inside a five column grid inside a twelve? Go for it!</p>
      </li>
      <li>
        <svg role="img" title="feather" width="105" height="59" class="svg-light-weight">
          <use xlink:href="{{ svgSpritesPath + '#feather' }}" />
        </svg>
        <h4>light weight</h4>
        <p>The Sass grid mixins have been made smartly to give you even more flexibility to customize the grids with any number of columns. Four column grid inside a five column grid inside a twelve? Go for it!</p>
      </li>
      <li>
        <svg role="img" title="wheel-chair" width="82" height="100" class="svg-accessible">
          <use xlink:href="{{ svgSpritesPath + '#wheel-chair' }}" />
        </svg>
        <h4>Accessible</h4>
        <p>The Sass grid mixins have been made smartly to give you even more flexibility to customize the grids with any number of columns. Four column grid inside a five column grid inside a twelve? Go for it!</p>
      </li>
    </ul>
  </div>
</section>

{# get started #}
<section class="get-started section">
  <h2>Get started</h2>
  <div class="container">
    <ol>
      <li>
        <div class="media"><img src="assets/img/download-tools.png" alt="download tools"></div>
        <div class="media-body">
          <h4>Download Rocket</h4>
          <p>Download <code class="language-">Rocket</code> via npm, bower or download the source files directly from the <a href="https://github.com/ganlanyuan/rocket" target="_blank">github page</a>.</p>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="code-wrapper">
            <header>scss</header>
<pre><code class="language-scss">@import "path/to/rocket.scss";

.wrapper {
  @include grid(3 7);
}</code></pre>
          </div>
        </div>
        <div class="media-body">
          <h4>Import Rocket and Start using Rocket Mixins and Functions</h4>
          <p>Use <code class="language-scss">@import ‘path/to/rocket.scss’;</code> to import Rocket into your sass file. More details about Sass import, visit <a href="http://sass-lang.com/guide#topic-5" target="_blank">http://sass-lang.com/guide#topic-5</a>.</p>
          <p>You can now use all the <a href="docs.html">mixins and functions</a>.</p>
        </div>
      </li>
      <li>
        <div class="media"><img src="assets/img/compile-tools.png" alt="download tools"></div>
        <div class="media-body">
          <h4>Compile sass to css</h4>
          <p>Use one of <a href="http://sass-lang.com/install" target="_blank">these tools</a> or a Task runner to compile your sass files to css files.</p>
        </div>
      </li>
    </ol>
  </div>
</section>
{% endblock %}