<ul class="metro-1">
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
  <li><div class="metro-item"><div data-content></div></div></li>
</ul>