@include test-module('Colors') {

  // Testing Functions
  @include test('adjacent [function]') {
    $original: #d92626;

    $test1: adjacent($original -1);
    $expect1: #d9268b;
    @include assert-equal($test1, $expect1, 'Returns the adjacent color');

    $test2: adjacent($original 1);
    $expect2: #d97726;
    @include assert-equal($test2, $expect2, 'Returns the adjacent color');
  }
}