@import "../../../src/scss/setting/setting";
@import "../../../src/scss/utilities/utilities";
@import "../../../src/scss/vendors/vendors";

@function var-list-to-string($value, $bracket: true) {
  $return: '';
  @if $bracket { $return: '( '; }
  @each $item in $value {
    @if type-of($item) == 'list' {
      $return: $return + var-list-to-string($item);
    } @else if type-of($item) == 'map' {
      $return: $return + var-map-to-string($item);
    } @else {
      $return: $return + ' ' + to-string($item) + ' ';
    }
  }
  @if $bracket { $return: $return + ' )'; }

  @return $return;
}

@function var-map-to-string($value) {
  $keys: map-keys($value);
  $vals: map-values($value);
  
  $return: '( ';
  @for $i from 1 through length($keys) {
    $return: $return + to-string(nth($keys, $i)) + ' : ';

    $val: nth($vals, $i);
    @if type-of($val) == 'list' {
      @if is-nested-list($val) {
        $return: $return + var-list-to-string($val, false);
      } @else {
        $return: $return + to-string($val);
      }
    } @else if type-of($val) == 'map' {
      $return: $return + var-map-to-string($val);
    } @else {
      $return: $return + ' ' + to-string($val) + ' ';
    }
    
    @if $i != length($keys) {
      $return: $return + ', ';
    }
  }
  $return: $return + ' )';
  
  @return $return;
}

@function var-to-string($value) {
  $return: '';
  @if type-of($value) == 'list' {
    $return: var-list-to-string($value);
  } @else if type-of($value) == 'map' {
    $return: var-map-to-string($value);
  } @else {
    $return: to-string($value);
  }
  
  @return $return;
}

/* Android 2.3 :checked fix */
@keyframes fake {
  from { opacity: 1; }
  to { opacity: 1 }
}
body { animation: fake 1s infinite; }

// common
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p { margin: 0; }
dl,ul,ol { padding: 0; }
ol,ul { list-style:none; }
body { overflow-x: hidden; }
[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]:before, [class*=" icon-"]:before { display: none; } // reset chrome icon-font
label { cursor: pointer; }
img { max-width: 100%; height: auto; }
img.full { width: 100%; display: block; }
a {
  text-decoration: none;
  color: inherit;
  &:hover { text-decoration: underline; }
}
button,
input,
select { line-height: normal !important; }
button:focus,
input:focus,
select:focus,
textarea:focus {outline: 0; }
button { border: none; }
.hidden { display:none; }
.ovh { overflow: hidden; }
.clearfix { @include clearfix(); }

h1,h2,h3,h4,h5,h6,strong { font-family: 'Roboto', sans-serif;}
h2, h3, h4 { text-transform: capitalize; }
h3, h4 {
  &[id] { text-align: center; }
}
.main-heading { 
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em; 
  text-align: center;
  span {
    font-weight: 300;
    color: #999;
  }
}
h4 { margin: 1.5em 0 0.5em; }
h5 { 
  font-size: 13px; 
  margin: 3em 0 1em; 
}
p {
  .topic & {
    font-size: 14px;
    line-height: 1.6;
    margin: 1.8em auto;
    max-width: 50em;
    color: #7d7d7d;
  }
}
.container {
  max-width: 70em;
  margin: 0 auto; 
  @media screen and (max-width: 74em) {
    margin: 0 2em;
  }
}

[data-margin] { background-color: #E698CC; }
[data-padding] { background-color: #C2EBBA; }
[data-content] { background-color: #CDEEFF; }

.cell { 
  min-height: 10em; 
  &:before { 
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 1);
    display: block;
    text-align: center;
  }
  .autoheight:nth-child(2n) > & { height: 11em; }
  .autoheight:nth-child(3n+1) > & { height: 12em; }
  @for $i from 1 through 10 {
    .order:nth-child(#{$i}) > &:before { content: '#{$i}'; }
  }
}
.title { margin-bottom: 1em; }
.topic { 
  padding: 2em 0 4em;
  > section { margin: 2em 0; }
}
@media screen and (min-width: 1024px) {
  .main-heading {
    &:before,
    &:after {
      display: inline-block;
      vertical-align: 7px;
      margin: 0 15px;
    }
    &:before { content: url('../images/title-prev.png'); }
    &:after { content: url('../images/title-next.png'); }
  }
  .topic {
    > section { margin: 0 0 5em; }
  }
}

// example
.example:after {
  content: '';
  display: table;
  clear: both;
}
.example-content { 
  padding: 15px; 
  font-size: 13px;
  line-height: 1.4; 
  letter-spacing: normal;
  cursor: pointer; 
  &:hover { opacity: 0.9; }
  strong { 
    display: block;
    margin-bottom: 10px;
    font-size: 24px; 
  }
}

.demo-container {
  height: 0;
  overflow: hidden;
  &:before {
    text-align: center;
    display: block;
    margin-bottom: 5px;
  }
}
%demo-show {
  height: auto;
  margin-bottom: 50px;
}
