@import 'demo-base';

// *** addons: quantity-query *** //

.control {
  margin-bottom: 20px;
  input {
    @include button('0.6em 1.1em' #CBCBCB 3px highlight);
    border-width: 0;
  }
  .active { 
    color: #fff;
    background-color: #333; 
    &:hover {
      background-color: #222;
    }
  }
  .action {
    @include button(#f2f2f2 highlight);
  }
}
.show {
  @extend %clearfix;
  margin-bottom: 40px;
  > .box {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #56AFEE;
  }
}
.info {
  color: #666;
  font-size: 13px;
  margin-left: 10px;
  vertical-align: bottom;
  span { color: #ff49a6; vertical-align: bottom; }
}

.at-least {
  @include at-least('.box' 4) {
    background-color: #FF49A6;
  }
}
.at-most {
  @include at-most('.box' 4) {
    background-color: #FF49A6;
  }
}
.equal-to {
  @include equal-to('.box' 4) {
    background-color: #FF49A6;
  }
}
.between {
  @include between('.box' 3 6) {
    background-color: #FF49A6;
  }
}
