@import 'demo-base';

// *** components: switch *** //

.example-switch {
  text-align: center;
  section {
    margin: 50px 0;
  }
}
.switch {
  margin: 15px auto;
  text-align: center;

  &-group {
    margin-top: 50px;
    text-align: center;
    .switch-g {
      @include switch(radius 25px #CC412F);
    }
  }
}
.one { @include switch(radius); }
.two { @include switch(round 50px #C06EE1); }
.slider { @include switch(round slider 48px 24px #399DE1); }
.text { @include switch(round text ("on" "off") 36px #399DE1); }
