@import 'demo-base';
@import "../../../src/scss/components/tabs"; 

.tabs {
  @include tabs-active(3) {
    color: #000;
    background-color: #e9e9e9;
  }
  max-width: 800px;
  margin: 0 auto;
  > .ro-tabs { 
    margin-bottom: 10px; 
    letter-spacing: -0.34em;
    > label {
      display: inline-block;
      padding: 8px 12px;
      background-color: #2d2d2d;
      letter-spacing: 0;
      color: #fff;
      text-transform: capitalize;
    }
  }
  > .ro-panels > div { 
    padding: 8px 12px;
    background-color: #f2f2f2; 
  }
  p {
    max-width: none;
  }
}
.tabs-normal {
  @include tabs(3 normal);
  > .ro-panels > div { 
    &:before,
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
.tabs-carousel {
  @include tabs(3 carousel);
}
.tabs-customize {
  @include tabs(3 customize) {
    height: 0;
    padding: 0;
    overflow: hidden;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s; 
    &:nth-child(odd) {
      -ms-transform: perspective(1000px) rotateY(180deg);
      -webkit-transform: perspective(1000px) rotateY(180deg);
      transform: perspective(1000px) rotateY(180deg);
    }
    &:nth-child(even) {
      -ms-transform: perspective(1000px) rotateY(-180deg);
      -webkit-transform: perspective(1000px) rotateY(-180deg);
      transform: perspective(1000px) rotateY(-180deg);
    }
    .no-csstransforms & { display: none; height: auto; padding: 8px 12px; }
  }
  @include tabs-panel-active(3) {
    height: auto;
    padding: 8px 12px;
    -ms-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    .no-csstransforms & { display: block; }
  }
}