@import 'demo-base';
@import "../../../src/scss/addons/breakpoint"; 
@import "../../../src/scss/layout/center"; 
@import "../../../src/scss/layout/diamond"; 

.example-diamond {
  @extend %clearfix;
  max-width: 900px;
  margin: 80px auto 20px;
  span {
    display: block;
    width: 100%;
  }
  img {
    width: inherit;
  }
}
.diamond {
  @include diamond(5 'combined'); 
  &-s,
  &-m {
    outline: 1px solid #fff;
    cursor: pointer;
  }
  &-s { @include diamond(20%); }
  &-m { @include diamond(60%); }
}
.s1 { 
  margin-top: 30%; 
  position: relative;
  left: 10%;
}
.s2 { margin-top: 20%; }
.b2 {
  margin-top: -30%;
  margin-left: 10%;
}
.s3 {
  margin-top: -20%;
  margin-left: 10%;
}
.s4 { margin-top: -10%; }
.s5 {
  margin-left: 20%;
  margin-top: -10%;
}
.s6 { margin-left: -30%; }
.b3 {
  margin-top: -40%;
  margin-left: 40%;
}
