@import 'demo-base';
@import "../../../src/scss/addons/breakpoint"; 
@import "../../../src/scss/layout/center"; 
@import "../../../src/scss/layout/diamond"; 

$diamond-count: 3 diamond;
$diamond-count-combined: 3 diamond combined;
$diamond-size: 25%;
$diamond-breakpoints: (600px:3, 800px:4) diamond;
$octagon-count: 4 octagon;
$octagon-size: 300px octagon;

.diamond-count { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($diamond-count)}'; }
  > div { @include diamond($diamond-count); }
}
.diamond-count-combined { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($diamond-count-combined)}'; }
  > div { @include diamond($diamond-count-combined); }
}
.diamond-size { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($diamond-size)}'; }
  > div { @include diamond($diamond-size); }
}
.diamond-breakpoints { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($diamond-breakpoints)}'; }
  > div { @include diamond($diamond-breakpoints); }
}
.octagon-count { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($octagon-count)}'; }
  > div { @include diamond($octagon-count); }
}
.octagon-size { 
  @extend %demo-show;
  &:before { content: '#{var-to-string($octagon-size)}'; }
  > div { @include diamond($octagon-size); }
}

.demo-container {
  @extend %clearfix;
  max-width: 900px;
  margin: 80px auto 20px;
  span {
    display: block;
    width: 100%;
  }
  img {
    width: inherit;
  }
}
.order span:after {
  display: block;
  position: relative;
  top: -180px;
  top: -16vw;
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 60px;
  font-family: 'Helvetica Neue',Arial,sans-serif;
}
@for $i from 1 through 8 {
  .order:nth-child(#{$i}) span:after { content: '#{$i}'; }
}
