@import 'demo-base';
@import "../../../src/scss/addons/breakpoint"; 
@import "../../../src/scss/layout/grid"; 

$grid-simple-list: 3 4;
$grid-simple-list-child: (3 4) child ".child";
$grid-simple-list-gutter1: (3 4) gutter 5%;
$grid-simple-list-gutter2: (3 4) gutter 3em;
$grid-simple-list-gutter3: (3 4) gutter 5rem;
$grid-simple-list-gutter4: (3 4) gutter 7vw;
$grid-simple-list-direction: (3 4) RTL;
$grid-nested-list: (3 4) 7;
$grid-map: ((3:0, 4:2, 7:1) 3);
$grid-breakpoint-simple-list: (
  600px: 5 7
);
$grid-breakpoint-nested-list: (
  600px: (3 4) (2 5) 3
);
$grid-breakpoint-map: (
  600px: (3:2, 4:1) (2 5) 3
);
$grid-breakpoint-default: (
  'default': 3 4,
  1000px: 2 7,
);
$grid-breakpoint-complex-list: (
  default: (3 4) (2 5) 3,
  600px: (3 4 2) (5 3),
  900px: (5 2 3: 2 1 3) (1 1),
);

[id*='grid-'] {
  margin-bottom: 50px;
  height: 0;
  overflow: hidden;
  @for $i from 1 through 6 {
    > *:nth-child(#{$i}) .cell:before { 
      content: '#{$i}'; 
      font-size: 40px;
      font-weight: 100;
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
}
.cell { margin-bottom: 20px; }

#grid-simple-list { @include grid($grid-simple-list); height: auto; }
#grid-simple-list-child { @include grid($grid-simple-list-child); height: auto; }
#grid-simple-list-direction { @include grid($grid-simple-list-direction); height: auto; }
#grid-simple-list-gutter1 { @include grid($grid-simple-list-gutter1); height: auto; }
#grid-simple-list-gutter2 { @include grid($grid-simple-list-gutter2); height: auto; }
#grid-simple-list-gutter3 { @include grid($grid-simple-list-gutter3); height: auto; }
#grid-simple-list-gutter4 { @include grid($grid-simple-list-gutter4); height: auto; }
#grid-nested-list { @include grid($grid-nested-list); height: auto; }
#grid-map { @include grid($grid-map); height: auto; }
#grid-breakpoint-simple-list { @include grid($grid-breakpoint-simple-list); height: auto; }
#grid-breakpoint-nested-list { @include grid($grid-breakpoint-nested-list); height: auto; }
#grid-breakpoint-map { @include grid($grid-breakpoint-map); height: auto; }
#grid-breakpoint-default { @include grid($grid-breakpoint-default); height: auto; }
#grid-breakpoint-complex-list { @include grid($grid-breakpoint-complex-list); height: auto; }