@import 'demo-base';

.reach {
  padding: 40px 0;
}
.box {
  max-width: 800px;
  min-height: 200px;
  margin: 0 auto 200px;
  padding: 40px 0;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  transform: scale(1);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  &:last-child { margin-bottom: 0; }
  &.reached { color: #fff; }
  &-1.reached { background-color: #FF51BE; transform: scale(0.8); }
  &-2.reached { background-color: #49A4E9; transform: scale(1.2); }
  &-3.reached { background-color: #F55C5C; transform: scale(0.9); }
}
