@import 'demo-base';

.scroll-to {
  padding: 40px 0;
  text-align: center;
}
.btn { 
  margin: 0 0 20px;
  padding: 0 1.6em;
  height: 2.6em;
  line-height: 2.6;
  font-size: 14px;
  border-radius: 5px;
  background-color: #333;
}
.box {
  max-width: 800px;
  margin: 400px auto 0;
  padding: 10px;
  min-height: 200px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #F54E86;
}
