@import 'demo-base';

// *** layout: justify *** //

.example-justify {
  @include justify();
  li {
    font-size: 13px;
    text-transform: uppercase;
  }
  a { display: block; }
  input {
    @include button('0.6em 0.8em' #fff);
    width: 150px;
    font-size: 14px;
    border: 1px solid #ddd;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    &:focus { width: 250px; }
  }
}

