@import 'demo-base';
@import "../../../src/scss/addons/breakpoint"; 
@import "../../../src/scss/layout/metro"; 

// *** layout: metro *** //
li { transition: width 0.3s, padding 0.3s; }
.metro-wrapper { 
  max-width: 800px; 
  margin: 50px auto;
}

$ro-metro: (
  'gutter': 20px,
  'ratio': (3 / 4),
  'child': 'li',
);

$outline: (
  null: w2h3 w2 w2h4 w2 1 h2 of 2,
  700: w3h2 w3 w2h3 h3 1 w2 of 3,
  1000: w2h3 w2h3 w3h3 h3 1 w3 of 4,
);
$g-1: (
  null: h2 1 1 w2 of 2,
  700: w2h2 1 1 of 3,
  1000: 1 1 h2 1 1 of 2,
);
$g-2: (
  null: 1 1 of 2,
  700: 1 w2 of 3,
  1000: w2h2 w2 of 2,
);
$g-3: (
  null: w2h2 h2 1 1 of 2,
  700: h2 1 1 1 1 of 2,
  1000: w2h2 1 1 1 w2 of 3,
);
$g-4: (
  null: w2 of 2,
  700: 1 h2 of 1,
  1000: 1 h2 of 1,
);

.outline { @include metro($outline); }
.g-1 { @include metro($g-1); }
.g-2 { @include metro($g-2); }
.g-3 { @include metro($g-3); }
.g-4 { @include metro($g-4); }
@media (min-width: 1000px) {
  .g-3 > li:nth-child(4) { clear: left; }
}
