@import 'demo-base';
@import "../../../src/scss/addons/breakpoint"; 
@import "../../../src/scss/layout/center"; 

.example-center { 
  @include center(div left);
  height: 500px;
  &:after { display: none; }
  > div { 
    padding: 10px; 
    max-width: 100%;
    box-sizing: border-box;
  }
}
