@import 'demo-base';
@import "../../../src/scss/addons/breakpoint"; 
@import "../../../src/scss/layout/liquid-2"; 

$list: (null 200px);
$map1: (null:1, 200px:0);
$map2: (
  'default': (150px null),
  750px: (150px:1, null:0),
  900px: (150px:0, null:1)
);
.example-liquid-2 { @include liquid-2($map2); }