@import 'demo-base';
@import "../../../src/scss/addons/breakpoint"; 
@import "../../../src/scss/layout/grid"; 
@import "../../../src/scss/layout/masonry"; 

$masonry: (
  'default': 1,
      600px: 2,
      768px: 3,
);

.masonry { @include masonry($masonry gutter 20px); }
.masonry-cluster-h { @include grid( (1024px: (1 2)) child div gutter 20px); }
.masonry-cluster-h-2 { @include grid( (1024px: (2 1)) child div gutter 20px); }
.masonry-cluster-v {
  > div:first-child { margin-bottom: 20px; }
}

// other styles
.masonry img {
  overflow: hidden;
  border-radius: 5px;
}
.masonry-content {
  padding: 15px;
  overflow: hidden;
  border-radius: 5px;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    line-height: 1.5;
    font-size: 13px;
    color: #666;
  }
}

// fallback
.lt-ie10 {
  .masonry {
    text-align: center;
    > li {
      display: inline-block;
      vertical-align: top;
      width: 250px;
      margin: 0 20px 20px 0;
      text-align: left;
    }
  }
}
