@import 'demo-base';
@import "../../../src/scss/addons/breakpoint";
@import "../../../src/scss/addons/opacity";
@import "../../../src/scss/components/off-canvas"; 

.container { max-width: 800px; }
h3 {
  margin-bottom: 10px;
}
iframe { 
  width: 100%;
  min-height: 340px;
  margin-bottom: 50px;
  overflow: hidden;
}