@import 'demo-base';
@import "../../../src/scss/layout/sticky-footer"; 

.body {
  @include sticky-footer('.main');
  
  header, footer {
    color: #fff;
    background-color: #333;
  }
  header, footer, .main { padding: 20px; }
  label {
    font-size: 12px;
    color: #666;
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle;
  }
  p {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 18px;
    color: #000;
    display: none;
  }
  #content-toggle:checked ~ p { display: block; }
}
.container-inner {
  max-width: 900px;
  @media (min-width: 60em) {
    margin: 0 auto;
  }
}