<ul class="gallery-2">
  <li><div data-content>1</div></li>
  <li><div data-content>2</div></li>
  <li><div data-content>3</div></li>
  <li><div data-content>4</div></li>
  <li><div data-content>5</div></li>
</ul>