<ul class="gallery-3">
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
  <li><div data-content></div></li>
</ul>