/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

@media screen and (max-width: 74em) {
  .container {
    margin: 0 2em;
  }
}

.back-to-home {
  position: sticky;
  bottom: 0;
  z-index: 100;
  margin-top: 100px;
}

.back-to-home a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #222;
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 10em;
}

.cell:before {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 100;
  color: white;
  display: block;
  text-align: center;
  line-height: 2.5;
}

.autoheight:nth-child(2n) > .cell {
  height: 11em;
}

.autoheight:nth-child(3n+1) > .cell {
  height: 12em;
}

.order:nth-child(1) > .cell:before {
  content: "1";
}

.order:nth-child(2) > .cell:before {
  content: "2";
}

.order:nth-child(3) > .cell:before {
  content: "3";
}

.order:nth-child(4) > .cell:before {
  content: "4";
}

.order:nth-child(5) > .cell:before {
  content: "5";
}

.order:nth-child(6) > .cell:before {
  content: "6";
}

.order:nth-child(7) > .cell:before {
  content: "7";
}

.order:nth-child(8) > .cell:before {
  content: "8";
}

.order:nth-child(9) > .cell:before {
  content: "9";
}

.order:nth-child(10) > .cell:before {
  content: "10";
}

.title {
  margin-bottom: 1em;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .main-heading:before {
    content: url("../images/title-prev.png");
  }
  .main-heading:after {
    content: url("../images/title-next.png");
  }
  .topic > section {
    margin: 0 0 5em;
  }
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer;
}

.example-content:hover {
  opacity: 0.9;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.demo-container {
  height: 0;
  overflow: hidden;
}

.demo-container:before {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.default, .color, .style-highlight, .style-simple, .style-slide, .style-ripple, .style-veil, .style-cut, .style-push, .style-bubble, .style-line-drawing, .style-shake {
  height: auto;
  margin-bottom: 50px;
}

.default > .btn {
  background: #e2e2e2;
  color: #000;
  transition: background 0.3s ease, color 0.3s ease;
}

.default > .btn:hover {
  background: #c9c9c9;
}

.color:before {
  content: "( color :  #46A736  )";
}

.color > .btn {
  background: #46A736;
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}

.color > .btn:hover {
  background: #5cc54b;
  color: #000;
}

.style-highlight:before {
  content: "( color : #2B8ACF #52cfdb, style :  highlight  )";
}

.style-highlight > .btn {
  background: #2B8ACF;
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}

.style-highlight > .btn:hover {
  background: #52cfdb;
  color: #000;
}

.style-simple:before {
  content: "( color :  #2B8ACF , style :  simple  )";
}

.style-simple > .btn {
  color: #2B8ACF;
  border: 1px solid #2B8ACF;
  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
}

.style-simple > .btn:hover {
  color: #fff;
  border-color: #2B8ACF;
  background: #2B8ACF;
}

.style-slide:before {
  content: "( color : #2B8ACF #52cfdb, style :  slide  )";
}

.style-slide > .btn {
  background: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.style-slide > .btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -100%;
  background: #52cfdb;
  transition: left 0.3s ease;
}

.style-slide > .btn:hover {
  color: #000;
}

.style-slide > .btn:hover:before {
  left: 0px;
}

.style-ripple:before {
  content: "( color : #2B8ACF #52cfdb, selector :  :hover , style :  ripple  )";
}

.style-ripple > .btn {
  background: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.style-ripple > .btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 1;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 10em;
  height: 10em;
  margin-left: -5em;
  margin-top: -5em;
  border-radius: 50%;
  background: #52cfdb;
}

@-webkit-keyframes button-ripple {
  to {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes button-ripple {
  to {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@keyframes button-ripple {
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.lt-ie9 .style-ripple > .btn:before {
  display: none;
}

.style-ripple > .btn:hover:before {
  -webkit-animation: button-ripple 1s 1;
  -moz-animation: button-ripple 1s 1;
  animation: button-ripple 1s 1;
}

.lt-ie9 .style-ripple > .btn:hover:before {
  display: block;
}

.style-veil:before {
  content: "( color :  #2B8ACF , style :  veil  )";
}

.style-veil > .btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #2B8ACF;
  border: 1px solid currentColor;
  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
}

.lt-ie9 .style-veil > .btn {
  border: 1px solid #2B8ACF;
}

.style-veil > .btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scaleX(0.7);
  -moz-transform: scaleX(0.7);
  -ms-transform: scaleX(0.7);
  -o-transform: scaleX(0.7);
  transform: scaleX(0.7);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #2B8ACF;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.lt-ie9 .style-veil > .btn:before {
  display: none;
}

.style-veil > .btn:hover {
  color: #fff;
}

.style-veil > .btn:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.lt-ie9 .style-veil > .btn:hover:before {
  display: block;
}

.style-cut:before {
  content: "( color : #2B8ACF #52cfdb, style :  cut  )";
}

.style-cut > .btn {
  background: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.style-cut > .btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  -moz-transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  -ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  -o-transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  -webkit-transform-origin: 0% 100% 0px;
  -moz-transform-origin: 0% 100% 0px;
  -ms-transform-origin: 0% 100% 0px;
  -o-transform-origin: 0% 100% 0px;
  transform-origin: 0% 100% 0px;
  left: 0px;
  top: 0px;
  width: 150%;
  height: 100%;
  background: #52cfdb;
  transition: transform 0.3s ease;
}

.lt-ie9 .style-cut > .btn:before {
  display: none;
}

.style-cut > .btn:hover:before {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  -moz-transform: rotate3d(0, 0, 1, 0deg);
  -ms-transform: rotate3d(0, 0, 1, 0deg);
  -o-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}

.lt-ie9 .style-cut > .btn:hover:before {
  display: block;
}

.style-push:before {
  content: "( color :  #2B8ACF , style :  push  )";
}

.style-push > .btn {
  background: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.style-push > .btn span, .style-push > .btn:before {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.style-push > .btn span {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  display: block;
}

.style-push > .btn:before {
  opacity: 0;
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  -o-transform: translateX(20%);
  transform: translateX(20%);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  content: attr(data-text);
}

.lt-ie9 .style-push > .btn:before {
  display: none;
}

.style-push > .btn:hover span {
  opacity: 0;
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  transform: translateX(-20%);
}

.style-push > .btn:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.lt-ie9 .style-push > .btn:hover:before {
  display: block;
}

.style-bubble:before {
  content: "( color :  #2B8ACF , style :  bubble  )";
}

.style-bubble > .btn {
  background: #2B8ACF;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  overflow: visible;
}

.style-bubble > .btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  border: 1px solid #2B8ACF;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@-webkit-keyframes button-bubble {
  60% {
    left: -0.7em;
    right: -0.7em;
    top: -0.7em;
    bottom: -0.7em;
    opacity: 0.8;
  }
  100% {
    left: -1em;
    right: -1em;
    top: -1em;
    bottom: -1em;
    opacity: 0;
  }
}

@-moz-keyframes button-bubble {
  60% {
    left: -0.7em;
    right: -0.7em;
    top: -0.7em;
    bottom: -0.7em;
    opacity: 0.8;
  }
  100% {
    left: -1em;
    right: -1em;
    top: -1em;
    bottom: -1em;
    opacity: 0;
  }
}

@keyframes button-bubble {
  60% {
    left: -0.7em;
    right: -0.7em;
    top: -0.7em;
    bottom: -0.7em;
    opacity: 0.8;
  }
  100% {
    left: -1em;
    right: -1em;
    top: -1em;
    bottom: -1em;
    opacity: 0;
  }
}

.style-bubble > .btn:hover:before {
  -webkit-animation: button-bubble 0.7s 1;
  -moz-animation: button-bubble 0.7s 1;
  animation: button-bubble 0.7s 1;
}

.style-line-drawing:before {
  content: "( color :  #2B8ACF , style :  line-drawing  )";
}

.style-line-drawing > .btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.style-line-drawing > .btn span {
  position: absolute;
  display: block;
  box-sizing: border-box;
  background: #2B8ACF;
  transition: width 0.3s ease, height 0.3s ease;
}

.style-line-drawing > .btn span:nth-child(1) {
  left: 0px;
  top: 0px;
}

.style-line-drawing > .btn span:nth-child(2) {
  right: 0px;
  bottom: 0px;
}

.style-line-drawing > .btn span:nth-child(3) {
  top: 0px;
  right: 0px;
}

.style-line-drawing > .btn span:nth-child(4) {
  left: 0px;
  bottom: 0px;
}

.style-line-drawing > .btn span:nth-child(1), .style-line-drawing > .btn span:nth-child(2) {
  width: 0px;
  height: 1px;
}

.style-line-drawing > .btn span:nth-child(3), .style-line-drawing > .btn span:nth-child(4) {
  width: 1px;
  height: 0px;
}

.style-line-drawing > .btn:hover span:nth-child(1), .style-line-drawing > .btn:hover span:nth-child(2) {
  width: 100%;
}

.style-line-drawing > .btn:hover span:nth-child(3), .style-line-drawing > .btn:hover span:nth-child(4) {
  height: 100%;
}

.style-shake:before {
  content: "( color :  #2B8ACF , style :  shake  )";
}

.style-shake > .btn {
  background: #2B8ACF;
  color: #fff;
}

.style-shake > .btn:hover {
  -webkit-animation: button-shake 0.3s 1;
  -moz-animation: button-shake 0.3s 1;
  animation: button-shake 0.3s 1;
}

@-webkit-keyframes button-shake {
  0%, 100% {
    transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    transform: translateX(0.6em);
  }
}

@-moz-keyframes button-shake {
  0%, 100% {
    transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    transform: translateX(0.6em);
  }
}

@keyframes button-shake {
  0%, 100% {
    transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    transform: translateX(0.6em);
  }
}

.example-button {
  text-align: center;
}

.demo-container {
  display: inline-block;
  width: 300px;
  margin: 0 50px 50px 0;
  vertical-align: top;
}

.demo-container:before {
  font-size: 13px;
  opacity: 0.66;
  margin-bottom: 7px;
}

.demo-container.style-bubble {
  overflow: visible;
}

.btn {
  display: inline-block;
  min-width: 10em;
  height: 2.8em;
  line-height: 2.8em;
  border-radius: 3px;
  font-size: 16px;
}
