/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

@media screen and (max-width: 74em) {
  .container {
    margin: 0 2em;
  }
}

.back-to-home {
  position: sticky;
  bottom: 0;
  z-index: 100;
  margin-top: 100px;
}

.back-to-home a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #222;
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 10em;
}

.cell:before {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 100;
  color: white;
  display: block;
  text-align: center;
  line-height: 2.5;
}

.autoheight:nth-child(2n) > .cell {
  height: 11em;
}

.autoheight:nth-child(3n+1) > .cell {
  height: 12em;
}

.order:nth-child(1) > .cell:before {
  content: "1";
}

.order:nth-child(2) > .cell:before {
  content: "2";
}

.order:nth-child(3) > .cell:before {
  content: "3";
}

.order:nth-child(4) > .cell:before {
  content: "4";
}

.order:nth-child(5) > .cell:before {
  content: "5";
}

.order:nth-child(6) > .cell:before {
  content: "6";
}

.order:nth-child(7) > .cell:before {
  content: "7";
}

.order:nth-child(8) > .cell:before {
  content: "8";
}

.order:nth-child(9) > .cell:before {
  content: "9";
}

.order:nth-child(10) > .cell:before {
  content: "10";
}

.title {
  margin-bottom: 1em;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .main-heading:before, .main-heading:after {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 15px;
  }
  .main-heading:before {
    content: url("../images/title-prev.png");
  }
  .main-heading:after {
    content: url("../images/title-next.png");
  }
  .topic > section {
    margin: 0 0 5em;
  }
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer;
}

.example-content:hover {
  opacity: 0.9;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.demo-container {
  height: 0;
  overflow: hidden;
}

.demo-container:before {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.chart {
  margin: 50px 0;
}

.chart-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.chart-wrap h4 {
  font-size: 24px;
  margin-left: 4em;
}

.chart li span {
  font-size: 14px;
}

.chart1 {
  position: relative;
  margin-left: 6em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.chart1 li {
  position: relative;
}

.chart1 li strong {
  position: absolute;
}

.chart1 li > span {
  display: block;
  color: #fff;
  box-sizing: border-box;
  width: 0;
  padding: 0;
  transition: width 1s ease, padding 1s ease;
}

.chart1 li > span:nth-of-type(1) {
  background: #FF6666;
}

.chart1.active .item-1 > span:nth-of-type(1) {
  width: 40.4545455%;
}

.chart1.active .item-1 > span:nth-of-type(1):before {
  content: "8.9";
}

.chart1.active .item-2 > span:nth-of-type(1) {
  width: 47.7272727%;
}

.chart1.active .item-2 > span:nth-of-type(1):before {
  content: "10.5";
}

.chart1.active .item-3 > span:nth-of-type(1) {
  width: 87.7272727%;
}

.chart1.active .item-3 > span:nth-of-type(1):before {
  content: "19.3";
}

.chart1.active .item-4 > span:nth-of-type(1) {
  width: 97.5%;
}

.chart1.active .item-4 > span:nth-of-type(1):before {
  content: "21.45";
}

.chart1 .ticks {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.chart1 .ticks > div {
  position: absolute;
  width: 0;
  height: 100%;
  font-size: 0.7em;
  color: #9b9a9a;
  border-right: 1px solid #e7e7e7;
}

.chart1 .ticks span {
  display: block;
  width: 3em;
}

.chart1 .tick-1 {
  left: 0%;
}

.chart1 .tick-1 span:before {
  content: "0";
}

.chart1 .tick-2 {
  left: 9.0909091%;
}

.chart1 .tick-2 span:before {
  content: "2";
}

.chart1 .tick-3 {
  left: 18.1818182%;
}

.chart1 .tick-3 span:before {
  content: "4";
}

.chart1 .tick-4 {
  left: 27.2727273%;
}

.chart1 .tick-4 span:before {
  content: "6";
}

.chart1 .tick-5 {
  left: 36.3636364%;
}

.chart1 .tick-5 span:before {
  content: "8";
}

.chart1 .tick-6 {
  left: 45.4545455%;
}

.chart1 .tick-6 span:before {
  content: "10";
}

.chart1 .tick-7 {
  left: 54.5454545%;
}

.chart1 .tick-7 span:before {
  content: "12";
}

.chart1 .tick-8 {
  left: 63.6363636%;
}

.chart1 .tick-8 span:before {
  content: "14";
}

.chart1 .tick-9 {
  left: 72.7272727%;
}

.chart1 .tick-9 span:before {
  content: "16";
}

.chart1 .tick-10 {
  left: 81.8181818%;
}

.chart1 .tick-10 span:before {
  content: "18";
}

.chart1 .tick-11 {
  left: 90.9090909%;
}

.chart1 .tick-11 span:before {
  content: "20";
}

.chart1 .tick-12 {
  left: 100%;
}

.chart1 .tick-12 span:before {
  content: "22";
}

.chart1 .labels {
  position: absolute;
}

.chart1 .labels div {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 0.8em;
  text-transform: capitalize;
}

.chart1 .labels div:before {
  content: '';
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  display: inline-block;
  vertical-align: middle;
}

.chart1 .label-1:before {
  background: #FF6666;
}

.chart1 li {
  padding: 10px 0;
}

.chart1 li > strong {
  top: 0;
  width: 5em;
  left: -6em;
  line-height: 40px;
  text-align: right;
  margin: 10px 0;
}

.chart1 li > span {
  height: 40px;
  line-height: 40px;
  text-align: right;
}

.chart1.active li > span {
  padding-right: 0.8em;
}

.chart1 .ticks:after {
  clear: both;
  content: "";
  display: table;
}

.chart1 .ticks > div {
  text-align: right;
}

.chart1 .ticks span {
  margin-top: -1.2em;
  margin-left: -1.5em;
  text-align: center;
}

.chart1 .labels {
  margin-top: 0.5em;
}

.chart2 {
  position: relative;
  margin-left: 2em;
  margin-top: 2em;
}

.chart2 li {
  position: relative;
}

.chart2 li strong {
  position: absolute;
}

.chart2 li > span {
  display: block;
  color: #fff;
  box-sizing: border-box;
  height: 0;
  padding: 0;
  transition: height 1s ease, padding 1s ease;
}

.chart2 li > span:nth-of-type(1) {
  background: #0080FF;
}

.chart2 li > span:nth-of-type(2) {
  background: #FF8000;
}

.chart2 li > span:nth-of-type(3) {
  background: #666666;
}

.chart2.active .item-1 > span:nth-of-type(1) {
  height: 37.0833333%;
}

.chart2.active .item-1 > span:nth-of-type(1):before {
  content: "8.9";
}

.chart2.active .item-1 > span:nth-of-type(2) {
  height: 20.8333333%;
}

.chart2.active .item-1 > span:nth-of-type(2):before {
  content: "5";
}

.chart2.active .item-1 > span:nth-of-type(3) {
  height: 44.5833333%;
}

.chart2.active .item-1 > span:nth-of-type(3):before {
  content: "10.7";
}

.chart2.active .item-2 > span:nth-of-type(1) {
  height: 43.75%;
}

.chart2.active .item-2 > span:nth-of-type(1):before {
  content: "10.5";
}

.chart2.active .item-2 > span:nth-of-type(2) {
  height: 41.6666667%;
}

.chart2.active .item-2 > span:nth-of-type(2):before {
  content: "10";
}

.chart2.active .item-2 > span:nth-of-type(3) {
  height: 50%;
}

.chart2.active .item-2 > span:nth-of-type(3):before {
  content: "12";
}

.chart2.active .item-3 > span:nth-of-type(1) {
  height: 80.4166667%;
}

.chart2.active .item-3 > span:nth-of-type(1):before {
  content: "19.3";
}

.chart2.active .item-3 > span:nth-of-type(2) {
  height: 66.6666667%;
}

.chart2.active .item-3 > span:nth-of-type(2):before {
  content: "16";
}

.chart2.active .item-3 > span:nth-of-type(3) {
  height: 50%;
}

.chart2.active .item-3 > span:nth-of-type(3):before {
  content: "12";
}

.chart2.active .item-4 > span:nth-of-type(1) {
  height: 89.375%;
}

.chart2.active .item-4 > span:nth-of-type(1):before {
  content: "21.45";
}

.chart2.active .item-4 > span:nth-of-type(2) {
  height: 91.6666667%;
}

.chart2.active .item-4 > span:nth-of-type(2):before {
  content: "22";
}

.chart2.active .item-4 > span:nth-of-type(3) {
  height: 75%;
}

.chart2.active .item-4 > span:nth-of-type(3):before {
  content: "18";
}

.chart2 .ticks {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.chart2 .ticks > div {
  position: absolute;
  height: 0;
  width: 100%;
  font-size: 0.7em;
  color: #9b9a9a;
  border-top: 1px solid #e7e7e7;
}

.chart2 .ticks span {
  display: block;
  width: 3em;
}

.chart2 .tick-1 {
  bottom: 0%;
}

.chart2 .tick-1 span:before {
  content: "0";
}

.chart2 .tick-2 {
  bottom: 8.3333333%;
}

.chart2 .tick-2 span:before {
  content: "2";
}

.chart2 .tick-3 {
  bottom: 16.6666667%;
}

.chart2 .tick-3 span:before {
  content: "4";
}

.chart2 .tick-4 {
  bottom: 25%;
}

.chart2 .tick-4 span:before {
  content: "6";
}

.chart2 .tick-5 {
  bottom: 33.3333333%;
}

.chart2 .tick-5 span:before {
  content: "8";
}

.chart2 .tick-6 {
  bottom: 41.6666667%;
}

.chart2 .tick-6 span:before {
  content: "10";
}

.chart2 .tick-7 {
  bottom: 50%;
}

.chart2 .tick-7 span:before {
  content: "12";
}

.chart2 .tick-8 {
  bottom: 58.3333333%;
}

.chart2 .tick-8 span:before {
  content: "14";
}

.chart2 .tick-9 {
  bottom: 66.6666667%;
}

.chart2 .tick-9 span:before {
  content: "16";
}

.chart2 .tick-10 {
  bottom: 75%;
}

.chart2 .tick-10 span:before {
  content: "18";
}

.chart2 .tick-11 {
  bottom: 83.3333333%;
}

.chart2 .tick-11 span:before {
  content: "20";
}

.chart2 .tick-12 {
  bottom: 91.6666667%;
}

.chart2 .tick-12 span:before {
  content: "22";
}

.chart2 .tick-13 {
  bottom: 100%;
}

.chart2 .tick-13 span:before {
  content: "24";
}

.chart2 .labels {
  position: absolute;
}

.chart2 .labels div {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 0.8em;
  text-transform: capitalize;
}

.chart2 .labels div:before {
  content: '';
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  display: inline-block;
  vertical-align: middle;
}

.chart2 .label-1:before {
  background: #0080FF;
}

.chart2 .label-2:before {
  background: #FF8000;
}

.chart2 .label-3:before {
  background: #666666;
}

.chart2:after {
  clear: both;
  content: "";
  display: table;
}

.chart2 li {
  float: left;
  padding-top: 60%;
  width: 25%;
}

.chart2 li > strong {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: -2em;
}

.chart2 li > span {
  position: absolute;
  bottom: 0;
  width: 26.6666667%;
  text-align: center;
}

.chart2 li > span:nth-of-type(1) {
  left: 10%;
}

.chart2 li > span:nth-of-type(2) {
  left: 36.6666667%;
}

.chart2 li > span:nth-of-type(3) {
  left: 63.3333333%;
}

.chart2.active li > span {
  padding-top: 0.8em;
}

.chart2 .ticks span {
  margin-top: -0.5em;
  margin-left: -3.5em;
  text-align: right;
}

.chart2 .labels {
  right: 0;
  top: -1.5em;
}

.chart2 .labels > div:last-child {
  margin-right: 0;
}
