/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

.back-to-home {
  position: sticky;
  bottom: 0;
  z-index: 100;
  margin-top: 100px;
}

.back-to-home a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #222;
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 10em;
}

.cell:before {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 100;
  color: white;
  display: block;
  text-align: center;
  line-height: 2.5;
}

.autoheight:nth-child(2n) > .cell {
  height: 11em;
}

.autoheight:nth-child(3n+1) > .cell {
  height: 12em;
}

.order:nth-child(1) > .cell:before {
  content: "1";
}

.order:nth-child(2) > .cell:before {
  content: "2";
}

.order:nth-child(3) > .cell:before {
  content: "3";
}

.order:nth-child(4) > .cell:before {
  content: "4";
}

.order:nth-child(5) > .cell:before {
  content: "5";
}

.order:nth-child(6) > .cell:before {
  content: "6";
}

.order:nth-child(7) > .cell:before {
  content: "7";
}

.order:nth-child(8) > .cell:before {
  content: "8";
}

.order:nth-child(9) > .cell:before {
  content: "9";
}

.order:nth-child(10) > .cell:before {
  content: "10";
}

.title {
  margin-bottom: 1em;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer;
}

.example-content:hover {
  opacity: 0.9;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.demo-container {
  height: 0;
  overflow: hidden;
}

.demo-container:before {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

[class*='grid-'] .cell {
  margin-bottom: 20px;
}

.grid-list > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-list > div > div {
  position: relative;
  left: 0;
  float: left;
  margin-right: 20px;
}

.grid-list > div > div:nth-child(1) {
  width: -webkit-calc(75% - 5px);
  width: -moz-calc(75% - 5px);
  width: calc(75% - 5px);
}

.grid-list > div > div:nth-child(2) {
  width: -webkit-calc(25% - 15px);
  width: -moz-calc(25% - 15px);
  width: calc(25% - 15px);
  margin-right: 0;
}

.grid-child > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-child > div > .child {
  position: relative;
  left: 0;
  float: left;
  margin-right: 20px;
}

.grid-child > div > .child:nth-child(1) {
  width: -webkit-calc(42.8571429% - 11.4285714px);
  width: -moz-calc(42.8571429% - 11.4285714px);
  width: calc(42.8571429% - 11.4285714px);
}

.grid-child > div > .child:nth-child(2) {
  width: -webkit-calc(57.1428571% - 8.5714286px);
  width: -moz-calc(57.1428571% - 8.5714286px);
  width: calc(57.1428571% - 8.5714286px);
  margin-right: 0;
}

.grid-gutter1 > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-gutter1 > div > div {
  position: relative;
  left: 0;
  float: left;
  margin-right: 5%;
}

.grid-gutter1 > div > div:nth-child(1) {
  width: 40%;
  left: 60%;
}

.grid-gutter1 > div > div:nth-child(2) {
  width: 55%;
  left: -45%;
  margin-right: 0;
}

.grid-gutter2 > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-gutter2 > div > div {
  position: relative;
  left: 0;
  float: left;
  margin-right: 5rem;
}

.grid-gutter2 > div > div:nth-child(1) {
  width: -webkit-calc(42.8571429% - 2.8571429rem);
  width: -moz-calc(42.8571429% - 2.8571429rem);
  width: calc(42.8571429% - 2.8571429rem);
}

.grid-gutter2 > div > div:nth-child(2) {
  width: -webkit-calc(57.1428571% - 2.1428571rem);
  width: -moz-calc(57.1428571% - 2.1428571rem);
  width: calc(57.1428571% - 2.1428571rem);
  margin-right: 0;
}

.grid-list-direction > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-list-direction > div > div {
  position: relative;
  left: 0;
  float: right;
  margin-left: 20px;
}

.grid-list-direction > div > div:nth-child(1) {
  width: -webkit-calc(42.8571429% - 11.4285714px);
  width: -moz-calc(42.8571429% - 11.4285714px);
  width: calc(42.8571429% - 11.4285714px);
}

.grid-list-direction > div > div:nth-child(2) {
  width: -webkit-calc(57.1428571% - 8.5714286px);
  width: -moz-calc(57.1428571% - 8.5714286px);
  width: calc(57.1428571% - 8.5714286px);
  margin-left: 0;
}

.grid-nested-list > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-nested-list > div > div {
  position: relative;
  left: 0;
  float: left;
  margin-right: 20px;
}

.grid-nested-list > div > div:nth-child(1) {
  width: -webkit-calc(42.8571429% - 11.4285714px);
  width: -moz-calc(42.8571429% - 11.4285714px);
  width: calc(42.8571429% - 11.4285714px);
}

.grid-nested-list > div > div:nth-child(2) {
  width: -webkit-calc(57.1428571% - 8.5714286px);
  width: -moz-calc(57.1428571% - 8.5714286px);
  width: calc(57.1428571% - 8.5714286px);
  margin-right: 0;
}

.grid-nested-list > div > div:nth-child(3) {
  clear: both;
  width: -webkit-calc(100% - 0px);
  width: -moz-calc(100% - 0px);
  width: calc(100% - 0px);
  margin-right: 0;
}

.grid-map > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-map > div > div {
  position: relative;
  left: 0;
  float: left;
  margin-right: 20px;
}

.grid-map > div > div:nth-child(1) {
  width: -webkit-calc(21.4285714% - 15.7142857px);
  width: -moz-calc(21.4285714% - 15.7142857px);
  width: calc(21.4285714% - 15.7142857px);
}

.grid-map > div > div:nth-child(2) {
  width: -webkit-calc(28.5714286% - 14.2857143px);
  width: -moz-calc(28.5714286% - 14.2857143px);
  width: calc(28.5714286% - 14.2857143px);
  left: -webkit-calc(50% + 10px);
  left: -moz-calc(50% + 10px);
  left: calc(50% + 10px);
}

.grid-map > div > div:nth-child(3) {
  width: -webkit-calc(50% - 10px);
  width: -moz-calc(50% - 10px);
  width: calc(50% - 10px);
  left: -webkit-calc(-28.5714286% + -5.7142857px);
  left: -moz-calc(-28.5714286% + -5.7142857px);
  left: calc(-28.5714286% + -5.7142857px);
  margin-right: 0;
}

.grid-map > div > div:nth-child(4) {
  clear: both;
  width: -webkit-calc(100% - 0px);
  width: -moz-calc(100% - 0px);
  width: calc(100% - 0px);
  margin-right: 0;
}

@media (min-width: 37.5em) {
  .grid-breakpoint > div:after {
    clear: both;
    content: "";
    display: table;
  }
  .grid-breakpoint > div > div {
    position: relative;
    left: 0;
    float: left;
    margin-right: 20px;
  }
}

@media (min-width: 37.5em) {
  .grid-breakpoint > div > div:nth-child(1) {
    width: -webkit-calc(41.6666667% - 11.6666667px);
    width: -moz-calc(41.6666667% - 11.6666667px);
    width: calc(41.6666667% - 11.6666667px);
  }
  .grid-breakpoint > div > div:nth-child(2) {
    width: -webkit-calc(58.3333333% - 8.3333333px);
    width: -moz-calc(58.3333333% - 8.3333333px);
    width: calc(58.3333333% - 8.3333333px);
    margin-right: 0;
  }
}

@media screen and (min-width: 600px) {
  .grid-breakpoint-outside > div:after {
    clear: both;
    content: "";
    display: table;
  }
  .grid-breakpoint-outside > div > div {
    position: relative;
    left: 0;
    float: left;
    margin-right: 20px;
  }
  .grid-breakpoint-outside > div > div:nth-child(1) {
    width: -webkit-calc(41.6666667% - 11.6666667px);
    width: -moz-calc(41.6666667% - 11.6666667px);
    width: calc(41.6666667% - 11.6666667px);
  }
  .grid-breakpoint-outside > div > div:nth-child(2) {
    width: -webkit-calc(58.3333333% - 8.3333333px);
    width: -moz-calc(58.3333333% - 8.3333333px);
    width: calc(58.3333333% - 8.3333333px);
    margin-right: 0;
  }
}

@media (min-width: 37.5em) {
  .grid-global-breakpoints > div:after {
    clear: both;
    content: "";
    display: table;
  }
  .grid-global-breakpoints > div > div {
    position: relative;
    left: 0;
    float: left;
    margin-right: 20px;
  }
}

@media (min-width: 37.5em) and (max-width: 56.1875em) {
  .grid-global-breakpoints > div > div:nth-child(1) {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
  }
  .grid-global-breakpoints > div > div:nth-child(2) {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }
}

@media (min-width: 56.25em) and (max-width: 74.9375em) {
  .grid-global-breakpoints > div > div:nth-child(1) {
    width: -webkit-calc(66.6666667% - 6.6666667px);
    width: -moz-calc(66.6666667% - 6.6666667px);
    width: calc(66.6666667% - 6.6666667px);
  }
  .grid-global-breakpoints > div > div:nth-child(2) {
    width: -webkit-calc(33.3333333% - 13.3333333px);
    width: -moz-calc(33.3333333% - 13.3333333px);
    width: calc(33.3333333% - 13.3333333px);
    margin-right: 0;
  }
}

@media (min-width: 75em) {
  .grid-global-breakpoints > div > div:nth-child(1) {
    width: -webkit-calc(37.5% - 12.5px);
    width: -moz-calc(37.5% - 12.5px);
    width: calc(37.5% - 12.5px);
  }
  .grid-global-breakpoints > div > div:nth-child(2) {
    width: -webkit-calc(62.5% - 7.5px);
    width: -moz-calc(62.5% - 7.5px);
    width: calc(62.5% - 7.5px);
    margin-right: 0;
  }
}

@media (max-width: 56.1875em) {
  .grid-breakpoint-max > div:after {
    clear: both;
    content: "";
    display: table;
  }
  .grid-breakpoint-max > div > div {
    position: relative;
    left: 0;
    float: left;
    margin-right: 20px;
  }
}

@media (min-width: 37.5em) and (max-width: 56.1875em) {
  .grid-breakpoint-max > div > div:nth-child(1) {
    width: -webkit-calc(66.6666667% - 6.6666667px);
    width: -moz-calc(66.6666667% - 6.6666667px);
    width: calc(66.6666667% - 6.6666667px);
  }
  .grid-breakpoint-max > div > div:nth-child(2) {
    width: -webkit-calc(33.3333333% - 13.3333333px);
    width: -moz-calc(33.3333333% - 13.3333333px);
    width: calc(33.3333333% - 13.3333333px);
    margin-right: 0;
  }
}

@media (max-width: 37.4375em) {
  .grid-breakpoint-max > div > div:nth-child(1) {
    width: -webkit-calc(37.5% - 12.5px);
    width: -moz-calc(37.5% - 12.5px);
    width: calc(37.5% - 12.5px);
  }
  .grid-breakpoint-max > div > div:nth-child(2) {
    width: -webkit-calc(62.5% - 7.5px);
    width: -moz-calc(62.5% - 7.5px);
    width: calc(62.5% - 7.5px);
    margin-right: 0;
  }
}

@media (min-width: 37.5em) {
  .grid-breakpoint-nested-list > div:after {
    clear: both;
    content: "";
    display: table;
  }
  .grid-breakpoint-nested-list > div > div {
    position: relative;
    left: 0;
    float: left;
    margin-right: 20px;
  }
}

@media (min-width: 37.5em) {
  .grid-breakpoint-nested-list > div > div:nth-child(1) {
    width: -webkit-calc(42.8571429% - 11.4285714px);
    width: -moz-calc(42.8571429% - 11.4285714px);
    width: calc(42.8571429% - 11.4285714px);
  }
  .grid-breakpoint-nested-list > div > div:nth-child(2) {
    width: -webkit-calc(57.1428571% - 8.5714286px);
    width: -moz-calc(57.1428571% - 8.5714286px);
    width: calc(57.1428571% - 8.5714286px);
    margin-right: 0;
  }
  .grid-breakpoint-nested-list > div > div:nth-child(3) {
    clear: both;
    width: -webkit-calc(28.5714286% - 14.2857143px);
    width: -moz-calc(28.5714286% - 14.2857143px);
    width: calc(28.5714286% - 14.2857143px);
  }
  .grid-breakpoint-nested-list > div > div:nth-child(4) {
    width: -webkit-calc(71.4285714% - 5.7142857px);
    width: -moz-calc(71.4285714% - 5.7142857px);
    width: calc(71.4285714% - 5.7142857px);
    margin-right: 0;
  }
  .grid-breakpoint-nested-list > div > div:nth-child(5) {
    clear: both;
    width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);
    width: calc(100% - 0px);
    margin-right: 0;
  }
}

@media (min-width: 37.5em) {
  .grid-breakpoint-map > div:after {
    clear: both;
    content: "";
    display: table;
  }
  .grid-breakpoint-map > div > div {
    position: relative;
    left: 0;
    float: left;
    margin-right: 20px;
  }
}

@media (min-width: 37.5em) {
  .grid-breakpoint-map > div > div:nth-child(1) {
    width: -webkit-calc(42.8571429% - 11.4285714px);
    width: -moz-calc(42.8571429% - 11.4285714px);
    width: calc(42.8571429% - 11.4285714px);
    left: -webkit-calc(57.1428571% + 11.4285714px);
    left: -moz-calc(57.1428571% + 11.4285714px);
    left: calc(57.1428571% + 11.4285714px);
  }
  .grid-breakpoint-map > div > div:nth-child(2) {
    width: -webkit-calc(57.1428571% - 8.5714286px);
    width: -moz-calc(57.1428571% - 8.5714286px);
    width: calc(57.1428571% - 8.5714286px);
    left: -webkit-calc(-42.8571429% + -8.5714286px);
    left: -moz-calc(-42.8571429% + -8.5714286px);
    left: calc(-42.8571429% + -8.5714286px);
    margin-right: 0;
  }
  .grid-breakpoint-map > div > div:nth-child(3) {
    clear: both;
    width: -webkit-calc(28.5714286% - 14.2857143px);
    width: -moz-calc(28.5714286% - 14.2857143px);
    width: calc(28.5714286% - 14.2857143px);
  }
  .grid-breakpoint-map > div > div:nth-child(4) {
    width: -webkit-calc(71.4285714% - 5.7142857px);
    width: -moz-calc(71.4285714% - 5.7142857px);
    width: calc(71.4285714% - 5.7142857px);
    margin-right: 0;
  }
  .grid-breakpoint-map > div > div:nth-child(5) {
    clear: both;
    width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);
    width: calc(100% - 0px);
    margin-right: 0;
  }
}

.grid-breakpoint-default > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-breakpoint-default > div > div {
  position: relative;
  left: 0;
  float: left;
  margin-right: 20px;
}

@media (min-width: 0em) and (max-width: 56.1875em) {
  .grid-breakpoint-default > div > div:nth-child(1) {
    width: -webkit-calc(42.8571429% - 11.4285714px);
    width: -moz-calc(42.8571429% - 11.4285714px);
    width: calc(42.8571429% - 11.4285714px);
  }
  .grid-breakpoint-default > div > div:nth-child(2) {
    width: -webkit-calc(57.1428571% - 8.5714286px);
    width: -moz-calc(57.1428571% - 8.5714286px);
    width: calc(57.1428571% - 8.5714286px);
    margin-right: 0;
  }
}

@media (min-width: 56.25em) {
  .grid-breakpoint-default > div > div:nth-child(1) {
    width: -webkit-calc(22.2222222% - 15.5555556px);
    width: -moz-calc(22.2222222% - 15.5555556px);
    width: calc(22.2222222% - 15.5555556px);
  }
  .grid-breakpoint-default > div > div:nth-child(2) {
    width: -webkit-calc(77.7777778% - 4.4444444px);
    width: -moz-calc(77.7777778% - 4.4444444px);
    width: calc(77.7777778% - 4.4444444px);
    margin-right: 0;
  }
}

.grid-breakpoint-complex-list > div:after {
  clear: both;
  content: "";
  display: table;
}

.grid-breakpoint-complex-list > div > div {
  position: relative;
  left: 0;
  float: left;
  margin-right: 20px;
}

@media (min-width: 0em) and (max-width: 37.4375em) {
  .grid-breakpoint-complex-list > div > div:nth-child(1) {
    width: -webkit-calc(42.8571429% - 11.4285714px);
    width: -moz-calc(42.8571429% - 11.4285714px);
    width: calc(42.8571429% - 11.4285714px);
  }
  .grid-breakpoint-complex-list > div > div:nth-child(2) {
    width: -webkit-calc(57.1428571% - 8.5714286px);
    width: -moz-calc(57.1428571% - 8.5714286px);
    width: calc(57.1428571% - 8.5714286px);
    margin-right: 0;
  }
  .grid-breakpoint-complex-list > div > div:nth-child(3) {
    clear: both;
    width: -webkit-calc(28.5714286% - 14.2857143px);
    width: -moz-calc(28.5714286% - 14.2857143px);
    width: calc(28.5714286% - 14.2857143px);
  }
  .grid-breakpoint-complex-list > div > div:nth-child(4) {
    width: -webkit-calc(71.4285714% - 5.7142857px);
    width: -moz-calc(71.4285714% - 5.7142857px);
    width: calc(71.4285714% - 5.7142857px);
    margin-right: 0;
  }
  .grid-breakpoint-complex-list > div > div:nth-child(5) {
    clear: both;
    width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);
    width: calc(100% - 0px);
    margin-right: 0;
  }
}

@media (min-width: 37.5em) and (max-width: 56.1875em) {
  .grid-breakpoint-complex-list > div > div:nth-child(1) {
    width: -webkit-calc(33.3333333% - 13.3333333px);
    width: -moz-calc(33.3333333% - 13.3333333px);
    width: calc(33.3333333% - 13.3333333px);
  }
  .grid-breakpoint-complex-list > div > div:nth-child(2) {
    width: -webkit-calc(44.4444444% - 11.1111111px);
    width: -moz-calc(44.4444444% - 11.1111111px);
    width: calc(44.4444444% - 11.1111111px);
  }
  .grid-breakpoint-complex-list > div > div:nth-child(3) {
    width: -webkit-calc(22.2222222% - 15.5555556px);
    width: -moz-calc(22.2222222% - 15.5555556px);
    width: calc(22.2222222% - 15.5555556px);
    margin-right: 0;
  }
  .grid-breakpoint-complex-list > div > div:nth-child(4) {
    clear: both;
    width: -webkit-calc(62.5% - 7.5px);
    width: -moz-calc(62.5% - 7.5px);
    width: calc(62.5% - 7.5px);
  }
  .grid-breakpoint-complex-list > div > div:nth-child(5) {
    width: -webkit-calc(37.5% - 12.5px);
    width: -moz-calc(37.5% - 12.5px);
    width: calc(37.5% - 12.5px);
    margin-right: 0;
  }
}

@media (min-width: 56.25em) {
  .grid-breakpoint-complex-list > div > div:nth-child(1) {
    width: -webkit-calc(71.4285714% - 5.7142857px);
    width: -moz-calc(71.4285714% - 5.7142857px);
    width: calc(71.4285714% - 5.7142857px);
    left: -webkit-calc(28.5714286% + 5.7142857px);
    left: -moz-calc(28.5714286% + 5.7142857px);
    left: calc(28.5714286% + 5.7142857px);
  }
  .grid-breakpoint-complex-list > div > div:nth-child(2) {
    width: -webkit-calc(28.5714286% - 14.2857143px);
    width: -moz-calc(28.5714286% - 14.2857143px);
    width: calc(28.5714286% - 14.2857143px);
    left: -webkit-calc(-71.4285714% + -14.2857143px);
    left: -moz-calc(-71.4285714% + -14.2857143px);
    left: calc(-71.4285714% + -14.2857143px);
    margin-right: 0;
  }
  .grid-breakpoint-complex-list > div > div:nth-child(3) {
    clear: both;
    width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);
    width: calc(100% - 0px);
    margin-right: 0;
  }
  .grid-breakpoint-complex-list > div > div:nth-child(4) {
    clear: both;
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    left: -webkit-calc(50% + 10px);
    left: -moz-calc(50% + 10px);
    left: calc(50% + 10px);
  }
  .grid-breakpoint-complex-list > div > div:nth-child(5) {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    left: -webkit-calc(-50% + -10px);
    left: -moz-calc(-50% + -10px);
    left: calc(-50% + -10px);
    margin-right: 0;
  }
}
