html, body {
  min-width: 320px;
}

body,
figure,
dl,
dt,
dd,
ul,
ol,
li {
  margin: 0;
}

dl,
ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

figure img,
a > img {
  vertical-align: bottom;
}

@media \0screen {
  img {
    width: auto;
  }
}

label {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

button,
input,
select {
  line-height: normal !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button {
  border: none;
}

pre[class*="language-"] {
  margin: 0 0 100px;
  border-radius: 0;
}
