/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

.back-to-home {
  position: sticky;
  bottom: 0;
  z-index: 100;
  margin-top: 100px;
}

.back-to-home a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #222;
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 10em;
}

.cell:before {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 100;
  color: white;
  display: block;
  text-align: center;
  line-height: 2.5;
}

.autoheight:nth-child(2n) > .cell {
  height: 11em;
}

.autoheight:nth-child(3n+1) > .cell {
  height: 12em;
}

.order:nth-child(1) > .cell:before {
  content: "1";
}

.order:nth-child(2) > .cell:before {
  content: "2";
}

.order:nth-child(3) > .cell:before {
  content: "3";
}

.order:nth-child(4) > .cell:before {
  content: "4";
}

.order:nth-child(5) > .cell:before {
  content: "5";
}

.order:nth-child(6) > .cell:before {
  content: "6";
}

.order:nth-child(7) > .cell:before {
  content: "7";
}

.order:nth-child(8) > .cell:before {
  content: "8";
}

.order:nth-child(9) > .cell:before {
  content: "9";
}

.order:nth-child(10) > .cell:before {
  content: "10";
}

.title {
  margin-bottom: 1em;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer;
}

.example-content:hover {
  opacity: 0.9;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.demo-container {
  height: 0;
  overflow: hidden;
}

.demo-container:before {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

table {
  text-align: left;
  width: 100%;
  font-size: 13px;
  border: 1px solid #dbdbdb;
  border-width: 1px 0 0 1px;
}

th, td {
  padding: 10px 6px;
  border: 1px solid #dbdbdb;
  border-width: 0 1px 1px 0;
}

th {
  background-color: #f5f5f5;
}

@media (max-width: 56.1875em) {
  .flip-scroll {
    position: relative;
    width: 100%;
    border-right-width: 1px;
  }
  .flip-scroll,
  .flip-scroll thead,
  .flip-scroll thead tr,
  .flip-scroll tbody,
  .flip-scroll th,
  .flip-scroll td {
    display: block;
  }
  .flip-scroll > thead {
    float: left;
  }
  .flip-scroll > tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    letter-spacing: -0.34em;
  }
  .flip-scroll > tbody > tr {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
  }
  .lt-ie10 .flip-scroll > thead {
    float: none;
  }
  .lt-ie10 .flip-scroll > tbody {
    white-space: normal;
  }
  .flip-scroll > tbody > tr:last-child > td {
    border-right-width: 0;
  }
  .lt-ie10 .flip-scroll {
    border-right-width: 0;
  }
  .lt-ie10 .flip-scroll > tbody > tr:last-child > td {
    border-right-width: 1px;
  }
}

@media (max-width: 56.1875em) {
  .scroll {
    position: relative;
  }
  .scroll > .pinned {
    position: absolute;
    width: auto;
    background-color: #fff;
  }
  .scroll > .pinned th:nth-child(n+2), .scroll > .pinned td:nth-child(n+2) {
    display: none;
  }
  .scroll > .scrollable {
    display: block;
    overflow-x: auto;
  }
  .scroll > .scrollable th, .scroll > .scrollable td {
    white-space: nowrap;
  }
  .lt-ie10 .scroll > .pinned {
    display: none;
  }
  .lt-ie10 .scroll > .scrollable {
    display: table;
  }
  .lt-ie10 .scroll > .scrollable th, .lt-ie10 .scroll > .scrollable td {
    white-space: normal;
  }
  .scroll .scrollable {
    border-right-width: 1px;
  }
  .scroll .scrollable th:last-child, .scroll .scrollable td:last-child {
    border-right-width: 0;
  }
  .lt-ie10 .scroll .scrollable {
    border-right-width: 0;
  }
  .lt-ie10 .scroll .scrollable th:last-child, .lt-ie10 .scroll .scrollable td:last-child {
    border-right-width: 1px;
  }
}

.toggle {
  overflow-x: auto;
}

.toggle input {
  position: absolute;
  left: -9999px;
}

.toggle label {
  font-size: 14px;
}

.toggle .control-panel {
  position: absolute;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: #fff;
  display: none;
}

.toggle .control-panel label {
  display: block;
  padding: 0.5em 1.2em;
  transition: background 0.3s;
}

.toggle .control-panel label:hover {
  background-color: #f2f2f2;
}

@media (min-width: 56.25em) {
  .toggle input ~ label {
    display: none;
  }
}

@media (max-width: 56.1875em) {
  .toggle table {
    margin-top: 0.5em;
  }
  .toggle th, .toggle td {
    display: none;
  }
  .toggle #control-panel:checked ~ .control-panel {
    display: block;
  }
  .toggle input:nth-of-type(1):checked ~ .control-panel label:nth-of-type(1) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(1):checked ~ table th:nth-of-type(1),
  .toggle input:nth-of-type(1):checked ~ table td:nth-of-type(1) {
    display: table-cell;
  }
  .toggle input:nth-of-type(2):checked ~ .control-panel label:nth-of-type(2) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(2):checked ~ table th:nth-of-type(2),
  .toggle input:nth-of-type(2):checked ~ table td:nth-of-type(2) {
    display: table-cell;
  }
  .toggle input:nth-of-type(3):checked ~ .control-panel label:nth-of-type(3) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(3):checked ~ table th:nth-of-type(3),
  .toggle input:nth-of-type(3):checked ~ table td:nth-of-type(3) {
    display: table-cell;
  }
  .toggle input:nth-of-type(4):checked ~ .control-panel label:nth-of-type(4) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(4):checked ~ table th:nth-of-type(4),
  .toggle input:nth-of-type(4):checked ~ table td:nth-of-type(4) {
    display: table-cell;
  }
  .toggle input:nth-of-type(5):checked ~ .control-panel label:nth-of-type(5) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(5):checked ~ table th:nth-of-type(5),
  .toggle input:nth-of-type(5):checked ~ table td:nth-of-type(5) {
    display: table-cell;
  }
  .toggle input:nth-of-type(6):checked ~ .control-panel label:nth-of-type(6) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(6):checked ~ table th:nth-of-type(6),
  .toggle input:nth-of-type(6):checked ~ table td:nth-of-type(6) {
    display: table-cell;
  }
  .toggle input:nth-of-type(7):checked ~ .control-panel label:nth-of-type(7) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(7):checked ~ table th:nth-of-type(7),
  .toggle input:nth-of-type(7):checked ~ table td:nth-of-type(7) {
    display: table-cell;
  }
  .toggle input:nth-of-type(8):checked ~ .control-panel label:nth-of-type(8) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(8):checked ~ table th:nth-of-type(8),
  .toggle input:nth-of-type(8):checked ~ table td:nth-of-type(8) {
    display: table-cell;
  }
  .toggle input:nth-of-type(9):checked ~ .control-panel label:nth-of-type(9) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(9):checked ~ table th:nth-of-type(9),
  .toggle input:nth-of-type(9):checked ~ table td:nth-of-type(9) {
    display: table-cell;
  }
  .toggle input:nth-of-type(10):checked ~ .control-panel label:nth-of-type(10) {
    background-color: #f2f2f2;
  }
  .toggle input:nth-of-type(10):checked ~ table th:nth-of-type(10),
  .toggle input:nth-of-type(10):checked ~ table td:nth-of-type(10) {
    display: table-cell;
  }
  .toggle #display-all:checked ~ table th,
  .toggle #display-all:checked ~ table td {
    display: table-cell;
  }
}

@media (max-width: 56.1875em) {
  .stack,
  .stack thead,
  .stack tbody,
  .stack th,
  .stack td,
  .stack tr {
    display: block;
  }
  .stack thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .stack td {
    background: linear-gradient(to right, transparent 50%, #dbdbdb 50%, #dbdbdb calc(50% + 1px), transparent calc(50% + 1px)) 0 0 no-repeat;
  }
  .stack td:before {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    width: 50%;
    box-sizing: border-box;
  }
  .stack td:nth-of-type(1):before {
    content: "First Name";
  }
  .stack td:nth-of-type(2):before {
    content: "Last Name";
  }
  .stack td:nth-of-type(3):before {
    content: "Job Title";
  }
  .stack td:nth-of-type(4):before {
    content: "Favorite Color";
  }
  .stack td:nth-of-type(5):before {
    content: "Wars or Trek?";
  }
  .stack td:nth-of-type(6):before {
    content: "Porn Name";
  }
  .stack td:nth-of-type(7):before {
    content: "Date of Birth";
  }
  .stack td:nth-of-type(8):before {
    content: "Dream Vacation City";
  }
  .stack td:nth-of-type(9):before {
    content: "GPA";
  }
  .stack td:nth-of-type(10):before {
    content: "Arbitrary Data";
  }
  .lt-ie10 .stack thead tr {
    position: static;
  }
  .lt-ie10 .stack td:before {
    display: none;
  }
  .stack tr:nth-of-type(2n) {
    background-color: #f5f5f5;
  }
  .lt-ie10 .stack tr:nth-of-type(2n) {
    background-color: transparent;
  }
  .stack td:before {
    margin-right: 7px;
  }
}
