/* Android 2.3 :checked fix */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

.hidden {
  display: none;
}

.ovh {
  overflow: hidden;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3[id], h4[id] {
  text-align: center;
}

.main-heading {
  font-size: 33.1667px;
  font-size: 2.07252rem;
  font-weight: 700;
  margin: .5em 0 1.5em;
  text-align: center;
}

.main-heading span {
  font-weight: 300;
  color: #999;
}

h4 {
  margin: 1.5em 0 0.5em;
}

h5 {
  font-size: 13px;
  margin: 3em 0 1em;
}

p {
  font-size: 14px;
  line-height: 1.6;
  margin: 1.8em auto;
  max-width: 50em;
  color: #7d7d7d;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

.back-to-home {
  position: sticky;
  bottom: 0;
  z-index: 100;
  margin-top: 100px;
}

.back-to-home a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #222;
}

[data-margin] {
  background-color: #E698CC;
}

[data-padding] {
  background-color: #C2EBBA;
}

[data-content] {
  background-color: #CDEEFF;
}

.cell {
  min-height: 10em;
}

.cell:before {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 100;
  color: white;
  display: block;
  text-align: center;
  line-height: 2.5;
}

.autoheight:nth-child(2n) > .cell {
  height: 11em;
}

.autoheight:nth-child(3n+1) > .cell {
  height: 12em;
}

.order:nth-child(1) > .cell:before {
  content: "1";
}

.order:nth-child(2) > .cell:before {
  content: "2";
}

.order:nth-child(3) > .cell:before {
  content: "3";
}

.order:nth-child(4) > .cell:before {
  content: "4";
}

.order:nth-child(5) > .cell:before {
  content: "5";
}

.order:nth-child(6) > .cell:before {
  content: "6";
}

.order:nth-child(7) > .cell:before {
  content: "7";
}

.order:nth-child(8) > .cell:before {
  content: "8";
}

.order:nth-child(9) > .cell:before {
  content: "9";
}

.order:nth-child(10) > .cell:before {
  content: "10";
}

.title {
  margin-bottom: 1em;
}

.topic {
  padding: 2em 0 4em;
}

.topic > section {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .topic > section {
    margin: 0 0 5em;
  }
}

.example:after {
  content: '';
  display: table;
  clear: both;
}

.example-content {
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: normal;
  cursor: pointer;
}

.example-content:hover {
  opacity: 0.9;
}

.example-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.demo-container {
  height: 0;
  overflow: hidden;
}

.demo-container:before {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

#form1 [data-info] {
  display: none;
}

#form1 .valid ~ [data-info="valid"],
#form1 .required ~ [data-info="required"],
#form1 .error ~ [data-info="error"] {
  display: inline-block;
}

#form1 .required,
#form1 .error {
  position: relative;
}

@-webkit-keyframes form-shake {
  0%, 100% {
    transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    transform: translateX(0.6em);
  }
}

@-moz-keyframes form-shake {
  0%, 100% {
    transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    transform: translateX(0.6em);
  }
}

@keyframes form-shake {
  0%, 100% {
    transform: translateX(0);
  }
  16.6%, 50%, 83.3% {
    transform: translateX(-0.6em);
  }
  33.3%, 66.6% {
    transform: translateX(0.6em);
  }
}

#form1 .required .js-blur,
#form1 .error .js-blur {
  -webkit-animation: form-shake 0.45s 1;
  -moz-animation: form-shake 0.45s 1;
  animation: form-shake 0.45s 1;
}

#form1 [data-info] {
  padding: 0.5em 0.8em;
  color: #fff;
  font-size: 14px;
  font-size: 0.88rem;
  line-height: 1.3;
}

#form1 [data-info="valid"] {
  background: #40B328;
  background: rgba(64, 179, 40, 0.9);
}

#form1 [data-info="required"] {
  background: #272106;
  background: rgba(39, 33, 6, 0.9);
}

#form1 [data-info="error"] {
  background: #FC2625;
  background: rgba(252, 38, 37, 0.9);
}

#form2 [data-info] {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  z-index: 9999;
  margin-left: 10px;
  margin-top: 0 !important;
  display: inline-block;
}

#form2 [data-info]:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
  z-index: 9999;
  top: 5px;
  left: -10px;
}

#form2 .valid ~ [data-info="valid"],
#form2 .required ~ [data-info="required"],
#form2 .error ~ [data-info="error"] {
  opacity: 1;
}

#form2 .required,
#form2 .error {
  position: relative;
}

#form2 [data-info] {
  padding: 0.5em 0.8em;
  color: #fff;
  font-size: 14px;
  font-size: 0.88rem;
  line-height: 1.3;
}

#form2 [data-info="valid"] {
  background: #40B328;
  background: rgba(64, 179, 40, 0.9);
}

#form2 [data-info="valid"]:before {
  border-right-color: #40B328;
  border-right-color: rgba(64, 179, 40, 0.9);
}

#form2 [data-info="required"] {
  background: #272106;
  background: rgba(39, 33, 6, 0.9);
}

#form2 [data-info="required"]:before {
  border-right-color: #272106;
  border-right-color: rgba(39, 33, 6, 0.9);
}

#form2 [data-info="error"] {
  background: #FC2625;
  background: rgba(252, 38, 37, 0.9);
}

#form2 [data-info="error"]:before {
  border-right-color: #FC2625;
  border-right-color: rgba(252, 38, 37, 0.9);
}

#form3 [data-info] {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  z-index: 9999;
  display: block;
  margin-top: 0 !important;
}

#form3 [data-info]:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
  z-index: 9999;
  top: -10px;
  left: 50%;
  margin-left: -5px;
}

#form3 .valid ~ [data-info="valid"],
#form3 .required ~ [data-info="required"],
#form3 .error ~ [data-info="error"] {
  opacity: 1;
}

#form3 .required,
#form3 .error {
  position: relative;
}

#form3 [data-info] {
  padding: 0.5em 0.8em;
  color: #fff;
  font-size: 14px;
  font-size: 0.88rem;
  line-height: 1.3;
}

#form3 [data-info="valid"] {
  background: #40B328;
  background: rgba(64, 179, 40, 0.9);
}

#form3 [data-info="valid"]:before {
  border-bottom-color: #40B328;
  border-bottom-color: rgba(64, 179, 40, 0.9);
}

#form3 [data-info="required"] {
  background: #272106;
  background: rgba(39, 33, 6, 0.9);
}

#form3 [data-info="required"]:before {
  border-bottom-color: #272106;
  border-bottom-color: rgba(39, 33, 6, 0.9);
}

#form3 [data-info="error"] {
  background: #FC2625;
  background: rgba(252, 38, 37, 0.9);
}

#form3 [data-info="error"]:before {
  border-bottom-color: #FC2625;
  border-bottom-color: rgba(252, 38, 37, 0.9);
}

#form4 [data-info] {
  position: fixed;
  display: inline-block;
  top: 0;
  z-index: 9999;
  margin-top: 0 !important;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  left: 50%;
}

.lt-ie9 #form4 [data-info] {
  position: static;
  display: none;
}

#form4 .valid ~ [data-info="valid"],
#form4 .required ~ [data-info="required"],
#form4 .error ~ [data-info="error"] {
  -webkit-animation: form-slide 2.1s;
  -moz-animation: form-slide 2.1s;
  animation: form-slide 2.1s;
}

@-webkit-keyframes form-slide {
  0%, 100% {
    transform: translate(-50%, -150%);
    top: 0;
  }
  15.7894737%,
  84.2105263% {
    transform: translate(-50%, 0);
    top: 10px;
  }
}

@-moz-keyframes form-slide {
  0%, 100% {
    transform: translate(-50%, -150%);
    top: 0;
  }
  15.7894737%,
  84.2105263% {
    transform: translate(-50%, 0);
    top: 10px;
  }
}

@keyframes form-slide {
  0%, 100% {
    transform: translate(-50%, -150%);
    top: 0;
  }
  15.7894737%,
  84.2105263% {
    transform: translate(-50%, 0);
    top: 10px;
  }
}

.lt-ie9 #form4 .valid ~ [data-info="valid"], .lt-ie9
#form4 .required ~ [data-info="required"], .lt-ie9
#form4 .error ~ [data-info="error"] {
  display: inline-block;
}

#form4 .required,
#form4 .error {
  position: relative;
}

#form4 [data-info] {
  padding: 0.5em 0.8em;
  color: #fff;
  font-size: 18px;
  font-size: 1.13rem;
  line-height: 1.3;
}

#form4 [data-info="valid"] {
  background: #40B328;
  background: rgba(64, 179, 40, 0.9);
}

#form4 [data-info="required"] {
  background: #272106;
  background: rgba(39, 33, 6, 0.9);
}

#form4 [data-info="error"] {
  background: #FC2625;
  background: rgba(252, 38, 37, 0.9);
}

.validation-wrap:after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 37.5em) {
  .validation-wrap > li {
    float: left;
    width: 50%;
    padding: 0 20px 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .validation-wrap > li:nth-child(odd) {
    clear: both;
  }
}

.myform {
  margin-top: 50px;
  padding: 0 20px 10px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
}

.myform h4 {
  font-size: 22px;
  margin-bottom: 1em;
}

.myform li {
  margin: 20px 0;
}

.myform label {
  font-size: 14px;
  display: block;
  margin-bottom: 3px;
}

.myform input:not([type="submit"]) {
  padding: 0.5em 0.8em;
  width: 90%;
  max-width: 500px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.myform input:not([type="submit"]):invalid {
  box-shadow: none;
  outline: none;
}

.myform input[type="submit"] {
  padding: 0 1.2em;
  height: 2.6em;
  line-height: 2.6;
  border-width: 0;
  border-radius: 0.3em;
  color: #fff;
  background-color: #3277FF;
}

.myform .valid input:not([type="submit"]) {
  border-color: #5CC41B;
}

.myform .error input:not([type="submit"]) {
  border-color: #B50015;
}

.myform .required input:not([type="submit"]) {
  border-color: #B65C16;
}

.myform .optional input:not([type="submit"]) {
  border-color: #1EA2B7;
}

.myform [data-info] {
  font-family: arial, sans-serif;
  z-index: 9999;
  min-width: 5em;
}
