.split-complementary-0 { background-color: #155BDF; }
.split-complementary-1 { background-color: split-complementary(#155BDF 1); }
.split-complementary-2 { background-color: split-complementary(#155BDF 2); }
.split-complementary-3 { background-color: split-complementary(#155BDF 3); }