// *** demo base *** //
@charset "UTF-8";

.has-bg { background-color: #03103A; }
.nav-links {
  max-width: 800px;
  margin: 50px auto 20px;
  text-align: center;
}
.btn {
  @include button(14px '10px 15px' radius #0F2332 hover);
  margin-right: 10px;
  margin-bottom: 10px;
  &.active { background-color: #ddd; color: #000; }
}
.menu-icon {
  display: block;
  margin: 20px;
  width: 21px;
  padding: 12px 10px;
  border-radius: 5px;
  background-color: #ddd;
  &:before, &:after {
    content: '';
  }
  span, &:before, &:after {
    display: block;
    height: 2px;
    background-color: #000;
    margin-bottom: 4px;
  }
  &:after { margin-bottom: 0; }
}
.page {
  background-color: #fff;
}
.nav {
  padding: 15px 0;
  background-color: #f172c9;
  a {
    display: block;
    padding: 12px 15px;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  li:last-child > a { border-bottom-width: 0; }
}

