@import 'demo-base';

p.example-responsive-type { margin-bottom: 10px; }
.topic .example-responsive-type {
  max-width: 900px;
  transition: font-size 0.3s;
}

$bp: (
  small : 480px,
  medium: 700px,
  large : 1024px
);
$p-font-sizes: (
  null  : (13px 1.7),
  small : 20px,
  medium: (30px 1.5),
  900px : 40px,
  large : (50px 1.2),
  1440px: 60px,
);
p.example-responsive-type { @include rp-type($p-font-sizes $bp); }