@import 'demo-base';

// *** addons: quantity-query *** //

.box {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #56AFEE;
}

.at-least {
  @include at-least('.box' 4) {
    background-color: #FF49A6;
  }
}
.at-most {
  @include at-least('.box' 6) {
    background-color: #FF49A6;
  }
}
.equal-to {
  @include at-least('.box' 4) {
    background-color: #FF49A6;
  }
}
.between {
  @include at-least('.box' 4 8) {
    background-color: #FF49A6;
  }
}
