@import 'demo-base';

// *** addons: hide-text *** //

.logo > a {
  @extend %hide-text;
  display: block;
  width: 144px;
  height: 154px;
  margin: 0 auto;
  background: url('https://mozorg.cdn.mozilla.net/media/img/styleguide/identity/firefox/usage-logo.54fbc7b6231b.png') 0 0 no-repeat;
}