@import 'demo-base';


// *** color: contrast *** //
$contrast: #5173a3, #bbf8e6, #cb7d26;
@for $i from 1 through 3 {
  .color-box-contrast-#{$i} { 
    background-color: nth($contrast, $i); 
    color: contrast(nth($contrast, $i) 'light' #eee 'dark' #333);
    width: 30%;
  }
}


// *** color: adjacent *** //
.color-box-adjacent-1 { 
  background-color: adjacent($original -1); 
  color: contrast(adjacent($original -1));
}
.color-box-adjacent-2 { 
  background-color: adjacent($original 1);
  color: contrast(adjacent($original 1));
}
.example-adjacent { @include clearfix(); }


// *** color: complementary *** //
.color-box-complementary { 
  background-color: complementary($original); 
  color: contrast(complementary($original));
}


// *** color: split-complementary *** //
.color-box-split-complementary-1 { 
  background-color: split-complementary($original 1); 
  color: contrast(split-complementary($original 1));
}
.color-box-split-complementary-2 { 
  background-color: split-complementary($original 2);
  color: contrast(split-complementary($original 2));
}


// *** color: triad *** //
.color-box-triad-1 { 
  background-color: triad(1 $original saturation 10%); 
  color: contrast(triad(1 $original saturation 10%));
}
.color-box-triad-2 { 
  background-color: triad($original 2);
  color: contrast(triad($original 2));
}


// *** color: rectangle *** //
.color-box-rectangle-1 { 
  background-color: rectangle($original 1); 
  color: contrast(rectangle($original 1));
}
.color-box-rectangle-2 { 
  background-color: rectangle($original 2);
  color: contrast(rectangle($original 2));
}
.color-box-rectangle-3 { 
  background-color: rectangle($original 3);
  color: contrast(rectangle($original 3));
}


// *** color: square *** //
.color-box-square-1 { 
  background-color: square($original 1); 
  color: contrast(square($original 1));
}
.color-box-square-2 { 
  background-color: square($original 2);
  color: contrast(square($original 2));
}
.color-box-square-3 { 
  background-color: square($original 3);
  color: contrast(square($original 3));
}
