@import 'demo-base';

// *** addons: button *** //
$color: #823AA0;
$padding: '1em 2em';
.example-button {
  margin: 50px 0;
  font-size: 14px;
  text-align: center;
  > * { margin: 0 7px 14px; }
  .normal { @include button($padding #46A736); }
  .radius { @include button($padding #FF851B 0.4em); }
  .round { @include button($padding #2C91FF round); }
  .highlight { @include button($padding $color 5px highlight); }
  .simple { @include button($padding $color 5px simple); }
  .slide-bg { @include button($padding $color 5px slide-bg); }
  .water-drop { @include button($padding $color 5px water-drop); }
}

