@import 'demo-base';

// *** slider: gallery *** //
.slider {
  // common
  > input { position: absolute; left: -9999px; }
  .slider-labels {
    margin-bottom: 20px;
    text-align: center;
    .title { @include type(14px bold 1.3); margin: 0 0 .3em; }
    label { 
      @include button(13px '12px 22px' #d2d2d2 radius); 
      margin: 0 10px 10px 0;
      &:hover { background-color: $active;}
    }
  }
  .info { 
    @include visible(800px);
    position: absolute;
    padding: 10px; 
    bottom: 20px;
    h3 { margin-bottom: 0; }
  }
  %label-active {background-color: $active;}
  @at-root {
    @each $item in 'gallery-auto-play-css', 'gallery-auto-play-js', 'gallery-auto-height', 'gallery-customise' {
      [id=#{$item}]:checked ~ .slider-labels [for=#{$item}] { @extend %label-active; }
    }
    [class^="gallery-"], [class^="carousel-"] { 
      margin-left: auto; 
      margin-right: auto; 
      width: 80%;
      max-width: 1000px; 
      margin-bottom: 40px; 
      @extend %ro-global-transition; 
      [id*="-md"]:checked ~ & { max-width: 700px; }
      [id*="-sm"]:checked ~ & { max-width: 400px; }
    }

    // gallery
    .gallery-a, 
    .gallery-b,
    .gallery-c,
    .gallery-d { display: none; }
    .gallery-a { @include slider-gallery(5 autoplay progress-bar hoverpause default); }
    .gallery-b { @include slider-gallery(5 autoplay-js default); }
    .gallery-c { @include slider-gallery(5 default); }
    .gallery-d { @include slider-gallery(5 default); }
    [id="gallery-auto-play-css"]:checked ~ .gallery-a, 
    [id="gallery-auto-play-js"]:checked ~ .gallery-b, 
    [id="gallery-auto-height"]:checked ~ .gallery-c,
    [id="gallery-customise"]:checked ~ .gallery-d { display: block; }
    .gallery-d {
      // setting item
      .outer { overflow: visible; }
      li { 
        @include transform(scale(0) rotate(-270deg)); 
        transition: all 1s !important;
      }
      @for $i from 1 through 5 {
        #gallery-c-#{$i}:checked ~ .outer li:nth-child(#{$i}) { @include transform(scale(1) rotate(0deg)); }
      }
      // setting .info
      .info { 
        opacity: 0; 
        margin-left: -10px;
        -webkit-transition: all 1s $ro-global-bezier 0.5s;
        transition: all 1s $ro-global-bezier 0.5s;
       }
      @for $i from 1 through 5 {
        #gallery-c-#{$i}:checked ~ .outer li:nth-child(#{$i}) .info {
          opacity: 1;
          margin-left: 20px;
        }
      }
    }
  }
}