@import 'demo-base';

// *** addons: drop-shadow *** //
.example-drop-shadow { 
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
  .box {
    display: inline-block;
    width: 50%;
    padding: 40px 10px;
    margin: 20px 10px;
    max-width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  }
  .lifted { @include drop-shadow(lifted); }
  .raised { @include drop-shadow(raised); }
  .perspective { @include drop-shadow(perspective); }
  .curve.left { @include drop-shadow(curve left); }
  .curve.right { @include drop-shadow(curve right); }
  .curve.horizontal { @include drop-shadow(curve horizontal); }
  .curve.top { @include drop-shadow(curve top); }
  .curve.bottom { @include drop-shadow(curve bottom); }
  .curve.vertical { @include drop-shadow(curve vertical); }
}
