@import 'demo-base';

// *** addons: button *** //
$color: #2B8ACF;
$padding: '1em 2em';


.example-button {
  margin: 50px 0;
  font-size: 14px;
  text-align: center;
  > * { 
    margin: 0 7px 14px; 
    vertical-align: top;
    cursor: pointer;
  }
  .normal { @include button($padding #46A736); }
  .radius { @include button($padding #FF851B 0.4em); }
  .round { @include button($padding #B61EFF round); }
  .highlight { @include button($padding $color 5px highlight); }
  .simple { @include button($padding $color 5px simple); }
  .slide { @include button($padding $color 5px slide); }
  .ripple { @include button($padding $color 5px ripple); }
  .veil { @include button($padding $color 5px veil); }
  .cut { @include button($padding $color 5px cut); }
  .push { @include button($padding $color 5px push customize); }
  .bubble { @include button($padding $color 5px bubble); }
  .shake { 
    @include button($padding $color 5px 0.4s); 
    &:hover { @include shake(); }
  }
  .line-drawing { @include button($padding $color line-drawing); }
}

