@import 'demo-base';

// *** slider: gallery *** //

.sg-autoplay { @include slider-gallery(5 autoplay progress-bar left); }
.sg-autoplay-js { @include slider-gallery(5 autoplay-js); }
.sg-scale-in { @include slider-gallery(5 scale-in); }
.sg-scale-out { @include slider-gallery(5 scale-out); }
.sg-rotate-in { @include slider-gallery(5 rotate-in); }
.sg-rotate-out { @include slider-gallery(5 rotate-out); }
.sg-fall-down { @include slider-gallery(5 fall-down); }
.sg-autoheight { @include slider-gallery(5); }
.sg-customise { @include slider-gallery(5); }
.sg-customise {
  // setting item
  .outer { overflow: visible; }
  li { 
    @include ro-transform(scale(0) rotate(-140deg)); 
    transition: all 1.6s !important;
  }
  @for $i from 1 through 5 {
    #sg-customise-#{$i}:checked ~ .outer li:nth-child(#{$i}) { @include ro-transform(scale(1) rotate(0deg)); }
  }
  // setting .info
  .info { 
    opacity: 0; 
    margin-left: -10px;
    -webkit-transition: all 0.8s $ro-global-bezier 1.2s;
    transition: all 0.8s $ro-global-bezier 1.2s;
   }
  @for $i from 1 through 5 {
    #sg-customise-#{$i}:checked ~ .outer li:nth-child(#{$i}) .info {
      opacity: 1;
      margin-left: 20px;
    }
  }
}

// slider basis
.sg-autoplay, 
.sg-autoplay-js, 
.sg-scale-in, 
.sg-scale-out, 
.sg-rotate-in, 
.sg-rotate-out, 
.sg-fall-down, 
.sg-autoheight, 
.sg-customise { display: none; }
[id="sg-auto-play-css"]:checked ~ .sg-autoplay, 
[id="sg-auto-play-js"]:checked ~ .sg-autoplay-js, 
[id="sg-auto-height"]:checked ~ .sg-autoheight,
[id="sg-scale-in"]:checked ~ .sg-scale-in,
[id="sg-scale-out"]:checked ~ .sg-scale-out,
[id="sg-rotate-in"]:checked ~ .sg-rotate-in,
[id="sg-rotate-out"]:checked ~ .sg-rotate-out,
[id="sg-fall-down"]:checked ~ .sg-fall-down,
[id="sg-customise"]:checked ~ .sg-customise { display: block; }
.slider {
  max-width: 800px;
  margin: 0 auto;
  > input { position: absolute; left: -9999px; }
  .slider-labels {
    margin-bottom: 20px;
    text-align: center;
    .title { @include type(14px bold 1.3); margin: 0 0 .3em; }
    label { 
      @include button(3px '12px 22px' #d2d2d2); 
      font-size: 13px;
      margin: 0 10px 10px 0;
      &:hover { background-color: $active;}
    }
  }
  .info { 
    @include visible(800px);
    position: absolute;
    bottom: 40px;
    padding: 10px; 
    width: 100%;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    h3 { 
      color: #fff;
      margin-bottom: 5px; 
      font-size: 30px; 
    }
  }
  %label-active {background-color: $active;}
  @at-root {
    @each $item in 'sg-auto-play-css', 'sg-auto-play-js', 'sg-scale-in', 'sg-scale-out', 'sg-rotate-in', 'sg-rotate-out', 'sg-fall-down', 'sg-auto-height', 'sg-customise' {
      [id=#{$item}]:checked ~ .slider-labels [for=#{$item}] { @extend %label-active; }
    }
    [class^="gallery-"], [class^="carousel-"] { 
      margin-left: auto; 
      margin-right: auto; 
      width: 80%;
      max-width: 1000px; 
      margin-bottom: 40px; 
      @extend %ro-global-transition; 
      [id*="-md"]:checked ~ & { max-width: 700px; }
      [id*="-sm"]:checked ~ & { max-width: 400px; }
    }
  }
}

// slider ui
.slider {
  .controls {
    @include clearfix();
    max-width: 7.5em;
    margin: 10px auto;
    span {
      font-size: 13px;
      padding: 5px 8px;
      border-radius: 3px;
      transition: background-color 0.3s;
      color: #fff;
      background-color: #15A9DC;
      &:hover { background-color: #7D9DAC; }
    }
    .prev { 
      float: left; 
      left: 0;
    }
    .next { 
      float: right; 
      right: 0;
    }
  }
  .dots {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    label, span {
      display: inline-block;
      vertical-align: top;
    }
    label {
      margin: 0 3px;
      &:hover .normal { background-color: #5a5a5a; }
    }
    span {
      left: 0;
      width: 9px;
      height: 9px;
      background-color: #d3d3d3;
      border-radius: 50%;
      transition: background-color 0.3s;
    }
    .active { background-color: #5a5a5a; }
  }
}
.autoplay {
  position: relative;
  text-align: center;
  .no-cssanimations & { display: none !important; }
  > label {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    border-radius: 50%;
  }
  span {
    display: inline-block;
  }
  .play {
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 7px 0px 7px 13px;
    margin: 7px 0 0 3px;
  }
  .pause {
    display: none;
    &:before, &:after {
      content: '';
      display: inline-block;
      border-width: 0;
      width: 5px;
      height: 13px;
      margin-top: 8px;
      background-color: #fff;
    }
    &:before { margin-right: 4px; }
  }
  &-progress {
    position: absolute;
    left: 0;
    bottom: 44px;
    width: 0;
    display: block;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
