@import 'demo-base';

// *** addons: off canvans *** //
.menu-icon {
  display: block;
  width: 21px;
  &:before, &:after {
    content: '';
  }
  span, &:before, &:after {
    display: block;
    height: 2px;
    background-color: #333;
    margin-bottom: 4px;
  }
  &:after { margin-bottom: 0; }
}


@mixin nav($key) {
  $check: join($ro-nav-direction, $ro-nav-styles);

  $direction: ro-get($key, $ro-nav-direction, 'left');
  $style: ro-get($key, $ro-nav-styles, 'move');
  $nav: ro-get-type($key, 'string', $check);
  $width: ro-get-type($key, 'number', false, 200px);

  // *** output *** //
  #{$nav} {
    position: fixed;
    display: block;
    z-index: map-get($ro-nav-z-index, 'nav');

    @if $direction == 'left' or $direction == 'right' {
      width: $width;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      @if $style == 'drawer' {
      } @else {
        left: 0;
        top: 0;
        @if $style == 'reveal' {
        } @else {
          margin-left: - $width;
          input:checked ~ & {
            margin-left: 0;
          }
        }
      }
    } @else {
      height: $width;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
  .page-overlay {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: #fff;
    z-index: map-get($ro-nav-z-index, 'page-overlay');
  }

  @if $style == 'drawer' {
    
  } @else {
  }
}
.page {
  @include nav('left' 200px '.nav');
}
