@import 'demo-base';

// *** addons: nav *** //
$bp: (
  small: 600px,
  medium: 1000px,
);
$map: (
  500px: 20px, 
  small: 30px, 
  medium: 40px, 
  null: 50px
);
.has-bg { background-color: #000; }
.btn {
  @include button(5px '10px 15px' #0F2332 highlight);
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  &.active { background-color: #ddd; color: #000; }
}
.hidden-checkbox {
  position: absolute;
  left: -99999px;
}
.menu-icon {
  display: block;
  margin: 20px;
  width: 21px;
  padding: 12px 10px;
  background-color: #000;
  &:before, &:after {
    content: '';
  }
  span, &:before, &:after {
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
  }
  &:after { margin-bottom: 0; }
}
.nav {
  background-color: #1975B8;
  a, label {
    font-size: 14px;
    padding: 12px 15px;
  }
  a, [data-back] {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  a { color: #fff; }
  li:last-child > a { border-bottom-width: 0; }
  [data-submenu] { background-color: #1975B8; }
}
.nav-mode {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  display: none;
  .page {
    min-height: 700px;
    background: #70CFFF;
    // background: #fff url('../images/nav/4.jpg') 50% 20% no-repeat;
    background-size: cover;
    header { padding-top: 1px; }
  }
  input:checked + & {
    display: block;
  }
  .nav,
  .page-overlay {
    position: absolute !important;
  }
  strong {
    font-size: 24px;
    color: #000;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.9em 1.8em;
    background-color: #fff;
  }
}
.mode-code { display: none; }

@each $mode in ('slide-in', 'slide-along', 'slide-out', 'rotate-in', 'rotate-out', 'rotate-in-reverse', 'scale-down', 'scale-up', 'open-door', 'push', 'reveal', 'drawer') {
  // show mode, activate button
  ##{$mode}:checked ~ {
    [for="#{$mode}"] {
      background-color: #ddd; 
      color: #000;
    }
    .mode-#{$mode} { display: block; }
  }
  
  // activate mode 
  $direction: '';
  $mode-map: null;
  $mode-bp: null;
  @if $mode == 'push' {
    $direction: top;
  } @else if $mode == 'reveal' {
    $direction: right;
  } @else {
    $direction: left;
  }

  @if $mode == 'drawer' {
    $mode-map: $map;
    $mode-bp: $bp;
  } 

  .page-#{$mode} {
    @include off-canvas($mode $direction '.nav-#{$mode}' $mode-map $mode-bp rgba(black, 0.1) 200px 0.5s submenu);
  }
}
input:checked ~ {
  .page-slide-along,
  .page-slide-out,
  .page-rotate-in,
  .page-rotate-out,
  .page-rotate-in-reverse,
  .page-scale-up,
  {
    .page-overlay { left: 0; }
  }
  .page-reveal .page-overlay {
    right: 0;
  }
  .page-rotate-in .nav-rotate-in, 
  .page-rotate-out .nav-rotate-out, 
  .page-rotate-in-reverse .nav-rotate-in-reverse, 
  {
    margin-left: -200px;
  }
  .page-push .nav-push {
    margin-top: -200px;
  }
}