@import 'demo-base';

// *** js: scrollTo *** //

.scroll-to {
  padding: 40px 0;
  text-align: center;
}
.btn { 
  @include button(#333 '0.8em 1.6em' highlight 5px); 
  font-size: 14px;
  margin: 0 0 20px;
}
.box {
  max-width: 800px;
  margin: 400px auto 0;
  padding: 10px;
  min-height: 200px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #F54E86;
}
