@import 'demo-base';

// *** layout: justify *** //

.example-justify {
  @include justify(li);
  li {
    font-size: 13px;
    text-transform: uppercase;
  }
  a {
    display: block;
    @extend %ro-global-transition;
    &:hover { 
      text-decoration: none;
    }
  }
  input {
    width: 150px;
    @include button('5px 10px');
    @extend %ro-global-transition;
    &:focus { width: 250px; }
  }
}

