@import 'demo-base';

// *** layout: gallery *** //
@mixin diamond($key:false){
  $size: ro-get-type($key, 'number', false, 100%);
  
  @include transform(rotate(-45deg));
  position: relative;
  width: $size;
  @if not unitless($size) {
    @if unit($size) == '%' {
      padding-bottom: $size;
      height: 0;
    } @else {
      height: $size;
    }
  } 
  overflow: hidden;
  > .diamond-content {
    @include transform(rotate(45deg));
    @include flexbox();
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-flex-align: center; // for IE10
    > * { margin: auto; }
  }
}


.diamond {
  @include diamond(100%);
}
.example-diamond {
  max-width: 900px;
  margin: 0 auto;
  > li {
    float: left;
    width: 17%;
    margin: 0 (17% * 0.4142135624) (17% * 0.4142135624) 0;
  }
}