@import 'demo-base';

// *** layout: liquid-2 *** //
$map: (
  null: (300px: 1, null: 0),
  small: (100px, null),
  800px: (null, 300px),
);
$bp: (
  small: 600px,
);
.example-liquid-2 { @include liquid-2(layout $map bp $bp); }
// .example-liquid-2 { @include liquid-2((null:1, 200px:0)); }
