@import 'demo-base';
// *** layout: grid new *** //

$ro-layout: (
  'container': 1024px,
  'columns': 12,
  'gutter': 20px,
);

// base
.box {
  // min-width: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
$layout: (
  2:1,
  7:0,
  3:0,
);
.row {
  @include row($layout);
}
.col {
  &1, &2, &3 {
    text-align: center;
  }
  &1 {
    // min-width: 200px;
  }
  &2 {
    // min-width: 400px;
  }
  &3 {
    // min-width: 300px;
  }
}
