@import 'demo-base';

// *** addons: angled-edges *** //
.example-angled-edges {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  > div {
    background: #52ABFF;
    // background-image: linear-gradient(to bottom, #52ABFF, #6EC7FF);
    // background: #52ABFF url('https://nthp-savingplaces.s3.amazonaws.com/2015/09/17/11/09/56/607/NYSP-Cover-duncan-kendall.jpg') 0 0 no-repeat;
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
    h1,
    p {
      padding: 0;
      color: inherit;
    }
    h1 {
      margin-bottom: 30px;
    }
    p {
      max-width: none;
      &:last-child { margin-bottom: 0; }
    }
  }
  .bottom {
    @include angled-edges(bottom 5deg);
  }
  .both {
    background-color: #284688;
    @include angled-edges(both 5deg flip 20px);
  }
  .top {
    background-color: #D150ED;
    @include angled-edges(top -5deg);
  }
}
