@import 'demo-base';
// *** layout: grid new *** //


// base
.box {
  // min-width: 100px;
  padding: 50px 0;
  background-color: #f2f2f2;
}
$layout: (
  2:0,
  3:1,
  7:0,
  1:0,
);
.row {
  @include row($layout);
  // @include display(flex);
  // @include flex-wrap(wrap);
}
.col {
  &1, &2, &3, &4 {
    // min-width: 300px;
    font-size: 24px;
    text-align: center;
  }
  &1 {
    // @include flex(1 0 80%);
    // @include order(1);
  }
  &2 {
    // @include flex(1 0 40%);
    // @include order(0);
  }
}
