@charset "UTF-8";
@import "../../src/scss/rocket"; 
ul, ol { margin: 0; padding: 0; }
li { list-style: none; }
@media \0screen { img { width: auto; } }
img { max-width: 100%; height: auto; }
body { margin: 0; padding: 20px 0 0; }
.container { @include container(1000px 20px); }


.box {
  min-height: 200px;
  padding: 10px;
  background-color: #eee;
}
// row
.row {
  // @include grid((2:2, 3:3, 5:1));
  // &-inner { @include grid((1 1)); }
  // display: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  > div {
    padding-right: 20px;
    box-sizing: border-box;
    flex: 1 0 auto;
    max-width: 100%;
  }
  > div:nth-child(1) {
    width: 20%;
    width: 200px;
  }
  > div:nth-child(2) {
    width: 30%;
    width: 250px;
    order: 1;
  }
  > div:nth-child(3) {
    width: 50%;
    width: 400px;
  }
}

// gallery
.gallery {
  @include gallery(3);
  // @include bp('min' 800) { @include gallery(4); }
  display: none !important;
}

// metro
$ro-metro: (
  'gutter': 20px,
  'ratio': (3 / 4),
  'child': 'li',
);
.metro {
  @include metro((null: 3 1 h2 1 w3 of 4));
  .box { height: 1000px; }
  display: none;
}
.metro-first { @include metro((null: 1 w2 2 1 1 of 3)); }

// liquid
.two { 
  @include liquid-2((null 200px) gutter 10%); 
  display: none;
}
.three { 
  @include liquid-3((null:1, 150px:3, 200px: 2) gutter 50px); 
  display: none;
}

// button
.btn { 
  @include button('0.8em 1.2em' #3095E6 3px); 
  cursor: pointer;
  display: none;
}

// charts
.charts {
  @include charts(bar (#3095E6: 8 10 16 14) steps (1 16));
  display: none;
}

// off-canvas & priority-nav
$nav-bp: 400;
// @include bp('max' $nav-bp) {
  .page {
    @include off-canvas('slide-in' '.nav' 200px left);
    display: none;
  }
  .nav {
    background-color: #08274A;
    li {
      display: block;
      padding: 10px;
      color: #fff;
    }
  }
// }
// @include bp('min' $nav-bp) {
//   .nav {
//     @include priority-nav();
//     margin-left: auto;
//     li { padding: 10px 13px; }
//     button {
//       padding: 10px;
//       border-width: 0;
//       color: #fff;
//       font-size: 11px;
//       text-transform: uppercase;
//       background-color: #333;
//       position: relative;
//       overflow: visible;
//       &:before {
//         content: attr(data-count);
//         width: 23px;
//         height: 23px;
//         line-height: 23px;
//         border-radius: 50%;
//         font-size: 14px;
//         text-align: center;
//         position: absolute;
//         left: 0;
//         top: 50%;
//         margin-left: -11px;
//         margin-top: -11px;
//         color: #412F08;
//         background-color: #FFB822;
//       }
//     }
//   }
//   .icon-menu { display: none; }
// }













// .card {
//   position: relative;
//   width: 200px;
//   height: 200px;
//   &:hover { 
//     .front { transform: perspective(400px) rotateY(180deg); }
//     .back { transform: perspective(400px) rotateY(0deg); }
//   }
// }
// .chart {
//   height: 200px;
//   background-color: #51B6FF;
//   text-align: center;
//   color: #fff;
//   transition: transform 1s;
//   transform-origin: center;
//   backface-visibility: hidden;
//   border-radius: 5px;
// }
// .front { 
//   transform: perspective(400px) rotateY(0deg); 
// }
// .back { 
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   transform: perspective(400px) rotateY(-180deg); 
// }
