@charset "UTF-8";
$font-path:"../../src/icon-font";
@import "../../src/scss/rocket"; 
ul, ol { margin: 0; padding: 0; }
li { list-style: none; }
img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
}
.container { @include container(1000px 20px); }

#myform {
  @include validation(slide-in default);
  margin-top: 50px;
  li {
    margin: 10px 0;
  }
  [data-info] {
    font-family: arial, sans-serif;
  }
}