@import 'demo-base';

// *** addons: dropdown *** //

.dropdown-1,
.dropdown-2 { 
  padding: 10px 0; 
  margin-right: 30px; 
  display: inline-block; 
  > ul { margin-top: 10px; }
} 
.dropdown-1 { @include dropdown(default); }
.dropdown-2 { @include dropdown(default click); }

