@import 'demo-base';

// *** addons: button *** //

.example-button {
  margin-top: 20px;
  > * { margin-bottom: 10px; }
  button { @include button(14px '.5em .8em' #3255ff round hover); }
  input {
    display: block; 
    @include button(16px '.5em 1em' radius); 
    border: 1px solid  #ddd;
  }
  .pagination a { 
    display: inline-block; 
    @include button(13px '.5em .6em' #dbdbdb hover radius);
    margin: 0 3px 3px 0;
    span { font-size: 11px; }
  }
}

