@import 'demo-base';

// *** addons: type *** //

h1.example-type { @include type(32px,null,null,1.1); margin-bottom: 10px; }
h2.example-type { @include type(28px,null,null,1.2); margin-bottom: 10px; }
h3.example-type { @include type(24px,null,null,1.3); margin-bottom: 10px; }
h4.example-type { @include type(20px,null,null,1.4); margin-bottom: 10px; }
h5.example-type { @include type(16px,null,null,1.5); margin-bottom: 10px; }

