@import 'demo-base';

// *** color: triad *** //

.color-box-triad-1 { 
  background-color: triad(1 $original saturation 10%); 
  color: contrast(triad(1 $original saturation 10%));
}
.color-box-triad-2 { 
  background-color: triad($original 2);
  color: contrast(triad($original 2));
}
