@import 'demo-base';

// *** color: adjacent *** //

.color-box-adjacent-1 { 
  background-color: adjacent($original -1); 
  color: contrast(adjacent($original -1));
}
.color-box-adjacent-2 { 
  background-color: adjacent($original 1);
  color: contrast(adjacent($original 1));
}
.example-adjacent { @extend %clearfix; }
