@import 'demo-base';

// *** color: contrast *** //

$contrast: #5173a3, #bbf8e6, #cb7d26;
@for $i from 1 through 3 {
  .color-box-contrast-#{$i} { 
    background-color: nth($contrast, $i); 
    color: contrast(nth($contrast, $i) light #eee dark red);
    width: 30%;
  }
}

.color-box { margin: 0 20px 20px 0; }
