@import 'demo-base';

// *** color: rectangle *** //

.color-box-rectangle-1 { 
  background-color: rectangle($original 1); 
  color: contrast(rectangle($original 1));
}
.color-box-rectangle-2 { 
  background-color: rectangle($original 2);
  color: contrast(rectangle($original 2));
}
.color-box-rectangle-3 { 
  background-color: rectangle($original 3);
  color: contrast(rectangle($original 3));
}
