@import 'demo-base';
@import "../../../src/scss/layout/gallery";

// *** layout: gallery *** //

.example-gallery { @include gallery(4,2%,'li',12); 
  span {
    display: block;
    min-height: 120px;
    padding: 15px;
  }
}
