<ul class="at-most-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>
<ul class="at-most-1">
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
  <li data-content></li>
</ul>