<!-- .ro-tabs and .ro-panels are required -->
<div class="your-tab-class">
  <input type="radio" name="your-radio-name" id="your-radio-id-1" checked>
  <input type="radio" name="your-radio-name" id="your-radio-id-2">
  <input type="radio" name="your-radio-name" id="your-radio-id-3">
  <!-- ... -->
  <div class="ro-tabs">
    <label for="your-radio-id-1">tab 1</label>
    <label for="your-radio-id-2">tab 2</label>
    <label for="your-radio-id-3">tab 3</label>
    <!-- ... -->
  </div>
  <div class="ro-panels">
    <div>
      <!-- Your tab-panels 1 -->
    </div>
    <div>
      <!-- Your tab-panels 2 -->
    </div>
    <div>
      <!-- Your tab-panels 3 -->
    </div>
  </div>
</div>