@import 'demo-base';
@import "../../src/scss/color/analogous";
@import "../../src/scss/color/contrast";
@import "../../src/scss/components/button";

{% macro get(componentName) %}
{% if componentName === "xxx" %}

{% elif componentName === "default" %}
.default > .btn {
  @include button();
}

{% elif componentName === "color" %}
.color > .btn {
  @include button(#46A736);
}

{% elif componentName === "style-highlight" %}
.style-highlight > .btn {
  @include button(#2B8ACF #52cfdb 'highlight');
}

{% elif componentName === "style-simple" %}
.style-simple > .btn {
  @include button(#2B8ACF 'simple');
}

{% elif componentName === "style-slide" %}
.style-slide > .btn {
  @include button(#2B8ACF #52cfdb 'slide');
}

{% elif componentName === "style-ripple" %}
.style-ripple > .btn {
  @include button(#2B8ACF #52cfdb ':hover' 'ripple');
}

{% elif componentName === "style-veil" %}
.style-veil > .btn {
  @include button(#2B8ACF 'veil');
}

{% elif componentName === "style-cut" %}
.style-cut > .btn {
  @include button(#2B8ACF #52cfdb 'cut');
}

{% elif componentName === "style-push" %}
.style-push > .btn {
  @include button(#2B8ACF 'push');
}

{% elif componentName === "style-bubble" %}
.style-bubble > .btn {
  @include button(#2B8ACF 'bubble');
  &:before {
    border-radius: 0.7em;
  }
}

{% elif componentName === "style-line-drawing" %}
.style-line-drawing > .btn {
  @include button(#2B8ACF 'line-drawing');
}

{% elif componentName === "style-shake" %}
.style-shake > .btn {
  @include button(#2B8ACF 'shake');
}

{% endif %}
{% endmacro %}

.container { text-align: center; }
.demo { 
  display: inline-block;
  width: 500px;
  margin: 0 50px 50px 0;
  vertical-align: top;
  &:before { 
    font-size: 13px;
    opacity: 0.66;
    margin-bottom: 7px;
  }
  &.style-bubble { overflow: visible; }
}
.btn { 
  display: inline-block;
  min-width: 10em;
  height: 3.2em;
  line-height: 3.2em;
  border-radius: 0.5em;
  font-size: 20px;
  margin-bottom: 1em;
}