@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/center"; 
@import "../../src/scss/layout/diamond"; 

{% macro get(componentName) %}
{% if componentName === "xxx" %}

{% elif componentName === "diamond-count" %}
.diamond-count > div { @include diamond(3 'shape' 'diamond'); }

{% elif componentName === "diamond-count-combined" %}
.diamond-count-combined > div { @include diamond(3 'shape' 'diamond' 'tight'); }

{% elif componentName === "diamond-size" %}
.diamond-size > div { @include diamond(25%); }

{% elif componentName === "diamond-breakpoints" %}
.diamond-breakpoints > div { @include diamond((
  600px:3, 
  800px:4
) 'shape' 'diamond'); }

{% elif componentName === "octagon-count" %}
.octagon-count > div { @include diamond(4 'shape' 'octagon'); }

{% elif componentName === "octagon-size" %}
.octagon-size > div { @include diamond(300px 'shape' 'octagon'); }

{% endif %}
{% endmacro %}

.container { max-width: 900px; }
.demo:after {
  content: '';
  display: table;
  clear: both;
}
.order span:after {
  display: block;
  position: relative;
  top: -180px;
  top: -16vw;
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 60px;
  font-family: 'Helvetica Neue',Arial,sans-serif;
}
@for $i from 1 through 8 {
  .order:nth-child(#{$i}) span:after { content: '#{$i}'; }
}
