@import 'demo-base';
@import "../../src/scss/addons/breakpoint"; 
@import "../../src/scss/layout/grid"; 

[class*='grid-'] {
  @extend %demo-show;
  .cell { margin-bottom: 20px; }
}

{% macro get(componentName) %}
{% if componentName === "xxx" %}

{% elif componentName === "list" %}
.grid-list > div { @include grid(3 1); }

{% elif componentName === "child" %}
.grid-child > div { @include grid( (3 4) 'selector' '.child'); }

{% elif componentName === "gutter1" %}
.grid-gutter1 > div { @include grid((3 4 : 2 1) 'gutter' 5%); }

{% elif componentName === "gutter2" %}
.grid-gutter2 > div { @include grid((3 4) 'gutter' 5rem); }

{% elif componentName === "list-direction" %}
.grid-list-direction > div { @include grid((3 4) 'RTL'); }

{% elif componentName === "nested-list" %}
.grid-nested-list > div { @include grid((3 4) 7); }

{% elif componentName === "map" %}
.grid-map > div { @include grid( (3 4 7 : 0 2 1 ) 3 ); }

{% elif componentName === "breakpoint" %}
.grid-breakpoint > div { @include grid(( 600px: 5 7 )); }

{% elif componentName === "breakpoint-outside" %}
@media screen and (min-width: 600px) {
  .grid-breakpoint-outside > div { @include grid((5 7)); }
}

{% elif componentName === "global-breakpoints" %}
.grid-global-breakpoints > div { @include grid((
  'sm': 1 1, 
  'md': 2 1, 
  'lg': 3 5
) $global-bps); }

{% elif componentName === "breakpoint-max" %}
.grid-breakpoint-max > div { @include grid((
  600px: 3 5, 
  900px: 2 1
) 'max'); }

{% elif componentName === "breakpoint-nested-list" %}
.grid-breakpoint-nested-list > div { @include grid(( 600px: (3 4) (2 5) 3 )); }

{% elif componentName === "breakpoint-map" %}
.grid-breakpoint-map > div { @include grid(( 600px: (3 4 : 2 1) (2 5) 3 )); }

{% elif componentName === "breakpoint-default" %}
.grid-breakpoint-default > div { @include grid(( 
  'default': 3 4, 
  900px: 2 7 
)); }

{% elif componentName === "breakpoint-complex-list" %}
.grid-breakpoint-complex-list > div { @include grid((
  'default': (3 4) (2 5) 3, 
  600px: (3 4 2) (5 3), 
  900px: (5 2: 2 1) 3 (1 1 : 2 1)
)); }

{% endif %}
{% endmacro %}
