@import 'off-canvas-base';
@include off-canvas('push' 'top' 50px 'submenu');

li { 
  display: inline-block; 
  vertical-align: top; 
  white-space: nowrap;
  // > ul {
  //   white-space: normal;
  // }
}
[data-has-submenu] > a { margin-right: 30px; }
.nav a, .nav [data-back] { border-bottom-width: 0; }