@import 'demo-base';
@import "../../src/scss/components/responsive-table"; 

table {
  text-align: left;
  width: 100%;
  font-size: 13px;
  border: 1px solid #dbdbdb;
  border-width: 1px 0 0 1px;
}
th, td {
  padding: 10px 6px;
  border: 1px solid #dbdbdb;
  border-width: 0 1px 1px 0;
}
th {
  background-color: #f5f5f5;
}

{% macro get(componentName) %}
{% if componentName === "xxx" %}

{% elif componentName === "flip-scroll" %}
.flip-scroll { 
  @include rp-table('breakpoint' 900) {
    border-right-width: 1px;
    > tbody > tr:last-child > td { border-right-width: 0; }
    .lt-ie10 & { 
      border-right-width: 0; 
      > tbody > tr:last-child > td { border-right-width: 1px; }
    }
  } 
}

{% elif componentName === "scroll" %}
.scroll { 
  @include rp-table('scroll' 'breakpoint' 900) {
    .scrollable {
      border-right-width: 1px;
      th:last-child, td:last-child { border-right-width: 0; }
      .lt-ie10 & { 
        border-right-width: 0; 
        th:last-child, td:last-child { border-right-width: 1px; }
      }
    }
  } 
}

{% elif componentName === "toggle" %}
.toggle {
  @include rp-table('toggle' 'breakpoint' 900 'count' 10);
}

{% elif componentName === "stack" %}
.stack {
  @include rp-table('stack' 'breakpoint' 900 #dbdbdb 'data' ("First Name", "Last Name", "Job Title", "Favorite Color", "Wars or Trek?", "Porn Name", "Date of Birth", "Dream Vacation City", "GPA", "Arbitrary Data")) {
    tr:nth-of-type(2n) { 
      background-color: #f5f5f5; 
      .lt-ie10 & { background-color: transparent; }
    }
    td:before { margin-right: 7px; }
  }
}

{% endif %}
{% endmacro %}