@import 'demo-base';
@import "../../src/scss/color/contrast";
@import "../../src/scss/components/tooltip"; 

div { margin: 1em 0; }
.tooltip { 
  display: inline-block; 
  font-style: italic;
  border-bottom: 1px dashed #333;
}

{% macro get(componentName) %}
{% if componentName === "xxx" %}

{% elif componentName === "left" %}
.left { @include tooltip('border-radius' 0.22em left #b02df3); }

{% elif componentName === "right" %}
.right { @include tooltip('border-radius' 0.22em right #b02df3); }

{% elif componentName === "top" %}
.top { @include tooltip('border-radius' 0.22em top #b02df3); }

{% elif componentName === "bottom" %}
.bottom { @include tooltip('border-radius' 0.22em bottom #b02df3); }

{% endif %}
{% endmacro %}